<!-- 继承公共的 form -->
{{extend name="public/module/detail" /}}

<!-- 重写数据模块 -->
{{block name="detail_data"}}
    <!-- 父级内容 -->
    {__block__}
    
    <!-- 详情内容 -->
    <div class="am-panel am-panel-default am-radius">
        <div class="am-panel-hd">{{:MyLang('customview.detail_content_title')}}</div>
        <div class="am-panel-bd">
            {{if !empty($data['content'])}}
                <div class="am-scrollable-vertical am-nowrap-initial">
                    {{$data.content|raw}}
                </div>
            {{else /}}
                {{include file="public/not_data" /}}
            {{/if}}
        </div>
    </div>

    <!-- 详情图片 -->
    <div class="am-panel am-panel-default am-radius">
        <div class="am-panel-hd">{{:MyLang('customview.detail_images_title')}}</div>
        <div class="am-panel-bd">
            {{if !empty($data['images'])}}
                <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{"controlNav":false}'>
                    <ul class="am-slides">
                        {{foreach $data.images as $ik=>$iv}}
                            <li>
                                <a href="{{$iv}}" target="_blank">
                                    <img src="{{$iv}}" />
                                </a>
                                <div class="am-slider-desc">
                                    <div class="am-slider-counter">
                                        <strong class="am-text-lg">{{$ik+1}}</strong>
                                        <span class="am-margin-right-sm">/{{:count($data['images'])}}</span>
                                        <span>{{$iv}}</span>
                                    </div>
                                </div>
                            </li>
                        {{/foreach}}
                    </ul>
                </div>
            {{else /}}
                {{include file="public/not_data" /}}
            {{/if}}
        </div>
    </div>
{{/block}}