/* 筛选 */
.thin, .pay-list { overflow:hidden; }
.thin .so { width:66%; }
.thin_sub { font-weight:100; margin:10px 0px 0px 10px; cursor: pointer; }
.so-list { width:100%; margin-top: 20px; }
.so-list * { font-size:1.2rem !important; }
.so-list span { color:#666; }
.so-list input { height:28px; display:inline !important; }
.time input, .so-list .chosen-container { background:#FFF !important; }
.time input { width:100px !important; }
.time i { position:absolute; margin:4px 0px 0px -15px; }
.price input { width:101px !important; }
.time, .time { width:50%; }
.so-list tr+tr>td:first-child { padding-top:10px; }
.so-list .chosen-container { border-radius:2px; }
.text-grey { color: #999; }
.chosen-container-single .chosen-single, .so-list select { height: 28px; line-height: 28px; width: 100%; }
.reset-submit { margin-left: 20px; }
.so-list select { padding: 0 0 0 8px; }


@media only screen and (min-width: 641px){
    .so-list .chosen-container, .so-list select { width:217px !important; display: -webkit-inline-box; }
    .thin_sub:hover { color:#F60; }

    .row-content { width:35%; }
    .row-price { width:15%; }
    .row-number { width:10%; }
    .row-total-price { width:20%; }
    .row-status { width:10%; }
    .row-operate { width:10%; }
}
@media only screen and (max-width: 641px){
    .so-list input { width:40% !important; }
    .so-list td { width:100%; display:block; }
    .so-list tr td:last-child { margin-top:10px; }
    .so-list .chosen-container { width:85%; }
    .so-list .chosen-container { width:100%; }
    .so-list tr td:last-child { padding-top:0px !important; }
    .chosen-container-single .chosen-search input[type="text"] { width: 100% !important; }

    .row-content { width:50%; }
    .row-price { width:30%; }
    .row-operate { width:20%; }
}

/**
 * 订单列表
 */
/* 列表 */
table { width: 100%; }
table.data-list { margin-top: 10px; }
table.data-list-success, table.data-list-success td { border:1px solid #daf3ff; }
table.data-list { background:#FFF; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
table.data-list * { font-size:12px; }
table.data-list td { padding:10px; }
.content-title th { text-align:center; }

.content img { width:80px; height:80px; }
.content p { margin:0px; }
.content a:hover { color:#F60; }
.row-content { min-width:102px; }
table.data-list tr td+td { text-align:center; }
.content-checkbox-operate { padding:3px 5px; }
.submit-pay { margin-top: 5px; }
.wap-base { padding-top: 3px; }


/* 不在进行中 */
table.data-list { border-left: 1px solid #eee; border-right: 1px solid #eee; }
table.data-list td.row-number, table.data-list td.row-total-price,  table.data-list td.row-status, table.data-list td.row-operate { border-right: 1px solid #eee; }
table.data-list td { border-bottom:1px solid #eee; }
table.data-list .content-hd td { background:#EEE; border-bottom-color:#EEE; }
table.data-list:hover { box-shadow:0 1px 1px #E4E4E4; background:#FCFCFC; }


/* 进行中 */
table.data-ongoing { border-left: 1px solid #daf3ff; border-right: 1px solid #daf3ff; }
table.data-ongoing td.row-number, table.data-ongoing td.row-total-price, table.data-ongoing td.row-status, table.data-ongoing td.row-operate { border-right: 1px solid #daf3ff; }
table.data-ongoing td { border-bottom:1px solid #daf3ff; }
table.data-ongoing .content-hd td { background: #eaf8ff; border-bottom-color:#eaf8ff; }
table.data-ongoing:hover { box-shadow:0 1px 1px #9AD6F3; background:#F9FDFF; }


/**
 * 商品列表
 */
.goods-detail img { width: 80px; height: 80px; }
.goods-detail { position: relative; }
.goods-title { display: block; max-height: 36px; overflow: hidden; text-overflow: ellipsis; }
.goods-title:hover { text-decoration: underline; }
.goods-base { position: absolute; top: 0; left: 85px; }
.goods-attr { margin-top: 5px;  }
.goods-attr li { color: #888; line-height: 16px; }
.original-price, .line-price { font-family: Verdana,Tahoma,arial; }
.original-price { color: #9c9c9c; text-decoration: line-through; }
.line-price { color: #3c3c3c; }
.line-price, strong.total-price-content { font-weight: 700; }
strong.total-price-content { color: #d2364c; font-size: 16px; }
