.my-content { padding: 15px 10px; }
.region-linkage .chosen-select { display: -webkit-inline-box; width: calc(33.3% - 3px) !important; }
.region-linkage .chosen-select .chosen-single  { width: 100%; }