/**
 * 列表
 */
.form-keyword { width: 55% !important; display: initial !important; }
.more-submit input { display: none; }
.param-where, .param-date input { display: initial !important; }
@media only screen and (max-width: 641px) {
	.param-where { width: 100% !important; margin-left: 0px !important; }
	.param-date input { width: 47% !important; }
}
@media only screen and (min-width: 641px) {
	.param-where { width: 32% !important; float: left; }
	.param-date input { width: 45% !important; }
	.param-where:nth-child(1), .param-where:nth-child(4) { margin-left: 0px !important; }
}
@media only screen and (max-width: 321px) {
	.view-operation button { margin: 2px 0px; }
}

/**
 * 详情
 */
.life-container .life-form-category, .life-container .chosen-container, .life-container .life-form-keywords {
    width: 30% !important;
}
.life-container .chosen-container, .life-container .life-form-keywords {
    display: -webkit-inline-box !important;
}
.life-container .chosen-single {
    width: 100%;
}
.life-container .life-form {
    margin-bottom: 2px;
}
.life-list {
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.life-list .life-items {
    width: calc(50% - 50px);
    height: 300px;
}
.life-list .life-items .title {
    text-align: center;
}
.life-list .life-items .life-content {
    border: 1px solid #eee;
    height: calc(100% - 25px);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 2px;
}
.life-list .life-items .life-content li {
    padding: 5px;
    border-style: dotted;
    border-color: #eaeaea;
    border-width: 1px 0;
}
.life-list .life-items .life-content li:nth-child(2) {
    border-top: 0;
}
.life-list .life-items .life-content li i {
    cursor: pointer;
    padding: 0 10px 0 5px;
}
.life-list .selected-all {
    position: absolute;
    top: 50%;
    left: calc(50% - 30px);
}
.life-container input[name="alipay_life_ids"] {
    position: absolute;
    left: -1000000px;
    top: -1000000px;
}
.life-list i {
    color: #888 !important;
}
.am-form-error .life-items .life-content {
    border-color: #dd514c;
}
@media only screen and (max-width: 641px) {
    .life-container .life-form-category, .life-container .life-form-keywords
    {
        width: calc(55% - 60px) !important;
        display: -webkit-inline-box !important;
    }
    .life-container .chosen-container {
        display: none !important;
    }
}