/**
 * 登录页面背景图片
 */
.bg-slides {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.bg-slides-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
}


/**
 * 登录页面
 */
.account-pages {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 99;
    height: 100%;
    width: 100%;
    padding-top: 5%;
}
@media only screen and (max-width: 641px) {
    .account-pages {
        padding-top: 15%;
    }
}
@media only screen and (min-width: 641px) {
    .account-pages {
        padding-top: 10%;
    }
}
.wrapper-page {
    margin: auto;
    position: relative;
    width: 420px;
}
@media (max-width: 768px) {
    .wrapper-page {
        width: 80%;
    }
}
.admin-login {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.06),0 1px 0px 0 rgba(0,0,0,0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background: rgba(255,255,255,.85);
}
.logo {
    font-size: 60px;
    font-weight: 500;
    color: #0e90d2;
    text-shadow: -2px 1px #fff;
}
@media only screen and (min-width: 641px) {
    .admin-login .am-form-group {
        padding: 0 !important;
    }
}