/**
 * 列表
 */
table.am-table .reply-content { max-width: 200px; max-height: 200px; overflow-y: scroll; overflow-x: hidden; }
@media only screen and (max-width: 321px) {
    .view-operation button { margin: 2px 0px; }
}