/**
 * 列表
 */
.form-keyword { width: 55% !important; display: initial !important; }
.more-submit input { display: none; }
.param-where, .param-date input { display: initial !important; }
@media only screen and (max-width: 641px) {
	.param-where { width: 100% !important; margin-left: 0px !important; }
	.param-date input { width: 47% !important; }
}
@media only screen and (min-width: 641px) {
	.param-where { width: 32% !important; float: left; }
	.param-date input { width: 45% !important; }
	.param-where:nth-child(1), .param-where:nth-child(4) { margin-left: 0px !important; }
}
@media only screen and (max-width: 321px) {
	.view-operation button { margin: 2px 0px; }
}

/**
 * 插件覆盖
 */
ul.plug-file-upload-view li { width: 150px; height: 58px; }