/**
 * 列表
 */
.form-keyword { width: 55% !important; display: initial !important; }
.more-submit input { display: none; }
.param-where, .param-date input { display: initial !important; }
@media only screen and (max-width: 641px) {
	.param-where { width: 100% !important; margin-left: 0px !important; }
	.param-date input { width: 47% !important; }
}
@media only screen and (min-width: 641px) {
	.param-where { width: 32% !important; float: left; }
	.param-date input { width: 45% !important; }
	.param-where:nth-child(1), .param-where:nth-child(4) { margin-left: 0px !important; }
}
@media only screen and (max-width: 321px) {
	.view-operation button { margin: 2px 0px; }
}

.data-success { overflow: hidden; }
.data-success img { width: 70px; height: 70px; }
.data-success .base { margin-left: 10px; }
.data-success .base p { margin: 0px; }
.data-success button { margin-left: 50px; }
.user-list { border: 1px solid #eee; padding: 0px 10px 10px 10px; overflow: auto; max-height: 300px; }
.user-list li { list-style-type: none; margin-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #eee; }
.user-list li button { padding: 2px 3px; margin-left: 10px; }
.user-list li:last-child { padding-bottom: 0px; border-bottom: 0px; }