::-webkit-scrollbar {
    display: none;
}
body {
    background: #333;
}
.page-nav {
    border-color: #333;
    color: #ccc;
}
.page-top-nav-logo {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}