body {
    background: #fff;
}
.mobile-iframe {
    width: 40rem;
    height: calc(100vh - 4rem);
    margin: 2rem auto;
}
.qrcode-content {
    position: absolute;
    top: 2rem;
    left: calc(50% + 25rem);
}
.mobile-iframe,
.qrcode-content {
    border: 0.1rem solid #f5f5f5;
}
@media only screen and (max-width: 640px) {
    .qrcode-content {
        display: none;
    }
}