/**
 * 公共
 */
.content-right table.am-table td.user-info,
.content-right table.am-table td.goods-info,
.content-right table.am-table td.content-info {
    width: 20%;
}
@media only screen and (max-width: 641px) {
    .content-right table.am-table td.content-info {
        width: 45%;
    }
}

/**
 * 用户信息
 */
.content-right .user-info img {
    max-width: 35px;
    max-height: 35px;
    margin: 0 5px 2px 0;
}
.content-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/**
 * 商品信息
 */
.content-right .goods-info .base {
    min-height: 57px;
}
.content-right .goods-info img {
    width: 55px;
    height: 55px;
    margin: 2px 5px 0px 0;
}
.content-right .goods-info p {
    margin: 3px 0 0 0;
}

/**
 * 列表
 */
.content-right table.am-table .reply-content {
    max-width: 100%;
    max-height: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content-right table.am-table .reply-content p {
    margin: 5px 0 0 0;
}
.content-right table.am-table .view-operation {
    width: 85px;
}
.content-right table.am-table .am-slider {
    width: 100px;
    max-height: 108px;
    overflow: hidden;
    box-shadow: none;
    -webkit-box-shadow: none;
}


/**
 * 编辑
 */
.content-right .am-alert.goods-info a {
    color: #0e90d2;
}
.content-right .am-alert p.title {
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 5px 0;
    color: #888;
}