/**
 * 详情
 */
.dl-content img {
    max-width: 100%;
}

/**
 * 区域分割
 */
.division-block {
    margin-bottom: 3rem;
}

.division-block .nav-detail-title {
    border-bottom: 0.3rem ridge #c7c7c7;
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;
    margin-bottom: 1rem;
    background: #f3f3f3;
    font-weight: bold;
}

/**
 * app详情
 */
i.drag-sort-submit {
    margin-left: 3rem;
}

ul {
    margin: 0px;
    padding: 0px;
}

.content-app-items>li {
    border: 0.1rem solid #EBEBEB;
    padding: 1.5rem 2.4rem;
    border-radius: var(--border-radius);
}

ul li {
    list-style-type: none;
}
.content-app-left,
.content-app-right {
    border-bottom: 0 !important;
    width: 100%;
}
.content-app-left {
    max-width: 30rem;
}
.content-app-right {
    max-width: 50rem;
}
.content-app-items > li {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.content-app-items > li .content-app-items-rem-sub i,
.content-app-items > li .drag-sort-submit i {
    font-size: 1.4rem;
    position: relative;
    margin-right: 0.3rem;
}