/**
 * 列表
 */
.goods-list.am-table .goods-images {
    width:60px;
    height:60px;
    float:left;
    margin-right:5px;
}
.goods-list.am-table dl img {
    max-width: 100%;
}

/**
 * 滚动导航
 */
.goods-nav {
    background:#f5f5f5;
    top:100px;
    right:0;
    width:110px;
    position:fixed;
    z-index:1000;
    border:1px solid #eee;
    border-right:0px;
}
.goods-nav ul {
    margin:0;
    padding:0;
}
.goods-nav li {
    display:inline-block;
    border-bottom:1px solid #eee;
    width:100%;
}
.goods-nav li:last-child {
    border-bottom:0px;
}
.goods-nav li a {
    color:#666;
    padding:10px 15px;
    display:inline-block;
    width:100%;
}
.goods-nav li a:hover,.goods-nav-active {
    color:#333;
    background:#eee;
}
.goods-nav li.nav-shrink-submit {
    background: #eaeaea;
    cursor: pointer;
}
.goods-nav-retract .nav-shrink-submit {
    position: absolute;
}

/**
 * 区域分割
 */
.division-block {
    margin-bottom:30px;
}
.division-block .nav-detail-title {
    border-bottom:3px ridge #c7c7c7;
    padding:8px 5px 5px 5px;
    margin-bottom:10px;
    background:#f3f3f3;
    font-weight:bold;
}

/**
 * 规格
 */
.specifications-table .title-nav th,
.spec-quick table thead th {
    background-color: #f5f7fa;
    position: relative;
    border-bottom: 0;
}
.specifications-table .title-nav th input {
    width: calc(100% - 25px);
}
.specifications-table .title-nav-remove {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}
.specifications-table th.operation-btn {
    width: 80px;
}
.specifications-table th.extend-btn {
    width: 45px;
}
.specifications-table > tbody > tr > td {
    vertical-align: middle;
}
#goods-nav-operations {
    position: relative;
}
.spec-images-list .am-alert-warning {
    margin-bottom: 10px;
}
.spec-images-list {
    border: 1px solid #eee;
    padding: 10px;
    margin-top: 15px;
}
.spec-images-list li {
    display: inline-block;
    width: 100px;
    margin: 5px 10px 10px 0;
}
.specifications-table thead th i {
    cursor: pointer;
}
.specifications-line-images-auto-add input {
    width: 30px !important;
    padding: 1px !important;
}


/**
 * 属性
 * app详情
 */
i.drag-sort-submit {
    margin-left:30px;
}
ul {
    margin:0px;
    padding:0px;
    overflow:hidden;
}
.content-app-items > li {
    border:3px dashed #eee;
    padding:10px;
}
ul li {
    list-style-type:none;
}

/**
 * app详情
 */
.content-app-left,.content-app-right {
    border-bottom:0 !important;
}
.content-app-items li {
    padding-bottom:10px;
    margin-bottom:20px;
    overflow:hidden;
}
.content-app-left,.content-app-right {
    width:45% !important;
    display:inline-table;
    margin-bottom:5px;
    padding-right:5px !important;
}

/**
 * 规格快捷添加
 */
.spec-quick table td,
.spec-quick table td.spec-quick-td-value .value-item {
    position: relative;
}
.spec-quick table td.am-text-middle {
    padding-right: 25px;
}
.spec-quick-td-value .value-item input {
    width: calc(100% - 23px) !important;
}
.spec-quick table td.am-text-middle i.quick-title-remove,
.spec-quick table td.spec-quick-td-value i.quick-value-remove {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}
.spec-quick table td.spec-quick-td-value i.quick-value-remove {
    top: 2px;
}
.spec-quick .goods-specifications {
    border-bottom: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 641px) {
    .spec-quick-th-title {
        width: 150px;
    }
    .spec-quick-td-value .value-item {
        width: calc(30% - 12px) !important;
    }
}
@media only screen and (min-width: 1025px) {
    .spec-quick-td-value .value-item {
        width: calc(20% - 12px) !important;
    }
}
@media only screen and (max-width: 641px) {
    .spec-quick-th-title {
        width: 20%;
    }
    .spec-quick-td-value .value-item {
        width: calc(50% - 12px) !important;
    }
}