/**
 * 顶部导航
 */
::-webkit-scrollbar {
    display: none;
}

#ifcontent {
    height: 100%;
    width: 100%;
}
#ifcontent iframe {
    border: 0px;
    vertical-align: top;
}
@media only screen and (min-width: 641px) {
    #ifcontent {
        padding-left: 16rem;
    }
}

/**
 * mini开关
 */
.menu-scaling-submit {
    position: fixed;
    bottom: 1.5rem;
    color: #f5f6f9;
    font-size: 1.8rem;
    line-height: 1.8rem;
    left: 12.35rem;
}
.menu-scaling-submit:hover, .menu-scaling-submit:focus {
    color: #fff;
}


/**
 * mini菜单
 */
.menu-mini .nav-name,.menu-mini .am-icon-angle-down,.menu-mini .admin-sidebar-sub{display:none !important}
.menu-mini .admin-sidebar-list li {text-align: center;}


/**
 * mini小icon
 */
.menu-mini-container-tips{position:absolute;left:6.3rem;top:0;padding:0 1rem;width:auto;height:3.5rem;line-height:3.5rem;text-align:center;color:#fff;background-color:#01bcd4;-webkit-box-shadow:0 0 0.5rem rgba(0,0,0,.2);-moz-box-shadow:0 0 0.5rem rgba(0,0,0,.2);box-shadow:0 0 0.5rem rgba(0,0,0,.2);font-weight:700;display:none;z-index:1001;}
.menu-mini-container-tips span{font-size:1.2rem}
.menu-mini-container-tips .mui-mbar-tab-tip,.menu-mini-container-popup .mui-mbar-tab-tip{position:absolute;width:1.6rem;height:1.6rem;line-height:1.6rem;text-align:center;font-size:1.6rem;font-family:"\5b8b\4f53";top:1rem;left:-1rem;z-index:0;color:#01bcd4;}

/**
 * mini子菜单
 */
.menu-mini-container-popup{background:#36373c;position:absolute;left:6.3rem;top:0;min-width:12rem;height:auto;display:none;z-index:1001;}
.menu-mini-container-popup ul{margin:0;padding:0}
.menu-mini-container-popup ul li{line-height:3.5rem;list-style-type:none}
.menu-mini-container-popup ul li a{padding:0 1rem;display:block;color:#fff}
.menu-mini-container-popup ul li a:hover{background:rgba(118,119,120,0.1)}
.menu-mini-container-popup ul li a span{font-size:1.2rem}
.menu-mini-container-popup ul li:not(:last-child){border-bottom:0.1rem solid #2e2e31}
.menu-mini-container-popup .mui-mbar-tab-tip{color:#36373c}
.menu-mini-container-popup ul li a.common-left-menu-active { background: #686868 !important; }

/**
 * 导航打开页面列表
 */
.header-menu-open-pages-list {
    max-width: calc(100% - 75rem);
    margin-top: 0.4rem;
    margin-left: 2rem;
    height: 2.5rem;
    scrollbar-width: none;
}
.header-menu-open-pages-list ul li {
    display: inline-block;
    border: 0.1rem solid #5291ff;
    border-radius: 0.2rem;
    padding: 0.2rem 1rem;
    cursor: pointer;
}
.header-menu-open-pages-list ul li:not(:last-child) {
    margin-right: 1rem;
}
.header-menu-open-pages-list ul li span {
    color: #c1d8ff;
}
.header-menu-open-pages-list ul li a {
    margin-left: 0.3rem;
    color: #91b9ff;
}
.header-menu-open-pages-list ul li:hover {
    border-color: #91b9ff;
}
.header-menu-open-pages-list ul li:hover span {
    color: #d8e6ff;
}
.header-menu-open-pages-list ul li.am-active {
    border-color: #bfd6ff;
}
.header-menu-open-pages-list ul li.am-active a,
.header-menu-open-pages-list ul li a:hover {
    color: #ff9e80;
}
@media only screen and (max-width: 640px) {
    .header-menu-open-pages-list {
        display: none;
    }
}

/**
 * 多屏窗口
 */
.window-layer {
    width: 100%;
    height: 100%;
}
.window-layer-tab-bar {
    background: #f5f5f5;
    height: 3.5rem;
    line-height: 3.5rem;
    cursor: move;
    text-align: left;
    font-weight: bold;
    padding: 0 0.5rem 0 1rem;
    display: none;
}
.window-layer-alone-layer {
    width: 80rem;
    height: 50rem;
    box-shadow: rgb(0 0 0 / 30%) 0.1rem 0.1rem 2.4rem;
    border: 0.1rem solid #4386fb;
}
.window-layer-alone-layer .window-layer-tab-bar {
    display: block;
}
.window-layer-alone-layer iframe {
    height: calc(100% - 3.5rem);
}
.window-layer-alone-layer .window-layer-tab-bar .am-fr span {
    color: #a6a6a6;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0.2rem 0.8rem;
    line-height: 0;
}
.window-layer-seat {
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: calc(100% - 3.5rem);
    background: transparent;
    display: none;
}
.window-layer-resize-bar {
    display: none;
}
.window-layer-alone-layer .window-layer-resize-bar {
    display: block;
}
.window-layer-resize-bar>[class^=window-layer-resize-item-] {
    position: absolute;
    z-index: 3;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}
.window-layer-resize-item-left {
    left: 0;
    cursor: w-resize;
}
.window-layer-resize-item-right {
    right: 0;
    cursor: e-resize;
}
.window-layer-resize-item-left,
.window-layer-resize-item-right {
    width: 0.6rem;
    top: 0.6rem;
    bottom: 0.6rem;
}
.window-layer-resize-item-top {
    top: 0;
    cursor: n-resize;
}
.window-layer-resize-item-bottom {
    bottom: 0;
    cursor: s-resize;
}
.window-layer-resize-item-bottom,
.window-layer-resize-item-top {
    height: 0.6rem;
    left: 0.6rem;
    right: 0.6rem;
}
.window-layer-resize-item-left-top {
    left: 0;
    top: 0;
    cursor: nw-resize;
}
.window-layer-resize-item-right-top {
    right: 0;
    top: 0;
    cursor: ne-resize;
}
.window-layer-resize-item-left-bottom {
    left: 0;
    bottom: 0;
    cursor: sw-resize;
}
.window-layer-resize-item-right-bottom {
    right: 0;
    bottom: 0;
    cursor: se-resize;
}
.window-layer-resize-item-left-bottom,
.window-layer-resize-item-left-top,
.window-layer-resize-item-right-bottom,
.window-layer-resize-item-right-top {
    width: 0.6rem;
    height: 0.6rem;
}
@media only screen and (min-width: 641px) {
    .window-layer-alone-layer .window-layer-tab-bar .am-fr span:hover {
        color: #666;
    }
}