/**
* 虚拟销售-密钥信息
*/
.fictitious-container {
    margin-top: 0 !important;
}
.fictitious-container li .am-u-sm-2 {
    width: 6rem;
    padding: 0;
}
.fictitious-container li .am-u-sm-10 {
    width: calc(100% - 6rem);
    padding: 0;
}
.fictitious-container li img {
    max-width: 4rem;
}