/**
 * 列表
 */
.am-table .goods-images { width: 60px; height: 60px; float: left; margin-right: 5px; }
.am-table .goods-item,
.am-table .goods-item .base,
.am-table .goods-item .other { overflow: hidden; }

/**
 * 业务弹窗
 */
.business-item h3 { border-bottom: 3px solid #e3e3e3; margin:5px 0 0 0; font-size: 14px;font-weight: 700; }
.business-item ul { padding: 10px 3px 5px 5px; overflow: hidden; }
.business-item ul li { border:1px solid transparent ;overflow: hidden; float: left; cursor: pointer; padding: 5px; border: 1px solid #eee; margin: 0 10px 10px 0; }
.business-item ul  li img { width: 36px; height: 36px; vertical-align: middle; }
.business-item ul li:hover {border: 1px solid #d2364c;box-shadow: 0px 0 0px 1px #d2364c;}
.business-item ul li.selected { border-color: #d2364c ; position: relative; box-shadow: 0px 0 0px 1px #d2364c; }
.business-item ul li.selected i.icon-active { position: absolute; width: 10px; height: 10px; font-size: 0; line-height: 0; right: 0px; bottom: 0px; background: url(../images/sys-item-selected.gif) no-repeat right bottom; }
@media only screen and (min-width:640px) {
  .business-item ul li {width:calc(33% - 5px); }
  .business-item ul li:nth-child(3n) { margin-right: 0; }
}
@media only screen and (max-width:640px) {
  .business-item ul li { width: calc(50% - 5px); }
  .business-item ul li:nth-child(2n) { margin-right: 0; }
}

/**
 * 用户信息
 */
.content-right .user-info img {
    max-width: 35px;
    max-height: 35px;
    margin: 0 5px 2px 0;
}

/**
 * 虚拟销售-密钥信息
 */
.fictitious-container {
  margin-top: 0 !important;
}
.fictitious-container li .am-u-sm-2 {
  width: 60px;
  padding: 0;
}
.fictitious-container li .am-u-sm-10 {
  width: calc(100% - 60px);
  padding: 0;
}
.fictitious-container li img {
  max-width: 40px;
}
.fictitious-container li {
  border-color: #eee;
}
.fictitious-container li:first-child {
  border-top: 0;
  padding-top: 0;
}
.fictitious-container li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}