/**
 * 商品列表
 */
.content-right .goods-detail img { width: 60px; height: 60px; position: absolute; left: 0; }
.content-right .goods-detail { position: relative; min-height: 65px; overflow: hidden; }
.content-right .goods-title { max-height: 36px; height: auto; }
.content-right .goods-base {float: left; top: 0; margin-left: 65px; }
.content-right .goods-spec li { color: #888; line-height: 16px; }
.content-right .original-price { color: #9c9c9c; text-decoration: line-through; }

/**
 * 用户信息
 */
.content-right .user-info img {
    max-width: 35px;
    max-height: 35px;
    margin: 0 5px 2px 0;
}

/**
 * 列表
 */
@media only screen and (min-width:640px) {
    .content-right table.am-table tr .row-goods { width: 25%; }
    .content-right table.am-table tr .row-user-info { width: 15%; }
    .content-right table.am-table tr .row-apply { width: 25%; }
    .content-right table.am-table tr .row-more { width: 80px; }
    .content-right table.am-table tr .row-operation { width: 85px; }
}
@media only screen and (max-width:640px) {
    .content-right table.am-table tr .row-apply { width: 50%; }
    .content-right table.am-table tr .row-operation, .content-right table.am-table tr .row-more { width: 75px; }
}

.content-right table.am-table .am-slider {
    width: 100px;
    max-height: 108px;
    overflow: hidden;
    box-shadow: none;
    -webkit-box-shadow: none;
}
