/**
 * 列表
 */
.plugins-data-list {
    position: relative;
}
.plugins-data-list ul {
    padding: 0px;
    width: calc(100% + 20px);
    margin-left: -10px;
}
.plugins-data-list ul li {
    float: left;
    padding: 10px;
}
.plugins-data-list ul li .item {
    height: 208px;
    padding: 10px;
}
.plugins-data-list ul li .icon {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,.4);
}
.plugins-data-list ul .item {
    box-shadow: none;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
}
.plugins-data-list ul .item.am-active {
    border: 1px solid #ff8a8a !important;
    background: #fff2f2;
}
.plugins-data-list ul .item:hover {
    border: 1px solid #999;
    box-shadow: 0px 12px 12px -10px rgba(0,0,0,.4);
}
.plugins-data-list ul li {
    position: relative;
}
.plugins-data-list ul li .base {
    position: absolute;
    top: 20px;
    left: 110px;
    width: calc(100% - 130px);
}
.plugins-data-list ul li .base h3 {
    font-weight: 700;
    color: #333;
    margin: 2px 0px 3px 0px;
}
.plugins-data-list ul li .base p {
    line-height: 18px;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    color: #999;
}
.plugins-data-list ul li .base h3, .plugins-data-list ul li .base p {
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.plugins-data-list ul .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 10px 0;
    height: 36px;
    line-height: 18px;
}
.plugins-data-list ul li .operation {
    border-top: 1px dashed #eee;
    padding: 10px 0 5px 0;
}
.plugins-data-list ul li .am-btn, .plugins-data-list ul li .am-icon-btn {
    width: 35px;
}
.plugins-data-list ul li .submit-state {
    height: 30px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 14px;
}
.plugins-data-list ul li .submit-state.am-success {
    border: 1px solid #4caf50;
    background-color: #4caf50;
    color: #fff;
}
.plugins-data-list ul li .submit-move {
    cursor: move !important;
}
.plugins-data-list ul.already-install .item.am-active {
    border: 1px solid #f8815d !important;
    background: #fffbf5;
}
.content .middle-divider {
    height: 50px;
    position: relative;
    padding-top: 25px;
}
.content .middle-divider strong {
    position: absolute;
    top: 4px;
    background: #fff;
    padding: 4px 20px;
    left: calc(50% - 83px);
    border: 1px dashed #ccc;
    border-radius: 2px;
}
.content .middle-divider:hover > strong {
    border: 1px dashed #2196F3;
    color: #2196F3;
    background: #eaf6ff;
}
.content .middle-divider:hover > hr {
    border-top: 1px dashed #2196F3;
}
@media only screen and (max-width: 641px) {
    .plugins-data-list ul li .item {
        height: 187px;
    }
    .plugins-data-list ul li .icon {
        width: 65px;
        height: 65px;
    }
    .plugins-data-list ul li .base {
        left: 95px;
        width: calc(100% - 115px);
    }
    .plugins-data-list ul li .base h3 {
        margin: 0px;
    }
    .plugins-data-list ul li .base p {
        line-height: 16px;
    }
}

/**
 * 删除modal
 */
.am-modal-confirm .am-modal-dialog {
    box-shadow: rgb(85 85 85 / 60%) 0px 0px 30px;
}
@media only screen and (min-width: 641px) {
    .plugins-data-list ul li {
        width: 50%;
    }
    #plugins-delete-modal .am-modal-bd button.submit-ajax {
        margin-right: 10px;
    }
}
@media only screen and (min-width: 1025px) {
    .plugins-data-list ul li {
        width: 33.33%;
    }
}
@media only screen and (max-width: 641px) {
    .plugins-data-list ul li {
        width: 100%;
    }
    #plugins-delete-modal .am-modal-bd .am-btn {
        width: 100%;
        display: block;
        margin-top: 10px;
    }
}

/**
 * 搜索
 */
.plugins-search {
    width: 380px;
    position: absolute;
    top: 32px;
    right: 20px;
    z-index: 1;
}
@media only screen and (max-width: 800px) {
    .plugins-search {
        width: 100%;
        position: relative;
        margin-top: 10px;
        top: auto;
        right: auto;
    }
}