/**
 * logo
 */
ul.home_site_logo-images-view li,
ul.home_site_logo_wap-images-view li {
    width: 220px;
    height: 60px;
}

/**
 * 用户注册背景图
 */
ul.home_site_user_register_bg_images-images-view li {
    width: 300px;
    height: 180px;
}

/**
 * 带面板
 */
.content-right .am-panel .am-panel-bd .am-form-group:last-child {
    margin-bottom: 0;
}
.content-right .am-panel .am-panel-bd .am-form-group {
    border-bottom: 0;
}


/**
 * 地址添加/编辑
 */
.address-list .edit-submit,
.address-list .delete-submit {
    cursor: pointer;
}
@media only screen and (min-width:640px) {
    .address-list {
        padding: 0 20% 0 0 !important;
    }
}
@media only screen and (max-width:640px) {
    .address-list .edit-submit,
    .address-list .delete-submit {
        position: absolute;
        top: 12px;
        right: 5px;
        float: none !important;
    }
    .address-list .delete-submit {
        right: 70px;
    }
}