/**
 * 列表
 */
.am-gallery-item-bottom {
    background: #e6e6e6;
}
.am-gallery-desc * {
    font-size: 1.2rem;
}
.am-gallery-item:hover {
    border: 0.1rem solid #f60;
}
.theme-active {
    border: 0.3rem solid #5eb95e !important;
}
#form-theme-tips .am-badge {
    background-color: #f8f8f8;
    color: #999;
    border-radius: var(--border-radius-sm);
}


/**
 * 上传应用弹窗
 */
 .am-form-file {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.am-form-file .am-btn {
    width: 14rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    color: #2A94FF;
    background: #E1F0FF;
    border-radius: var(--border-radius-sm);
    border: 0.1rem dashed #2A94FF;
}

.am-form-file input[type="file"] {
    width: 14rem !important;
    height: 14rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
