/**
 * 商品添加-搜索列表
 */
.goods-add-container {
    height: 100%;
}
.forth-selection-container select.forth-selection-form-category {
    display: -webkit-inline-box;
}
.forth-selection-container .forth-selection-form-category, .forth-selection-container .chosen-container, .forth-selection-container .forth-selection-form-keywords {
    width: calc(33% - 3.2rem) !important;
}
.forth-selection-container .chosen-container, .forth-selection-container .forth-selection-form-keywords {
    display: -webkit-inline-box !important;
}
.forth-selection-container .chosen-single {
    width: 100%;
}
.forth-selection-container .search-submit {
    width: 8.7rem;
}
.goods-list-container {
    height: calc(100% - 9.2rem);
    border: 0.1rem solid #eee;
}
.goods-list-container .am-gallery-bordered .am-gallery-title {
    margin-top: 0.5rem;
}
.goods-list-container ul li {
    position: relative;
    cursor: pointer;
}
.goods-list-container ul li:hover .am-gallery-item {
    -webkit-box-shadow: 0 0 0.6rem #3cb4f1;
    box-shadow: 0 0 0.6rem #3cb4f1;
}
.goods-list-container .icon-submit-container {
    position: absolute;
    right: 1.5rem;
    bottom: 4.7rem;
}
.goods-list-container .icon-submit-container .am-icon-btn {
    width: 3.6rem;
    height: 3.6rem;
    line-height: 3.6rem;
    font-size: 2rem;
    -webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}
.goods-list-container .am-icon-btn.am-success:hover {
    background: #4CAF50;
}
.goods-list-container .am-icon-btn.am-danger:hover {
    background: #F44336;
}
.goods-page-container {
    height: 4rem;
}

/**
 * 数据列表规格展示
 */
.spec-inventory-list {
    max-height: 7.5rem;
    height: auto;
}
.spec-inventory-list ul li .spec-name {
    width: calc(100% - 7.5rem);
}
.spec-inventory-list ul li:not(:last-child) {
    border-bottom: 0.1rem solid #eee;
    padding: 0.3rem 0;
}
.spec-inventory-list ul li:first-child {
    padding-top: 0;
}