/**
 * 布局基础样式
 */
.form-inventory-container {
    padding-bottom: 80px;
}
.form-inventory-submit {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 70px;
    padding: 20px 10px;
    border-top: 1px solid #eee;
}

/**
 * 批量设置库存
 */
#inventory-dropdown .am-dropdown-content {
    width: 200px;
}