<include file="Public/Header" />

<!-- header nav start -->
<notempty name="is_header">
    <!-- header top nav -->
    <include file="Public/HeaderTopNav" />

    <!-- search -->
    <include file="Public/NavSearch" />

    <!-- header nav -->
    <include file="Public/HeaderNav" />

    <!-- goods category -->
    <include file="Public/GoodsCategory" />
</notempty>
<!-- header nav end -->

<!-- content start -->
<div <if condition="!isset($data['is_full_screen']) or $data['is_full_screen'] eq 0">class="am-container"</if>>{{$data.content}}</div>
<!-- content end -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->