{{include file="public/header" /}}

<!-- header nav start -->
{{if isset($is_header) and $is_header eq 1}}
    <!-- header top nav -->
    {{include file="public/header_top_nav" /}}

    <!-- search -->
    {{include file="public/nav_search" /}}

    <!-- header nav -->
    {{include file="public/header_nav" /}}

    <!-- goods category -->
    {{include file="public/goods_category" /}}
{{/if}}
<!-- header nav end -->

<!-- conntent start  -->
<div class="am-g my-content tips-success">
    <div class="am-u-md-6 am-u-sm-centered am-text-center">
        <i class="am-icon-check-circle am-icon-lg"></i>
        <span class="msg">{{$msg}}</span>
        <div class="tips-nav">
            <a href="{{$Think.__MY_URL__}}" class="am-btn am-btn-secondary am-radius">回到首页</a>
        </div>
    </div>
</div>
<!-- conntent end  -->

{{include file="public/footer" /}}

{{if !empty($body_html)}}
    {{$body_html|raw}}
{{/if}}

<script type="text/javascript">
setTimeout(function()
{
    window.location.href = '{{$Think.__MY_URL__}}';
}, 1500);
</script>