{{:ModuleInclude('public/header')}}

<!-- header nav start -->
{{if isset($is_header) and $is_header eq 1}}
    <!-- header top nav -->
    {{:ModuleInclude('public/header_top_nav')}}

    <!-- search -->
    {{:ModuleInclude('public/nav_search')}}

    <!-- header nav -->
    {{:ModuleInclude('public/header_nav')}}

    <!-- goods category -->
    {{:ModuleInclude('public/goods_category')}}
{{/if}}
<!-- header nav end -->

<!-- conntent start  -->
<div class="am-g my-content tips-success">
    <div class="am-u-md-6 am-u-sm-centered am-text-center">
        <i class="am-icon-check-circle am-icon-lg"></i>
        <span class="msg">{{$msg}}</span>
        <div class="tips-nav">
            <a href="{{$home_url}}" class="am-btn am-btn-secondary am-radius">{{:MyLang('back_home_title')}}</a>
        </div>
    </div>
</div>
<!-- conntent end  -->

{{:ModuleInclude('public/footer')}}

{{if !empty($body_html)}}
    {{$body_html|raw}}
{{/if}}

<script type="text/javascript">
setTimeout(function()
{
    window.location.href = '{{$home_url}}';
}, 1500);
</script>