{{:ModuleInclude('public/header')}}

<!-- conntent start  -->
<div class="am-g my-content user-login-modal-container">
    {{if count($home_user_login_type) gt 0}}
        {{:ModuleInclude('user/login_content')}}
    {{else /}}
        <div class="am-text-center am-padding-vertical-lg register-close"><i class="am-icon-warning"></i> {{:MyLang('user.login_close_tips')}}</div>
    {{/if}}
</div>
<!-- conntent end  -->

<!-- 图片验证码  -->
{{if MyC('common_img_verify_state') eq 1}}
    {{:ModuleInclude('user/images_verify', ['type'=>'user_login'])}}
{{/if}}

{{:ModuleInclude('public/footer')}}
<script type="text/javascript">
    // 返回处理
    function LoginBackHandle(e)
    {
        $.AMUI.progress.done();
        if(e.code == 0)
        {
            Prompt(e.msg, 'success');

            // 登录返回html处理
            if((e.data.body_html || null) != null)
            {
                $('body').append(e.data.body_html);
            }

            setTimeout(function()
            {
                window.parent.location.reload();
            }, 1500);
        } else {
            $('form.am-form').find('button[type="submit"]').button('reset');
            Prompt(e.msg);
        }
    }
</script>