<div class="am-tabs am-margin-0 am-tabs-border user-form-content-container user-register-content-container" data-am-tabs="{noSwipe: 1}">
    <ul class="am-tabs-nav am-nav am-nav-tabs user-entrance-tabs">
        {{if in_array('username', $home_user_reg_type)}}
            <li class="am-active"><a href="[data-tab-panel-0]">{{:MyLang('user.register_type_username_title')}}</a></li>
        {{/if}}
        {{if in_array('sms', $home_user_reg_type)}}
            <li class="{{if !in_array('username', $home_user_reg_type)}}am-active{{/if}}"><a href="[data-tab-panel-1]">{{:MyLang('user.register_type_mobile_title')}}</a></li>
        {{/if}}
        {{if in_array('email', $home_user_reg_type)}}
            <li class="{{if !in_array('username', $home_user_reg_type) and !in_array('sms', $home_user_reg_type)}}am-active{{/if}}"><a href="[data-tab-panel-2]">{{:MyLang('user.register_type_email_title')}}</a></li>
        {{/if}}
    </ul>
    <div class="am-tabs-bd am-border-0">
        {{if in_array('username', $home_user_reg_type)}}
            <div data-tab-panel-0 class="am-tab-panel am-active">
                <!-- form start -->
                <form class="am-form form-validation-username" method="post" action="{{:MyUrl('index/user/reg')}}" request-type="ajax-fun" request-value="RegisterSuccessBack">
                    <div class="am-form-group am-form-group-refreshing am-form-input-material">
                        <input type="text" name="accounts" class="am-radius am-form-field" pattern="{{:MyConst('common_regex_username')}}" data-validation-message="{{:MyLang('user.form_item_username_message')}}" autocomplete="off" data-is-clearout="0" required />
                        <span class="am-material-bar"></span>
                        <label class="am-material-label">{{:MyLang('user.form_item_username')}}</label>
                    </div>

                    <div class="am-form-group am-form-group-refreshing am-margin-top-main am-form-input-material">
                            <input type="password" name="pwd" class="am-radius am-form-field input-padding-right-max" pattern="{{:MyConst('common_regex_pwd')}}" data-validation-message="{{:MyLang('user.form_item_password_message')}}" autocomplete="new-password" data-is-clearout="0" required />
                            <span class="am-input-group-btn">
                                <button class="am-btn am-btn-default am-radius am-icon-eye eye-submit" type="button"></button>
                            </span>
                            <span class="am-material-bar"></span>
                            <label class="am-material-label">{{:MyLang('user.form_item_password')}}</label>
                    </div>

                    {{if MyC('home_user_register_img_verify_state') eq 1}}
                        <div class="am-form-group am-form-group-refreshing am-margin-top-main am-form-input-material">
                            <input type="text" name="verify" class="am-radius am-form-field" minlength="4" maxlength="4" data-validation-message="{{:MyLang('form_images_verify_message')}}" autocomplete="off" data-is-clearout="0" required />
                            <span class="am-input-group-btn am-position-verify">
                                <span class="form-verify">
                                    <img src="{{:MyUrl('index/user/userverifyentry', ['type'=>'user_reg'])}}" class="am-cursor-pointer am-radius" id="form-verify-img" onClick="this.src=this.src+(({{$url_model}} == 0) ? '&' : '?')+Math.random();" />
                                    <a href="javascript:;" class="form-verify-tips am-radius" onClick="document.getElementById('form-verify-img').src='{{:MyUrl('index/user/userverifyentry', ['type'=>'user_reg'])}}{{if $url_model eq 0}}&{{else /}}?{{/if}}'+Math.random();">{{:MyLang('form_images_verify_button_text')}}</a>
                                </span>
                            </span>
                            <span class="am-material-bar"></span>
                            <label class="am-material-label">{{:MyLang('form_verify_title')}}</label>
                        </div>
                    {{/if}}

                    {{if MyC('home_is_enable_userregister_agreement') eq 1}}
                        <div class="agreement am-margin-top-main">
                            <label class="am-checkbox am-success am-cursor-pointer">
                                <input type="checkbox" value="1" name="is_agree_agreement" data-validation-message="{{:MyLang('user.form_item_agreement_message')}}" data-am-ucheck autocomplete="off" data-is-clearout="0" required /> {{:MyLang('user.form_item_agreement')}}
                            </label>
                            <a href="{{:MyUrl('index/agreement/index', ['document'=>'userregister'])}}" target="_blank">{{:MyLang('user.form_item_service')}}</a>
                            <span>{{:MyLang('and_title')}}</span>
                            <a href="{{:MyUrl('index/agreement/index', ['document'=>'userprivacy'])}}" target="_blank">{{:MyLang('user.form_item_privacy')}}</a>
                        </div>
                    {{/if}}
                    
                    <div class="am-form-group am-margin-top-main am-padding-0">
                        <input type="hidden" name="type" value="username" />
                        <button type="submit" class="am-btn am-btn-primary am-btn-block am-radius btn-loading-example" data-am-loading="{loadingText: '{{:MyLang('processing_tips')}}'}">{{:MyLang('register_title')}}</button>
                    </div>
                </form>
                <!-- form end -->
            </div>
        {{/if}}
        {{if in_array('sms', $home_user_reg_type)}}
            <div data-tab-panel-1 class="am-tab-panel {{if !in_array('username', $home_user_reg_type)}}am-active{{/if}}">
                <!-- form start -->
                <form class="am-form form-validation-sms" method="post" action="{{:MyUrl('index/user/reg')}}" request-type="ajax-fun" request-value="RegisterSuccessBack">
                    <div class="am-form-group am-form-group-refreshing am-form-input-material">
                        <input type="text" name="accounts" class="am-radius am-form-field" pattern="{{:MyConst('common_regex_mobile')}}" data-validation-message="{{:MyLang('user.form_item_mobile_message')}}" autocomplete="off" data-is-clearout="0" required />
                        <span class="am-material-bar"></span>
                        <label class="am-material-label">{{:MyLang('user.form_item_mobile')}}</label>
                    </div>

                    <div class="am-form-group am-form-group-refreshing am-margin-top-main am-form-input-material">
                        <input type="number" name="verify" class="am-radius am-form-field input-padding-right-max" minlength="4" maxlength="4" data-validation-message="{{:MyLang('form_verify_message')}}" autocomplete="off" data-is-clearout="0" required />
                        <span class="am-input-group-btn am-position-verify-sms">
                            <button class="am-btn am-text-sm btn-loading-example user-verify-submit" type="button" data-am-loading="{spinner:'circle-o-notch', loadingText:'{{:MyLang('send_tips')}}'}" data-url="{{:MyUrl('index/user/regverifysend')}}" data-verify="{{:MyC('common_img_verify_state')}}" data-text="{{:MyLang('form_verify_button_text')}}" data-send-text="{{:MyLang('form_verify_send_text')}}" data-time="{{:MyC('common_verify_interval_time', 30, true)}}" data-form-tag="form.form-validation-sms">{{:MyLang('form_verify_button_text')}}</button>
                        </span>
                        <span class="am-material-bar"></span>
                        <label class="am-material-label">{{:MyLang('form_verify_title')}}</label>
                    </div>

                    <div class="am-form-group am-form-group-refreshing am-margin-top-main am-form-input-material">
                        <input type="password" name="pwd" class="am-radius am-form-field input-padding-right-max" pattern="{{:MyConst('common_regex_pwd')}}" data-validation-message="{{:MyLang('user.form_item_password_message')}}" autocomplete="new-password" data-is-clearout="0" required />
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default am-radius am-icon-eye eye-submit" type="button"></button>
                        </span>
                        <span class="am-material-bar"></span>
                        <label class="am-material-label">{{:MyLang('user.form_item_password')}}</label>
                    </div>

                    {{if MyC('home_is_enable_userregister_agreement') eq 1}}
                        <div class="agreement am-margin-top-main">
                            <label class="am-checkbox am-success am-cursor-pointer">
                                <input type="checkbox" value="1" name="is_agree_agreement" data-validation-message="{{:MyLang('user.form_item_agreement_message')}}" data-am-ucheck autocomplete="off" data-is-clearout="0" required /> {{:MyLang('user.form_item_agreement')}}
                            </label>
                            <a href="{{:MyUrl('index/agreement/index', ['document'=>'userregister'])}}" target="_blank">{{:MyLang('user.form_item_service')}}</a>
                            <span>{{:MyLang('and_title')}}</span>
                            <a href="{{:MyUrl('index/agreement/index', ['document'=>'userprivacy'])}}" target="_blank">{{:MyLang('user.form_item_privacy')}}</a>
                        </div>
                    {{/if}}

                    <div class="am-form-group am-margin-top-main am-padding-0">
                        <input type="hidden" name="type" value="sms" />
                        <button type="submit" class="am-btn am-btn-primary am-btn-block am-radius btn-loading-example" data-am-loading="{loadingText: '{{:MyLang('processing_tips')}}'}">{{:MyLang('register_title')}}</button>
                    </div>
                </form>
                <!-- form end -->
            </div>
        {{/if}}
        {{if in_array('email', $home_user_reg_type)}}
            <div data-tab-panel-2 class="am-tab-panel {{if !in_array('username', $home_user_reg_type) and !in_array('sms', $home_user_reg_type)}}am-active{{/if}}">
                <!-- form start -->
                <form class="am-form form-validation-email" method="post" action="{{:MyUrl('index/user/reg')}}" request-type="ajax-fun" request-value="RegisterSuccessBack">
                    <div class="am-form-group am-form-group-refreshing am-form-input-material">
                        <input type="email" name="accounts" class="am-radius am-form-field" data-validation-message="{{:MyLang('user.form_item_email_message')}}" autocomplete="off" data-is-clearout="0" required />
                        <span class="am-material-bar"></span>
                        <label class="am-material-label">{{:MyLang('user.form_item_email')}}</label>
                    </div>

                    <div class="am-form-group am-form-group-refreshing am-margin-top-main am-form-input-material">
                        <input type="number" name="verify" class="am-radius am-form-field input-padding-right-max" minlength="4" maxlength="4" data-validation-message="{{:MyLang('form_verify_message')}}" autocomplete="off" data-is-clearout="0" required />
                        <span class="am-input-group-btn am-position-verify-sms">
                            <button class="am-btn am-text-sm btn-loading-example user-verify-submit" type="button" data-am-loading="{spinner:'circle-o-notch', loadingText:'{{:MyLang('send_tips')}}'}" data-url="{{:MyUrl('index/user/regverifysend')}}" data-verify="{{:MyC('common_img_verify_state')}}" data-text="{{:MyLang('form_verify_button_text')}}" data-send-text="{{:MyLang('form_verify_send_text')}}" data-time="{{:MyC('common_verify_interval_time', 30, true)}}" data-form-tag="form.form-validation-email">{{:MyLang('form_verify_button_text')}}</button>
                        </span>
                        <span class="am-material-bar"></span>
                        <label class="am-material-label">{{:MyLang('form_verify_title')}}</label>
                    </div>

                    <div class="am-form-group am-form-group-refreshing am-margin-top-main am-form-input-material">
                        <input type="password" name="pwd" class="am-radius am-form-field input-padding-right-max" pattern="{{:MyConst('common_regex_pwd')}}" data-validation-message="{{:MyLang('user.form_item_password_message')}}" autocomplete="new-password" data-is-clearout="0" required />
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default am-radius am-icon-eye eye-submit" type="button"></button>
                        </span>
                        <span class="am-material-bar"></span>
                        <label class="am-material-label">{{:MyLang('user.form_item_password')}}</label>
                    </div>

                    {{if MyC('home_is_enable_userregister_agreement') eq 1}}
                        <div class="agreement am-margin-top-main">
                            <label class="am-checkbox am-success am-cursor-pointer">
                                <input type="checkbox" value="1" name="is_agree_agreement" data-validation-message="{{:MyLang('user.form_item_agreement_message')}}" data-am-ucheck autocomplete="off" data-is-clearout="0" required /> {{:MyLang('user.form_item_agreement')}}
                            </label>
                            <a href="{{:MyUrl('index/agreement/index', ['document'=>'userregister'])}}" target="_blank">{{:MyLang('user.form_item_service')}}</a>
                            <span>{{:MyLang('and_title')}}</span>
                            <a href="{{:MyUrl('index/agreement/index', ['document'=>'userprivacy'])}}" target="_blank">{{:MyLang('user.form_item_privacy')}}</a>
                        </div>
                    {{/if}}

                    <div class="am-form-group am-margin-top-main am-padding-0">
                        <input type="hidden" name="type" value="email" />
                        <button type="submit" class="am-btn am-btn-primary am-btn-block am-radius btn-loading-example" data-am-loading="{loadingText: '{{:MyLang('processing_tips')}}'}">{{:MyLang('register_title')}}</button>
                    </div>
                </form>
                <!-- form end -->
            </div>
        {{/if}}
    </div>

    <!-- 底部内容 -->
    <div class="bottom-container am-padding-horizontal-lg am-padding-top-xs am-padding-bottom-sm am-nbfc">
        <div class="am-padding-horizontal-sm am-margin-bottom-sm am-nbfc">
            <!-- 用户注册页面内底部钩子 -->
            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
                <div class="plugins-tag">
                    <span>plugins_view_user_reg_info_inside_bottom</span>
                </div>
            {{/if}}
            {{if !empty($plugins_view_user_reg_info_inside_bottom_data) and is_array($plugins_view_user_reg_info_inside_bottom_data)}}
                {{foreach $plugins_view_user_reg_info_inside_bottom_data as $hook}}
                    {{if is_string($hook) or is_int($hook)}}
                        {{$hook|raw}}
                    {{/if}}
                {{/foreach}}
            {{/if}}
        </div>
        <div class="am-padding-horizontal-sm am-padding-vertical-xs am-margin-bottom-sm am-nbfc">
            <!-- 用户注册页面内登录底部钩子 -->
            <div class="bottom-content">
                {{if !empty($home_user_login_type)}}
                    <span>{{:MyLang('user.register_top_login_tips')}}</span>
                    <a href="{{:MyUrl('index/user/logininfo')}}" class="am-btn-xs am-color-main">{{:MyLang('user.login_ahora_login_title')}}</a>
                {{/if}}

                <!-- 用户登录内注册底部钩子 -->
                {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
                    <div class="plugins-tag">
                        <span>plugins_view_user_login_inside_reg_bottom</span>
                    </div>
                {{/if}}
                {{if !empty($plugins_view_user_login_inside_reg_bottom_data) and is_array($plugins_view_user_login_inside_reg_bottom_data)}}
                    {{foreach $plugins_view_user_login_inside_reg_bottom_data as $hook}}
                        {{if is_string($hook) or is_int($hook)}}
                            {{$hook|raw}}
                        {{/if}}
                    {{/foreach}}
                {{/if}}
            </div>
        </div>
    </div>
</div>