{{:ModuleInclude('public/header')}}

<!-- header top nav -->
{{:ModuleInclude('public/header_top_nav')}}

<!-- header simple nav -->
{{:ModuleInclude('public/header_nav_simple', [
    'search' => '1',
])}}

<!-- content -->
<div class="am-container user-main">
    <!-- user menu start -->
    {{:ModuleInclude('public/user_menu')}}
    <!-- user menu end -->

    <!-- content start -->
    <div class="user-content">
        <div class="user-content-body">
            <!-- user center title -->
            {{:ModuleInclude('public/user_center_main_title', [
                'operate_url'   => MyUrl('index/personal/saveinfo'),
                'operate_name'  => MyLang('edit_title'),
                'operate_icon' => 'icon-edit'
            ])}}
			<dl class="dl-content">
				{{foreach $personal_show_list as $k=>$v}}
					{{if isset($user[$k]) or (isset($v['is_ext']) and $v['is_ext'] eq 1)}}
						<dt>{{$v.name}}</dt>
						<dd>
                            {{if isset($v['is_ext']) and $v['is_ext'] eq 1}}
                                {{if isset($v['value'])}}
                                    {{$v.value}}
                                {{/if}}
                            {{else /}}
    							{{if empty($user[$k])}}
    								<span class="am-text-grey">{{:MyLang('no_filled_tips')}}</span>
    							{{elseif $k eq 'avatar' /}}
                                    <img src="{{$user[$k]}}" width="50" height="50" class="am-radius" />
                                {{else /}}
    								{{$user[$k]}}
    							{{/if}}
                            {{/if}}
							{{if !empty($v['tips'])}}
                                {{if !empty($v['path'])}}
                                    <span class="span-edit">{{:str_replace('{path}', MyUrl($v['path']), $v['tips'])}}</span>
                                {{else /}}
                                    <span class="span-edit">{{$v.tips|raw}}</span>
                                {{/if}}
							{{/if}}
						</dd>
					{{/if}}
				{{/foreach}}
			</dl>
		</div>
	</div>
  <!-- content end -->
</div>

<!-- footer start -->
{{:ModuleInclude('public/footer')}}