<ul class="aftersale-step am-cf am-text-center return-only-money-step none">
    <li class="am-text-truncate selected">
        <span class="number">1</span>
        <span class="text">用户申请仅退款</span>
        <i class="am-icon-caret-right"></i>
        <i class="am-icon-angle-right"></i>
    </li>
    <li class="am-text-truncate selected selected-end">
        <span class="number">2</span>
        <span class="text">管理员处理退款申请</span>
        <i class="am-icon-caret-right"></i>
        <i class="am-icon-angle-right"></i>
    </li>
    <li class="am-text-truncate">
        <span class="number">3</span>
        <span class="text">退款完毕</span>
    </li>
</ul>

<ul class="aftersale-step am-cf am-text-center return-money-goods-step none">
    <li class="am-text-truncate selected">
        <span class="number">1</span>
        <span class="text">用户申请退货退款</span>
        <i class="am-icon-caret-right"></i>
        <i class="am-icon-angle-right"></i>
    </li>
    <li class="am-text-truncate selected">
        <span class="number">2</span>
        <span class="text">管理员处理退货申请</span>
        <i class="am-icon-caret-right"></i>
        <i class="am-icon-angle-right"></i>
    </li>
    <li class="am-text-truncate selected selected-end">
        <span class="number">3</span>
        <span class="text">用户退货</span>
        <i class="am-icon-caret-right"></i>
        <i class="am-icon-angle-right"></i>
    </li>
    <li class="am-text-truncate">
        <span class="number">4</span>
        <span class="text">退款完毕</span>
    </li>
</ul>