<div class="am-popup" id="aftersale-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">售后申请</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            <form class="am-form form-validation view-save" action="{{:PluginsHomeUrl('answers', 'index', 'answer')}}" method="POST" request-type="ajax-reload">
                <div class="am-cf aftersale-type">
                    <div class="am-fl am-vertical-align" data-type="0">
                        <div class="am-vertical-align-middle">
                            <div class="am-fl icon">
                                <i class="am-icon-random"></i>
                            </div>
                            <p class="name">仅退款</p>
                            <p class="desc">未收到货(包含未签收),或卖家协商同意前提下</p>
                        </div>
                    </div>
                    <div class="am-fr am-vertical-align" data-type="1">
                        <div class="am-vertical-align-middle">
                            <div class="am-fl icon">
                                <i class="am-icon-retweet"></i>
                            </div>
                            <p class="name">退货退款</p>
                            <p class="desc">已收到货,需要退换已收到的货物</p>
                        </div>
                    </div>
                </div>

                <ul class="aftersale-step">
                    <li>
                        <span class="number">1</span>
                        <span class="text">用户申请退款</span>
                    </li>
                    <li>
                        <span class="number">2</span>
                        <span class="text">管理员处理退款申请</span>
                    </li>
                    <li>
                        <span class="number">3</span>
                        <span class="text">退款完毕</span>
                    </li>
                </ul>

                <div class="am-form-group form-only-money">
                    <label>退款原因<span class="am-form-group-label-tips-must">必选</span></label>
                    <select name="return_only_money_reason" class="chosen-select" data-placeholder="退款原因..." data-validation-message="请选择退款原因" required>
                        <option value="">退款原因...</option>
                        {{if !empty($return_only_money_reason_list)}}
                            {{foreach $return_only_money_reason_list as $reason}}
                                <option value="{{$reason}}">{{$reason}}</option>
                            {{/foreach}}
                        {{/if}}
                    </select>
                </div>

                <div class="am-form-group form-money-goods">
                    <label>退款原因<span class="am-form-group-label-tips-must">必选</span></label>
                    <select name="return_money_goods_reason" class="chosen-select" data-placeholder="退款原因..." data-validation-message="请选择退款原因" required>
                        <option value="">退款原因...</option>
                        {{if !empty($return_money_goods_reason_list)}}
                            {{foreach $return_money_goods_reason_list as $reason}}
                                <option value="{{$reason}}">{{$reason}}</option>
                            {{/foreach}}
                        {{/if}}
                    </select>
                </div>

                <div class="am-form-group">
                    <label>商品件数<span class="am-form-group-label-tips-must">必填</span></label>
                    <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">-</span>
                        <input type="text" name="number" class="am-form-field" value="1" min="1" max="3" data-validation-message="请填写有效的商品件数" required />
                        <span class="am-input-group-label">+</span>
                    </div>
                </div>

                <div class="am-form-group">
                    <label>退款金额<span class="am-form-group-label-tips-must">必填</span></label>
                    <input type="number" name="price" step="0.01" max="3" class="am-radius" placeholder="退款金额" data-validation-message="请输入有效的退款金额" required />
                </div>

                <div class="am-form-group">
                    <label>退款说明<span class="am-form-group-label-tips-must">必填</span></label>
                    <textarea class="am-radius" name="msg" rows="5" minlength="5" maxlength="200" placeholder="退款说明 5~200 个字符之间" data-validation-message="退款说明格式 5~200 个字符之间" required></textarea>
                </div>

                <div class="am-form-group">
                    <label>上传凭证<span class="am-form-group-label-tips">最多上传3张图片</span></label>
                    <ul class="plug-file-upload-view goods-images-view" data-form-name="images[]" data-max-number="3" data-dialog-type="images">
                    </ul>
                    <div class="plug-file-upload-submit" data-view-tag="ul.goods-images-view">+上传图片</div>
                </div>

                <div class="am-form-group am-form-group-refreshing">
                    <input type="hidden" name="order_id" value="" />
                    <input type="hidden" name="goods_id" value="" />
                    <input type="hidden" name="type" value="" />
                    <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm am-btn-block" data-am-loading="{loadingText:'处理中...'}">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>