{{block name="form_header"}}{{/block}}

<div class="am-form-table-data-container">
    <div class="form-table-content">
        <!-- content top start -->
        <div class="form-table-content-top am-cf">
            {{block name="form_content_top"}}{{/block}}
        </div>
        <!-- content top end -->

        <!-- form -->
        {{if !empty($form_table) and !empty($form_table['base']) and !empty($form_table['form']) and is_array($form_table['base']) and is_array($form_table['form'])}}
            <form class="am-form form-validation-search" method="post" action="{{if isset($form_table['base']['is_search']) and $form_table['base']['is_search'] eq 1 and !empty($form_table['base']['search_url'])}}{{$form_table.base.search_url}}{{/if}}" request-type="jump" request-value="{{if isset($form_table['base']['is_search']) and $form_table['base']['is_search'] eq 1 and !empty($form_table['base']['search_url'])}}{{$form_table.base.search_url}}{{/if}}">
                <!-- nav start -->
                <div class="form-table-navigation am-cf">
                    {{block name="form_navigation"}}{{/block}}
                </div>
                <!-- nav end -->

                <!-- top operate start -->
                <div class="form-table-operate-top am-cf">
                    {{block name="form_operate_top"}}
                       {{include file="../../../module/view/form_table/form_operate_top" /}}
                    {{/block}}
                </div>
                <!-- top operate end -->

                <!-- form table start -->
                {{include file="../../../module/view/form_table/form_table" /}}
                <!-- form table end -->

                <!-- bottom operate start -->
                <div class="form-table-operate-bottom am-cf am-margin-top">
                    {{block name="form_operate_bottom"}}
                        {{include file="../../../module/view/form_table/form_operate_bottom" /}}
                    {{/block}}
                </div>
                <!-- bottom operate end -->
            </form>

            <!-- 字段选择 -->
            {{include file="../../../module/view/form_table/form_fields_select" /}}
        {{else /}}
            <div class="table-no"><i class="am-icon-warning"></i> {{if empty($form_error)}}{{:MyLang('form_table_config_error_tips')}}{{else /}}{{$form_error}}{{/if}}</div>
        {{/if}}

        <!-- page start -->
        <div class="form-table-operate-page am-cf">
            {{block name="form_page"}}
                {{include file="../../../module/view/form_table/form_table_page" /}}
            {{/block}}
        </div>
        <!-- page end -->

        <!-- extend start -->
        <div class="form-table-extend am-cf">
            {{block name="form_extend"}}{{/block}}
        </div>
        <!-- extend end -->
    </div>
</div>

{{block name="form_footer"}}{{/block}}