<!-- 高度 -->
{{include file="../../../layout/view/public/style/height" key="[key]" required="[required]" height="800" name="[name]" /}}

<!-- 是否高度100% -->
<div class="am-form-group am-form-group-refreshing">
    <label class="block">是否宽度100%</label>
    <input name="style[key]_is_width" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch />
</div>

<!-- 是否高度100% -->
<div class="am-form-group am-form-group-refreshing">
    <label class="block">是否高度100%</label>
    <input name="style[key]_is_height" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch />
</div>

<!-- 是否居中 -->
<div class="am-form-group am-form-group-refreshing">
    <label class="block">是否居中</label>
    <input name="style[key]_is_auto" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch />
</div>

<!-- 是否铺满容器 -->
<div class="am-form-group am-form-group-refreshing">
    <label class="block">是否铺满容器</label>
    <input name="style[key]_is_cover" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch />
</div>