{{include file="public/header" /}}

<!-- header nav start -->
{{if isset($is_header) and $is_header eq 1}}
    <!-- header top nav -->
    {{include file="public/header_top_nav" /}}

    <!-- search -->
    {{include file="public/nav_search" /}}

    <!-- header nav -->
    {{include file="public/header_nav" /}}

    <!-- goods category -->
    {{include file="public/goods_category" /}}
{{/if}}
<!-- header nav end -->

<!-- content start -->
{{if !empty($layout_data)}}
    {{include file="../../../layout/view/view" /}}
{{else /}}
    <div class="am-container">
        {{include file="public/not_data" /}}
    </div>
{{/if}}
<!-- content end -->

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->