<include file="Public/Header" />

<!-- header top nav -->
<include file="Public/HeaderTopNav" />

<!-- search -->
<include file="Public/NavSearch" />

<!-- header nav -->
<include file="Public/HeaderNav" />

<!-- goods category -->
<include file="Public/GoodsCategory" />


<div class="am-container">
    <div class="search-list">
        <div class="am-u-sm-12 am-u-md-12">
        <div class="theme-popover">
            <div class="searchAbout">
                <span class="font-pale">相关搜索：</span>
                <a title="坚果" href="#">坚果</a>
                <a title="瓜子" href="#">瓜子</a>
                <a title="鸡腿" href="#">豆干</a>

            </div>
            <ul class="select">
                <p class="title font-normal">
                    <span class="fl">松子</span>
                    <span class="total fl">搜索到<strong class="num">997</strong>件相关商品</span>
                </p>
                <div class="clear"></div>
                <li class="select-result">
                    <dl>
                        <dt>已选</dt>
                        <dd class="select-no"></dd>
                        <p class="eliminateCriteria">清除</p>
                    </dl>
                </li>
                <div class="clear"></div>
                <li class="select-list">
                    <dl id="select1">
                        <dt class="am-badge am-round">品牌</dt>   
                    
                         <div class="dd-conent">                                        
                            <dd class="select-all selected"><a href="#">全部</a></dd>
                            <dd><a href="#">百草味</a></dd>
                            <dd><a href="#">良品铺子</a></dd>
                            <dd><a href="#">新农哥</a></dd>
                            <dd><a href="#">楼兰蜜语</a></dd>
                            <dd><a href="#">口水娃</a></dd>
                            <dd><a href="#">考拉兄弟</a></dd>
                         </div>
        
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="select2">
                        <dt class="am-badge am-round">种类</dt>
                        <div class="dd-conent">
                            <dd class="select-all selected"><a href="#">全部</a></dd>
                            <dd><a href="#">东北松子</a></dd>
                            <dd><a href="#">巴西松子</a></dd>
                            <dd><a href="#">夏威夷果</a></dd>
                            <dd><a href="#">松子</a></dd>
                        </div>
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="select3">
                        <dt class="am-badge am-round">选购热点</dt>
                        <div class="dd-conent">
                            <dd class="select-all selected"><a href="#">全部</a></dd>
                            <dd><a href="#">手剥松子</a></dd>
                            <dd><a href="#">薄壳松子</a></dd>
                            <dd><a href="#">进口零食</a></dd>
                            <dd><a href="#">有机零食</a></dd>
                        </div>
                    </dl>
                </li>
            
            </ul>
            <div class="clear"></div>
        </div>
            <div class="search-content">
                <ul class="sort-nav" data-am-sticky="{animation: 'slide-top'}">
                    <li class="first">
                        <a title="综合">综合排序</a>
                    </li>
                    <li>
                        <a title="销量">销量排序</a>
                        <i class="am-icon-sort-amount-asc"></i>
                    </li>
                    <li>
                        <a title="价格">价格优先</a>
                        <i class="am-icon-sort-amount-asc"></i>
                    </li>
                    <li class="big"><a title="评价" href="#">评价为主</a></li>
                </ul>
                <div class="clear"></div>

                <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-5 data-list">
                    <li>
                        <div class="i-pic limit">
                            <img src="../images/imgsearch1.jpg" />                                          
                            <p class="title fl">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="i-pic limit">
                            
                            <img src="../images/imgsearch1.jpg" />
                            <p class="title fl">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>56.90</strong>
                            </p>
                            <p class="number fl">
                                销量<span>1110</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <!--分页 -->
            <ul class="am-pagination am-pagination-right search-pages">
                <li class="am-disabled"><a href="#">&laquo;</a></li>
                <li class="am-active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
            <button type="button" class="am-btn am-btn-default am-btn-block search-pages-submit">加载更多 <i class="am-icon-angle-double-down"></i></button>
        </div>
    </div>
</div>

<!-- 罩层 -->
<div class="theme-popover-mask"></div>



<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->