<include file="Public/Header" />

<!-- header top nav -->
<include file="Public/HeaderTopNav" />

<!-- search -->
<include file="Public/NavSearch" />

<!-- header nav -->
<include file="Public/HeaderNav" />

<!-- goods category -->
<include file="Public/GoodsCategory" />


<div class="am-container">
    <div class="search-list">
        <div class="am-u-sm-12 am-u-md-12">
        <div class="theme-popover">
            
            <div class="searchAbout">
                <span class="font-pale">相关搜索：</span>
                <a title="坚果" href="#">坚果</a>
                <a title="瓜子" href="#">瓜子</a>
                <a title="鸡腿" href="#">豆干</a>

            </div>
            <ul class="select">
                <p class="title-tips">
                    <span>筛选出</span>
                    <strong>...</strong>
                    <span>条数据</span>
                </p>
                <li class="select-result">
                    <dl>
                        <dt>已选</dt>
                        <dd class="select-no"></dd>
                        <p class="screening-remove-submit">清除</p>
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="screening-brand-dl">
                        <dt class="am-badge am-round">品牌</dt>   
                         <div class="dd-conent" data-selected-tag="screening-brand">                                        
                            <dd class="select-all selected"><a href="javascript:;">不限</a></dd>
                            <if condition="!empty($brand_list)">
                                <foreach name="brand_list" item="brand">
                                    <dd><a href="javascript:;" data-value="{{$brand.id}}" data-field="brand_id">{{$brand.name}}</a></dd>
                                </foreach>
                            <else />
                                <span class="not-tips">没有相关品牌</span>
                            </if>
                         </div>
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="screening-category-dl">
                        <dt class="am-badge am-round">分类</dt>
                        <div class="dd-conent" data-selected-tag="screening-category">
                            <dd class="select-all selected"><a href="javascript:;">不限</a></dd>
                            <if condition="!empty($category_list)">
                                <foreach name="category_list" item="category">
                                    <dd><a href="javascript:;" data-value="{{$category.id}}" data-field="category_id">{{$category.name}}</a></dd>
                                </foreach>
                            <else />
                                <span class="not-tips">没有相关分类</span>
                            </if>
                        </div>
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="screening-price-dl">
                        <dt class="am-badge am-round">价格</dt>
                        <div class="dd-conent" data-selected-tag="screening-price">
                            <dd class="select-all selected"><a href="javascript:;">不限</a></dd>
                            <if condition="!empty($screening_price_list)">
                                <foreach name="screening_price_list" item="screening_price">
                                    <dd><a href="javascript:;" data-value="{{$screening_price.id}}" data-field="screening_price_id">{{$screening_price.name}}</a></dd>
                                </foreach>
                            <else />
                                <span class="not-tips">没有相关价格</span>
                            </if>
                        </div>
                    </dl>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
            <div class="search-content">
                <ul class="sort-nav" data-am-sticky="{animation: 'slide-top'}">
                    <li class="first">
                        <a title="综合">综合排序</a>
                    </li>
                    <li>
                        <a title="销量">销量排序</a>
                        <i class="am-icon-sort-amount-asc"></i>
                    </li>
                    <li>
                        <a title="价格">价格优先</a>
                        <i class="am-icon-sort-amount-asc"></i>
                    </li>
                    <li class="big"><a title="评价" href="#">评价为主</a></li>
                </ul>
                <div class="clear"></div>
                <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-5 data-list"></ul>
            </div>

            <!-- 没有数据 -->
            <div class="table-no" style="display:none;"><i class="am-icon-warning"></i> {{:L('common_not_data_tips')}}</div>

            <!-- 分页 -->
            <button type="button" class="am-btn am-btn-default am-btn-block search-pages-submit" data-url="{{:U('Home/Search/GoodsList')}}">加载更多 <i class="am-icon-angle-double-down"></i></button>
        </div>
    </div>
</div>

<!-- 罩层 -->
<div class="theme-popover-mask"></div>


<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->