{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
	<div class="content">
        <!-- operation start -->
        <div class="am-g">
            <button class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus tree-submit-add" data-am-modal="{target: '#data-save-win'}"> {{:lang('common_operation_add')}}</button>
        </div>
        <!-- operation end -->

        <!-- save win start -->
        <div class="am-popup am-radius" id="data-save-win">
			<div class="am-popup-inner">
				<div class="am-popup-hd">
					<h4 class="am-popup-title" data-add-title="{{:lang('express_add_name')}}" data-edit-title="{{:lang('express_edit_name')}}">{{:lang('express_add_name')}}</h4>
					<span data-am-modal-close class="am-close">&times;</span>
				</div>
				<div class="am-popup-bd">
					<!-- form start -->
					<form class="am-form form-validation admin-save" action="{{:url('Admin/Express/Save')}}" method="POST" request-type="ajax-reload" request-value="">
						<div class="am-form-group am-form-file">
							<label class="block">{{:lang('common_icon_text')}}</label>
							<button type="button" class="am-btn am-btn-default am-btn-sm am-radius">
							<i class="am-icon-cloud-upload"></i> {{:lang('common_select_images_text')}}</button>
							<input type="text" name="icon" class="am-radius js-choice-one original-images-url original-icon-images-url" data-choice-one-to='input[name="file_icon"]' <notempty name="data"> value="{{$data.images_url}}"{{/if}}" data-validation-message="{{:lang('common_select_images_tips')}}" readonly="readonly" />
							<i class="am-icon-trash-o am-icon-sm original-images-url-delete" data-input-tag="input.original-icon-images-url" data-image-tag="#form-img-icon" data-tips-tag="#form-icon-tips" data-file-tag="input.file_icon-tag"></i>
							<input type="file" name="file_icon" multiple data-validation-message="{{:lang('common_select_images_tips')}}" accept="image/gif,image/jpeg,image/jpg,image/png" class="js-choice-one images-file-event file_icon-tag" data-choice-one-to=".original-icon-images-url" data-tips-tag="#form-icon-tips" data-image-tag="#form-img-icon" />
							<div id="form-icon-tips" class="m-t-5)}}</div>
							<img src="{{$image_host}}/Public/Admin/Default/Images/default-images.png" id="form-img-icon" class="block m-t-5 am-img-thumbnail am-radius" width="50" height="50" data-default="{{$image_host}}/Public/Admin/Default/Images/default-images.png" />
						</div>
						<div class="am-form-group">
							<label>{{:lang('common_name_text')}}</label>
							<input type="text" placeholder="{{:lang('common_name_text')}}" name="name" minlength="2" maxlength="16" data-validation-message="{{:lang('common_name_format')}}" class="am-radius" required />
						</div>
						<div class="am-form-group">
							<label>{{:lang('common_view_sort_title')}}</label>
							<input type="number" placeholder="{{:lang('common_view_sort_title')}}" name="sort" min="0" max="255" data-validation-message="{{:lang('common_sort_error')}}" class="am-radius" value="0" required />
						</div>
						<include file="Lib/Enable" />
						<div class="am-form-group">
							<input type="hidden" name="id" />
							<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:lang('common_form_loading_tips')}}'}">{{:lang('common_operation_save')}}</button>
						</div>
					</form>
					<!-- form end -->
				</div>
			</div>
		</div>
		<!-- save win end -->

        <!-- list start -->
		<div id="tree" class="m-t-15" data-additional='[{"field":"file_icon", "value":"", "type":"file", "tag":"input.file_icon-tag"}, {"field":"icon", "value":"", "type":"input"}, {"field":"icon_url", "value":"{{$image_host}}/Public/Admin/Default/Images/default-images.png", "type":"attr", "tag":"#form-img-icon", "style":"src"}, {"value":"", "type":"html", "tag":"#form-icon-tips"}]'>
			<div class="m-t-30 t-c">
				<img src="__PUBLIC__/Common/Images/loading.gif" />
				<p>{{:lang('common_form_loading_tips')}}</p>
			</div>
		</div>
		<!-- list end -->
	</div>
</div>
<!-- right content end  -->
		
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->
<script>
	Tree(0, "{{:url('Admin/Express/GetNodeSon')}}", 0);
</script>