{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form view-list" action="{{:url('admin/admin/index')}}" method="POST">
			<div class="am-g">
				<input type="text" autocomplete="off" class="am-radius form-keyword" placeholder="{{:lang('login_username_text')}}" name="username" {{if !empty($params['username'])}} value="{{$params.username}}"{{/if}} />
				<button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius form-submit">{{:lang('common_operation_query')}}</button>
				<label class="fs-12 m-l-5 c-p fw-100 more-submit">
					{{:lang('common_more_screening')}}
					<input type="checkbox" name="is_more" value="1" id="is_more" {{if isset($params['is_more']) and $params['is_more'] eq 1}}checked{{/if}} />
					<i class="am-icon-angle-down"></i>
				</label>

				<div class="more-where {{if !isset($params['is_more']) or $params['is_more'] neq 1}}none{{/if}}">
					<select name="role_id" class="am-radius c-p m-t-10 m-l-5 param-where">
						<option value="-1">{{:lang('admin_view_role_name')}}</option>
						{{foreach $role as $v}}
							<option value="{{$v.id}}" {{if isset($params['role_id']) and $params['role_id'] eq $v['id']}}selected{{/if}}>{{$v.name}}</option>
						{{/foreach}}
					</select>
					<select name="gender" class="am-radius c-p m-t-10 m-l-5 param-where">
						<option value="-1">{{:lang('common_view_gender_name')}}</option>
						{{foreach $common_gender_list as $v}}
							<option value="{{$v.id}}" {{if isset($params['gender']) and $params['gender'] eq $v['id']}}selected{{/if}}>{{$v.name}}</option>
						{{/foreach}}
					</select>
				</div>
			</div>
        </form>
        <!-- form end -->


		<!-- operation start -->
		<div class="am-g m-t-15">
			<a href="{{:url('admin/admin/saveinfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> {{:lang('common_operation_add')}}</a>
		</div>
		<!-- operation end -->

		<!-- list start -->
		<table class="am-table am-table-striped am-table-hover am-text-middle m-t-10">
			<thead>
				<tr>
					<th>{{:lang('common_admin_name')}}</th>
					<th>{{:lang('common_view_gender_name')}}</th>
					<th>{{:lang('login_total_name')}}</th>
					<th>{{:lang('common_mobile_name')}}</th>
					<th class="am-hide-sm-only">{{:lang('admin_view_role_name')}}</th>
					<th class="am-hide-sm-only">{{:lang('login_last_time_name')}}</th>
					<th class="am-hide-sm-only">{{:lang('common_create_time_name')}}</th>
					<th>{{:lang('common_operation_name')}}</th>
				</tr>
			</thead>
			<tbody>
				{{if !empty($data)}}
					{{foreach $data as $v}}
						<tr id="data-list-{{$v.id}}">
							<td>{{$v.username}}</td>
							<td>{{:lang('common_gender_list')[$v['gender']]['name']}}</td>
							<td>{{$v.login_total}}</td>
							<td>{{if empty($v['mobile'])}}<span class="cr-ddd">{{:lang('common_on_fill_in_the_text')}}</span>{{else /}}{{$v.mobile}}{{/if}}</td>
							<td class="am-hide-sm-only">{{$v.role_name}}</td>
							<td class="am-hide-sm-only">
								{{if $v['login_total'] eq 0}}
									{{:lang('common_not_login_name')}}
								{{else /}}
									{{:date('Y-m-d H:i:s', $v['login_time'])}}
								{{/if}}
							</td>
							<td class="am-hide-sm-only">{{:date('Y-m-d H:i:s', $v['add_time'])}}</td>
							<td>
								{{if $v['id'] eq 1}}
									<span class="cr-ccc">{{:lang('common_do_not_operate')}}</span>
								{{else /}}
									<a href="{{:url('admin/admin/saveinfo', array('id'=>$v['id']))}}">
										<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit" > {{:lang('common_operation_edit')}}</button>
									</a>
									{{if $v['id'] neq $admin['id']}}
										<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:url('admin/admin/delete')}}" data-id="{{$v.id}}"> {{:lang('common_operation_delete')}}</button>
									{{/if}}
								{{/if}}
							</td>
						</tr>
					{{/foreach}}
				{{else /}}
					<tr><td colspan="5" class="table-no">{{:lang('common_not_data_tips')}}</td></tr>
				{{/if}}
			</tbody>
		</table>
		<!-- list end -->

		<!-- page start -->
		{{if !empty($data)}}
			{{$page_html|raw}}
		{{/if}}
		<!-- page end -->
	</div>
</div>
<!-- right content end  -->

{{include file="public/footer" /}}