{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<p class="fw-700 list-title">{{:lang('os_view_title')}}</p>
		<dl class="dl-content">
			<dt>{{:lang('ver_name')}}</dt>
			<dd>{{$data.ver}}</dd>

			<dt>{{:lang('os_ver_name')}}</dt>
			<dd>{{$data.os_ver}}</dd>

			<dt>{{:lang('php_ver_name')}}</dt>
			<dd>{{$data.php_ver}}</dd>

			<dt>{{:lang('mysql_ver_name')}}</dt>
			<dd>{{$data.mysql_ver}}</dd>

			<dt>{{:lang('server_ver_name')}}</dt>
			<dd>{{$data.server_ver}}</dd>

			<dt>{{:lang('host_name')}}</dt>
			<dd>{{$data.host}}</dd>
		</dl>

		<p class="fw-700 list-title">{{:lang('team_view_title')}}</p>
		<dl class="dl-content">
			<dt>技术支持</dt>
			<dd><a href="http://shopxo.net/" target="_blank">ShopXO企业级电商系统提供商</a></dd>

			<dt>{{:lang('research_name')}}</dt>
			<dd>
				<a href="http://gong.gg/" target="_blank">龚哥哥</a>
			</dd>
		</dl>
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->