{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- tips start -->
        <div class="am-alert am-alert-warning am-radius" data-am-alert>
            <button type="button" class="am-close">&times;</button>
            <p>{{:lang('alipay_life_tips')}}</p>
        </div>
        <!-- tips end -->

        <!-- form start -->
        <form class="am-form view-list" action="{{:url('Admin/AlipayLife/Index')}}" method="POST">
            <div class="am-g">
                <input type="text" class="am-radius form-keyword" placeholder="{{:lang('alipay_life_name_text')}}" name="keyword" <present name="param['keyword']"> value="{{$param.keyword}}"{{/if}} />
                <button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius form-submit">{{:lang('common_operation_query')}}</button>
                <label class="fs-12 m-l-5 c-p fw-100 more-submit">
                    {{:lang('common_more_screening')}}
                    <input type="checkbox" name="is_more" value="1" id="is_more" {{if isset($param['is_more']) and $param['is_more'] eq 1)}}checked{{/if}} />
                    <i class="am-icon-angle-down"></i>
                </label>

                <div class="more-where {{if !isset($param['is_more']) or $param['is_more'] neq 1)}}none{{/if}}">
                    <select name="is_shelves" class="am-radius c-p m-t-10 m-l-5 param-where">
                        <option value="-1)}}{{:lang('alipay_life_is_shelves_text')}}</option>
                        <foreach name="common_goods_is_shelves_list" item="v">
                            <option value="{{$v.id}}" {{if isset($param['is_shelves']) and $param['is_shelves'] eq $v['id']">selected{{/if}}>{{$v.name}}</option>
                        {{/foreach}}
                    </select>
                    <select name="alipay_life_category_id" class="am-radius c-p m-t-10 m-l-5 param-where">
                        <option value="">{{:lang('alipay_life_category_id_text')}}</option>
                        <foreach name="alipay_life_category" item="v">
                            <option value="{{$v.id}}" {{if isset($param['alipay_life_category_id']) and $param['alipay_life_category_id'] eq $v['id']">selected{{/if}}>{{$v.name}}</option>
                        {{/foreach}}
                    </select>
                    <div class="param-date param-where m-l-5)}}
                        <input type="text" name="time_start" class="Wdate am-radius m-t-10" placeholder="{{:lang('common_time_start_name')}}" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd HH:mm:ss'})" {{if isset($param['time_start'])}}value="{{$param.time_start}}"{{/if}}/>
                        <span>~</span>
                        <input type="text" class="Wdate am-radius m-t-10" placeholder="{{:lang('common_time_end_name')}}" name="time_end" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd HH:mm:ss'})" {{if isset($param['time_end'])}}value="{{$param.time_end}}"{{/if}}/>
                    </div>
                </div>
            </div>
        </form>
        <!-- form end -->

        <!-- operation start -->
        <div class="am-g m-t-15)}}
            <a href="{{:url('Admin/AlipayLife/SaveInfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> {{:lang('common_operation_add')}}</a>
        </div>
        <!-- operation end -->

        <!-- list start -->
        <table class="am-table am-table-striped am-table-hover am-text-middle m-t-1)}}
            <thead>
                <tr>
                    <th>{{:lang('alipay_life_name_text')}}</th>
                    <th class="am-hide-sm-only">{{:lang('alipay_life_logo_text')}}</th>
                    <th>{{:lang('alipay_life_appid_text')}}</th>
                    <th class="am-hide-sm-only category-row">{{:lang('alipay_life_category_id_text')}}</th>
                    <th>{{:lang('alipay_life_is_shelves_text')}}</th>
                    <th class="am-hide-sm-only">{{:lang('common_create_time_name')}}</th>
                    <th>{{:lang('common_operation_name')}}</th>
                </tr>
            </thead>
            <tbody>
                {{if !empty($list)}}
                    <foreach name="list" item="v">
                        <tr id="data-list-{{$v.id}}" {{if $v['is_shelves'] eq 0)}}class="am-active"{{/if}}>
                            <td>{{$v.name}}</td>
                            <td class="am-hide-sm-only">
                                {{if !empty($v['logo'])}}
                                    <a href="{{$v['logo']}}" target="_blank">
                                        <img src="{{$v['logo']}}" class="am-radius" width="100" />
                                    </a>
                                {{else /}}
                                    <span class="cr-ddd">{{:lang('common_on_fill_in_images')}}</span>
                                {{/if}}
                            </td>
                            <td>{{$v.appid}}</td>
                            <td class="am-hide-sm-only">{{:implode('，', $v['alipay_life_category_text'])}}</td>
                            <td>
                                <a href="javascript:;" class="am-icon-btn am-icon-check submit-state {{if $v['is_shelves'] eq 1)}}am-success{{else /}}am-default{{/if}}" data-url="{{:url('Admin/AlipayLife/StatusUpdate')}}" data-id="{{$v.id}}" data-state="{{$v['is_shelves']}}" data-is-update-status="1)}}</a>
                            </td>
                            <td class="am-hide-sm-only">{{$v.add_time_text}}</td>
                            <td class="view-operation">
                                <a href="{{:url('Admin/AlipayLife/SaveInfo', array('id'=>$v['id']))}}">
                                    <button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit"> {{:lang('common_operation_edit')}}</button>
                                </a>
                                <button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:url('Admin/AlipayLife/Delete')}}" data-id="{{$v.id}}"> {{:lang('common_operation_delete')}}</button>
                            </td>
                        </tr>
                    {{/foreach}}
                {{else /}}
                    <tr><td colspan="7" class="table-no">{{:lang('common_not_data_tips')}}</td></tr>
                {{/if}}
            </tbody>
        </table>
        <!-- list end -->

        <!-- page start -->
        {{if !empty($list)}}
            {{$page_html}}
        {{/if}}
        <!-- page end -->
    </div>
</div>
<!-- right content end  -->
        
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->