<!-- 继承公共的 form -->
{{extend name="public/module/form" /}}

<!-- 表单顶部操作栏 -->
{{block name="form_operate_top"}}
    <a href="{{:MyUrl('admin/warehouse/saveinfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> {{:MyLang('add_title')}}</a>
    <!-- 父级内容 -->
    {__block__}
{{/block}}

<!-- 底部提示信息 -->
{{block name="form_operate_bottom"}}
    {{if is_array(MyLang('warehouse.top_tips_list'))}}
        <div class="am-alert am-alert-warning">
            <p>{{:implode('</p><p>', MyLang('warehouse.top_tips_list'))}}</p>
        </div>
    {{/if}}
{{/block}}