<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:U('Admin/AlipayLifeMessage/ContentSave')}}" method="POST" request-type="ajax-url" request-value="{{:U('Admin/AlipayLifeMessage/ContentIndex', ['message_id'=>$params['message_id']])}}" enctype="multipart/form-data">
            <input type="hidden" name="max_file_size" value="{{:MyC('home_max_limit_image', 2048000)}}" />
            <legend>
                <span class="fs-16">{{:L('alipay_life_message_add_name')}}</span>
                <a href="{{:U('Admin/AlipayLifeMessage/ContentIndex', ['message_id'=>$params['message_id']])}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> {{:L('common_operation_back')}}</a>
            </legend>

            <div class="am-form-group">
                <label>{{:L('alipay_life_message_title_text')}}</label>
                <input type="text" name="title" placeholder="{{:L('alipay_life_message_title_text')}}" maxlength="80" data-validation-message="{{:L('alipay_life_message_title_format')}}" class="am-radius" value="<notempty name="data.title">{{$data.title}}</notempty>" required />
            </div>

            <div class="am-form-group">
                <label>{{:L('alipay_life_message_content_text')}}</label>
                <textarea rows="5" name="content" class="am-radius" placeholder="{{:L('alipay_life_message_content_text')}}" data-validation-message="{{:L('alipay_life_message_content_format')}}" maxlength="250" required><notempty name="data.content">{{$data.content}}</notempty></textarea>
            </div>

            <if condition="$msg_type eq 1">
                <div class="am-form-group am-form-file">
                    <label class="block">{{:L('alipay_life_message_image_url_text')}}</label>
                    <button type="button" class="am-btn am-btn-default am-btn-sm am-radius">
                    <i class="am-icon-cloud-upload"></i> {{:L('common_select_images_text')}}</button>
                    <input type="text" name="image_url" class="am-radius js-choice-one original-images-url original-icon-images-url" data-choice-one-to='input[name="file_image_url"]' data-validation-message="{{:L('alipay_life_message_image_url_format')}}" readonly="readonly" value="<notempty name="data.image_url">{{$data.image_url}}</notempty>" required />
                    <input type="file" name="file_image_url" multiple data-validation-message="{{:L('alipay_life_message_image_url_format')}}" accept="image/gif,image/jpeg,image/jpg,image/png" class="js-choice-one images-file-event file_image_url-tag" data-choice-one-to=".original-icon-images-url" data-tips-tag="#form-icon-tips" data-image-tag="#form-img-icon" required />
                    <div id="form-icon-tips" class="m-t-5"></div>
                    <notempty name="data.image_url">
                        <img src="{{$image_host}}{{$data.image_url}}" id="form-img-icon" class="block m-t-5 am-img-thumbnail am-radius" width="100" height="100" data-default="{{$image_host}}/Public/Admin/Default/Images/default-images.png" />
                    </notempty>
                    <empty name="data.image_url">
                        <img src="{{$image_host}}/Public/Admin/Default/Images/default-images.png" id="form-img-icon" class="block m-t-5 am-img-thumbnail am-radius" width="100" height="100" data-default="{{$image_host}}/Public/Admin/Default/Images/default-images.png" />
                    </empty>
                </div>

                <div class="am-form-group">
                    <label>{{:L('alipay_life_message_url_text')}}</label>
                    <input type="text" name="url" placeholder="{{:L('alipay_life_message_url_text')}}" data-validation-message="{{:L('alipay_life_message_url_format')}}" class="am-radius" maxlength="255" value="<notempty name="data.url">{{$data.url}}</notempty>" required />
                </div>

                <div class="am-form-group">
                    <label>{{:L('alipay_life_message_action_name_text')}}</label>
                    <input type="text" name="action_name" placeholder="{{:L('alipay_life_message_action_name_text')}}" data-validation-message="{{:L('alipay_life_message_action_name_format')}}" class="am-radius" maxlength="60" value="<notempty name="data.action_name">{{$data.action_name}}</notempty>" />
                </div>
            </if>
            <div class="am-form-group">
                <input type="hidden" name="id" value="{{$data.id}}" />
                <input type="hidden" name="message_id" value="{{$params.message_id}}" />
                <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->
        
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->