<include file="Public/Header" />

<!-- header nav start -->
<include file="Public/HeaderNav" />
<!-- header nav end -->

<!-- content start -->
<div class="am-g my-content" <if condition="!empty($max_width_style)">style="{{$max_width_style}}"</if>>
	<!-- left start -->
	<div class="am-u-md-8 article-left m-t-20 p-r-0">
		<article class="article-main o-h">
			<h3 class="am-article-title article-title">{{$article.title}}</h3>
			<h4 class="am-article-meta article-meta">
				<span>{{:L('article_add_time_text')}}：{{$article.add_time}}</span>
				<span class="m-l-10">{{:L('article_access_count_text')}}：{{$article.access_count}}</span>
			</h4>
			<div class="article-content">{{$article.content}}</div>
		</article>
	</div>
	<!-- left end -->

	<!-- right start -->
	<div class="am-u-md-4 article-right">
		<!-- layout module start -->
		<if condition="!empty($data)">
			<foreach name="data" item="v">
				<switch name="v.value">
					<case value="100">
						<if condition="!empty($v['item'][0])">
							<div class="layout-{{$v.value}}">{{$v['item'][0]}}</div>
						</if>
					</case>
					<case value="122|123|124|236">
						<php>list($t1, $t2, $t3) = str_split($v['value']);</php>
						<ul data-am-widget="gallery" class="am-gallery am-avg-sm-{{$t1}} am-avg-md-{{$t2}} am-avg-lg-{{$t3}} am-gallery-overlay small-banner am-no-layout m-b-5 layout-100-{{$v.value}}" data-am-gallery="{}">
							<if condition="!empty($v['item'])">
								<foreach name="v.item" item="vs">
									<li class="layout-item">
										<div class="layout-100-{{$v.value}}-item">{{$vs}}</div>
									</li>
								</foreach>
							</if>
						</ul>
					</case>
					<case value="84|48|633|363|336">
						<php>$t_all = str_split($v['value']);</php>
						<div class="layout-100-{{$v.value}} o-h">
							<if condition="!empty($v['item'])">
								<foreach name="v.item" key="ks" item="vs">
									<div class="am-u-md-{{$t_all[$ks]}}">{{$vs}}</div>
								</foreach>
							</if>
						</div>
					</case>
				</switch>
			</foreach>
		</if>
		<!-- layout module end -->
	</div>
	<!-- right end -->
</div>
<!-- content end -->

<!-- layuot common module start -->
<include file="Public/CommonModule" />
<!-- layuot common module end -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->