<include file="Public/Header" />

<!-- header top nav -->
<include file="Public/HeaderTopNav" />

<!-- search -->
<include file="Public/NavSearch" />

<!-- header nav -->
<include file="Public/HeaderNav" />

<!-- goods category -->
<include file="Public/GoodsCategory" />

<!-- content -->
<div class="am-container article-content">
	<!-- 右侧内容 -->
	<div class="am-u-md-10 am-u-md-push-2 article-right">
		<div class="am-u-sm-12 article-header">
			<h1 class="am-article-title">{{$article.title}}</h1>
			<p class="am-article-meta">
				<span>{{:L('article_add_time_text')}}：{{$article.add_time_time}}</span>
				<span>{{:L('article_access_count_text')}}：{{$article.access_count}}</span>
			</p>
			<hr class="am-article-divider" />
		</div>
		<div class="am-article">{{$article.content}}</div>
	</div>

	<!-- 右侧内容 -->
	<div class="am-u-md-2 am-u-md-pull-10 article-sidebar">
		<div class="am-offcanvas" id="article-nav-sidebar">
			<div class="am-offcanvas-bar am-offcanvas-bar-overlay">
				<notempty name="category_list">
					<section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{}'>
						<foreach name="category_list" item="v">
							<dl class="am-accordion-item <if condition="$article['article_category_id'] eq $v['id']">am-active</if>">
								<dt class="am-accordion-title">
									<li class="am-nav-header">{{$v.name}}</li>
								</dt>
								<dd class="am-accordion-bd am-collapse <if condition="$article['article_category_id'] eq $v['id']">am-in</if>">
									<div class="am-accordion-content">
										<notempty name="v.items">
											<ul class="am-nav">
												<foreach name="v.items" item="vs">
													<li>
														<a href="{{:U('Home/Article/Index', ['id'=>$vs['id']])}}" <notempty name="vs.title_color">style="color:{{$vs.title_color}};"</notempty> >{{$vs.title}}</a>
													</li>
												</foreach>
											</ul>
										</notempty>
									</div>
								</dd>
							</dl>
						</foreach>
					</section>
				</notempty>
			</div>
		</div>
	</div>
	<a href="javascript:;" class="am-icon-btn am-icon-th-list am-show-sm-only article-nav-button" data-am-offcanvas="{target: '#article-nav-sidebar'}">
		<span class="am-sr-only">侧栏导航</span>
	</a>
</div>

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->