.goods-photo, .goods-photo .swiper-item {
    height: 55vh !important;
    display: block;
}
.goods-popup {
  padding: 20rpx 10rpx;
  position: relative;
}
.goods-popup .close {
  position: absolute;
  top: 20rpx;
  right: 20rpx;
  z-index: 2;
}
.goods-popup-base {
  height: 230rpx;
  position: relative;
}
.goods-popup-base image {
  width: 200rpx;
  height: 200rpx;
  position: absolute;
  left: 0;
  top: 0;
}
.goods-popup-base-content {
  position: absolute;
  left: 220rpx;
  bottom: 30rpx;
}
.goods-popup-base-content .goods-price {
  margin-bottom: 10rpx;
}
.goods-popup-content {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20rpx;
}
.goods-spec-choose .item {
    margin-bottom: 30rpx;
    padding-bottom: 30rpx;
}
.goods-popup-content .title {
    font-size: 36rpx;
}
.goods-spec-choose .item .spec button {
    margin-top: 20rpx;
    margin-right: 25rpx;
    padding: 0 30rpx;
    background-color: #f5f5f5;
    color: #666;
    line-height: 25px;
    height: 27px;
    border: 1px solid #d5d5d5;
}
.goods-spec-choose .item .spec button image {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10rpx;
}
.spec-active {
  background: #fff !important;
  color: #d2364c !important;
  border: 1px solid #d2364c !important;
}
.spec-dont-choose {
    color: #b4b3b3 !important;
    background-color: #ffffff !important;
    border: 1px solid #ebeaea !important;
}
.spec-dont-choose image {
    opacity: 0.5;
}
.spec-items-disabled {
    color: #d2cfcf !important;
    background-color: #ffffff !important;
    border: 1px dashed #d5d5d5 !important;
}
.spec-items-disabled image {
    opacity: 0.3;
}
.goods-spec-choose .item .spec  button,
.goods-popup-submit
{
    border-radius: 50rpx;
}
.goods-popup-submit {
    height: 85rpx;
    line-height: 85rpx;
    font-size: 36rpx;
    margin-top: 20rpx;
    border: 0;
}
.goods-popup .goods-buy-number {
    margin-bottom: 20rpx;
    position: relative;
    height: 70rpx;
}
.goods-popup .goods-buy-number .title {
    line-height: 60rpx;
}
.goods-popup .number-content {
    position: absolute;
    right: 20rpx;
    top: 0;
    background: #eee;
    border-radius: 2px;
    border: 1px solid #eee;
}
.goods-popup .number-content .number-submit
{
    width: 80rpx;
    font-weight: bold;
}
.goods-popup .number-content input {
    width: 50px;
    background: #fff;
    border-radius: 0px;
}
.goods-popup .number-content .number-submit,
.goods-popup .number-content input
{
    padding: 0;
    vertical-align: middle;
    height: 60rpx;
    line-height: 60rpx;
}

.goods-detail-app .content-items view {
    padding: 15rpx 10rpx;
    line-height: 44rpx;
    font-size: 32rpx;
}

.goods-buy-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100rpx;
}
.goods-buy-nav .fl {
    width: calc(20% - 1rpx);
}
.goods-buy-nav .fr {
    width: 60%;
}
.goods-buy-nav .fr button {
    border-radius: 0;
    line-height: 100rpx;
    width: 50%;
}
.goods-buy-nav .fr button,
.goods-buy-nav .fl
{
    height: 100rpx;
}
.goods-not-buy-tips {
  line-height: 100rpx;
  height: 100rpx;
  text-align: center;
  color: #f00;
  background: #ffd3d3;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}
.goods-buy-nav-btn-number-0 button,
.goods-buy-nav-btn-number-1 button {
  width: 100% !important;
}
.goods-buy-nav-btn-number-2 button {
  width: 50% !important;
}
.goods-buy-nav-btn-number-3 button {
  width: 33.33% !important;
}
.goods-buy-nav-btn-number-4 button {
  width: 25% !important;
}
.goods-buy-nav-btn-number-5 button {
  width: 20% !important;
}
.goods-buy-nav-btn-number-6 button {
  width: 16.66% !important;
}
.goods-buy-nav-btn-number-7 button {
  width: 14.28% !important;
}
.goods-buy-nav-btn-number-8 button {
  width: 12.5% !important;
}
.goods-buy-nav-btn-number-9 button {
  width: 11.11% !important;
}
.goods-buy-nav-btn-number-10 button {
  width: 10% !important;
}
.goods-buy-nav .collect {
  border-left: 1px solid #e1e1e1;
}
.goods-buy-nav .fl image {
  width: 20px;
  height: 20px;
  margin: 10rpx 0 5rpx 0;
}
.goods-buy-nav .dis-block {
  margin-top: -10rpx;
}
.goods-title {
  font-size: 32rpx;
  line-height: 48rpx;
  font-weight: 500;
  padding: 5rpx 10rpx;
}
.goods-base {
    padding: 15rpx 10rpx;
}
.goods-base button {
  background: #fff;
}
.goods-base .goods-share {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 20rpx;
}
.goods-base .goods-share image {
  width: 50rpx;
  height: 50rpx;
}
.goods-base .goods-share view {
  line-height: 40rpx;
}
.goods-base .goods-price {
  padding-right: 100rpx;
  position: relative;
  min-height: 90rpx;
}
.goods-base .goods-price .original-price {
  margin-top: 8rpx;
  margin-left: 0;
}
.goods-base .base-grid {
  margin-top: 15rpx;
  padding-top: 15rpx;
}
.goods-base .base-grid view {
  width: calc(33.33% - 1px);
}
.goods-base .base-grid view .cr-main {
  padding-left: 10rpx;
}
.page {
  padding-bottom: 100rpx;
}

/*
 * 价格icon
 */
 .price-icon {
  background:#FF5722;
  color:#fff;
  padding:2px 5px;
  line-height:20px;
  border-radius:1px;
}

/**
 * 视频
 */
.goods-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index:1;
}
.goods-video video {
  width: 100%;
  height: 55vh;
}
.goods-video-submit {
  position: absolute;
  left: 30rpx;
  top: calc(55vh - 110rpx);
  z-index: 2;
}
.goods-video-submit image, .cover-goods-video-close {
  width: 80rpx;
  height: 80rpx;
}
.cover-goods-video-close {
  position: absolute;
  left: 30rpx;
  bottom: 30rpx;
}


/*
 * 限时秒杀 - 插件
 */
.limitedtimediscount {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQIAAAAgAQMAAADDkuSaAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAGUExUReQ5POlVO+6K1q8AAACiSURBVDjLhZK7EYMwEETlISCkBJUCnUEplOISXIJDQgcEHg9o/Vt5ZOZu9eKXvL0LIbOECg3OFSMiVYwRWKVwwouLMtq3gUkY/cfYhIEvi2gls9+aEa3kLlqJndwVBga/lSTRSm6i1U2OByNNfivZRCu5Wnf9Z/BbyS5ajfUb0ygfO9pGkTzaBh6i9bB+6xr5sXvf2EUrWUVrsX6UBkTrL/kJzQQAijmza5AAAAAASUVORK5CYII=) right top no-repeat #f23030;
  background-size: cover;
  padding: 10rpx;
  height: 56rpx;
  overflow: hidden;
}
.limitedtimediscount .icon {
  width: 50rpx;
  height: 50rpx;
  vertical-align: top;
  margin-right: 5rpx;
}
.limitedtimediscount .countdown {
  color: #fff;
  line-height: 56rpx;
}
.limitedtimediscount .countdown .timer-title {
  margin-right: 10rpx;
}
.limitedtimediscount .countdown .timer-hours {
  padding: 0 6rpx;
  -moz-border-radius: 8rpx;
  border-radius: 8rpx;
  color: #ffe500;
  min-width: 40rpx;
  text-align: center;
  font-weight: bold;
  font-size: 32rpx;
}
.limitedtimediscount .countdown .ds {
  padding: 0 4rpx;
}

/*
 * 优惠劵 - 插件
 */
.coupon-container {
  white-space: nowrap;
  box-sizing: border-box;
  padding: 20rpx 10rpx;
}
.coupon-container scroll-view {
  height: 179rpx;
}
.coupon-container .item {
  display: inline-block;
  width: 60vw;
}
.coupon-container .v-left {
  padding: 20rpx 0 20rpx 20rpx;
}
.coupon-container .item:not(:last-child) {
  margin-right: 20rpx;
}
.coupon-container .item,
.coupon-container .v-right,
.coupon-container .v-right .circle {
  height: 175rpx;
}
.coupon-container .v-left .base .price {
  font-size: 46rpx;
}
.coupon-container .v-left .desc {
  margin-top: 5rpx;
}

/*
 * 购物车入口
 */
.quick-nav-cart {
  bottom: calc(35% + 110rpx);
  width: 60rpx;
  height: 60rpx;
}
.quick-nav-cart .badge-icon {
  position: absolute;
  top: -5px;
  left: calc(50% + 23rpx);
}

/*
 * 商品参数
 */
.parameters-base {
  padding-top: 10rpx;
}
.parameters-base .content-item .item {
  color: #666;
}
.goods-parameters .content-item {
   padding-bottom: 10rpx;
 }
.goods-parameters .content-item .item {
  padding: 8rpx 10rpx;
  width: calc(50% - 20rpx);
}
.goods-parameters .content-item .item .name {
  margin-right: 5rpx;
}
.goods-parameters .content-item .item:nth-child(2n-1) {
  float: left;
}
.goods-parameters .content-item .item:nth-child(2n) {
  float: right;
}

/*
 * 商品简述
 */
.goods-simple-desc {
  color: #f00;
  padding: 0 10rpx;
  margin: 5rpx 0 15rpx 0;
}

/*
 * icon
 */
.goods-icon-container {
  padding: 20rpx 10rpx 10rpx 10rpx;
}
.goods-icon-container view {
  background: #fff;
  border: 1px solid #3bb4f2;
  color: #3bb4f2;
  padding: 3rpx 15rpx;
  border-radius: 8rpx;
  margin-bottom: 10rpx;
}
.goods-icon-container view:not(:last-child) {
  margin-right: 10rpx;
}

/*
 * 面板
 */
.goods-panel-container {
  background: #fffbfc;
  color: #d2354c;
}
.goods-panel-container view {
  padding: 15rpx 10rpx;
}
.goods-panel-container view:not(:first-child) {
  border-top: 1px dashed #fff1f2;
}

/**
 * 购买记录 - 插件
 */
.plugins-salerecords-tips,
.plugins-salerecords-tips-top-left,
.plugins-salerecords-tips-top-right,
.plugins-salerecords-tips-bottom-left,
.plugins-salerecords-tips-bottom-right,
.plugins-salerecords-tips-top-center,
.plugins-salerecords-tips-bottom-center {
  position: fixed;
  left: calc(50% - 170rpx);
  top: 50%;
  background: rgb(0 0 0 / 60%);
  border-radius: 60rpx;
  padding: 8rpx 20rpx;
  color: #fff;
  z-index: 110;
  -webkit-box-shadow: 0 8px 10px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 10px rgb(0 0 0 / 20%);
}
.plugins-salerecords-tips image ,
.plugins-salerecords-tips-top-left image ,
.plugins-salerecords-tips-top-right image ,
.plugins-salerecords-tips-bottom-left image ,
.plugins-salerecords-tips-bottom-right image,
.plugins-salerecords-tips-top-center image,
.plugins-salerecords-tips-bottom-center image {
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
}
.plugins-salerecords-tips-top-left {
  left: 5%;
  top: 5%;
}
.plugins-salerecords-tips-top-right {
  right: 5%;
  top: 5%;
  left: auto;
}
.plugins-salerecords-tips-bottom-left {
  left: 5%;
  bottom: 10%;
  top: auto;
}
.plugins-salerecords-tips-bottom-right {
  right: 5%;
  bottom: 10%;
  left: auto;
  top: auto;
}
.plugins-salerecords-tips-top-center {
  top: 5%;
}
.plugins-salerecords-tips-bottom-center {
  bottom: 10%;
  top: auto;
}

/**
 * 多商户 - 插件
 */
.plugins-shop-container {
  padding: 20rpx 10rpx;
}
.plugins-shop-logo {
  width: 120rpx;
  height: 120rpx !important;
}
.plugins-shop-base {
  width: calc(100% - 190rpx);
  padding-right: 50rpx;
}
.plugins-shop-title {
  font-size: 32rpx;
  font-weight: bold;
  line-height: 40rpx;
}
.plugins-shop-auth-icon {
  background-color: #f4c985;
  border: 1px solid #e7ba77;
  border-radius: 6rpx;
  color: #856651;
  text-align: center;
  padding: 2rpx 12rpx;
  font-size: 24rpx;
  font-weight: bold;
  margin-right: 10rpx;
}
.plugins-shop-desc {
  color: #888;
  font-size: 24rpx;
  min-height: 72rpx;
  line-height: 36rpx;
}