<include file="Public/Header" />

<!-- nav start -->
<include file="Public/Nav" />
<!-- nav end -->

<!-- header top nav -->
<include file="Public/HeaderTopNav" />

<!-- search -->
<include file="Public/NavSearch" />

<!-- header nav -->
<include file="Public/HeaderNav" />

<!-- banner -->
<include file="Public/HomeBanner" />

<!-- goods category -->
<include file="Public/GoodsCategory" />

<div class="am-container slideall">
	<!-- 轮播右侧-内容1 -->
	<div class="am-g am-g-fixed small-nav">
		<div class="am-u-sm-3">
			<a href="{{:U('Home/Category/Index')}}">
				<div class="nav-icon mini-nav-goods-category">
					<img src="__PUBLIC__/Home/{{$default_theme}}/Images/home-mini-nav-category-icon.png" />
				</div>
				<div class="mini-nav-title">分类</div>
			</a>
		</div>
		<div class="am-u-sm-3">
			<a <if condition="empty($user)">href="javascript:;" class="login-event"<else /> href="{{:U('Home/Cart/Index')}}"</if>>
				<div class="nav-icon mini-nav-cart">
					<img src="__PUBLIC__/Home/{{$default_theme}}/Images/home-mini-nav-cart-icon.png" />
				</div>
				<div class="mini-nav-title">购物车</div>
			</a>
		</div>
		<div class="am-u-sm-3">
			<a href="#">
				<div class="nav-icon mini-nav-seconds">
					<img src="__PUBLIC__/Home/{{$default_theme}}/Images/home-mini-nav-seconds-icon.png" />
				</div>
				<div class="mini-nav-title">秒杀</div>
			</a>
		</div>
		<div class="am-u-sm-3">
			<a <if condition="empty($user)">href="javascript:;" class="login-event"<else /> href="{{:U('Home/User/Index')}}"</if>>
				<div class="nav-icon mini-nav-user">
					<img src="__PUBLIC__/Home/{{$default_theme}}/Images/home-mini-nav-user-icon.png" />
				</div>
				<div class="mini-nav-title">我的</div>
			</a>
		</div>
	</div>

	<!--轮播右侧-内容2 -->
	<div class="marqueen">
		<div class="mod-vip">
			<div class="m-baseinfo">
				<a href="<if condition="!empty($user)">{{:u('Home/User/Index')}}<else />javascript:;</if>">
					<img src="<if condition="!empty($user['avatar'])">{{$user.avatar}}<else />__PUBLIC__/Home/{{$default_theme}}/Images/default-user-avatar.jpg</if>" class="user-avatar" />
				</a>
				<em>
					<span class="s-name">
						<if condition="!empty($user)">
							Hi, {{$user.user_name_view}}
						<else />
							您好，欢迎来到 {{:MyC('home_site_name')}}
						</if>
					</span>
				</em>
				<if condition="!empty($user)">
					<a href="{{:U('Home/User/Logout')}}" class="member-logout">退出</a>
				</if>
			</div>
			<if condition="empty($user) and (MyC('home_user_login_state') eq 1 or in_array('sms', MyC('home_user_reg_state')) or in_array('email', MyC('home_user_reg_state')))">
				<div class="member-login">
					<if condition="MyC('home_user_login_state') eq 1">
						<a class="am-btn-primary btn" href="{{:U('Home/User/LoginInfo')}}">登录</a>
					</if>
					<if condition="in_array('sms', MyC('home_user_reg_state')) or in_array('email', MyC('home_user_reg_state'))">
						<a class="am-btn-primary btn" href="{{:U('Home/User/RegInfo')}}">注册</a>
					</if>
				</div>
			</if>
			<if condition="!empty($user)">
				<div class="member-center">
					<notempty name="user_order_status">
						<foreach name="user_order_status" item="v">
							<if condition="in_array($v['status'], [1,2,3])">
								<a href="{{:U('Home/Order/Index', ['is_more'=>1, 'status'=>$v['status']])}}"><strong>{{$v.count}}</strong>{{$v.name}}</a>
							<elseif condition="in_array($v['status'], [100])" />
								<a href="{{:U('Home/Order/Index', ['is_more'=>1, 'is_comments'=>0, 'status'=>4])}}"><strong>{{$v.count}}</strong>{{$v.name}}</a>
							</if>
						</foreach>
					</notempty>
				</div>
			</if>
		</div>
		<span class="marqueen-title">新闻头条</span>
		<div class="banner-news">
			<ul>
				<if condition="!empty($article_list)">
        			<foreach name="article_list" item="article">
						<li>
							<a target="_blank" href="#">
								<span>[{{$article.category_name}}]</span>
								<span <notempty name="article.title_color">style="color:{{$article.title_color}};"</notempty> >{{$article.title}}</span>
							</a>
						</li>
					</foreach>
				</if>
			</ul>
		</div>
	</div>
</div>

<!-- 主内容 -->
<div class="home-floor">
	<!-- 楼层 -->
	<if condition="!empty($goods_floor_list)">
        <foreach name="goods_floor_list" item="floor">
        	<if condition="isset($floor['is_home_recommended']) and $floor['is_home_recommended'] eq 1">
				<div id="floor{{$key+1}}">
					<div class="am-container">
						<div class="items-nav-title">
							<h4>{{$floor.name}}</h4>
							<h3>{{$floor.vice_name}}</h3>
							<div class="today-brands ">
								<if condition="!empty($floor['items'])">
            						<foreach name="floor.items" key="key" item="category">
            							<if condition="!empty($category['items'])">
	                						<foreach name="category.items" key="keys" item="categorys">
	                							<if condition="$key lt 6 and $keys eq 0 and isset($categorys['is_home_recommended']) and $categorys['is_home_recommended'] eq 1">
													<a href="{{:U('Home/Search/Index', ['category_id'=>$categorys['id']])}}">{{$categorys.name}}</a>
												</if>
											</foreach>
										</if>
									</foreach>
								</if>
							</div>
							<span class="more">
		            			<a href="{{:U('Home/Search/Index', ['category_id'=>$floor['id']])}}">更多<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
		                	</span>
						</div>
					</div>
					
					<div class="am-g am-g-fixed flood" <if condition="!empty($floor['bg_color'])">style="background-color:{{$floor.bg_color}};"<else />style="background-color:#eaeaea;"</if>>
						<div class="am-u-sm-5 am-u-md-4 text-one list" >
							<div class="word">
								<if condition="!empty($floor['items'])">
            						<foreach name="floor.items" item="category">
            							<if condition="$key lt 6 and isset($category['is_home_recommended']) and $category['is_home_recommended'] eq 1">
											<a href="{{:U('Home/Search/Index', ['category_id'=>$category['id']])}}" class="outer">
												<span class="inner">
													<b class="text">{{:mb_substr($category['name'], 0, 4, 'utf-8')}}</b>
												</span>
											</a>
										</if>
									</foreach>
								</if>			
							</div>
							<a href="{{:U('Home/Search/Index', ['category_id'=>$floor['id']])}}">
								<div class="outer-con">
									<div class="describe">{{$floor.describe}}</div>
								</div>
								<if condition="!empty($floor['big_images'])">
			                        <img src="{{$floor.big_images}}" />
			                    </if>
							</a>
							<div class="triangle-topright"></div>
						</div>

						<if condition="!empty($floor.goods)">
			                <foreach name="floor.goods" item="goods">
								<div class="goods-items <if condition="in_array($key, [0,1])">am-u-sm-7 am-u-md-4 text-two<else />am-u-sm-6 am-u-md-2 text-three</if>  <if condition="in_array($key, [0,3])">sug</if> <if condition="in_array($key, [2,5])">big</if> <if condition="$key eq 5">last</if>">
									<div class="outer-con">
										<div class="goods-title ellipsis">
											<a href="{{$goods['goods_url']}}" <notempty name="goods.title_color">style="color:{{$goods.title_color}};"</notempty>>{{$goods.title}}</a>
										</div>
										<div class="price">￥{{$goods.price}}</div>
									</div>
									<a href="{{$goods['goods_url']}}">
										<img src="{{$goods.home_recommended_images}}" />
									</a>
								</div>
			                </foreach>
			            </if>
					</div>
				</div>
			</if>
		</foreach>
	</if>
</div>

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->