<!-- 首页轮播 start -->
<div class="banner">
    <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
        <ul class="am-slides">
            <if condition="!empty($banner_list)">
                <foreach name="banner_list" item="banner">
                    <if condition="!empty($banner['images_url'])">
                        <li <if condition="!empty($banner['bg_color'])">style="background: {{$banner.bg_color}};"</if> title="{{$banner.name}}">
                            <a href="<if condition="!empty($banner['jump_url'])">{{$banner.jump_url}}<else />javascript:;</if>" target="_blank"><img src="{{$banner.images_url}}" /></a>
                        </li>
                    </if>
                </foreach>
            </if>
        </ul>
    </div>
</div>
<!-- 首页轮播 end -->