<!-- 继承公共的 detail -->
{{extend name="public/module/detail" /}}

<!-- 详情内容  -->
{{if !empty($data)}}
    {{block name="detail_data"}}
        <dl class="dl-content">
            <dt>用户头像</dt>
            <dd>
                {{if !empty($data['avatar'])}}
                    <img src="{{$data['avatar']}}" class="am-img-thumbnail am-radius" width="80" height="80" />
                {{else /}}
                    <span class="cr-ddd">暂无图片</span>
                {{/if}}
            </dd>

            <dt>用户名</dt>
            <dd>{{if empty($data['username'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$data.username}}{{/if}}</dd>

            <dt>昵称</dt>
            <dd>{{if empty($data['nickname'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$data.nickname}}{{/if}}</dd>

            <dt>手机号码</dt>
            <dd>{{if empty($data['mobile'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$data.mobile}}{{/if}}</dd>

            <dt>电子邮箱</dt>
            <dd>{{if empty($data['email'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$data.email}}{{/if}}</dd>

            <dt>状态</dt>
            <dd>{{if empty($data['status_text'])}}<span class="cr-ddd">未知</span>{{else /}}{{$data.status_text}}{{/if}}</dd>

            <dt>支付宝openid</dt>
            <dd>{{if empty($data['alipay_openid'])}}<span class="cr-ddd">未知</span>{{else /}}{{$data.alipay_openid}}{{/if}}</dd>

            <dt>百度openid</dt>
            <dd>{{if empty($data['baidu_openid'])}}<span class="cr-ddd">未知</span>{{else /}}{{$data.baidu_openid}}{{/if}}</dd>

            <dt>头条openid</dt>
            <dd>{{if empty($data['toutiao_openid'])}}<span class="cr-ddd">未知</span>{{else /}}{{$data.toutiao_openid}}{{/if}}</dd>

            <dt>QQopenid</dt>
            <dd>{{if empty($data['qq_openid'])}}<span class="cr-ddd">未知</span>{{else /}}{{$data.qq_openid}}{{/if}}</dd>

            <dt>QQunionid</dt>
            <dd>{{if empty($data['qq_unionid'])}}<span class="cr-ddd">未知</span>{{else /}}{{$data.qq_unionid}}{{/if}}</dd>

            <dt>微信openid</dt>
            <dd>{{if empty($data['weixin_openid'])}}<span class="cr-ddd">未知</span>{{else /}}{{$data.weixin_openid}}{{/if}}</dd>

            <dt>微信unionid</dt>
            <dd>{{if empty($data['weixin_unionid'])}}<span class="cr-ddd">未知</span>{{else /}}{{$data.weixin_unionid}}{{/if}}</dd>

            <dt>微信webopenid</dt>
            <dd>{{if empty($data['weixin_web_openid'])}}<span class="cr-ddd">未知</span>{{else /}}{{$data.weixin_web_openid}}{{/if}}</dd>

            <dt>性别</dt>
            <dd>{{if empty($data['gender_text'])}}<span class="cr-ddd">未设置</span>{{else /}}{{$data.gender_text}}{{/if}}</dd>

            <dt>生日</dt>
            <dd>{{if empty($data['birthday_text'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$data.birthday_text}}{{/if}}</dd>

            <dt>所在省</dt>
            <dd>{{if empty($data['province'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$data.province}}{{/if}}</dd>

            <dt>所在市</dt>
            <dd>{{if empty($data['city'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$data.city}}{{/if}}</dd>

            <dt>详细地址</dt>
            <dd>{{if empty($data['address'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$data.address}}{{/if}}</dd>

            <dt>积分</dt>
            <dd>{{if empty($data['integral'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$data.integral}}{{/if}}</dd>

            <dt>邀请用户ID</dt>
            <dd>{{$data.referrer}}</dd>

            <dt>注册时间</dt>
            <dd>{{$data.add_time}}</dd>

            <dt>更新时间</dt>
            <dd>{{$data.upd_time}}</dd>
        </dl>
    {{/block}}
{{/if}}