<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form form-validation view-save" action="{{:U('Admin/Slide/Save')}}" method="POST" request-type="ajax-url" request-value="{{:U('Admin/Slide/Index')}}" enctype="multipart/form-data">
			<input type="hidden" name="max_file_size" value="{{:MyC('home_max_limit_image', 2048000)}}" />
			<legend>
				<span class="fs-16">
					<if condition="empty($data['id'])">
						{{:L('slide_add_name')}}
					<else />
						{{:L('slide_edit_name')}}
					</if>
				</span>
				<a href="{{:U('Admin/Slide/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> {{:L('common_operation_back')}}</a>
			</legend>
			<div class="am-form-group">
				<label>{{:L('slide_name_text')}}</label>
				<input type="text" name="name" placeholder="{{:L('slide_name_text')}}" minlength="2" maxlength="60" data-validation-message="{{:L('slide_name_format')}}" class="am-radius" <notempty name="data"> value="{{$data.name}}"</notempty> required />
			</div>
			<div class="am-form-group">
				<label>{{:L('common_platform_text')}}</label>
				<select name="platform" class="am-radius chosen-select" placeholder="{{:L('common_platform_format')}}">
					<foreach name="common_platform_type" item="v">
						<option value="{{$v.value}}" <if condition="isset($data['platform']) and $data['platform'] eq $v['value']">selected<else /><if condition="!isset($data['platform']) and isset($v['checked']) and $v['checked'] eq true">selected</if></if>>{{$v.name}}</option>
					</foreach>
				</select>
			</div>

			<div class="am-form-group">
				<label>{{:L('common_jump_url_text')}}</label>
				<input type="text" name="jump_url" placeholder="{{:L('common_jump_url_text')}}" data-validation-message="{{:L('common_jump_url_format')}}" class="am-radius" <notempty name="data"> value="{{$data.jump_url}}"</notempty> />
			</div>
			<div class="am-form-group">
				<label>{{:L('common_jump_url_type_text')}}<span class="fs-12 fw-100 cr-999">（{{:L('common_jump_url_type_tips')}}）</span></label>
				<select name="jump_url_type" class="am-radius chosen-select" placeholder="{{:L('common_jump_url_type_format')}}">
					<foreach name="common_jump_url_type" item="v">
						<option value="{{$v.value}}" <if condition="isset($data['jump_url_type']) and $data['jump_url_type'] eq $v['value']">selected<else /><if condition="!isset($data['jump_url_type']) and isset($v['checked']) and $v['checked'] eq true">selected</if></if>>{{$v.name}}</option>
					</foreach>
				</select>
			</div>

			<div class="am-form-group am-form-file">
				<label class="block">{{:L('slide_images_url_text')}}</label>
				<button type="button" class="am-btn am-btn-default am-btn-sm am-radius">
				<i class="am-icon-cloud-upload"></i> {{:L('common_select_images_text')}}</button>
				<input type="text" name="images_url" class="am-radius js-choice-one original-images-url" data-choice-one-to=".images-file-event" <notempty name="data"> value="{{$data.images_url}}"</notempty>" data-validation-message="{{:L('common_select_images_tips')}}" readonly="readonly" <notempty name="data"> value="{{$data.images_url}}"</notempty> required />
				<input type="file" name="file_images_url" multiple data-validation-message="{{:L('common_select_images_tips')}}" accept="image/gif,image/jpeg,image/jpg,image/png" class="js-choice-one images-file-event" data-choice-one-to=".original-images-url" data-tips-tag="#form-images_url-tips" data-image-tag="#form-img-images_url" required />
				<div id="form-images_url-tips" class="m-t-5"></div>
				<img src="<if condition="!empty($data['images_url'])">{{$image_host}}{{$data.images_url}}<else />{{$image_host}}/Public/Admin/Default/Images/default-images.png</if>" id="form-img-images_url" class="block m-t-5 am-img-thumbnail am-radius" width="300" height="150" data-default="<if condition="!empty($data['images_url'])">{{$image_host}}{{$data.images_url}}<else />{{$image_host}}/Public/Admin/Default/Images/default-images.png</if>" />
			</div>
			<div class="am-form-group">
				<label>{{:L('common_background_color')}}</label>
				<input type="hidden" name="bg_color" value="" />
				<button class="am-btn am-btn-default colorpicker-submit bg-color-tag am-btn-block bk-cr-white t-r" type="button" data-input-tag="button.bg-color-tag" data-color-tag="input[name='bg_color']" data-color-style="background-color" <notempty name="data"> style="background-color:{{$data.bg_color}};"</notempty>>
					<img src="__PUBLIC__/Common/Images/colorpicker.png" />
				</button>
			</div>
			<include file="Lib/Enable" />
			<div class="am-form-group">
				<input type="hidden" name="id" <notempty name="data"> value="{{$data.id}}"</notempty> />
				<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
			</div>
		</form>
        <!-- form end -->
	</div>
</div>
<!-- right content end  -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->