<?php
// +----------------------------------------------------------------------
// | ShopXO 国内领先企业级B2C免费开源电商系统
// +----------------------------------------------------------------------
// | Copyright (c) 2011~2019 http://shopxo.net All rights reserved.
// +----------------------------------------------------------------------
// | Licensed ( http://www.apache.org/licenses/LICENSE-2.0 )
// +----------------------------------------------------------------------
// | Author: Devil
// +----------------------------------------------------------------------

// +----------------------------------------------------------------------
// | 路由规则
// +----------------------------------------------------------------------
use think\facade\Route;

// 分隔符
$ds = MyC('common_route_separator', '-', true);

// 商品详情
Route::get('goods'.$ds.':id', 'goods/index');

// 搜索
Route::rule('search', 'search/index', 'GET|POST');
Route::post('search-goods', 'search/goodslist');

// 分类
Route::get('category', 'category/index');

// 自定义页面
Route::get('custom'.$ds.':id', 'customview/index');

// 购物车
Route::get('cart', 'cart/index');

// 订单确认
Route::rule('buy', 'buy/index', 'GET|POST');
Route::post('buy-add', 'buy/add');

// 文章
Route::rule('article-category'.$ds.'[:id]', 'article/category', 'GET|POST');
Route::get('article'.$ds.':id', 'article/index');

// 页面设计
Route::get('design'.$ds.':id', 'design/index');

// 用户
Route::get('login', 'user/logininfo');
Route::get('login'.$ds.'modal', 'user/modallogininfo');
Route::get('regster', 'user/reginfo');
Route::get('regster'.$ds.'sms', 'user/smsreginfo');
Route::get('regster'.$ds.'email', 'user/emailreginfo');
Route::get('forget', 'user/forgetpwdinfo');
Route::get('logout', 'user/logout');

// 插件调用
Route::rule(':pluginsname'.$ds.'[:pluginscontrol]'.$ds.'[:pluginsaction]'.$ds.'[:id]','plugins/index')->completeMatch();
Route::rule(':pluginsname'.$ds.':pluginscontrol'.$ds.':pluginsaction'.$ds.'[:id]','plugins/index');
?>