<!-- 继承公共的 form -->
{{extend name="public/module/detail" /}}

<!-- 重写数据模块 -->
{{block name="detail_data"}}
    <!-- 父级内容 -->
    {__block__}
    
    <!-- 菜单权限 -->
    <div class="am-panel am-panel-default am-radius">
        <div class="am-panel-hd">{{:MyLang('common_service.role.form_item_menu')}}</div>
        <div class="am-panel-bd">
            <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-gallery-bordered">
                {{if !empty($data['power'])}}
                    {{foreach $data.power as $item}}
                        <li>
                            <div class="am-gallery-item">{{$item}}</div>
                        </li>
                    {{/foreach}}
                {{else /}}
                    {{include file="public/not_data" /}}
                {{/if}}
            </ul>
        </div>
    </div>

    <!-- 插件权限 -->
    <div class="am-panel am-panel-default am-radius">
        <div class="am-panel-hd">{{:MyLang('common_service.role.form_item_plugins')}}</div>
        <div class="am-panel-bd">
            <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-gallery-bordered">
                {{if !empty($data['power_plugins'])}}
                    {{foreach $data.power_plugins as $item}}
                        <li>
                            <div class="am-gallery-item">{{$item}}</div>
                        </li>
                    {{/foreach}}
                {{else /}}
                    {{include file="public/not_data" /}}
                {{/if}}
            </ul>
        </div>
    </div>
{{/block}}