<!-- 继承公共的 form -->
{{extend name="../../../module/view/form_table/form" /}}

<!-- 表单顶部操作栏 -->
{{block name="form_operate_top"}}
    <a href="{{:MyUrl('admin/role/saveinfo')}}" class="am-btn am-btn-primary am-radius am-btn-xs">
        <i class="iconfont icon-btn-add am-show-sm-only"></i>
        <span>{{:MyLang('add_title')}}</span>
    </a>
    <!-- 父级内容 -->
    {__block__}
{{/block}}

<!-- 底部提示信息 -->
{{block name="form_operate_bottom"}}
    <div class="am-tips-card">
        <p>{{:MyLang('role.admin_not_modify_tips')}}</p>
    </div>
{{/block}}