<!-- 布局/模块导航-->
<div class="am-tabs renovation-tabs" data-am-tabs="{noSwipe: 1}" data-am-sticky>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active" data-value="structure">
            <a href="#renovation-tabs-structure">布局</a>
        </li>
        <li data-value="module">
            <a href="#renovation-tabs-module">模块</a>
        </li>
    </ul>
    <div class="am-tabs-bd am-padding-sm">
        <!-- 布局 -->
        <div class="renovation-panel am-active" id="renovation-tabs-structure">
            <div class="structure-drag scrollspy-nav">
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="100">100%</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="6:6">6 : 6</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="8:4">8 : 4</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="4:8">4 : 8</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="9:3">9 : 3</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="3:9">3 : 9</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="6:3:3">6 : 3 : 3</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="3:6:3">3 : 6 : 3</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="3:3:6">3 : 3 : 6</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="4:4:4">x 3</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="3:3:3:3">x 4</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="2:2:2:2:2:2">x 6</button>
            </div>
        </div>

        <!-- 模块 -->
        <div class="renovation-panel am-hide" id="renovation-tabs-module">
            <div class="renovation-drag scrollspy-nav">
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="images">单图</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="many-images">多图</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="images-text">图文</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="images-magic-cube">图片魔方</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="video">视频</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="goods">商品</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="title">标题</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="custom">自定义html</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="border">辅助线</button>
                <button type="button" draggable="true" class="am-btn am-btn-default am-radius am-btn-xs am-margin-xs" data-value="height">辅助空白</button>
            </div>
        </div>
    </div>
</div>

<!-- 拖拽容器-->
<div class="layout-container am-padding-sm am-margin-top-sm" 
    data-switch-on-text="开启" 
    data-switch-off-text="关闭" 
    data-edit-name="修改" 
    data-layout-set-title="布局设置" 
    data-layout-del-title="布局移除" 
    data-layout-content-set-tips="容器设置" 
    data-layout-content-tips="模块内容区域" 
    data-module-drag-title="拖拽排序" 
    data-module-set-title="模块设置" 
    data-module-del-title="模块移除" 
    data-module-not-exist-tips="模块未定义" 
    data-module-assembly-not-exist-tips="模块组件未定义" 
    data-type-event-not-exist-tips="类型事件未定义" 
    data-params-tips="参数值有误" 
    data-module-tab-tips="模块标记有误" 
    data-module-attr-tips="模块属性有误" 
    data-config-first-tips="请配置" 
    data-url-not-set-tips="未设置链接地址" 
    data-goods-category-name="商品分类" 
    data-brand-name="品牌" 
    data-keywords-name="关键字" 
    data-config-images-text-tips="请先添加图文并配置" 
    data-upload-images-or-title-tips="图片和标题必填一项" 
    data-upload-images-name="上传图片" 
    data-upload-images-tips="请上传图片" 
    data-config-images-tips="请先添加图片并配置" 
    data-upload-video-tips="请上传视频" 
    data-choice-goods-tips="请选择商品" 
    data-goods-data-empty-tips="商品信息为空" 
    data-choice-goods-category-tips="请选择商品分类" 
    data-data-type-tips="数据类型有误" 
    data-main-title-tips="请填写主标题" 
    data-border-style-tips="请选择边线类型" 
    data-border-style-max-tips="请输入边线、最大10的数字" 
    data-height-max-tips="请输入高度、最大100的数字" 
    data-keywords-tips="请填写关键字" 
    data-before-choice-goods-tips="请先选择商品" 
    data-before-choice-goods-category-tips="请先选择商品分类" 
    data-before-choice-brand-tips="请先选择品牌" 
    data-before-input-keywords-tips="请先输入关键字1~30个字符" 
    data-before-choice-page-tips="请先选择页面" 
    data-before-choice-url-position-tips="请先选择链接位置" 
    data-before-config-goods-search-tips="请先配置商品搜索" 
    data-choice-url-tips="请选择跳转链接" 
    data-layout-reminder-title="温馨提示" 
    data-layout-reminder-msg="移除后不可恢复、确定继续吗？" 
    data-layout-container-tips="布局拖放到该区域松开鼠标即可" 
    data-search-goods-tips="请搜索商品" 
    data-custom-url-name="自定义链接" 
    data-custom-url-tips="请至少填写一个地址" 
    data-data-show-modal-tips="请选择数据展示模式" 
    data-data-show-modal-error-tips="展示模式有误" 
>
    {{if !empty($layout_data) and is_array($layout_data)}}
        {{foreach $layout_data as $k=>$v}}
            {{if !empty($v['value']) and !empty($v['children']) and is_array($v['children']) and !empty($v['value_arr']) and count($v['children']) eq count($v['value_arr'])}}
                <div class="layout-view {{if $v['status'] eq 0}}layout-view-hidden{{/if}}" data-value="{{$v.value}}">
                    <i class="layout-view-dragenter-icon am-icon-sort-asc am-icon-lg am-hide"></i>
                    <div class="layout-content-submit drag-submit">
                        <input type="checkbox" class="switch-checkbox" data-size="xs" data-on-color="success" data-off-color="warning" data-off-text="关闭" data-on-text="开启" {{if isset($v['status']) and $v['status'] eq 1}}checked="true"{{/if}} />
                        <button type="button" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-square-o layout-submit layout-submit-set"> 布局设置</button>
                        <button type="button" class="am-btn am-btn-danger am-radius am-btn-xs am-icon-trash-o layout-submit layout-submit-del"> 布局移除</button>
                    </div>
                    <div class="layout-content-children {{if !empty($v['config']) and !empty($v['config']['frontend_config'])}}{{$v.config.frontend_config.ent}}{{/if}}" data-json="{{if !empty($v['config'])}}{{:urlencode(base64_encode(json_encode($v['config'])))}}{{/if}}" style="{{if !empty($v['config']) and !empty($v['config']['frontend_config'])}}{{$v.config.frontend_config.style}}{{/if}}{{if !empty($v['config']['style_background_images'])}}background-image:url({{$v.config.style_background_images}});{{/if}}">
                        {{foreach $v.children as $ks=>$vs}}
                            {{if count($v['value_arr']) eq 1}}
                                {{include file="../../../layout/view/public/common/module_admin" /}}
                            {{else /}}
                                <div class="am-u-md-{{$v['value_arr'][$ks]}}">
                                    {{include file="../../../layout/view/public/common/module_admin" /}}
                                </div>
                            {{/if}}
                        {{/foreach}}
                    </div>
                </div>
            {{/if}}
        {{/foreach}}
    {{else /}}
        <div class="layout-container-tips">布局拖放到该区域松开鼠标即可</div>
    {{/if}}
</div>
<!-- 侧边栏 - 布局 - 容器设置 -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_layout_config" /}}

<!-- 侧边栏 - 模块配置 - 单图 -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_module_config_images" /}}

<!-- 侧边栏 - 模块配置 - 多图 -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_module_config_many_images" /}}

<!-- 侧边栏 - 模块配置 - 图文 -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_module_config_images_text" /}}

<!-- 侧边栏 - 模块配置 - 图片魔方 -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_module_config_images_magic_cube" /}}

<!-- 侧边栏 - 模块配置 - 视频 -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_module_config_video" /}}

<!-- 侧边栏 - 模块配置 - 商品 -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_module_config_goods" /}}

<!-- 侧边栏 - 模块配置 - 标题 -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_module_config_title" /}}

<!-- 侧边栏 - 模块配置 - 自定义html -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_module_config_custom" /}}

<!-- 侧边栏 - 模块配置 - 辅助线 -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_module_config_border" /}}

<!-- 侧边栏 - 模块配置 - 辅助空白 -->
{{include file="../../../layout/view/public/offcanvas/offcanvas_module_config_height" /}}

<!-- 滚动设置 -->
{{include file="../../../layout/view/public/modal/modal_module_rolling_config" /}}

<!-- 列表设置 -->
{{include file="../../../layout/view/public/modal/modal_module_list_config" /}}

<!-- 关键字设置 -->
{{include file="../../../layout/view/public/modal/modal_module_title_keywords" /}}

<!-- 页面选择 -->
{{include file="../../../layout/view/public/modal/modal_module_pages_select" /}}

<!-- 商品选择 -->
{{include file="../../../layout/view/public/popup/popup_module_goods_select" /}}

<!-- 商品搜索 -->
{{include file="../../../layout/view/public/popup/popup_module_goods_search" /}}

<!-- 商品分类选择 -->
{{include file="../../../layout/view/public/popup/popup_module_goods_category" /}}