{{:ModuleInclude('public/header')}}

<!-- content start  -->
<div class="am-padding-sm packageinstall-container" data-url="{{$data.url}}" data-type="{{$data.type}}" data-id="{{$data.id}}" data-terminal="{{$data.terminal}}" data-admin-url="{{$data.admin_url}}">
    <!-- 进行中  -->
    <div class="table-no progress-container am-text-center">
        <p>
            <i class="am-icon-spinner am-icon-pulse am-icon-lg"></i>
        </p>
        <p class="msg-text am-margin-top-sm">{{:MyLang('packageinstall.get_loading_tips')}}</p>
    </div>

    <!-- 安装成功  -->
    <div class="table-no success-container am-text-center am-hide">
        <p>
            <i class="am-icon-check-circle am-icon-lg am-text-success"></i>
        </p>
        <p class="msg-text am-margin-top-sm">{{:MyLang('install_success')}}</p>
        <a class="am-btn am-btn-secondary am-btn-xs am-radius am-margin-top-lg" href="{{$data.admin_url}}">{{:MyLang('packageinstall.back_admin_title')}}</a>
    </div>

    <!-- 错误提示  -->
    <div class="table-no error-container am-hide">
        <p>
            <i class="am-icon-warning am-text-danger"></i>
            <span class="msg-text am-margin-left-xs am-text-danger">{{:MyLang('error')}}</span>
        </p>
        <a class="am-btn am-btn-secondary am-btn-xs am-radius am-margin-top-lg" href="{{$data.admin_url}}">{{:MyLang('packageinstall.back_admin_title')}}</a>
    </div>
</div>
<!-- content end  -->
        
<!-- footer start -->
{{:ModuleInclude('public/footer')}}