<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- table nav start -->
		<include file="Nav" />
		<!-- table nav end -->

		<!-- operation start -->
		<div class="am-g">
			<button class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus submit-add" data-am-modal="{target: '#nav-custom-save-win'}" data-tag="nav-custom-save-win"> {{:L('navigation_custom_operation_add')}}</button>
			<button class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus submit-add" data-am-modal="{target: '#nav-article_category-save-win'}" data-tag="nav-article_category-save-win"> {{:L('navigation_article_category_operation_add')}}</button>
			<button class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus submit-add" data-am-modal="{target: '#nav-customview-save-win'}" data-tag="nav-customview-save-win"> {{:L('navigation_customview_operation_add')}}</button>
			<button class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus submit-add" data-am-modal="{target: '#nav-goods_category-save-win'}" data-tag="nav-goods_category-save-win"> {{:L('navigation_goods_category_operation_add')}}</button>
		</div>
		<!-- operation end -->

		<!-- custom save win start -->
		<div class="am-popup am-radius" id="nav-custom-save-win">
			<div class="am-popup-inner">
				<div class="am-popup-hd">
					<h4 class="am-popup-title" data-add-title="{{:L('navigation_custom_operation_add')}}{{:L('navigation_add_name')}}" data-edit-title="{{:L('navigation_custom_operation_add')}}{{:L('navigation_edit_name')}}">{{:L('navigation_custom_operation_add')}}{{:L('navigation_add_name')}}</h4>
					<span data-am-modal-close class="am-close">&times;</span>
				</div>
				<div class="am-popup-bd">
					<!-- form start -->
					<form class="am-form form-validation" action="{{:U('Admin/Navigation/Save')}}" method="POST" request-type="ajax-reload" request-value="">
						<div class="am-form-group">
							<label>{{:L('navigation_level_text')}}</label>
							<select  class="am-radius c-p chosen-select" name="pid" data-validation-message="{{:L('navigation_level_format')}}">
								<option value="0">{{:L('common_select_level_one_choice')}}</option>
								<foreach name="nav_header_pid_list" item="v">
									<option value="{{$v.id}}">{{$v.name}}</option>
								</foreach>
							</select>
						</div>
						<div class="am-form-group">
							<label>{{:L('navigation_name_text')}}</label>
							<input type="text" placeholder="{{:L('navigation_name_text')}}" name="name" minlength="2" maxlength="16" data-validation-message="{{:L('navigation_name_format')}}" class="am-radius" required />
						</div>
						<div class="am-form-group">
							<label>{{:L('navigation_url_text')}}<span class="fs-12 fw-100 cr-999">（{{:L('navigation_url_text_tips')}}）</span></label>
							<input type="url" placeholder="{{:L('navigation_url_text')}}" name="url"  data-validation-message="{{:L('navigation_url_format')}}" class="am-radius" required />
						</div>
						<div class="am-form-group">
							<label>{{:L('common_view_sort_title')}}</label>
							<input type="number" placeholder="{{:L('common_view_sort_title')}}" name="sort" min="0" max="255" data-validation-message="{{:L('common_sort_error')}}" class="am-radius" value="0" required />
						</div>
						<include file="Lib/IsShow" />
						<include file="Lib/IsNewWindowOpen" />
						<div class="am-form-group">
							<input type="hidden" name="id" />
							<input type="hidden" name="data_type" value="custom" />
							<input type="hidden" name="nav_type" value="{{$nav_type}}" />
							<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
						</div>
					</form>
					<!-- form end -->
				</div>
			</div>
		</div>
		<!-- custom save win end -->

		<!-- article_category save win start -->
		<div class="am-popup am-radius" id="nav-article_category-save-win">
			<div class="am-popup-inner">
				<div class="am-popup-hd">
					<h4 class="am-popup-title" data-add-title="{{:L('navigation_article_category_operation_add')}}{{:L('navigation_add_name')}}" data-edit-title="{{:L('navigation_article_category_operation_add')}}{{:L('navigation_edit_name')}}">{{:L('navigation_article_category_operation_add')}}{{:L('navigation_add_name')}}</h4>
					<span data-am-modal-close class="am-close">&times;</span>
				</div>
				<div class="am-popup-bd">
					<!-- form start -->
					<form class="am-form form-validation-article_category" action="{{:U('Admin/Navigation/Save')}}" method="POST" request-type="ajax-reload" request-value="">
						<div class="am-form-group">
							<label>{{:L('navigation_level_text')}}</label>
							<select  class="am-radius c-p chosen-select" name="pid" data-validation-message="{{:L('navigation_level_format')}}">
								<option value="0">{{:L('common_select_level_one_choice')}}</option>
								<foreach name="nav_header_pid_list" item="v">
									<option value="{{$v.id}}">{{$v.name}}</option>
								</foreach>
							</select>
						</div>
						<div class="am-form-group">
							<label>{{:L('navigation_article_category_id_text')}}</label>
							<select  class="am-radius c-p chosen-select" name="value" data-placeholder="{{:L('common_please_select_choose')}}" data-validation-message="{{:L('navigation_article_category_id_format')}}" required>
								<option value="">{{:L('common_please_select_choose')}}</option>
								<foreach name="article_category_list" item="v">
									<option value="{{$v.id}}">{{$v.name}}</option>
								</foreach>
							</select>
						</div>
						<div class="am-form-group">
							<label>{{:L('navigation_name_text')}}<span class="fs-12 fw-100 cr-999">（{{:L('navigation_article_category_name_format')}}）</span></label>
							<input type="text" placeholder="{{:L('navigation_name_text')}}" name="name" maxlength="16" data-validation-message="{{:L('navigation_name_format')}}" class="am-radius" />
						</div>
						<div class="am-form-group">
							<label>{{:L('common_view_sort_title')}}</label>
							<input type="number" placeholder="{{:L('common_view_sort_title')}}" name="sort" min="0" max="255" data-validation-message="{{:L('common_sort_error')}}" class="am-radius" value="0" required />
						</div>
						<include file="Lib/IsShow" />
						<include file="Lib/IsNewWindowOpen" />
						<div class="am-form-group">
							<input type="hidden" name="id" />
							<input type="hidden" name="data_type" value="article_category" />
							<input type="hidden" name="nav_type" value="{{$nav_type}}" />
							<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
						</div>
					</form>
					<!-- form end -->
				</div>
			</div>
		</div>
		<!-- article_category save win end -->

		<!-- customview save win start -->
		<div class="am-popup am-radius" id="nav-customview-save-win">
			<div class="am-popup-inner">
				<div class="am-popup-hd">
					<h4 class="am-popup-title" data-add-title="{{:L('navigation_customview_operation_add')}}{{:L('navigation_add_name')}}" data-edit-title="{{:L('navigation_customview_operation_add')}}{{:L('navigation_edit_name')}}">{{:L('navigation_customview_operation_add')}}{{:L('navigation_add_name')}}</h4>
					<span data-am-modal-close
					class="am-close">&times;</span>
					</div>
				<div class="am-popup-bd">
					<!-- form start -->
					<form class="am-form form-validation-customview" action="{{:U('Admin/Navigation/Save')}}" method="POST" request-type="ajax-reload" request-value="">
						<div class="am-form-group">
							<label>{{:L('navigation_level_text')}}</label>
							<select  class="am-radius c-p chosen-select" name="pid" data-validation-message="{{:L('navigation_level_format')}}">
								<option value="0">{{:L('common_select_level_one_choice')}}</option>
								<foreach name="nav_header_pid_list" item="v">
									<option value="{{$v.id}}">{{$v.name}}</option>
								</foreach>
							</select>
						</div>
						<div class="am-form-group">
							<label>{{:L('navigation_customview_id_text')}}</label>
							<select  class="am-radius c-p chosen-select" name="value" data-placeholder="{{:L('common_please_select_choose')}}" data-validation-message="{{:L('navigation_customview_id_format')}}" required>
								<option value="">{{:L('common_please_select_choose')}}</option>
								<foreach name="customview_list" item="v">
									<option value="{{$v.id}}">{{$v.title}}</option>
								</foreach>
							</select>
						</div>
						<div class="am-form-group">
							<label>{{:L('navigation_name_text')}}<span class="fs-12 fw-100 cr-999">（{{:L('navigation_customview_name_format')}}）</span></label>
							<input type="text" placeholder="{{:L('navigation_name_text')}}" name="name" maxlength="16" data-validation-message="{{:L('navigation_name_format')}}" class="am-radius" />
						</div>
						<div class="am-form-group">
							<label>{{:L('common_view_sort_title')}}</label>
							<input type="number" placeholder="{{:L('common_view_sort_title')}}" name="sort" min="0" max="255" data-validation-message="{{:L('common_sort_error')}}" class="am-radius" value="0" required />
						</div>
						<include file="Lib/IsShow" />
						<include file="Lib/IsNewWindowOpen" />
						<div class="am-form-group">
							<input type="hidden" name="id" />
							<input type="hidden" name="data_type" value="customview" />
							<input type="hidden" name="nav_type" value="{{$nav_type}}" />
							<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
						</div>
					</form>
					<!-- form end -->
				</div>
			</div>
		</div>
		<!-- customview save win end -->

		<!-- goods_category save win start -->
		<div class="am-popup am-radius" id="nav-goods_category-save-win">
			<div class="am-popup-inner">
				<div class="am-popup-hd">
					<h4 class="am-popup-title" data-add-title="{{:L('navigation_goods_category_operation_add')}}{{:L('navigation_add_name')}}" data-edit-title="{{:L('navigation_goods_category_operation_add')}}{{:L('navigation_edit_name')}}">{{:L('navigation_goods_category_operation_add')}}{{:L('navigation_add_name')}}</h4>
					<span data-am-modal-close class="am-close">&times;</span>
				</div>
				<div class="am-popup-bd">
					<!-- form start -->
					<form class="am-form form-validation-goods_category" action="{{:U('Admin/Navigation/Save')}}" method="POST" request-type="ajax-reload" request-value="">
						<div class="am-form-group">
							<label>{{:L('navigation_level_text')}}</label>
							<select  class="am-radius c-p chosen-select" name="pid" data-validation-message="{{:L('navigation_level_format')}}">
								<option value="0">{{:L('common_select_level_one_choice')}}</option>
								<foreach name="nav_header_pid_list" item="v">
									<option value="{{$v.id}}">{{$v.name}}</option>
								</foreach>
							</select>
						</div>
						<div class="am-form-group">
							<label>{{:L('navigation_goods_category_id_text')}}</label>
							<select class="am-radius c-p chosen-select" name="value" data-placeholder="{{:L('common_please_select_choose')}}" data-validation-message="{{:L('navigation_goods_category_id_format')}}" required>
								<option value="">{{:L('common_please_select_choose')}}</option>
								<foreach name="goods_category_list" item="v">
									<option value="{{$v.id}}" <if condition="!empty($data['category_ids']) and in_array($v['id'], $data['category_ids'])">selected</if>>{{:L('navigation_category_level_one')}} - {{$v.name}}</option>
									<if condition="!empty($v['items'])">
										<foreach name="v.items" item="vs">
											<option style="padding-left: 30px;" value="{{$vs.id}}" <if condition="!empty($data['category_ids']) and in_array($vs['id'], $data['category_ids'])">selected</if>>{{:L('navigation_category_level_two')}} - {{$vs.name}}</option>
											<foreach name="vs.items" item="vss">
												<option style="padding-left: 60px;" value="{{$vss.id}}" <if condition="!empty($data['category_ids']) and in_array($vss['id'], $data['category_ids'])">selected</if>>{{:L('navigation_category_level_three')}} - {{$vss.name}}</option>
											</foreach>
										</foreach>
									</if>
								</foreach>
							</select>
						</div>
						<div class="am-form-group">
							<label>{{:L('navigation_name_text')}}<span class="fs-12 fw-100 cr-999">（{{:L('navigation_goods_category_name_format')}}）</span></label>
							<input type="text" placeholder="{{:L('navigation_name_text')}}" name="name" maxlength="16" data-validation-message="{{:L('navigation_name_format')}}" class="am-radius" />
						</div>
						<div class="am-form-group">
							<label>{{:L('common_view_sort_title')}}</label>
							<input type="number" placeholder="{{:L('common_view_sort_title')}}" name="sort" min="0" max="255" data-validation-message="{{:L('common_sort_error')}}" class="am-radius" value="0" required />
						</div>
						<include file="Lib/IsShow" />
						<include file="Lib/IsNewWindowOpen" />
						<div class="am-form-group">
							<input type="hidden" name="id" />
							<input type="hidden" name="data_type" value="goods_category" />
							<input type="hidden" name="nav_type" value="{{$nav_type}}" />
							<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
						</div>
					</form>
					<!-- form end -->
				</div>
			</div>
		</div>
		<!-- goods_category save win end -->

		<!-- list start -->
		<table class="am-table am-table-striped am-table-hover am-text-middle m-t-10">
			<thead>
				<tr>
					<th>{{:L('navigation_name_text')}}</th>
					<th>{{:L('common_nav_type_name')}}</th>
					<th>{{:L('common_view_status_title')}}</th>
					<th>{{:L('common_operation_name')}}</th>
				</tr>
			</thead>
			<tbody>
				<if condition="!empty($list)">
					<foreach name="list" item="v">
						<tr id="data-list-{{$v.id}}" <if condition="$v['is_show'] eq 0">class="am-active"</if>>
							<td>{{$v.name}}
								<a href="{{$v.url}}" target="_blank">
									<i class="am-icon-external-link"></i>
								</a>
							</td>
							<td>{{:L('common_nav_type_list')[$v['data_type']]}}</td>
							<td>
								<a href="javascript:;" class="am-icon-btn am-icon-check submit-state <if condition="$v['is_show'] eq 1">am-success<else />am-default</if>" data-url="{{:U('Admin/Navigation/StatusUpdate')}}" data-id="{{$v.id}}" data-state="{{$v['is_show']}}" data-is-update-status="1"></a>
							</td>
							<td>
								<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit submit-edit" data-am-modal="{target: '#nav-{{$v.data_type}}-save-win'}" data-json='{{:json_encode($v)}}' data-tag="nav-{{$v.data_type}}-save-win"></button>
								<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:U('Admin/Navigation/Delete')}}" data-id="{{$v.id}}"></button>
							</td>
						</tr>
						<if condition="!empty($list)">
							<foreach name="v.item" item="vs">
								<tr id="data-list-{{$vs.id}}" <if condition="$vs['is_show'] eq 0">class="am-active"</if>>
									<td class="p-l-30">{{$vs.name}}
										<a href="{{$vs.url}}" target="_blank">
											<i class="am-icon-external-link"></i>
										</a>
									</td>
									<td>{{:L('common_nav_type_list')[$vs['data_type']]}}</td>
									<td>
										<a href="javascript:;" class="am-icon-btn am-icon-check submit-state <if condition="$vs['is_show'] eq 1">am-success<else />am-default</if>" data-url="{{:U('Admin/Navigation/StatusUpdate')}}" data-id="{{$vs.id}}" data-state="{{$vs['is_show']}}" data-is-update-status="1"></a>
									</td>
									<td>
										<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit submit-edit" data-am-modal="{target: '#nav-{{$vs.data_type}}-save-win'}" data-json='{{:json_encode($vs)}}' data-tag="nav-{{$vs.data_type}}-save-win"></button>
										<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:U('Admin/Navigation/Delete')}}" data-id="{{$vs.id}}"></button>
									</td>
								</tr>
							</foreach>
						</if>
					</foreach>
				<else />
					<tr><td colspan="5" class="table-no">{{:L('common_not_data_tips')}}</td></tr>
				</if>
			</tbody>
		</table>
		<!-- list end -->
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->