{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:url('Admin/AlipayLifeMenu/ContentSave')}}" method="POST" request-type="ajax-url" request-value="{{:url('Admin/AlipayLifeMenu/ContentIndex', ['menu_id'=>$params['menu_id']])}}" enctype="multipart/form-data">
            <input type="hidden" name="max_file_size" value="{{:MyC('home_max_limit_image', 2048000)}}" />
            <legend>
                <span class="fs-16)}}生活号菜单创建/编辑</span>
                <a href="{{:url('Admin/AlipayLifeMenu/ContentIndex', ['menu_id'=>$params['menu_id']])}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
            </legend>

            {{if $menu['type'] eq 0 and !empty($alipay_life_menu_list)}}
                <div class="am-form-group">
                    <label>父级</label>
                    <select name="pid" class="am-radius c-p chosen-select" data-placeholder="可选择..." data-validation-message="请选择父级">
                        <option value="">可选择...</option>
                        <foreach name="alipay_life_menu_list" item="v">
                            <option value="{{$v.id}}" {{if isset($data['pid']) and $v['id'] eq $data['pid']">selected{{/if}}>{{$v.name}}</option>
                        {{/foreach}}
                    </select>
                </div>
            {{/if}}

            <div class="am-form-group">
                <label>名称</label>
                <input type="text" name="name" placeholder="名称" maxlength="5" data-validation-message="名称格式 1~5 个字符" class="am-radius" value="<notempty name="data.name">{{$data.name}}{{/if}}" required />
            </div>

            <div class="am-form-group">
                <label>事件类型</label>
                <select name="action_type" class="am-radius c-p chosen-select" data-placeholder="可选择..." data-validation-message="请选择事件类型" required>
                    <option value="">可选择...</option>
                    <foreach name="common_alipay_life_menu_action_type_list" item="v">
                        <option value="{{$v.value}}" {{if isset($data['action_type']) and $v['value'] eq $data['action_type']">selected{{/if}}>{{$v.name}}</option>
                    {{/foreach}}
                </select>
            </div>

            <div class="am-form-group">
                <label>事件值</label>
                <input type="text" name="action_value" placeholder="事件值" maxlength="250" data-validation-message="事件值格式最多 250 个字符" class="am-radius" value="<notempty name="data.action_value">{{$data.action_value}}{{/if}}" />
            </div>

            {{if $menu['type'] eq 1)}}
                <div class="am-form-group am-form-file">
                    <label class="block">图标</label>
                    <button type="button" class="am-btn am-btn-default am-btn-sm am-radius">
                    <i class="am-icon-cloud-upload"></i> 选择图片</button>
                    <input type="text" name="icon" class="am-radius js-choice-one original-images-url original-icon-images-url" data-choice-one-to='input[name="file_icon"]' data-validation-message="请上传图标" readonly="readonly" value="<notempty name="data.icon">{{$data.icon}}{{/if}}" required />
                    <input type="file" name="file_icon" multiple data-validation-message="请上传图标" accept="image/jpeg,image/jpg,image/png" class="js-choice-one images-file-event file_icon-tag" data-choice-one-to=".original-icon-images-url" data-tips-tag="#form-icon-tips" data-image-tag="#form-img-icon" required />
                    <div id="form-icon-tips" class="m-t-5)}}</div>
                    <notempty name="data.icon">
                        <img src="{{$image_host}}{{$data.icon}}" id="form-img-icon" class="block m-t-5 am-img-thumbnail am-radius" width="60" height="60" data-default="{{$image_host}}/Public/Admin/Default/Images/default-images.png" />
                    {{/if}}
                    <empty name="data.icon">
                        <img src="{{$image_host}}/Public/Admin/Default/Images/default-images.png" id="form-img-icon" class="block m-t-5 am-img-thumbnail am-radius" width="60" height="60" data-default="{{$image_host}}/Public/Admin/Default/Images/default-images.png" />
                    {{/if}}
                </div>
            {{/if}}

            <div class="am-form-group">
                <label>顺序</label>
                <input type="number" placeholder="顺序" name="sort" min="0" max="255" data-validation-message="顺序 0~255 之间的数值" class="am-radius" value="{{if isset($data['sort'])}}{{$data.sort}}{{else /}}0{{/if}}" required />
            </div>

            <div class="am-form-group">
                <input type="hidden" name="id" value="{{$data.id}}" />
                <input type="hidden" name="menu_id" value="{{$params.menu_id}}" />
                <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'处理中...'}">保存</button>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->
        
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->