{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- back nav start -->
        <legend>
            <span class="fs-16)}}生活号菜单内容</span>
            <a href="{{:url('Admin/AlipayLifeMenu/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
        </legend>
        <!-- back nav end -->

        <!-- tips start -->
        <div class="am-alert am-alert-warning am-radius" data-am-alert>
            <button type="button" class="am-close">&times;</button>
            <p>1.图标菜单图片大小必须 60X60 像数，最大不超过5M<br />2.图标菜单建议不超过8个<br />3.图标菜单不支持二级<br /><br />1.底部一级菜单最多4个，如已开启客服功能则最多3个<br />2.底部二级菜单最多5个</p>
        </div>
        <!-- tips end -->

        <!-- operation start -->
        <div class="am-g">
            <a href="{{:url('Admin/AlipayLifeMenu/ContentSaveInfo', ['menu_id'=>$params['menu_id']])}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> 新增</a>
        </div>
        <!-- operation end -->

        <!-- list start -->
        <table class="am-table am-table-striped am-table-hover am-text-middle m-t-1)}}
            <thead>
                <tr>
                    <th>名称</th>
                    <th>事件类型</th>
                    <th>事件值</th>
                    <th class="am-hide-sm-only">图标</th>
                    <th>更多</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{if !empty($list)}}
                    <foreach name="list" item="v">
                        <tr id="data-list-{{$v.id}}">
                            <td>
                                {{if empty($v['name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.name}}{{/if}}
                            </td>
                            <td>
                                {{if empty($v['action_type_name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.action_type_name}}{{/if}}
                            </td>
                            <td>
                                {{if empty($v['action_value'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.action_value}}{{/if}}
                            </td>
                            <td class="am-hide-sm-only">
                                {{if !empty($v['icon'])}}
                                    <a href="{{$v['icon']}}" target="_blank">
                                        <img src="{{$v['icon']}}" class="am-radius" width="60" />
                                    </a>
                                {{else /}}
                                    <span class="cr-ddd">暂无图片</span>
                                {{/if}}
                            </td>
                            <td>
                                <span class="am-icon-caret-down c-p" data-am-modal="{target: '#my-popup{{$v.id}}'}"> 查看更多</span>
                                <div class="am-popup am-radius" id="my-popup{{$v.id}}">
                                    <div class="am-popup-inner">
                                        <div class="am-popup-hd">
                                            <h4 class="am-popup-title">详情内容</h4>
                                            <span data-am-modal-close class="am-close">&times;</span>
                                        </div>
                                        <div class="am-popup-bd">
                                            <dl class="dl-content">
                                                <dt>名称</dt>
                                                <dd>{{if empty($v['name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.name}}{{/if}}</dd>

                                                <dt>事件类型</dt>
                                                <dd>{{if empty($v['action_type_name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.action_type_name}}{{/if}}</dd>

                                                <dt>事件值</dt>
                                                <dd>{{if empty($v['action_value'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.action_value}}{{/if}}</dd>

                                                <dt>图标</dt>
                                                <dd>
                                                    {{if !empty($v['icon'])}}
                                                        <img src="{{$v['icon']}}" class="am-img-thumbnail am-radius" width="60" height="60" />
                                                    {{else /}}
                                                        <span class="cr-ddd">暂无图片</span>
                                                    {{/if}}
                                                </dd>

                                                <dt>创建时间</dt>
                                                <dd>{{$v.add_time}}</dd>

                                                <dt>更新时间</dt>
                                                <dd>{{$v.upd_time}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="view-operation">
                                {{if $v['status'] eq 0)}}
                                    {{if in_array($data['status'], [0,4])}}
                                        <a href="{{:url('Admin/AlipayLifeMenu/ContentSaveInfo', array('id'=>$v['id'], 'menu_id'=>$params['menu_id']))}}">
                                            <button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit"> 编辑</button>
                                        </a>
                                    
                                        <button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:url('Admin/AlipayLifeMenu/ContentDelete')}}" data-id="{{$v.id}}"> 删除</button>
                                    {{/if}}
                                {{/if}}
                            </td>
                        </tr>
                        <notempty name="v.items">
                            <foreach name="v.items" item="vs">
                                <tr id="data-list-{{$vs.id}}">
                                    <td class="p-l-3)}}
                                        {{if empty($vs['name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$vs.name}}{{/if}}
                                    </td>
                                    <td>
                                        {{if empty($vs['action_type_name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$vs.action_type_name}}{{/if}}
                                    </td>
                                    <td>
                                        {{if empty($vs['action_value'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$vs.action_value}}{{/if}}
                                    </td>
                                    <td class="am-hide-sm-only">
                                        {{if !empty($vs['icon'])}}
                                            <a href="{{$vs['icon']}}" target="_blank">
                                                <img src="{{$vs['icon']}}" class="am-radius" width="60" />
                                            </a>
                                        {{else /}}
                                            <span class="cr-ddd">暂无图片</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <span class="am-icon-caret-down c-p" data-am-modal="{target: '#my-popup{{$vs.id}}'}"> 查看更多</span>
                                        <div class="am-popup am-radius" id="my-popup{{$vs.id}}">
                                            <div class="am-popup-inner">
                                                <div class="am-popup-hd">
                                                    <h4 class="am-popup-title">详情内容</h4>
                                                    <span data-am-modal-close class="am-close">&times;</span>
                                                </div>
                                                <div class="am-popup-bd">
                                                    <dl class="dl-content">
                                                        <dt>名称</dt>
                                                        <dd>{{if empty($vs['name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$vs.name}}{{/if}}</dd>

                                                        <dt>事件类型</dt>
                                                        <dd>{{if empty($vs['action_type_name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$vs.action_type_name}}{{/if}}</dd>

                                                        <dt>事件值</dt>
                                                        <dd>{{if empty($vs['action_value'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$vs.action_value}}{{/if}}</dd>

                                                        <dt>图标</dt>
                                                        <dd>
                                                            {{if !empty($vs['icon'])}}
                                                                <img src="{{$vs['icon']}}" class="am-img-thumbnail am-radius" width="60" height="60" />
                                                            {{else /}}
                                                                <span class="cr-ddd">暂无图片</span>
                                                            {{/if}}
                                                        </dd>

                                                        <dt>创建时间</dt>
                                                        <dd>{{$vs.add_time}}</dd>

                                                        <dt>更新时间</dt>
                                                        <dd>{{$vs.upd_time}}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="view-operation">
                                        {{if $v['status'] eq 0)}}
                                            {{if in_array($data['status'], [0,4])}}
                                                <a href="{{:url('Admin/AlipayLifeMenu/ContentSaveInfo', array('id'=>$vs['id'], 'menu_id'=>$params['menu_id']))}}">
                                                    <button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit"> 编辑</button>
                                                </a>
 
                                                <button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:url('Admin/AlipayLifeMenu/ContentDelete')}}" data-id="{{$vs.id}}"> 删除</button>
                                            {{/if}}
                                        {{/if}}
                                    </td>
                                </tr>
                            {{/foreach}}
                        {{/if}}
                    {{/foreach}}
                {{else /}}
                    <tr><td colspan="20" class="table-no">没有相关数据</td></tr>
                {{/if}}
            </tbody>
        </table>
        <!-- list end -->
    </div>
</div>
<!-- right content end  -->
        
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->