<include file="Public/Header" />

<!-- conntent start  -->
<div class="am-g my-content">
    <div class="am-u-md-6 am-u-sm-centered">
        <!-- form start -->
        <form class="am-form form-validation" method="post" action="{{:U('Home/User/Login')}}" request-type="ajax-fun" request-value="ViewModalBack">
            <fieldset>
                <if condition="in_array('sms', MyC('home_user_reg_state')) or in_array('email', MyC('home_user_reg_state'))">
                    <span class="">{{:L('user_login_on_accounts_text')}}</span>
                    <a href="{{:U('Home/User/RegInfo')}}" target="_blank" class="am-btn am-btn-secondary am-btn-xs am-radius">{{:L('user_login_immediately_reg_text')}}</a>
                    <hr />
                </if>
                <label>{{:L('user_login_accounts_text')}}</label>
                <div class="am-form-group">
                    <input type="text" name="accounts" class="am-radius" minlength="1" placeholder="{{:L('user_login_accounts_text')}}" data-validation-message="{{:L('user_login_accounts_format')}}" required />
                </div>
                <label>{{:L('user_login_pwd_text')}}</label>
                <div class="am-form-group">
                    <input type="password" name="pwd" class="am-radius" placeholder="{{:L('user_login_pwd_text')}}" pattern="{{:L('common_regex_pwd')}}" data-validation-message="{{:L('user_reg_pwd_format')}}" required />
                </div>
                <p>
                    <button type="submit" class="am-btn am-btn-primary am-radius am-btn-sm btn-loading-example" data-am-loading="{loadingText: '{{:L('common_login_loading_tips')}}'}">{{:L('user_login_submit_text')}}</button>
                    <a href="{{:U('Home/User/ForgetPwdInfo')}}" target="_blank" class="am-fr">{{:L('user_reg_forget_pwd_text')}}</a>
                </p>
            </fieldset>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- conntent end  -->


<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->

<script type="text/javascript">
    // 返回处理
    function ViewModalBack(e)
    {
        if(e.code == 0)
        {
            parent.location.reload();
        } else {
            $('form.form-validation').find('button[type="submit"]').button('reset');
            $.AMUI.progress.done();
            Prompt(e.msg);
        }
    }
</script>