<include file="Public/Header" />

<!-- header top nav -->
<include file="Public/HeaderTopNav" />

<!-- search -->
<include file="Public/NavSearch" />

<!-- header nav -->
<include file="Public/HeaderNav" />

<!-- goods category -->
<include file="Public/GoodsCategory" />

<!-- conntent start  -->
<div class="am-g my-content">
    <div class="am-u-md-6 am-u-sm-centered">
        <div class="reg-switch-view">
            <if condition="in_array('sms', MyC('home_user_reg_state'))">
                <a href="{{:U('Home/User/SmsRegInfo')}}">
                    <button class="am-btn am-btn-primary"><i class="am-icon-comment-o am-icon-sm"></i> {{:L('common_close_sms_user_reg_text')}}</button>
                </a>
            <else />
                <button class="am-btn am-btn-danger am-disabled" href="javascript:;"><i class="am-icon-comment-o am-icon-sm"></i> {{:L('common_close_sms_user_reg_tips')}}</button>
            </if>
            <if condition="in_array('email', MyC('home_user_reg_state'))">
                <a href="{{:U('Home/User/EmailRegInfo')}}">
                    <button class="am-btn am-btn-secondary"><i class="am-icon-envelope-o am-icon-sm"></i> {{:L('common_close_email_user_reg_text')}}</button>
                </a>
            <else />
                <button class="am-btn am-btn-danger am-disabled" href="javascript:;"><i class="am-icon-envelope-o am-icon-sm"></i> {{:L('common_close_email_user_reg_tips')}}</button>
            </if>
        </div>
    </div>
</div>
<!-- conntent end  -->

<!-- layuot common module start -->
<include file="Public/CommonModule" />
<!-- layuot common module end -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->