<!DOCTYPE html>
<html>
<head>
	<meta charset="{{:MyConfig('shopxo.default_charset', 'utf-8')}}" />
	<link rel="shortcut icon" type="image/x-icon" href="{{$public_host}}favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1" />
	<title>{{$admin_theme_site_name}}{{:MyLang('common.admin_browser_title')}}</title>
	<link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/lib/assets/css/amazeui.css?v={{:MyC('home_static_cache_version')}}" />
	<link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/lib/amazeui-switch/amazeui.switch.css?v={{:MyC('home_static_cache_version')}}" />
	<link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/lib/amazeui-chosen/amazeui.chosen.css?v={{:MyC('home_static_cache_version')}}" />
	<link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/lib/amazeui-tagsinput/amazeui.tagsinput.css?v={{:MyC('home_static_cache_version')}}" />
	<link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/css/common.css?v={{:MyC('home_static_cache_version')}}" />
	<link rel="stylesheet" type="text/css" href="{{$public_host}}static/admin/{{$default_theme}}/css/common.css?v={{:MyC('home_static_cache_version')}}" />

    <!-- iconfont -->
    <link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/iconfont/iconfont.css?v={{:MyC('home_static_cache_version')}}" />

    <!-- ckplayer播放器 -->
    {{if isset($is_load_ckplayer) and $is_load_ckplayer eq 1}}
        <link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/lib/ckplayer/css/ckplayer.css?v={{:MyC('home_static_cache_version')}}" />
    {{/if}}

    <!-- 打印css -->
    {{if isset($is_load_hiprint) and $is_load_hiprint eq 1}}
        <link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/lib/hiprint/css/hiprint.css" />
        <link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/lib/hiprint/css/print-lock.css" />
    {{/if}}

    <!-- 可视化拖拽 -->
    {{if isset($is_load_layout) and $is_load_layout eq 1}}
        <link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/css/layout.css?v={{:MyC('home_static_cache_version')}}" />
    {{/if}}
    {{if isset($is_load_layout_admin) and $is_load_layout_admin eq 1}}
        <link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/css/layout.admin.css?v={{:MyC('home_static_cache_version')}}" />
    {{/if}}

    <!-- 左侧菜单图标 -->
	<link rel="stylesheet" type="text/css" href="{{$public_host}}static/admin/{{$default_theme}}/css/iconfontmenu.css?v={{:MyC('home_static_cache_version')}}" />

    <!-- 插件 -->
    {{if !empty($plugins_css)}}
        <link rel="stylesheet" type="text/css" href="{{$public_host}}static/{{$plugins_css}}?v={{:MyC('home_static_cache_version')}}" />
    {{/if}}

    <!-- 页面样式 -->
	{{if !empty($module_css)}}
		<link rel="stylesheet" type="text/css" href="{{$public_host}}static/{{$module_css}}?v={{:MyC('home_static_cache_version')}}" />
	{{/if}}

	<!-- css钩子 -->
    {{if !empty($plugins_admin_css_data) and is_array($plugins_admin_css_data)}}
        {{foreach $plugins_admin_css_data as $hook}}
            {{if !empty($hook) and is_string($hook)}}
                {{if substr($hook, 0, 4) eq 'http'}}
                    <link rel="stylesheet" type="text/css" href="{{$hook}}?v={{:MyC('home_static_cache_version')}}" />
                {{else /}}
                    <link rel="stylesheet" type="text/css" href="{{$public_host}}{{$hook}}?v={{:MyC('home_static_cache_version')}}" />
                {{/if}}
            {{elseif is_array($hook) /}}
                {{foreach $hook as $hook_css}}
                    {{if !empty($hook_css) and is_string($hook_css)}}
                        {{if substr($hook_css, 0, 4) eq 'http'}}
                            <link rel="stylesheet" type="text/css" href="{{$hook_css}}?v={{:MyC('home_static_cache_version')}}" />
                        {{else /}}
                            <link rel="stylesheet" type="text/css" href="{{$public_host}}{{$hook_css}}?v={{:MyC('home_static_cache_version')}}" />
                        {{/if}}
                    {{/if}}
                {{/foreach}}
            {{/if}}
        {{/foreach}}
    {{/if}}

    <!-- 公共header内钩子 -->
	{{if !empty($plugins_admin_common_header_data) and is_array($plugins_admin_common_header_data)}}
		{{foreach $plugins_admin_common_header_data as $hook}}
			{{if is_string($hook) or is_int($hook)}}
				{{$hook|raw}}
			{{/if}}
		{{/foreach}}
	{{/if}}

    <!-- 主题配色 -->
    {{if isset($theme_color_value) and $theme_color_value eq 1}}
        <link rel="stylesheet" type="text/css" href="{{$public_host}}static/common/css/color/black.css?v={{:MyC('home_static_cache_version')}}" />
    {{/if}}

    <style type="text/css">
        :root {
            /* 基础 */
            --html-body-size: 10px;
            --body-bg-color: #ffffff;
            --color-price: #E22C08;
            --color-red: #E22C08;
            --color-yellow: #FAAD14;
            --color-blue: #76AFFF;
            --color-green: #5EB95E;

            /* 主色 */
            --color-main: #E22C08;
            --color-mian-light: #F25232;
            --color-main-hover: #EA6B52;

            /* 次色 */
            --color-secondary: #FFB8AA;

            /* 圆角 */
            --border-radius-sm: 0.2rem;
            --border-radius: 0.4rem;
            --border-radius-lg: 0.8rem;

            /* 阴影 */
            --box-shadow: 0 5px 20px rgba(50,55,58,0.1);
            --box-shadow-sm: 0 2px 8px rgba(50,55,58,0.1);
            --box-shadow-lg: 0 8px 34px rgba(50,55,58,0.1);
        }
    </style>
    <script type="text/javascript">
        // 基础配置
        var __system_type__ = '{{$system_type}}';
        var __root__ = '{{$public_host}}';
        var __my_http__ = '{{$my_http}}';
        var __my_host__ = '{{$my_host}}';
        var __my_url__ = '{{$my_url}}';
        var __my_public_url__ = '{{$my_public_url}}';
        var __public__ = '{{$public_host}}';
        var __default_theme__ = '{{$default_theme}}';
        var __attachment_host__ = '{{$attachment_host}}';
        var __seo_url_suffix__ = '{{:MyC("home_seo_url_html_suffix", "html", true)}}';
        var __currency_symbol__ = '{{$currency_symbol}}';
        var __is_mobile__ = '{{if IsMobile()}}1{{else}}0{{/if}}';
        var __env_max_input_vars_count__ = '{{$env_max_input_vars_count}}';
        var __map_view_url__ = '{{:MyUrl("admin/map/index")}}';
        var __load_map_type__ = '{{$load_map_type}}';
        var __goods_spec_type_url__ = '';
        var __goods_spec_detail_url__ = '';
        // 语言定义（用于js调用、模板引擎直接使用$lang_data.xxx获取对应语言即可）
        {{if !empty($lang_data)}}
            {{foreach $lang_data as $k=>$v}}
                {{if !empty($k) and isset($v) and !is_array($v)}}
                    var lang_{{$k}} = '{{$v}}';
                {{/if}}
            {{/foreach}}
        {{/if}}
    </script>
</head>
<body class="{{$page_unique_mark}}">
<!-- 页面加载层 -->
{{if isset($is_page_loading) and $is_page_loading eq 1}}
    {{include file="public/page_loading" /}}
{{/if}}

<!-- 公共顶部钩子 -->
{{if !empty($plugins_admin_view_common_top_data) and is_array($plugins_admin_view_common_top_data) and (!isset($is_header) or $is_header eq 1)}}
	{{foreach $plugins_admin_view_common_top_data as $hook}}
		{{if is_string($hook) or is_int($hook)}}
			{{$hook|raw}}
		{{/if}}
	{{/foreach}}
{{/if}}