/* 基础 */
--html-body-size: 10px;
--body-bg-color: #ffffff;
--color-red: #E22C08;
--color-yellow: #FAAD14;
--color-blue: #2A94FF;
--color-green: #5EB95E;

/* 温馨提示 */
--color-tips-warm-bg: #F1FCFF;
--color-tips-warm-br: #F1FCFF;

/* 左侧菜单 */
--color-left-menu-bg: #1E222B;

/* 主色 */
--color-main: #2A94FF;
--color-main-light: #EDF4FF;
--color-main-hover: #1677FF;
--color-main-disabled: #AF6963;

/* 圆角 */
--border-radius-sm: 0.2rem;
--border-radius: 0.4rem;
--border-radius-lg: 0.8rem;

/* 阴影 */
--box-shadow: 0 5px 20px rgba(50,55,58,0.1);
--box-shadow-sm: 0 2px 8px rgba(50,55,58,0.1);
--box-shadow-lg: 0 8px 34px rgba(50,55,58,0.1);