{{if !empty($module_data['plugins']) and (!empty($module_data['title']) or (!empty($module_data['nav_data']) and is_array($module_data['nav_data'])))}}
    <div class="nav-switch-tabs am-pr plugins-admin-nav-container {{if !empty($module_data['nav_data']) and is_array($module_data['nav_data'])}} admin-nav-data{{/if}}  {{$module_data.plugins}}">
        {{if !empty($module_data['back_url'])}}
            <a href="{{$module_data.back_url}}" class="form-nav-top-retreat am-text-lg">
                <i class="iconfont icon-back"></i>
            </a>
            <em class="form-nav-top-retreat-ds am-color-grey-light am-text-xs am-margin-left am-margin-right-xs">|</em>
        {{/if}}
        {{if !empty($module_data['nav_data']) and is_array($module_data['nav_data'])}}
            <ul>
                {{foreach $module_data.nav_data as $v}}
                    <li {{if (isset($v['is_active']) and $v['is_active'] eq 1) or (!isset($v['is_active']) and !empty($plugins_controller_name) and $plugins_controller_name eq $v['control'])}}class="am-active"{{/if}}>
                        <a href="{{:PluginsAdminUrl(empty($v['plugins']) ? $module_data['plugins'] : $v['plugins'], $v['control'], $v['action'], empty($v['params']) ? [] : $v['params'])}}">{{$v.name}}</a>
                    </li>
                {{/foreach}}
            </ul>
        {{else /}}
            <span class="am-text-default">{{$module_data.title}}</span>
        {{/if}}
    </div>
{{/if}}