{{:ModuleInclude('public/header')}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <div class="table-no">
            <p>
                <i class="am-icon-warning am-text-grey"></i>
                {{if isset($msg)}}{{$msg}}{{else /}}{{:MyLang('error')}}{{/if}}
            </p>

            <!-- 扩展内容  -->
            {{if !empty($ext_html)}}
                {{$ext_html|raw}}
            {{/if}}
        </div>
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{:ModuleInclude('public/footer')}}