<include file="Public/Header" />

<!-- header top nav -->
<include file="Public/HeaderTopNav" />

<!-- search -->
<include file="Public/NavSearch" />

<!-- header nav -->
<include file="Public/HeaderNav" />

<!-- goods category -->
<include file="Public/GoodsCategory" />

<!-- content -->
<div class="am-container user-main">

    <!-- user menu start -->
    <include file="Public/UserMenu" />
    <!-- user menu end -->

    <!-- content start -->
    <div class="user-content">
        <div class="user-content-body">
            <form class="am-form form-validation" method="post" action="{{:U('Home/UserFavor/Goods')}}" request-type="form">
                <div class="thin">
                    <div class="am-input-group am-input-group-sm am-fl so">
                        <input type="text" name="keywords" class="am-radius" placeholder="其实搜索很简单 ^_^！" value="<notempty name="params.keywords">{{$params.keywords}}</notempty>" />
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default am-radius" type="submit" data-am-loading="{spinner:'circle-o-notch', loadingText:'搜索中...'}">搜索</button>
                        </span>
                    </div>
                </div>
            </form>

            <!-- 商品列表 -->
            <div class="data-list">
                <table class="am-table">
                    <thead>
                        <tr>
                            <th class="base">商品信息</th>
                            <th class="price">价格</th>
                            <th class="operate">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <notempty name="data_list">
                            <foreach name="data_list" item="v">
                                <tr id="data-list-{{$v.id}}">
                                    <td>
                                        <div class="goods-detail">
                                            <a href="{{$v.goods_url}}" target="_blank">
                                                <img src="{{$v.images}}">
                                            </a>
                                            <div class="goods-base">
                                                <a href="{{$v.goods_url}}" target="_blank" class="goods-title">{{$v.title}}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <if condition="$v['original_price'] gt 0">
                                            <p class="original-price">￥{{$v.original_price}}</p>
                                        </if>
                                        <p class="line-price">￥{{$v.price}}</p>
                                    </td>
                                    <td>
                                        <button type="button" class="am-btn am-btn-danger am-btn-xs am-radius am-btn-block submit-ajax" data-url="{{:U('Home/UserFavor/Cancel')}}" data-id="{{$v.id}}" data-view="reload">取消</button>
                                    </td>
                                </tr>
                            </foreach>
                        </notempty>
                        <empty name="data_list">
                            <tr>
                                <td colspan="3">
                                    <div class="table-no"><i class="am-icon-warning"></i> {{:L('common_not_data_tips')}}</div>
                                </td>
                            </tr>
                        </empty>
                    </tbody>
                </table>
            </div>

            <!-- 分页 -->
            <notempty name="data_list">
                {{$page_html}}
            </notempty>
        </div>
    </div>
    <!-- content end -->
</div>

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->