<div class="am-popup am-radius" id="order-pay-popup" data-is-auto="{{if isset($params['is_pay_auto']) and $params['is_pay_auto'] eq 1}}1{{else /}}0{{/if}}" data-is-pay="{{if isset($params['is_pay_submit']) and $params['is_pay_submit'] eq 1}}1{{else /}}0{{/if}}">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">支付</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            <form class="am-form pay-form am-form-popup-fixed" method="post" action="{{:MyUrl('index/order/pay')}}">
                <div class="business-list business-list-nbfc">
                    {{if !empty($buy_payment_list)}}
                        <ul class="am-avg-sm-2 am-avg-md-3 payment-list" data-type="payment">
                            {{foreach $buy_payment_list as $payment}}
                                <li class="am-padding-sm" data-value="{{$payment.id}}">
                                    <div class="business-item am-nbfc am-padding-sm am-radius">
                                        {{if !empty($payment.logo)}}
                                            <img src="{{$payment.logo}}" class="am-radius" />
                                        {{/if}}
                                        <span>{{$payment.name}}</span>
                                        <div class="rotate"></div>
                                        <i class="am-icon-check"></i>
                                    </div>
                                </li>
                            {{/foreach}}
                        </ul>
                    {{/if}}
                    {{if empty($buy_payment_list)}}
                        <div class="table-no"><i class="am-icon-warning"></i> 没有支付方式</div>
                    {{/if}}
                </div>
                <div class="am-form-popup-submit">
                    <input type="hidden" name="ids" value="{{if !empty($pay_params['order_ids'])}}{{$pay_params.order_ids}}{{/if}}" />
                    <input type="hidden" name="payment_id" value="{{if !empty($pay_params['payment_id'])}}{{$pay_params.payment_id}}{{/if}}" />
                    <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm am-btn-block" data-am-loading="{loadingText:'处理中...'}">确认支付</button>
                </div>
            </form>
        </div>
    </div>
</div>