/**
 * 列表
 */
table.am-table .th-desc { width: 20%; }
table.am-table .td-desc { font-size: 12px; }

/**
 * 插件部分
 */
.plug-element { border: 1px dotted #FFC107; background: #fffcf2; padding: 10px 10px 0 10px; margin-bottom: 10px; border-radius: 2px; }
.plug-element .tips { color: #FF9800; margin: 0 0 10px 0; font-size: 12px; }