{{include file="public/header" /}}

<!-- header top nav -->
{{include file="public/header_top_nav" /}}

<!-- search -->
{{include file="public/nav_search" /}}

<!-- header nav -->
{{include file="public/header_nav" /}}

<!-- goods category -->
{{include file="public/goods_category" /}}

<!-- content -->
<div class="am-container user-main">

	<!-- user menu start -->
	{{include file="public/user_menu" /}}
	<!-- user menu end -->

	<!-- content start -->
	<div class="user-content">
		<div class="user-content-body">
			<!-- form start -->
			<form class="am-form form-validation view-save" action="{{:MyUrl('index/safety/loginpwdupdate')}}" method="POST" request-type="ajax-url" request-value="{{:MyUrl('index/safety/index')}}">
				<legend>
					<span class="legend-title">登录密码修改</span>
					<a href="{{:MyUrl('index/safety/index')}}" class="am-fr am-margin-top-xs am-icon-mail-reply"> 返回</a>
				</legend>
				<div class="am-form-group">
					<label>当前密码</label>
					<input type="password" name="my_pwd" placeholder="当前密码" pattern="{{:lang('common_regex_pwd')}}" data-validation-message="当前密码格式 6~18 个字符之间" class="am-radius" required />
				</div>
				<div class="am-form-group">
					<label>新密码</label>
					<input type="password" name="new_pwd" placeholder="新密码" pattern="{{:lang('common_regex_pwd')}}" data-validation-message="新密码格式 6~18 个字符之间" class="am-radius" id="new-loginpwd" required />
				</div>
				<div class="am-form-group">
					<label>确认密码</label>
					<input type="password" name="confirm_new_pwd" placeholder="确认密码" pattern="{{:lang('common_regex_pwd')}}" data-validation-message="确认密码格式 6~18 个字符之间，与新密码一致" class="am-radius" data-equal-to="#new-loginpwd" required />
				</div>
				<div class="am-form-group am-form-group-refreshing">
					<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm am-btn-block" data-am-loading="{loadingText:'处理中...'}">保存</button>
				</div>
			</form>
			<!-- form end -->
		</div>
	</div>
	<!-- content end -->
</div>

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->