{{include file="public/header" /}}

<!-- header top nav -->
{{include file="public/header_top_nav" /}}

<!-- search -->
{{include file="public/nav_search" /}}

<!-- header nav -->
{{include file="public/header_nav" /}}

<!-- goods category -->
{{include file="public/goods_category" /}}

<!-- content -->
<div class="am-container user-main">

	<!-- user menu start -->
	{{include file="public/user_menu" /}}
	<!-- user menu end -->

	<!-- content start -->
	<div class="user-content">
		<div class="user-content-body">
			<!-- form start -->
			<form class="am-form form-validation view-save" action="{{:url('index/safety/accountsupdate')}}" method="POST" request-type="ajax-url" request-value="{{:url('index/safety/index')}}">
				<legend>
					<span class="legend-title">{{:lang('safety_new_mobile_nav_title')}}</span>
					<a href="{{:url('index/safety/index')}}" class="am-fr am-icon-mail-reply"> {{:lang('common_operation_back')}}</a>
				</legend>
				<div class="am-form-group">
					<label>{{:lang('common_mobile_name')}}</label>
					<input type="text" name="accounts" class="am-radius" id="accounts" placeholder="{{:lang('common_mobile_name')}}" pattern="{{:lang('common_regex_mobile')}}" data-validation-message="{{:lang('common_mobile_format_error')}}" required />
				</div>
				<label>{{:lang('common_verify_text')}}</label>
				<div class="am-input-group am-input-group-sm am-form-group">
					<input type="number" name="verify" class="am-radius" placeholder="{{:lang('common_verify_text')}}" minlength="6" maxlength="6" data-validation-message="{{:lang('common_verify_tips')}}" required />
					<span class="am-input-group-btn">
						<button class="am-btn am-btn-default am-radius btn-loading-example verify-submit-new" type="button" data-am-loading="{spinner:'circle-o-notch', loadingText:'{{:lang('common_send_tips')}}'}" data-url="{{:url('index/safety/verifysend')}}" data-verify="{{:MyC('home_img_verify_state')}}" data-text="{{:lang('common_get_verify_text')}}" data-send-text="{{:lang('common_send_time_tips')}}" data-time="{{:MyC('common_verify_time_interval', 30, true)}}">{{:lang('common_get_verify_text')}}</button>
					</span>
				</div>
				<div class="am-form-group">
					<input type="hidden" name="type" value="sms" />
					<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:lang('common_form_loading_tips')}}'}">{{:lang('common_operation_confirm')}}</button>
				</div>
			</form>
			<!-- form end -->

			<!-- verify win start -->
			<div class="am-modal am-modal-no-btn" tabindex="-1" id="verify-win">
				<div class="am-modal-dialog am-radius">
					<div class="am-modal-hd">
						<a href="javascript:;" class="am-close am-close-spin" data-am-modal-close>&times;</a>
					</div>
					<div class="am-modal-bd">
						<div class="base">
							<input type="text" placeholder="{{:lang('common_img_verify_text')}}" maxlength="6" id="verify-img-value" data-validation-message="{{:lang('common_img_verify_tips')}}" class="am-form-field am-radius" />
							<div class="am-fl">
								<img src="{{:url('index/safety/verifyentry')}}" class="am-radius c-p" id="verify-img" onClick='this.src="{{:url('index/safety/verifyentry')}}"' />
								<a href="javascript:;" class="verify-tips" onClick="document.getElementById('verify-img').src='{{:url('index/safety/verifyentry')}}'">{{:lang('common_img_verify_submit_text')}}</a>
							</div>
						</div>
						<button type="button" class="am-btn am-btn-secondary am-radius am-btn-sm block m-t-20 btn-loading-example verify-submit-win-new" data-am-loading="{spinner:'circle-o-notch', loadingText:'{{:lang('common_send_tips')}}'}" data-win="1">{{:lang('common_operation_confirm')}}</button>
					</div>
				</div>
			</div>
			<!-- verify win end -->
		</div>
	</div>
	<!-- content end -->
</div>

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->