{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:url('Admin/AlipayLifeMessage/ContentSave')}}" method="POST" request-type="ajax-url" request-value="{{:url('Admin/AlipayLifeMessage/ContentIndex', ['message_id'=>$params['message_id']])}}" enctype="multipart/form-data">
            <input type="hidden" name="max_file_size" value="{{:MyC('home_max_limit_image', 2048000)}}" />
            <legend>
                <span class="fs-16)}}{{:lang('alipay_life_message_add_name')}}</span>
                <a href="{{:url('Admin/AlipayLifeMessage/ContentIndex', ['message_id'=>$params['message_id']])}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
            </legend>

            {{if $msg_type eq 1)}}
                <div class="am-form-group">
                    <label>{{:lang('alipay_life_message_title_text')}}</label>
                    <input type="text" name="title" placeholder="{{:lang('alipay_life_message_title_text')}}" maxlength="80" data-validation-message="{{:lang('alipay_life_message_title_format')}}" class="am-radius" value="<notempty name="data.title">{{$data.title}}{{/if}}" required />
                </div>
            {{/if}}

            <div class="am-form-group">
                <label>{{:lang('alipay_life_message_content_text')}}</label>
                <textarea rows="5" name="content" class="am-radius" placeholder="{{:lang('alipay_life_message_content_text')}}" data-validation-message="{{:lang('alipay_life_message_content_format')}}" maxlength="250" required><notempty name="data.content">{{$data.content}}{{/if}}</textarea>
            </div>

            {{if $msg_type eq 1)}}
                <div class="am-form-group am-form-file">
                    <label class="block">{{:lang('alipay_life_message_image_url_text')}}</label>
                    <button type="button" class="am-btn am-btn-default am-btn-sm am-radius">
                    <i class="am-icon-cloud-upload"></i> 选择图片</button>
                    <input type="text" name="image_url" class="am-radius js-choice-one original-images-url original-icon-images-url" data-choice-one-to='input[name="file_image_url"]' data-validation-message="{{:lang('alipay_life_message_image_url_format')}}" readonly="readonly" value="<notempty name="data.image_url">{{$data.image_url}}{{/if}}" required />
                    <input type="file" name="file_image_url" multiple data-validation-message="{{:lang('alipay_life_message_image_url_format')}}" accept="image/jpeg,image/jpg,image/png" class="js-choice-one images-file-event file_image_url-tag" data-choice-one-to=".original-icon-images-url" data-tips-tag="#form-icon-tips" data-image-tag="#form-img-icon" required />
                    <div id="form-icon-tips" class="m-t-5)}}</div>
                    <notempty name="data.image_url">
                        <img src="{{$image_host}}{{$data.image_url}}" id="form-img-icon" class="block m-t-5 am-img-thumbnail am-radius" width="100" height="100" data-default="{{$image_host}}/Public/Admin/Default/Images/default-images.png" />
                    {{/if}}
                    <empty name="data.image_url">
                        <img src="{{$image_host}}/Public/Admin/Default/Images/default-images.png" id="form-img-icon" class="block m-t-5 am-img-thumbnail am-radius" width="100" height="100" data-default="{{$image_host}}/Public/Admin/Default/Images/default-images.png" />
                    {{/if}}
                </div>

                <div class="am-form-group">
                    <label>{{:lang('alipay_life_message_url_text')}}</label>
                    <input type="text" name="url" placeholder="{{:lang('alipay_life_message_url_text')}}" data-validation-message="{{:lang('alipay_life_message_url_format')}}" class="am-radius" maxlength="255" value="<notempty name="data.url">{{$data.url}}{{/if}}" required />
                </div>

                <div class="am-form-group">
                    <label>{{:lang('alipay_life_message_action_name_text')}}</label>
                    <input type="text" name="action_name" placeholder="{{:lang('alipay_life_message_action_name_text')}}" data-validation-message="{{:lang('alipay_life_message_action_name_format')}}" class="am-radius" maxlength="60" value="<notempty name="data.action_name">{{$data.action_name}}{{/if}}" />
                </div>
            {{/if}}
            <div class="am-form-group">
                <input type="hidden" name="id" value="{{$data.id}}" />
                <input type="hidden" name="message_id" value="{{$params.message_id}}" />
                <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'处理中...'}">保存</button>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->
        
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->