{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- back nav start -->
        <legend>
            <span class="fs-16)}}{{:lang('alipay_life_message_detail_text')}}</span>
            <a href="{{:url('Admin/AlipayLifeMessage/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
        </legend>
        <!-- back nav end -->

        <!-- list start -->
        <table class="am-table am-table-striped am-table-hover am-text-middle m-t-1)}}
            <thead>
                <tr>
                    <th>{{:lang('alipay_life_message_life_text')}}</th>
                    <th>{{:lang('alipay_life_message_user_text')}}</th>
                    <th>状态</th>
                    <th>{{:lang('alipay_life_message_send_time_text')}}</th>
                    <th>{{:lang('alipay_life_message_return_msg_text')}}</th>
                    <th>更多</th>
                </tr>
            </thead>
            <tbody>
                {{if !empty($list)}}
                    <foreach name="list" item="v">
                        <tr id="data-list-{{$v.id}}">
                            <td>{{$v.alipay_life_name}}</td>
                            <td>{{$v.alipay_openid}}</td>
                            <td>{{$v.status_name}}</td>
                            <td>{{$v.send_time}}</td>
                            <td>{{$v.return_msg}}</td>
                            <td>
                                <span class="am-icon-caret-down c-p" data-am-modal="{target: '#my-popup{{$v.id}}'}"> 查看更多</span>
                                <div class="am-popup am-radius" id="my-popup{{$v.id}}">
                                    <div class="am-popup-inner">
                                        <div class="am-popup-hd">
                                            <h4 class="am-popup-title">详情内容</h4>
                                            <span data-am-modal-close class="am-close">&times;</span>
                                        </div>
                                        <div class="am-popup-bd">
                                            <dl class="dl-content">
                                                <dt>{{:lang('alipay_life_message_life_text')}}</dt>
                                                <dd>{{if empty($v['alipay_life_name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.alipay_life_name}}{{/if}}</dd>

                                                <dt>{{:lang('alipay_life_message_user_text')}}</dt>
                                                <dd>{{if empty($v['alipay_openid'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.alipay_openid}}{{/if}}</dd>

                                                <dt>状态</dt>
                                                <dd>{{if empty($v['status_name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.status_name}}{{/if}}</dd>

                                                <dt>{{:lang('alipay_life_message_send_time_text')}}</dt>
                                                <dd>{{$v.send_time}}</dd>

                                                <dt>{{:lang('alipay_life_message_return_msg_text')}}</dt>
                                                <dd>{{$v.return_msg}}</dd>

                                                <dt>创建时间</dt>
                                                <dd>{{$v.add_time}}</dd>

                                                <dt>更新时间</dt>
                                                <dd>{{$v.upd_time}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {{/foreach}}
                {{else /}}
                    <tr><td colspan="20" class="table-no">没有相关数据</td></tr>
                {{/if}}
            </tbody>
        </table>
        <!-- list end -->
    </div>
</div>
<!-- right content end  -->
        
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->