<!-- 侧边栏 - 模块配置 - 自定义代码 -->
<div id="offcanvas-module-config-custom" class="am-offcanvas module-offcanvas-container">
    <div class="am-offcanvas-bar">
        <div class="am-offcanvas-content am-padding-0">
            <form class="am-form form-validation-module-offcanvas-custom" request-type="sync" request-value="FormBackModuleConfigCustom">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">内容设置</div>
                    <div class="am-panel-bd">
                        <textarea name="custom" rows="35" placeholder="自定义html代码"></textarea>
                    </div>
                </div>
                <div class="form-submit-container">
                    <button type="submit" class="am-btn am-btn-primary am-radius am-btn-xs am-btn-block" data-am-loading="{loadingText: '处理中...'}">确认</button>  
                </div>
            </form>
        </div>
    </div>
</div>