<!-- 侧边栏 - 模块配置 - 多图 -->
<div id="offcanvas-module-config-many-images" class="am-offcanvas module-offcanvas-container" data-default-images="{{$attachment_host}}/static/common/images/default-images-mini.png">
    <div class="am-offcanvas-bar">
        <div class="am-offcanvas-content am-padding-0">
            <form class="am-form form-validation-module-offcanvas-many-images" request-type="sync" request-value="FormBackModuleConfigManyImages">
                <!-- 展示模式 -->
                <div class="am-panel am-panel-default am-radius">
                    <div class="am-panel-hd">{{:MyLang('layout.view_show_model_title')}}<span class="am-form-group-label-tips-must">*</span></div>
                    <div class="am-panel-bd">
                        <!-- 展示模式 -->
                        {{include file="../../../layout/view/public/content/many_images_show_style" /}}
                    </div>
                </div>

                <!-- 内容 -->
                <div class="am-panel am-panel-default am-radius">
                    <div class="am-panel-hd">{{:MyLang('layout.view_content_setup')}}<span class="am-form-group-label-tips-must">*</span></div>
                    <div class="am-panel-bd">
                        <div class="config-many-images-container"></div>
                        <div class="business-operations-submit am-text-center am-block config-many-images-item-add">+{{:MyLang('layout.view_offcanvas_module_images_add')}}</div>
                    </div>
                </div>

                <!-- 样式设置 -->
                <div class="am-panel am-panel-default am-radius">
                    <div class="am-panel-hd">{{:MyLang('layout.view_style_setup')}}</div>
                    <div class="am-panel-bd">
                        <!-- 背景色 -->
                        {{include file="../../../layout/view/public/style/background_color" key="" required="" /}}

                        <!-- 圆角 -->
                        {{include file="../../../layout/view/public/style/border_radius" key="" required="" /}}

                        <!-- 边线类型 -->
                        {{include file="../../../layout/view/public/style/border_style_4" key="" /}}

                        <!-- 边线大小 -->
                        {{include file="../../../layout/view/public/style/border_width_color_4" key="" /}}

                        <!-- 外边距 -->
                        {{include file="../../../layout/view/public/style/margin_4" key="" /}}

                        <!-- 内边距 -->
                        {{include file="../../../layout/view/public/style/padding_4" key="" /}}
                    </div>
                </div>

                <!-- 图片样式 -->
                <div class="am-panel am-panel-default am-radius">
                    <div class="am-panel-hd">{{:MyLang('layout.view_style_images')}}</div>
                    <div class="am-panel-bd">
                        <!-- 媒体样式 -->
                        {{include file="../../../layout/view/public/content/media_fixed" key="_media_fixed" required="" /}}

                        <!-- 鼠标悬停图片放大 -->
                        {{include file="../../../layout/view/public/style/mouse_hover" /}}
                    </div>
                </div>

                <div class="form-submit-container">
                    <button type="submit" class="am-btn am-btn-primary am-radius am-btn-xs am-btn-block" data-am-loading="{loadingText: '{{:MyLang('processing_tips')}}'}">{{:MyLang('confirm_title')}}</button>  
                </div>
            </form>
        </div>
    </div>
</div>