{
    "require": {

    },
    "require-dev": {
        "apigen/apigen": "dev-master",
        "phpmd/phpmd": "@stable",
        "phpunit/phpunit": "^7.0",
        "roave/better-reflection": "dev-master",
        "squizlabs/php_codesniffer": "3.*"
    },
    "autoload": {
        "psr-4": {
            "App\\Acme\\": "src/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "AppTest\\Acme\\": "test/"
        }
    },
    "minimum-stability": "stable",
    "prefer-stable": true
}