<include file="Public/Header" />

<!-- header top nav -->
<include file="Public/HeaderTopNav" />

<!-- search -->
<include file="Public/NavSearch" />

<!-- header nav -->
<include file="Public/HeaderNav" />

<!-- goods category -->
<include file="Public/GoodsCategory" />

<!-- content -->
<div class="am-container cart-content">
    <!-- 商品列表 -->
    <table class="am-table">
        <thead>
            <tr>
                <th>商品信息</th>
                <th class="am-hide-sm-only">单价</th>
                <th class="am-hide-sm-only">数量</th>
                <th class="am-hide-sm-only">金额</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="base">
                    <input type="checkbox" value="1" />
                    <div class="goods-detail">
                        <a href="#">
                            <img src="../images/kouhong.jpg_80x80.jpg">
                        </a>
                        <div class="goods-base">
                            <a href="#" class="goods-title">第三方撒地方啊打广告公司古代诗歌发到广东省古代诗歌发打发归属感发撒的格式干撒的撒个撒个萨嘎说</a>
                            <ul class="goods-attr">
                                <li>颜色分类：黑色</li>
                                <li>尺码：XXL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="wap-base am-show-sm-only">
                        <span class="original-price">￥3964.00</span>
                        <strong class="total-price-content">￥2378.00</strong>
                        <span class="wap-number">x10</span>
                    </div>
                </td>
                <td class="price am-hide-sm-only">
                    <p class="original-price">￥3964.00</p>
                    <p class="line-price">￥2378.00</p>
                </td>
                <td class="number am-hide-sm-only">
                    <div class="am-input-group am-input-group-sm number-tag">
                      <span class="am-input-group-label">-</span>
                      <input type="text" class="am-form-field" value="1" />
                      <span class="am-input-group-label">+</span>
                    </div>
                </td>
                <td class="total-price am-hide-sm-only">
                    <strong class="total-price-content">￥2378.00</strong>
                </td>
                <td class="operation">
                    <a href="javascript:;" class="delete-submit">删除</a>
                </td>
            </tr>

            <tr>
                <td class="base">
                    <input type="checkbox" value="2" />
                    <div class="goods-detail">
                        <a href="#">
                            <img src="../images/kouhong.jpg_80x80.jpg">
                        </a>
                        <div class="goods-base">
                            <a href="#" class="goods-title">第三方撒地方啊打广告公司古代诗歌发到广东省古代诗歌发打发归属感发撒的格式干撒的撒个撒个萨嘎说</a>
                            <ul class="goods-attr">
                                <li>颜色分类：黑色</li>
                                <li>尺码：XXL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="wap-base am-show-sm-only">
                        <span class="original-price">￥3964.00</span>
                        <strong class="total-price-content">￥2378.00</strong>
                        <span class="wap-number">x10</span>
                    </div>
                </td>
                <td class="price am-hide-sm-only">
                    <p class="original-price">￥3964.00</p>
                    <p class="line-price">￥2378.00</p>
                </td>
                <td class="number am-hide-sm-only">
                    <div class="am-input-group am-input-group-sm number-tag">
                      <span class="am-input-group-label">-</span>
                      <input type="text" class="am-form-field" value="1" />
                      <span class="am-input-group-label">+</span>
                    </div>
                </td>
                <td class="total-price am-hide-sm-only">
                    <strong class="total-price-content">￥2378.00</strong>
                </td>
                <td class="operation">
                    <a href="javascript:;" class="delete-submit">删除</a>
                </td>
            </tr>

            <tr>
                <td class="base">
                    <input type="checkbox" value="3" />
                    <div class="goods-detail">
                        <a href="#">
                            <img src="../images/kouhong.jpg_80x80.jpg">
                        </a>
                        <div class="goods-base">
                            <a href="#" class="goods-title">第三方撒地方啊打广告公司古代诗歌发到广东省古代诗歌发打发归属感发撒的格式干撒的撒个撒个萨嘎说</a>
                            <ul class="goods-attr">
                                <li>颜色分类：黑色</li>
                                <li>尺码：XXL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="wap-base am-show-sm-only">
                        <span class="original-price">￥3964.00</span>
                        <strong class="total-price-content">￥2378.00</strong>
                        <span class="wap-number">x10</span>
                    </div>
                </td>
                <td class="price am-hide-sm-only">
                    <p class="original-price">￥3964.00</p>
                    <p class="line-price">￥2378.00</p>
                </td>
                <td class="number am-hide-sm-only">
                    <div class="am-input-group am-input-group-sm number-tag">
                      <span class="am-input-group-label">-</span>
                      <input type="text" class="am-form-field" value="1" />
                      <span class="am-input-group-label">+</span>
                    </div>
                </td>
                <td class="total-price am-hide-sm-only">
                    <strong class="total-price-content">￥2378.00</strong>
                </td>
                <td class="operation">
                    <a href="javascript:;" class="delete-submit">删除</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- 导航 -->
    <div class="cart-nav" data-am-sticky="{bottom:0}">
        <div class="am-fl">
            <label>
                <input type="checkbox" value="3" /> 全选
            </label>
            <a href="javascript:;" class="delete-submit-all">删除</a>
        </div>
        <div class="am-fr">
            <span class="selected-tips">已选商品 <strong>0</strong> 件</span>
            <span class="total-price-tips">合计：</span>
            <strong class="nav-total-price">￥2131234</strong>
            <button type="button" class="am-btn am-btn-primary separate-submit">结算</button>
        </div>
    </div>
</div>

<!-- 罩层 -->
<div class="theme-popover-mask" style="display:none;"></div>


<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->