<!-- 侧边栏 - 模块配置 - 图文 -->
<div id="offcanvas-module-config-images-text" class="am-offcanvas module-offcanvas-container" data-default-images="{{:StaticAttachmentUrl('default-images-mini.png')}}">
    <div class="am-offcanvas-bar">
        <div class="am-offcanvas-content am-padding-0">
            <form class="am-form form-validation-module-offcanvas-images-text" request-type="sync" request-value="FormBackModuleConfigImagesText">
                <!-- 展示模式 -->
                <div class="am-panel am-panel-default am-radius">
                    <div class="am-panel-hd">{{:MyLang('layout.view_show_model_title')}}<span class="am-form-group-label-tips-must">*</span></div>
                    <div class="am-panel-bd">
                        <!-- 展示模式 -->
                        {{:ModuleInclude('../../../module/view/layout/public/content/images_text_show_style')}}
                    </div>
                </div>

                <!-- 内容 -->
                <div class="am-panel am-panel-default am-radius">
                    <div class="am-panel-hd">{{:MyLang('layout.view_content_setup')}}<span class="am-form-group-label-tips-must">{{:MyLang('layout.view_offcanvas_module_images_text_tips')}}</span></div>
                    <div class="am-panel-bd">
                        <div class="config-images-text-container"></div>
                        <div class="business-operations-submit am-text-center am-block config-images-text-item-add">+ {{:MyLang('layout.view_offcanvas_module_images_add')}}</div>
                    </div>
                </div>

                <!-- 样式设置 -->
                <div class="am-panel am-panel-default am-radius">
                    <div class="am-panel-hd">{{:MyLang('layout.view_style_setup')}}</div>
                    <div class="am-panel-bd">
                        <!-- 背景色 -->
                        {{:ModuleInclude('../../../module/view/layout/public/style/background_color')}}

                        <!-- 圆角 -->
                        {{:ModuleInclude('../../../module/view/layout/public/style/border_radius')}}

                        <!-- 边线类型 -->
                        {{:ModuleInclude('../../../module/view/layout/public/style/border_style_4')}}

                        <!-- 边线大小 -->
                        {{:ModuleInclude('../../../module/view/layout/public/style/border_width_color_4')}}

                        <!-- 外边距 -->
                        {{:ModuleInclude('../../../module/view/layout/public/style/margin_4')}}

                        <!-- 内边距 -->
                        {{:ModuleInclude('../../../module/view/layout/public/style/padding_4')}}
                    </div>
                </div>

                <!-- 图片样式 -->
                <div class="am-panel am-panel-default am-radius">
                    <div class="am-panel-hd">{{:MyLang('layout.view_style_images')}}</div>
                    <div class="am-panel-bd">
                        <!-- 媒体样式 -->
                        {{:ModuleInclude('../../../module/view/layout/public/content/media_fixed', [
                            'key'   => '_media_fixed',
                        ])}}

                        <!-- 鼠标悬停图片放大 -->
                        {{:ModuleInclude('../../../module/view/layout/public/style/mouse_hover')}}
                    </div>
                </div>

                <div class="form-submit-container">
                    <button type="submit" class="am-btn am-btn-primary am-radius am-btn-xs am-btn-block" data-am-loading="{loadingText: '{{:MyLang('processing_tips')}}'}">{{:MyLang('confirm_title')}}</button>  
                </div>
            </form>
        </div>
    </div>
</div>