<include file="Public/Header" />
<!-- nav start -->
<include file="Public/Nav" />
<!-- nav end -->
		
<!-- content start -->
<div class="admin">
	<!-- left menu start -->
	<include file="Public/Menu" />
	<!-- left menu end -->

	<!-- right content start  -->
	<iframe id="ifcontent" src="{{:U('Admin/Index/Init')}}"></iframe>
	<!-- right content end  -->
</div>
<!-- content end -->

<!-- navbar start -->
<include file="Public/NavBar" />
<!-- navbar end -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->