<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<p class="fw-700 list-title">{{:L('os_view_title')}}</p>
		<dl class="dl-content">
			<dt>{{:L('ver_name')}}</dt>
			<dd>{{$data.ver}}</dd>

			<dt>{{:L('os_ver_name')}}</dt>
			<dd>{{$data.os_ver}}</dd>

			<dt>{{:L('php_ver_name')}}</dt>
			<dd>{{$data.php_ver}}</dd>

			<dt>{{:L('mysql_ver_name')}}</dt>
			<dd>{{$data.mysql_ver}}</dd>

			<dt>{{:L('server_ver_name')}}</dt>
			<dd>{{$data.server_ver}}</dd>

			<dt>{{:L('host_name')}}</dt>
			<dd>{{$data.host}}</dd>
		</dl>
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->