<include file="Public/Header" />

<!-- content start -->
<div class="account-pages">
	<div class="wrapper-page">
		<div class="text-center">
            <span class="logo fw-700">{{:L('common_site_name')}}</span>
        </div>
        <div class="m-t-40 card-box">
            <div class="panel-body">
            	<form class="am-form form-validation" action="{{:U('Admin/Admin/Login')}}" method="POST" request-type="ajax-url" request-value="{{:U('Admin/Index/Index')}}">
            		<div class="am-g">
            			<div class="am-form-group">
					      <input type="text" placeholder="{{:L('login_username_text')}}" name="username" pattern="{{:L('common_regex_username')}}" data-validation-message="{{:L('login_username_format')}}" class="am-radius" required />
					    </div>
					    <div class="am-form-group form-horizontal m-t-20">
					      <input type="password" placeholder="{{:L('login_login_pwd_text')}}" name="login_pwd" pattern="{{:L('common_regex_pwd')}}" data-validation-message="{{:L('login_login_pwd_format')}}" class="am-radius" required />
					    </div>
                        <div class="am-form-group">
                        	<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_login_loading_tips')}}'}">{{:L('login_button_text')}}</button>
                        </div>
                        
                        <div class="am-form-group">
                        	<a href="javascript:;" class="text-muted" data-am-popover="{theme: 'danger sm', content: '{{:L('login_forgot_pwd_tips')}}', trigger: 'hover focus'}">{{:L('login_forgot_pwd_text')}}</a>
                        </div>
            		</div>
            	</form>
            </div>
        </div>
	</div>
</div>
<!-- content end -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->