{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:MyUrl('admin/pluginsadmin/saveinfo')}}" method="POST" request-type="form" enctype="multipart/form-data">
            <legend>
                <span class="am-text-default">
                    {{if empty($data['id'])}}
                        应用添加
                    {{else /}}
                        应用编辑
                    {{/if}}
                </span>
                <a href="{{:MyUrl('admin/pluginsadmin/index')}}" class="am-fr am-text-sm am-margin-top-xs am-icon-mail-reply"> 返回</a>
            </legend>

            <div class="am-form-group">
                <label>应用唯一标记<span class="am-form-group-label-tips">以数字、字母小写、下划线</span></label>
                <input type="text" name="plugins" placeholder="名称" minlength="2" maxlength="60" data-validation-message="应用唯一标记格式 2~60 个字符" pattern="^[a-z0-9_]{2,60}$" class="am-radius" {{if !empty($data)}} value="{{$data.plugins}}"{{/if}} required />
                <!-- 校验信息 -->
                {{if !empty($verification_msg)}}
                    <div class="am-alert am-alert-danger" data-am-alert>
                        {{$verification_msg}} ， 请重新填写！
                    </div>
                {{/if}}
            </div>

            <div class="am-form-group am-form-group-refreshing">
                <input type="hidden" name="id" {{if !empty($data)}} value="{{$data.id}}"{{/if}} />
                <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm am-btn-block" data-am-loading="{loadingText:'处理中...'}">下一步</button>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->