<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- table nav start -->
		<include file="Nav" />
		<!-- table nav end -->
		
		<!-- form start -->
		<form class="am-form form-validation view-save" action="{{:U('Admin/Sms/Save')}}" method="POST" request-type="ajax-url" request-value="{{:U('Admin/Sms/Index', ['type'=>'message'])}}">
			<div class="am-form-group">
				<label>{{$data.home_sms_user_reg.name}}<span class="fs-12 fw-100 cr-999">（{{$data.home_sms_user_reg.describe}}）</span></label>
				<input type="text" name="{{$data.home_sms_user_reg.only_tag}}" placeholder="{{$data.home_sms_user_reg.name}}" data-validation-message="{{$data.home_sms_user_reg.error_tips}}" class="am-radius" <present name="data"> value="{{$data.home_sms_user_reg.value}}"</present> />
			</div>
			<div class="am-form-group">
				<label>{{$data.home_sms_user_forget_pwd.name}}<span class="fs-12 fw-100 cr-999">（{{$data.home_sms_user_forget_pwd.describe}}）</span></label>
				<input type="text" name="{{$data.home_sms_user_forget_pwd.only_tag}}" placeholder="{{$data.home_sms_user_forget_pwd.name}}" data-validation-message="{{$data.home_sms_user_forget_pwd.error_tips}}" class="am-radius" <present name="data"> value="{{$data.home_sms_user_forget_pwd.value}}"</present> />
			</div>
			<div class="am-form-group">
				<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
			</div>
		</form>
        <!-- form end -->
	</div>
</div>
<!-- right content end  -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->