<ul class="am-nav am-nav-pills table-nav m-b-10">
	<li {{if $nav_type eq 'sms'}}class="am-active"{{/if}} data-type="sms">
		<a href="{{:url('admin/sms/index', ['type'=>'sms'])}}">{{:lang('sms_sms_nav_name')}}</a>
	</li>
	<li {{if $nav_type eq 'message'}}class="am-active"{{/if}} data-type="message">
		<a href="{{:url('admin/sms/index', ['type'=>'message'])}}">{{:lang('sms_message_nav_name')}}</a>
	</li>
</ul>

<div class="am-alert am-alert-warning am-radius" data-am-alert>
    <button type="button" class="am-close">&times;</button>
    <p>{{:lang('sms_view_tips')}}</p>
</div>