<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{$public_host}}favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{:MyLang('common_service.diy.base_nav_title')}}</title>
    <script type="module" crossorigin src="{{$public_host}}static/diy/js/entry/index-299c6bce.js"></script>
    <link rel="stylesheet" href="{{$public_host}}static/diy/css/index-47987fe1.css">
</head>
<body>
    <div id="app"></div>
</body>
</html>