/**
 * 主题配色 - 夜间黑色
 */
html,body {
    background: #141414;
    color: #8e8e8e;
}
.am-table-striped > tbody > tr:nth-child(odd) > td,
.am-table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #1d1d1d;
}
pre,
.am-table-hover > tbody > tr:hover > td,
.am-table-hover > tbody > tr:hover > th {
    background-color: #202020;
}
.am-table-bordered > thead > tr > th,
.am-table-bordered > tbody > tr > th,
.am-table-bordered > tfoot > tr > th,
.am-table-bordered > thead > tr > td,
.am-table-bordered > tbody > tr > td,
.am-table-bordered > tfoot > tr > td {
    border-left: 0.1rem solid #232323;
}
.am-table > thead > tr > th,
.am-table > tbody > tr > th,
.am-table > tfoot > tr > th,
.am-table > tbody > tr > td,
.am-table > tfoot > tr > td,
.am-table-bordered > thead + tbody > tr:first-child > th,
.am-table-bordered > thead + tbody > tr:first-child > td,
.form-popup-submit,
.form-table-fields-button-container,
#inspect-upgrade-popup .upgrade-bottom-content,
.form-inventory-submit {
    border-top: 0.1rem solid #232323;
}
.am-table > thead > tr > td {
    border-bottom: 0.1rem solid #232323 !important;
}
.am-popup,
.popup-not-title .am-popup-inner {
    border: 0.1rem solid #232323;
}
.am-tagsinput,
.data-list thead th {
    background-color: transparent;
}
.admin-offcanvas-bar,
.admin-offcanvas-bar .am-list > li,
.am-popup-inner,
.am-popup-bd,
.am-panel,
.am-list > li,
.am-slider-default,
.tree-list li .item-content,
.popup-not-title .am-popup-inner,
.form-legend-fixed,
.table-thead-beautify thead th {
    background-color: #1d1d1d !important;
}
.admin-offcanvas-bar .am-list > li {
    border-color: #222224;
}
.am-popup-hd,
.am-panel > .am-panel-hd,
.second-nav,
.am-input-group-sm > .am-input-group-btn > .am-btn,
.am-input-group-sm > .am-form-field,
.am-input-group-sm > .am-input-group-label,
.am-input-group-sm > .am-input-group-btn > .am-btn,
.goods-nav,
.goods-nav li.nav-shrink-submit {
    background-color: #252525;
}
.popup-not-title {
    border-color: transparent;
    background: transparent;
}
.dl-content dt:hover, .dl-content dd:hover, .data-avg-text-list li:hover {
    background: #1a1a1a;
}
.data-avg-text-list li:hover .data-avg-text-list-content {
    color: #e9e9e9;
}
.am-close,
.am-popup-hd .am-popup-title,
.am-popup-hd,
.am-panel > .am-panel-hd,
.second-nav,
.goods-nav li a:hover, .goods-nav-active,
.plugins-data-list ul li .base h3 {
    color: #f5f5f5;
}
.am-switch .am-switch-handle-on.am-switch-default,
.am-switch .am-switch-handle-off.am-switch-default,
.realstore-list-container li .am-switch .am-switch-handle-off {
    background: #3f3f3f;
}
.second-nav li.am-active a,
.goods-nav li a:hover, .goods-nav-active,
ul.am-dropdown-content > li > a:hover,
ul.am-dropdown-content > li > a:focus {
    background-color: #464646 !important;
}
legend,
ul.am-dropdown-content > li > a:hover,
ul.am-dropdown-content > li > a:focus {
    border-color: #282828;
    color: #a8a8a8;
}
.am-table > thead > tr > th,
.am-form select,
.am-form textarea,
.am-form input[type="text"],
.am-form input[type="password"],
.am-form input[type="datetime"],
.am-form input[type="datetime-local"],
.am-form input[type="date"],
.am-form input[type="month"],
.am-form input[type="time"],
.am-form input[type="week"],
.am-form input[type="number"],
.am-form input[type="email"],
.am-form input[type="url"],
.am-form input[type="search"],
.am-form input[type="tel"],
.am-form input[type="color"],
.am-form-field,
.am-list > li,
.am-panel,
.am-panel > .am-panel-hd,
.dl-content dd:not(:last-child),
form.am-form .am-form-group,
.plug-file-upload-view,
.business-form-group,
.business-form-block,
.table-nav,
.am-modal-bd,
.am-modal-btn,
.business-operations-submit,
.specifications-container,
.plug-file-upload-submit,
.spec-images-list,
.am-table-bordered,
.am-popup-hd,
.content-right table .am-dropdown-content button[type="button"],
.am-input-group-sm > .am-input-group-btn > .am-btn,
.am-input-group-sm > .am-form-field,
.am-input-group-sm > .am-input-group-label,
.am-input-group-sm > .am-input-group-btn > .am-btn,
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices,
.chosen-container .chosen-drop,
.parameters-container,
.content-app-items > li,
.goods-nav,
.goods-nav li,
.am-switch,
.form-table-search td select[multiple],
.form-table-search td select[size],
.form-table-search td .chosen-container-multi .chosen-choices,
.plugins-intellectstools-goods-category-choice .goods-category-choice-content ul,
.plugins-intellectstools-goods-category-choice .goods-category-choice-content ul li:first-child,
.inventory-early-warning-container ul li .item-content,
.right-operate .echarts-where-submit,
.block-container .am-dropdown .am-selected-btn,
.goods-list-container,
.am-tagsinput,
.tree-list li .item-content,
.business-item ul li,
.plugins-data-list ul .item,
.plugins-data-list ul li .operation,
.content-right [class*="-content"] .nav-items,
.content-right [class*="-content-base"] .items,
.admin-sidebar,
.base-content-top .right-content,
.am-nav-tabs,
.am-nav-tabs > li.am-active > a,
.am-nav-tabs > li.am-active > a:hover,
.am-nav-tabs > li.am-active > a:focus,
.am-nav-tabs > li > a:hover,
.am-tabs-bd,
.forth-selection-list .forth-selection-items .forth-selection-content,
.forth-selection-list .forth-selection-items .forth-selection-content li,
.spec-inventory-list ul li:not(:last-child),
#package-upgrade-modal .am-scrollable-vertical,
hr,
.am-divider-default,
.am-divider-dashed,
.am-divider-dashed,
.chosen-container-active.chosen-with-drop .chosen-single,
.product-container table tbody tr td select, .product-container table tbody tr td textarea, .product-container table tbody tr td input[type="text"], .product-container table tbody tr td input[type="password"], .product-container table tbody tr td input[type="datetime"], .product-container table tbody tr td input[type="datetime-local"], .product-container table tbody tr td input[type="date"], .product-container table tbody tr td input[type="month"], .product-container table tbody tr td input[type="time"], .product-container table tbody tr td input[type="week"], .product-container table tbody tr td input[type="number"], .product-container table tbody tr td input[type="email"], .product-container table tbody tr td input[type="url"], .product-container table tbody tr td input[type="search"], .product-container table tbody tr td input[type="tel"], .product-container table tbody tr td input[type="color"] {
    border-color: #232323;
}
.am-nav > li.am-active > a,
.am-nav > li.am-active > a:hover,
.am-nav > li.am-active > a:focus {
    background: #232323;
}
.am-nav > li > a:hover,
.am-nav > li > a:focus,
.content-right [class*="-content"] .nav-items,
.content-right [class*="-content-base"] .items:hover {
    background: #212121;
}
.coupon-content-module .module-items .view-to,
.wallet-content-module .module-items .view-to,
.am-form-group:hover>label {
    color: #f5f5f5 !important;
}
.am-modal-dialog,
.am-modal-dialog .am-modal-hd,
.am-modal-dialog .am-modal-bd,
.form-popup-submit,
.business-operations-submit,
.plug-file-upload-submit,
.am-switch .am-switch-label,
.form-table-fields-button-container,
#inspect-upgrade-popup .upgrade-bottom-content,
.form-inventory-submit {
    background: #1e1e1e;
}
.wallet-content-module .module-items,
.coupon-content-module .module-items {
    background: #212121;
}
.business-operations-submit:hover,
.plug-file-upload-submit:hover,
.content-right [class*="-content"] .nav-items:hover {
    border-color: #353535;
}
.am-img-thumbnail {
    background-color: #484848;
}
.am-pagination > li > a,
.am-pagination > li > span {
    background-color: #3d3d3d;
    border-color: #444444;
    color: #d1d1d1;
}
ul.plug-file-upload-view li i {
    color: #333;
}
ul.plug-file-upload-view li:hover > i {
    color: #444;
    background: #454545;
}
table.am-table .am-btn-default,
.plug-file-upload-submit,
.am-pagination > .am-disabled > span,
.am-pagination > .am-disabled > span:hover,
.am-pagination > .am-disabled > span:focus,
.am-pagination > .am-disabled > a,
.am-pagination > .am-disabled > a:hover,
.am-pagination > .am-disabled > a:focus,
.am-pagination > li > a:hover,
.am-pagination > li > span:hover,
.am-pagination > li > a:focus,
.am-pagination > li > span:focus,
.coupon-content-module .module-items p.total,
.wallet-content-module .module-items p.total {
    color: #888;
}
.am-pagination > .am-disabled > span,
.am-pagination > .am-disabled > span:hover,
.am-pagination > .am-disabled > span:focus,
.am-pagination > .am-disabled > a,
.am-pagination > .am-disabled > a:hover,
.am-pagination > .am-disabled > a:focus,
.bk-cr-ffd {
    background-color: #3d3d3d !important;
    border-color: #444444;
}
.am-pagination > .am-active > a,
.am-pagination > .am-active > span,
.am-pagination > .am-active > a:hover,
.am-pagination > .am-active > span:hover,
.am-pagination > .am-active > a:focus,
.am-pagination > .am-active > span:focus {
    color: #f5f5f5;
    background-color: #797979;
    border-color: #7d7d7d;
}
.am-form select:focus,
.am-form textarea:focus,
.am-form input[type="text"]:focus,
.am-form input[type="password"]:focus,
.am-form input[type="datetime"]:focus,
.am-form input[type="datetime-local"]:focus,
.am-form input[type="date"]:focus,
.am-form input[type="month"]:focus,
.am-form input[type="time"]:focus,
.am-form input[type="week"]:focus,
.am-form input[type="number"]:focus,
.am-form input[type="email"]:focus,
.am-form input[type="url"]:focus,
.am-form input[type="search"]:focus,
.am-form input[type="tel"]:focus,
.am-form input[type="color"]:focus,
.am-form-field:focus {
    background-color:  #000;
}
.am-form select,
.am-form textarea,
.am-form input[type="text"],
.am-form input[type="password"],
.am-form input[type="datetime"],
.am-form input[type="datetime-local"],
.am-form input[type="date"],
.am-form input[type="month"],
.am-form input[type="time"],
.am-form input[type="week"],
.am-form input[type="number"],
.am-form input[type="email"],
.am-form input[type="url"],
.am-form input[type="search"],
.am-form input[type="tel"],
.am-form input[type="color"],
.am-form-field,
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices {
    background-color: transparent;
    color: #888 !important;
}
.chosen-container.chosen-with-drop .chosen-drop {
    background: #1d1e1f;
}
.chosen-container-single .chosen-results,
.chosen-container-multi .chosen-results {
    color: #cfd3dc;
}
.chosen-container-single .chosen-results li.highlighted,
.chosen-container-multi .chosen-results li.highlighted,
.plugins-intellectstools-goods-category-choice .goods-category-choice-content ul li.active a,
.am-btn-default:active,
.am-btn-default.am-active,
.am-dropdown.am-active .am-btn-default.am-dropdown-toggle,
.am-selected-list li:hover,
.admin-multilingual-select,
.common-nav-bar {
    background: #262727 !important;
}
.chosen-container-single .chosen-drop .result-selected,
.chosen-container-multi .chosen-drop .result-selected {
    color: #656565;
}
.chosen-container-multi .chosen-choices li.search-choice {
    color: #bababa;
    border: 0.1rem solid #888;
    background-color: #1d1d1d;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#141414),to(#1d1d1d));
    background-image: -webkit-linear-gradient(top,#141414,#1d1d1d);
    background-image: linear-gradient(to bottom,#141414,#1d1d1d);
    -webkit-box-shadow: none; 
    box-shadow: none;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.not-product-detail-list-tips i,
.not-product-detail-list-tips p,
.not-product-detail-list-tips a,
.table-no > i,
.table-no > p {
    color: #353535 !important;
}
.am-text-primary,
.am-text-success,
.am-text-secondary,
.am-text-warning,
.am-btn,
.am-badge,
.right-operate .echarts-where-submit:hover,
.am-switch .am-switch-handle-on.am-switch-success, .am-switch .am-switch-handle-off.am-switch-success {
    opacity: 0.5;
}
.am-icon-btn,
.am-popover.am-active {
    opacity: 0.8;
}
.am-page-loading,
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close,
.am-tagsinput .am-badge-primary {
    background: #171717;
}
.am-table-scrollable-horizontal {
    border: 0.1rem solid #232323;
}
.am-pagination > li > a:hover, .am-pagination > li > span:hover, .am-pagination > li > a:focus, .am-pagination > li > span:focus {
    background-color: #5e5e5e;
}
iframe,
form.am-form-popup-fixed .am-form-popup-submit, form.am-form-popup-sticky .am-form-popup-submit,
.am-table-scrollable-horizontal > .am-table > thead > tr th,
.am-table-scrollable-horizontal .am-table tr th,
.form-table-search,
.am-table-scrollable-horizontal .am-table tr td.am-grid-fixed-left,
.am-table-scrollable-horizontal .am-table tr td.am-grid-fixed-right,
.specifications-table thead tr > th:nth-last-child(-n+2),
.specifications-table tbody tr > td:nth-last-child(-n+2),
.parameters-table thead tr > th:last-child,
.plugins-intellectstools-goods-category-choice .goods-category-choice-content ul,
.am-close.am-icon-btn:hover,
.am-close.am-icon-btn:focus {
    background: #141414;
}
.am-list-striped > li:nth-of-type(even),
.am-table-scrollable-horizontal .am-table-striped > tbody > tr:nth-child(odd) td.am-grid-fixed-left,
.am-table-scrollable-horizontal .am-table-striped > tbody > tr:nth-child(odd) td.am-grid-fixed-right {
    background-color: #1d1d1d;
}
.am-table-scrollable-horizontal .am-table-hover > tbody > tr:hover > td,
.am-table-scrollable-horizontal .am-table-hover > tbody > tr:hover > th,
.am-list-border > li > a:hover,
.am-list-bordered > li > a:hover,
.am-list-border > li > a:focus,
.am-list-bordered > li > a:focus {
    background-color: #181818;
}
.am-table > thead > tr > td.am-primary,
.am-table > tbody > tr > td.am-primary,
.am-table > tfoot > tr > td.am-primary,
.am-table > thead > tr > th.am-primary,
.am-table > tbody > tr > th.am-primary,
.am-table > tfoot > tr > th.am-primary,
.am-table > thead > tr.am-primary > td,
.am-table > tbody > tr.am-primary > td,
.am-table > tfoot > tr.am-primary > td,
.am-table > thead > tr.am-primary > th,
.am-table > tbody > tr.am-primary > th,
.am-table > tfoot > tr.am-primary > th,
.am-btn-default,
.chosen-container-active .chosen-choices li.search-field input[type="text"],
.admin-multilingual-select {
    color: #666 !important;
}
.am-switch .am-switch-handle-on.am-switch-default,
.am-switch .am-switch-handle-off.am-switch-default,
.am-popup-hd .am-close:hover,
ul.am-dropdown-content > li > a,
.am-nav > li.am-active > a,
.am-nav > li.am-active > a:hover,
.am-nav > li.am-active > a:focus,
.business-operations-submit:hover,
.plug-file-upload-submit:hover,
.content-right [class*="-content"] .nav-items:hover,
.chosen-container-single .chosen-default,
.chosen-container-multi .chosen-choices li.search-field input[type="text"],
.am-modal-dialog .am-modal-hd {
    color: #999 !important;
}
.admin-multilingual-select,
.common-nav-bar {
    box-shadow: 0 0 1rem 0.2rem #444444;
}
table.am-table .am-btn-default,
table.am-table .am-btn-primary,
table.am-table .am-btn-secondary,
table.am-table .am-btn-success,
table.am-table .am-btn-warning,
table.am-table .am-btn-danger,
.table-no {
    background: transparent;
}
.am-alert,
.am-dropdown-content,
.block-container,
.block-combination-container-2 li,
.plugins-intellectstools-goods-category-choice .goods-category-choice-content,
.plugins-intellectstools-goods-category-choice .goods-category-choice .already-select-tips,
ul.am-dropdown-content {
    background-color: #1d1d1d !important;
    border-color: #292929;
}
.am-dropdown-content:after {
    border-bottom-color: #1d1d1d;
}
.am-dropdown-content:before {
    border-bottom-color: #292929;
}
.am-dropdown-up .am-dropdown-content:after {
    border-top-color: #1d1d1d;
}
.am-btn-default:hover,
.am-btn-default:focus,
.am-btn-default:active,
.am-btn-default.am-active,
.am-dropdown.am-active .am-btn-default.am-dropdown-toggle {
    color: #f5f5f5;
}
form.am-form .am-form-group:hover, .plug-file-upload-view:hover {
    background: #1c1c1c;
}
form.am-form .am-form-group-refreshing:hover {
    background: none;
}
.am-form-group:hover input,
.am-form-group:hover select,
.am-form-group:hover textarea,
.am-form-group:hover .chosen-choices,
.am-form-group:hover .chosen-single,
.am-form-group:hover .am-tagsinput,
.am-btn-default:hover,
.am-btn-default:focus,
.am-btn-default:active,
.am-btn-default.am-active,
.am-dropdown.am-active .am-btn-default.am-dropdown-toggle,
button.colorpicker-submit:hover {
    border: 0.1rem solid #353535;
}
button.colorpicker-submit:hover,
.am-tagsinput .tag [data-role="remove"]:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.edui-default .edui-dialog-caption,
.edui-default .edui-box,
.form-validation-search .am-btn-default:hover,
.form-validation-search .am-btn-default:focus,
.form-validation-search .am-btn-default:active,
.right-operate .quick-time a {
    color: #666;
}
.am-tagsinput input,
.am-form .am-tagsinput input {
    background: transparent !important;
    border: 0px solid transparent !important;
}
.am-form select[disabled],
.am-form textarea[disabled],
.am-form input[type="text"][disabled],
.am-form input[type="password"][disabled],
.am-form input[type="datetime"][disabled],
.am-form input[type="datetime-local"][disabled],
.am-form input[type="date"][disabled],
.am-form input[type="month"][disabled],
.am-form input[type="time"][disabled],
.am-form input[type="week"][disabled],
.am-form input[type="number"][disabled],
.am-form input[type="email"][disabled],
.am-form input[type="url"][disabled],
.am-form input[type="search"][disabled],
.am-form input[type="tel"][disabled],
.am-form input[type="color"][disabled],
.am-form-field[disabled],
.am-form select[readonly],
.am-form textarea[readonly],
.am-form input[type="text"][readonly],
.am-form input[type="password"][readonly],
.am-form input[type="datetime"][readonly],
.am-form input[type="datetime-local"][readonly],
.am-form input[type="date"][readonly],
.am-form input[type="month"][readonly],
.am-form input[type="time"][readonly],
.am-form input[type="week"][readonly],
.am-form input[type="number"][readonly],
.am-form input[type="email"][readonly],
.am-form input[type="url"][readonly],
.am-form input[type="search"][readonly],
.am-form input[type="tel"][readonly],
.am-form input[type="color"][readonly],
.am-form-field[readonly],
fieldset[disabled] .am-form select,
fieldset[disabled] .am-form textarea,
fieldset[disabled] .am-form input[type="text"],
fieldset[disabled] .am-form input[type="password"],
fieldset[disabled] .am-form input[type="datetime"],
fieldset[disabled] .am-form input[type="datetime-local"],
fieldset[disabled] .am-form input[type="date"],
fieldset[disabled] .am-form input[type="month"],
fieldset[disabled] .am-form input[type="time"],
fieldset[disabled] .am-form input[type="week"],
fieldset[disabled] .am-form input[type="number"],
fieldset[disabled] .am-form input[type="email"],
fieldset[disabled] .am-form input[type="url"],
fieldset[disabled] .am-form input[type="search"],
fieldset[disabled] .am-form input[type="tel"],
fieldset[disabled] .am-form input[type="color"],
fieldset[disabled] .am-form-field {
    background-color: #252525 !important;
}
.am-table > thead > tr > td.am-active,
.am-table > tbody > tr > td.am-active,
.am-table > tfoot > tr > td.am-active,
.am-table > thead > tr > th.am-active,
.am-table > tbody > tr > th.am-active,
.am-table > tfoot > tr > th.am-active,
.am-table > thead > tr.am-active > td,
.am-table > tbody > tr.am-active > td,
.am-table > tfoot > tr.am-active > td,
.am-table > thead > tr.am-active > th,
.am-table > tbody > tr.am-active > th,
.am-table > tfoot > tr.am-active > th,
.plugins-data-list ul.already-install .item.am-active,
.plugins-data-list ul .item.am-active {
    background-color: #2e2e2e !important;
}
.plugins-data-list ul li .submit-state.am-success {
    color: #fff !important;
}
.am-ucheck-checkbox:disabled + .am-ucheck-icons, .am-ucheck-radio:disabled + .am-ucheck-icons {
    color: #252525;
}
header {
    background-color: #19222c !important;
    border-color: #151d26 !important;
}
.admin-sidebar-sub {
    background: #393939;
}
.admin-sidebar-sub li {
    background: #262626 !important;
    border-color: #1d1d1d !important;
}
.common-left-menu-active,
.menu-mini-container-popup ul li a.common-left-menu-active {
    background: #19222c !important;
}
.base-content-top .vip-active {
    background: rgb(255 229 0 / 30%);
}
.shopxo-base li:nth-child(1) .li-content {
    background: rgb(0 188 212 / 30%);
}
.shopxo-base li:nth-child(2) .li-content {
    background: rgb(255 152 0 / 30%);
}
.shopxo-base li:nth-child(3) .li-content {
    background: rgb(230 58 117 / 30%);
}
.shopxo-base li:nth-child(4) .li-content {
    background: rgb(156 64 172 / 30%);
}
.block-container .block-title .icon,
.block-combination-container-2 li .block-title .icon {
    background: rgb(63 130 254 / 30%);
}
.common-prompt.am-alert-success {
    border-color: #3b592b;
    box-shadow: 0 0.2rem 0.4rem #3b592b, 0 0 0.6rem rgb(0 0 0 / 20%);
}
.common-prompt.am-alert-danger {
    border-color: #a48585;
    box-shadow: 0 0.2rem 0.4rem #a48585, 0 0 0.6rem rgb(0 0 0 / 20%);
}
.common-prompt.am-alert-warning {
    border-color: #917968;
    box-shadow: 0 0.2rem 0.4rem #917968, 0 0 0.6rem rgb(0 0 0 / 20%);
}
.popup-not-title .am-close,
.modal-dialog-not-title .am-close {
    background: #5d5d5d;
    color: #dfdfdf;
    border: 0.3rem solid #868686;
}
.popup-not-title .am-close:hover,
.modal-dialog-not-title .am-close:hover {
    background: #252525;
    border: 0.3rem solid #5a5a5a;
}
.admin-login {
    background: rgba(0,0,0,.85);
}
ul.plug-file-upload-view li {
    border-color: #383838;
}
.admin-nav-bar,
.index-multilingual-select {
    background-color: #212121;
    box-shadow: 0 0 1.5rem rgb(0 0 0 / 50%);
}
.am-icon-btn:hover, .am-icon-btn:focus {
    background-color: #494949;
}
#modal-plugins-multilingual-select-container .am-modal-bd ul {
    border: 0.1rem solid #2b2b2b;
}
.data-avg-text-list, .data-avg-text-list li {
    border-color: #232323;
}

/**
 * 编辑器还是使用白底色
 */
.edui-default iframe {
    background: transparent !important;
}

/**
 * 打印模板
 */
.hiprint-printPaper.design {
    background: -webkit-linear-gradient(top, transparent 1.5rem, #181818 1.5rem, #181818 1.6rem, transparent 1.6rem, transparent 3.1rem, #181818 3.1rem, #181818 3.2rem, transparent 3.2rem, transparent 4.7rem, #181818 4.7rem, #181818 4.8rem, transparent 4.8rem, transparent 6.3rem, #1c1c1c 6.3rem, #1c1c1c 6.3rem), -webkit-linear-gradient( left, transparent 1.5rem, #181818 1.5rem, #181818 1.6rem, transparent 1.6rem, transparent 3.1rem, #181818 3.1rem, #181818 3.2rem, transparent 3.2rem, transparent 4.7rem, #181818 4.7rem, #181818 4.8rem, transparent 4.8rem, transparent 6.3rem, #1c1c1c 6.3rem, #1c1c1c 6.3rem);
    background-size: 6.4rem 6.4rem;
    background-repeat: repeat;
}
.right-option-setting {
    background: rgb(28 28 28 / 70%);
}
.hiprint-option-items .hiprint-option-item-field input, .hiprint-option-items .hiprint-option-item-field select, .hiprint-option-items .hiprint-option-item-field textarea {
    border-color: rgb(47 47 47);
}

.hiprint-printElement-table thead {
    background: #2d2d2d;
}
.hiprint-printElement-table td {
    color: #666;
    border-color: #242424;
}
.hitable .selected {
    background: #3d3d3d;
}
.drag-list li .item a {
    color: #999;
}

/**
 * 进销存
 */
.stats-base li:nth-child(1) .li-content, .stats-base li:nth-child(1) .item-content {
    background: rgb(0 142 255 / 30%);
}
.stats-base li:nth-child(2) .li-content, .stats-base li:nth-child(2) .item-content {
    background: rgb(255 152 0 / 30%);
}
.stats-base li:nth-child(3) .li-content, .stats-base li:nth-child(3) .item-content {
    background: rgb(230 58 117 / 30%);
}
.stats-base li:nth-child(4) .li-content, .stats-base li:nth-child(4) .item-content {
    background: rgb(156 64 172 / 30%);
}
.stats-base li:nth-child(5) .li-content, .stats-base li:nth-child(5) .item-content {
    background: rgb(244 67 54 / 30%);
}
.stats-base li:nth-child(6) .li-content, .stats-base li:nth-child(6) .item-content {
    background: rgb(61 169 61 / 30%);
}
.stats-base li:nth-child(7) .li-content, .stats-base li:nth-child(7) .item-content {
    background: rgb(0 188 212 / 30%);
}
.stats-base li:nth-child(8) .li-content, .stats-base li:nth-child(8) .item-content {
    background: rgb(255 87 34 / 30%);
}
.stats-base li:nth-child(9) .li-content, .stats-base li:nth-child(9) .item-content {
    background: rgb(121 85 72 / 30%);
}
.stats-base li:nth-child(10) .li-content, .stats-base li:nth-child(10) .item-content {
    background: rgb(63 81 181 / 30%);
}
.stats-base li:nth-child(11) .li-content, .stats-base li:nth-child(11) .item-content {
    background: rgb(255 193 7 / 30%);
}
.stats-base li:nth-child(12) .li-content, .stats-base li:nth-child(12) .item-content {
    background: rgb(1 176 255 / 30%);
}
.product-container-fixed-operate table thead tr > th:last-child,
.product-container-fixed-operate table thead tr > th:last-child, .product-container-fixed-operate table tbody tr > td:last-child {
    background: rgb(20 20 20);
}
.stats-base li .name > p,
.stats-base li .li-content .total {
    color: #888;
}
.admin-header {
    -webkit-box-shadow: 0 0.1rem 0.2rem rgb(37 48 60 / 60%);
    box-shadow: 0 0.1rem 0.2rem rgb(37 48 60 / 60%);
}
.form-bottom-nav-fixed {
    background: #242424;
}
.form-bottom-nav-fixed,
form.am-form-popup-fixed .am-form-popup-submit,
form.am-form-popup-sticky .am-form-popup-submit {
    border-top: 0.1rem solid #2b2b2b;
}
.admin-sidebar-list li a {
    color: #676767;
}
.menu-mini-container-popup ul li a,
.admin-sidebar-list li a:hover,
.common-left-menu-active {
    color: #c6c6c6 !important;
}
.header-menu-open-pages-list ul li {
    border-color: #3d3d3d;
}
.header-menu-open-pages-list ul li.am-active,
.header-menu-open-pages-list ul li:hover {
    color: #506cb1;
    border-color: #5873b4;
}
.header-menu-open-pages-list ul li.am-active a,
.header-menu-open-pages-list ul li a:hover {
    color: #802c12;
}
.list-find li .item-content:hover {
    border-color: #454545;
}
.product-unit-table thead tr > th:last-child, .product-unit-table tbody tr > td:last-child {
    background: rgb(30 30 30);
    box-shadow: rgb(136 136 136 / 10%) -0.5rem 0px 0.8rem;
}
.position-data-list {
    border-color: #292929;
}
.menu-mini-container-popup {
    background: #36373c;
}
.menu-mini-container-popup .mui-mbar-tab-tip {
    color: #36373c;
}
.admin-header .am-topbar-nav > li > a:hover, .admin-header .am-topbar-nav > li > a:focus, .admin-header .am-topbar-nav > li.am-active > a {
    background-color: rgba(0, 0, 0, 0.05);
    color: #b2b2b2 !important;
}
.am-list > li > a,
.am-topbar-inverse .am-topbar-nav > li > a {
    color: #666;
}
.menu-scaling-submit {
    color: #c2c2c2;
}
.am-modal-dialog {
    box-shadow: rgb(62 62 62 / 60%) 0px 0px 1rem;
}
#modal-unit-list .am-selected-list li:not(:last-child) {
    border-bottom: 0.1rem solid #222222;
}
.table-bottom-item-right .auto-sales-deliver {
    border-color: #2f2f2f;
}
.product-table-input-search-list {
    border-color: #404040;
    background: #191919;
}
@media only screen and (max-width: 640px) {
    .admin-offcanvas-bar:after {
        background: #2c2c2c;
    }
}

/**
 * 独立多屏窗口
 */
.window-layer-tab-bar {
    background: #393939;
}
.window-layer-alone-layer {
    border: 0.1rem solid #363636;
}
.window-layer-alone-layer .window-layer-tab-bar .am-fr span {
    color: #626262;
}
@media only screen and (min-width: 641px) {
    .window-layer-alone-layer .window-layer-tab-bar .am-fr span:hover {
        color: #aaaaaa;
    }
}

/**
 * 滚动条样式
 */
body ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}
body ::-webkit-scrollbar-button,
body ::-webkit-scrollbar-button:vertical {
    display: none;
}
body ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track:vertical {
    background-color: black;
}
body ::-webkit-scrollbar-track-piece {
    background-color: #191919;
}
body ::-webkit-scrollbar-track-piece {
    border-top: 0.1rem solid rgba(0,0,0,.01);
}
body ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb:vertical {
    margin-right: 1rem;
    background-color: #353535;
}
body ::-webkit-scrollbar-thumb:hover,
body ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #444;
}
body ::-webkit-scrollbar-corner,
body ::-webkit-scrollbar-corner:vertical {
    background-color: #353535;
}
body ::-webkit-scrollbar-resizer,
body ::-webkit-scrollbar-resizer:vertical {
    background-color: #ff6e00;
}