<div class="body-content-formal-container">
    <div class="header-nav" data-am-sticky="{animation: 'slide-top'}">
        <div class="inside">
            <p class="logo-name">
                <strong>Shop<em>XO</em></strong>
                <span class="desc">安装向导 {{$Think.APPLICATION_VERSION}}</span>
            </p>
            <ul class="schedule {{if isset($action) && $action == 'index'}}active{{/if}}">
                <li class="number">1</li>
                <li class="word">使用协议</li>
            </ul>
            <ul class="schedule {{if isset($action) && $action == 'check'}}active{{/if}}">
                <li class="number">2</li>
                <li class="word">环境检测</li>
            </ul>
            <ul class="schedule {{if isset($action) && $action == 'create'}}active{{/if}}">
                <li class="number">3</li>
                <li class="word">创建数据</li>
            </ul>
            <ul class="schedule {{if isset($action) && $action == 'successful'}}active{{/if}}">
                <li class="number">4</li>
                <li class="word">安装完成</li>
            </ul>
        </div>
    </div>
    <!-- <div class="am-container am-text-center am-text-danger am-padding-top-lg am-padding-bottom-sm">
        <span>v8.1版本由</span>
        <a href="#" target="_blank"><strong>XXXXXX</strong></a>
        <span>独家赞助发布！</span>
    </div> -->