{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form view-list" action="{{:MyUrl('Admin/Coupon/Index')}}" method="POST">
			<div class="am-g">
				<input type="text" class="am-radius form-keyword" placeholder="优惠券名称" name="keyword" <present name="param['keyword']"> value="{{$param.keyword}}"{{/if}} />
				<button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius form-submit">查询</button>
				<label class="fs-12 m-l-5 c-p fw-100 more-submit">
					更多筛选
					<input type="checkbox" name="is_more" value="1" id="is_more" {{if isset($param['is_more']) and $param['is_more'] eq 1)}}checked{{/if}} />
					<i class="am-icon-angle-down"></i>
				</label>

				<div class="more-where {{if !isset($param['is_more']) or $param['is_more'] neq 1)}}none{{/if}}">
					<select name="is_enable" class="am-radius c-p m-t-10 m-l-5 param-where">
						<option value="-1)}}是否启用</option>
						<foreach name="common_is_enable_list" item="v">
							<option value="{{$v.id}}" {{if isset($param['is_enable']) and $param['is_enable'] eq $v['id']">selected{{/if}}>{{$v.name}}</option>
						{{/foreach}}
					</select>
					<select name="type" class="am-radius c-p m-t-10 m-l-5 param-where">
						<option value="-1)}}优惠券类型</option>
						<foreach name="common_coupon_type" item="v">
							<option value="{{$v.id}}" {{if isset($param['type']) and $param['type'] eq $v['id']">selected{{/if}}>{{$v.name}}</option>
						{{/foreach}}
					</select>
					<div class="param-date param-where m-l-5)}}
						<input type="text" name="time_start" class="Wdate am-radius m-t-10" placeholder="起始时间" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd HH:mm:ss'})" {{if isset($param['time_start'])}}value="{{$param.time_start}}"{{/if}}/>
						<span>~</span>
						<input type="text" class="Wdate am-radius m-t-10" placeholder="结束时间" name="time_end" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd HH:mm:ss'})" {{if isset($param['time_end'])}}value="{{$param.time_end}}"{{/if}}/>
					</div>
				</div>
			</div>
        </form>
        <!-- form end -->

        <!-- operation start -->
        <div class="am-g m-t-15)}}
            <a href="{{:MyUrl('Admin/Coupon/SaveInfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> 新增</a>
        </div>
        <!-- operation end -->

		<!-- list start -->
		<table class="am-table am-table-striped am-table-hover am-text-middle m-t-1)}}
			<thead>
				<tr>
					<th>优惠券名称</th>
					<th>优惠券类型</th>
					<th>金额(元)</th>
					<th>使用条件金额(元)</th>
					<th class="am-hide-sm-only">有效时间</th>
					<th class="am-hide-sm-only">是否启用</th>
					<th>更多</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{{if !empty($list)}}
					<foreach name="list" item="v">
						<tr id="data-list-{{$v.id}}" {{if $v['is_enable'] eq 0)}}class="am-active"{{/if}}>
							<td>{{$v.name}}</td>
							<td>{{$v.type_text}}</td>
							<td>{{$v.price}}</td>
							<td>
								{{if empty($v['use_where_price'])}}
									<span class="cr-ddd">不限</span>
								{{else /}}
									{{$v.use_where_price}}
								{{/if}}
							</td>
							<td class="am-hide-sm-only">
								{{if !empty($v['valid_start_time_text'])}}
									{{$v.valid_start_time_text}}<br />
								{{/if}}
								{{if !empty($v['valid_end_time_text'])}}
									{{$v.valid_end_time_text}}
								{{/if}}
								{{if empty($v['valid_start_time_text']) and empty($v['valid_end_time_text'])}}
									<span class="cr-ccc">不限</span>
								{{/if}}
							</td>
							<td class="am-hide-sm-only">
								<a href="javascript:;" class="am-icon-btn am-icon-check submit-state {{if $v['is_enable'] eq 1)}}am-success{{else /}}am-default{{/if}}" data-url="{{:MyUrl('Admin/Coupon/StateUpdate')}}" data-id="{{$v.id}}" data-state="{{$v['is_enable']}}" data-is-update-status="1)}}</a>
							</td>
							<td>
								<span class="am-icon-caret-down c-p" data-am-modal="{target: '#my-popup{{$v.id}}'}"> 查看更多</span>
								<div class="am-popup am-radius" id="my-popup{{$v.id}}">
									<div class="am-popup-inner">
										<div class="am-popup-hd">
											<h4 class="am-popup-title">详情内容</h4>
											<span data-am-modal-close
											class="am-close">&times;</span>
										</div>
										<div class="am-popup-bd">
											<dl class="dl-content">
												<dt>优惠券名称</dt>
												<dd>{{if empty($v['name'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.name}}{{/if}}</dd>

												<dt>优惠券类型</dt>
												<dd>{{if empty($v['type_text'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.type_text}}{{/if}}</dd>

												<dt>金额(元)</dt>
												<dd>{{if empty($v['price'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.price}}{{/if}}</dd>

												<dt>使用条件金额(元)</dt>
												<dd>{{if empty($v['use_where_price'])}}<span class="cr-ddd">不限</span>{{else /}}{{$v.use_where_price}}{{/if}}</dd>

												<dt>有效时间</dt>
												<dd>
													{{if !empty($v['valid_start_time_text'])}}
														{{$v.valid_start_time_text}}<br />
													{{/if}}
													{{if !empty($v['valid_end_time_text'])}}
														{{$v.valid_end_time_text}}
													{{/if}}
													{{if empty($v['valid_start_time_text']) and empty($v['valid_end_time_text'])}}
														<span class="cr-ccc">未填写</span>
													{{/if}}
												</dd>
												
												<dt>是否启用</dt>
												<dd>{{if empty($v['is_enable_text'])}}<span class="cr-ddd">未填写</span>{{else /}}{{$v.is_enable_text}}{{/if}}</dd>

												<dt>创建时间</dt>
												<dd>{{$v.add_time_text}}</dd>

												<dt>更新时间</dt>
												<dd>{{$v.upd_time_text}}</dd>
											</dl>
										</div>
									</div>
								</div>
							</td>
							<td class="view-operation">
								<a href="{{:MyUrl('Admin/Coupon/User', array('coupon_id'=>$v['id']))}}">
									<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-user"> 用户优惠券</button>
								</a>
								<a href="{{:MyUrl('Admin/Coupon/SaveInfo', array('id'=>$v['id']))}}">
									<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit"> 编辑</button>
								</a>
								{{if $v['is_enable'] eq 1)}}
									<a href="{{:MyUrl('Admin/Coupon/SendInfo', array('id'=>$v['id']))}}">
										<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-send-o"> 发放</button>
									</a>
								{{/if}}
							</td>
						</tr>
					{{/foreach}}
				{{else /}}
					<tr><td colspan="20" class="table-no">没有相关数据</td></tr>
				{{/if}}
			</tbody>
		</table>
		<!-- list end -->

		<!-- page start -->
		{{if !empty($list)}}
			{{$page_html}}
		{{/if}}
		<!-- page end -->
	</div>
</div>
<!-- right content end  -->
		
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->