{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:url('Admin/Coupon/Send')}}" method="POST" request-type="ajax-url" request-value="{{:url('Admin/Coupon/Index')}}" enctype="multipart/form-data">
            <input type="hidden" name="max_file_size" value="{{:MyC('home_max_limit_image', 2048000)}}" />
            <legend>
                <span class="fs-16)}}
                    用户优惠券发放
                </span>
                <a href="{{:url('Admin/Coupon/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
            </legend>

            <!-- 优惠券信息 -->
            <div class="am-form-group am-alert am-alert-secondary am-radius coupon-base">
                <div class="items">
                    <span>优惠券名称</span>：
                    <span>{{$data['name']}}</span>
                </div>
                <div class="items">
                    <span>优惠券类型</span>：
                    <span>{{$data['type_text']}}</span>
                </div>
                <div class="items">
                    <span>金额(元)</span>：
                    <span>{{$data['price']}}</span>
                </div>
                <div class="items">
                    <span>使用条件金额(元)</span>：
                    <span>
                        {{if empty($data['use_where_price'])}}
                            <span class="cr-ccc">不限</span>
                        {{else /}}
                            {{$data['use_where_price']}}
                        {{/if}}
                    </span>
                </div>
                <div class="items">
                    <span>有效时间</span>：
                    <span>
                        {{if !empty($data['valid_start_time'])}}
                            {{$data.valid_start_time}}
                        {{/if}}
                        {{if !empty($data['valid_end_time'])}}
                             ~ {{$data.valid_end_time}}
                        {{/if}}
                        {{if empty($data['valid_start_time']) and empty($data['valid_end_time'])}}
                            <span class="cr-ccc">不限</span>
                        {{/if}}
                    </span>
                </div>
            </div>

            <!-- 查询用户 -->
            <div class="am-form-group  am-input-group am-input-group-sm">
                <input type="text" class="am-radius search-keyword" placeholder="用户昵称/姓名/手机号码">
                <span class="am-input-group-btn">
                    <button class="am-btn am-btn-default am-radius search-submit" type="button" data-url="{{:url('Admin/Coupon/UserQuery')}}"><span class="am-icon-search"></span> 查询</button>
                </span>
            </div>
            <div class="am-form-group data-success none">
                <img class="am-img-thumbnail am-circle fl" src="{{$images_host}}/Public/Common/Images/user-img-md.gif" />
                <div class="base fl">
                    <p class="base-username"></p>
                    <p class="base-nickname"></p>
                    <p class="base-mobile"></p>
                </div>
                <button type="button" class="am-btn am-btn-success am-radius am-btn-xs join-submit">
                    <i class="am-icon-plus"></i>
                    加入列表
                </button>
            </div>
            <div class="am-form-group data-error-tips none">
                没有相关数据
            </div>

            <!-- 用户列表 -->
            <ul class="user-list am-form-group none"></ul>

            <div class="am-form-group">
                <label>有效时间</label>
                <div class="twain-date">
                    <input class="Wdate am-radius" type="text" placeholder="有效时间" name="valid_start_time" data-validation-message="有效开始时间有误" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd HH:mm:ss'})" <notempty name="data"> value="{{$data.valid_start_time}}"{{/if}} required />
                    <span>~</span>
                    <input class="Wdate am-radius" type="text" placeholder="有效时间" name="valid_end_time" data-validation-message="有效截止时间有误" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd HH:mm:ss'})" <notempty name="data"> value="{{$data.valid_end_time}}"{{/if}} required />
                </div>
            </div>
            <div class="am-form-group">
                <input type="hidden" name="coupon_id" <notempty name="data"> value="{{$data.id}}"{{/if}}" />
                <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100 form-send-submit" data-am-loading="{loadingText:'处理中...'}">提交</button>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->
        
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->