{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form view-list" action="{{:url('Admin/Coupon/User', ['coupon_id'=>I('request.coupon_id')])}}" method="POST">
			<div class="am-g">
				<input type="text" class="am-radius form-keyword" placeholder="{{:lang('coupon_send_search_input_text')}}" name="keyword" <present name="param['keyword']"> value="{{$param.keyword}}"{{/if}} />
				<button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius form-submit">{{:lang('common_operation_query')}}</button>
				<label class="fs-12 m-l-5 c-p fw-100 more-submit">
					{{:lang('common_more_screening')}}
					<input type="checkbox" name="is_more" value="1" id="is_more" {{if isset($param['is_more']) and $param['is_more'] eq 1)}}checked{{/if}} />
					<i class="am-icon-angle-down"></i>
				</label>

				<div class="more-where {{if !isset($param['is_more']) or $param['is_more'] neq 1)}}none{{/if}}">
					<select name="status" class="am-radius c-p m-t-10 m-l-5 param-where">
						<option value="-1)}}{{:lang('coupon_user_status_text')}}</option>
						<foreach name="common_user_coupon_status" item="v">
							<option value="{{$v.id}}" {{if isset($param['status']) and $param['status'] eq $v['id']">selected{{/if}}>{{$v.name}}</option>
						{{/foreach}}
					</select>
					<div class="param-date param-where m-l-5)}}
						<input type="text" name="time_start" class="Wdate am-radius m-t-10" placeholder="{{:lang('coupon_valid_text')}}" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd HH:mm:ss'})" {{if isset($param['time_start'])}}value="{{$param.time_start}}"{{/if}}/>
						<span>~</span>
						<input type="text" class="Wdate am-radius m-t-10" placeholder="{{:lang('coupon_valid_text')}}" name="time_end" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd HH:mm:ss'})" {{if isset($param['time_end'])}}value="{{$param.time_end}}"{{/if}}/>
					</div>
				</div>
				<a href="{{:url('Admin/Coupon/Index')}}" class="fr fs-14 am-icon-mail-reply"> {{:lang('coupon_list_name')}}</a>
			</div>
        </form>
        <!-- form end -->

		<!-- list start -->
		<table class="am-table am-table-striped am-table-hover am-text-middle m-t-1)}}
			<thead>
				<tr>
					<th>{{:lang('coupon_user_username_text')}}</th>
					<th>{{:lang('coupon_user_nickname_text')}}</th>
					<th>{{:lang('coupon_price_text')}}</th>
					<th>{{:lang('coupon_use_where_price_text')}}</th>
					<th class="am-hide-sm-only">{{:lang('coupon_valid_text')}}</th>
					<th class="am-hide-sm-only">{{:lang('coupon_user_status_text')}}</th>
					<th>{{:lang('common_more_name')}}</th>
					<th>{{:lang('common_operation_name')}}</th>
				</tr>
			</thead>
			<tbody>
				{{if !empty($list)}}
					<foreach name="list" item="v">
						<tr id="data-list-{{$v.id}}">
							<td>
								{{if empty($v['username'])}}<span class="cr-ddd">{{:lang('common_on_fill_in_the_text')}}</span>{{else /}}{{$v.username}}{{/if}}
							</td>
							<td>
								{{if empty($v['nickname'])}}<span class="cr-ddd">{{:lang('common_on_fill_in_the_text')}}</span>{{else /}}{{$v.nickname}}{{/if}}
							</td>
							<td>{{$v.price}}</td>
							<td>
								{{if empty($v['use_where_price'])}}
									<span class="cr-ddd">{{:lang('common_unlimited_text')}}</span>
								{{else /}}
									{{$v.use_where_price}}
								{{/if}}
							</td>
							<td class="am-hide-sm-only">
								{{if !empty($v['valid_start_time_text'])}}
									{{$v.valid_start_time_text}}<br />
								{{/if}}
								{{if !empty($v['valid_end_time_text'])}}
									{{$v.valid_end_time_text}}
								{{/if}}
								{{if empty($v['valid_start_time_text']) and empty($v['valid_end_time_text'])}}
									<span class="cr-ccc">{{:lang('common_unlimited_text')}}</span>
								{{/if}}
							</td>
							<td>{{$v.status_text}}</td>
							<td>
								<span class="am-icon-caret-down c-p" data-am-modal="{target: '#my-popup{{$v.id}}'}"> {{:lang('common_see_more_name')}}</span>
								<div class="am-popup am-radius" id="my-popup{{$v.id}}">
									<div class="am-popup-inner">
										<div class="am-popup-hd">
											<h4 class="am-popup-title">{{:lang('common_detail_content')}}</h4>
											<span data-am-modal-close
											class="am-close">&times;</span>
										</div>
										<div class="am-popup-bd">
											<dl class="dl-content">
												<dt>{{:lang('coupon_user_username_text')}}</dt>
												<dd>{{if empty($v['username'])}}<span class="cr-ddd">{{:lang('common_on_fill_in_the_text')}}</span>{{else /}}{{$v.username}}{{/if}}</dd>

												<dt>{{:lang('coupon_user_nickname_text')}}</dt>
												<dd>{{if empty($v['nickname'])}}<span class="cr-ddd">{{:lang('common_on_fill_in_the_text')}}</span>{{else /}}{{$v.nickname}}{{/if}}</dd>

												<dt>{{:lang('coupon_price_text')}}</dt>
												<dd>{{if empty($v['price'])}}<span class="cr-ddd">{{:lang('common_on_fill_in_the_text')}}</span>{{else /}}{{$v.price}}{{/if}}</dd>

												<dt>{{:lang('coupon_use_where_price_text')}}</dt>
												<dd>{{if empty($v['use_where_price'])}}<span class="cr-ddd">{{:lang('common_unlimited_text')}}</span>{{else /}}{{$v.use_where_price}}{{/if}}</dd>

												<dt>{{:lang('coupon_valid_text')}}</dt>
												<dd>
													{{if !empty($v['valid_start_time_text'])}}
														{{$v.valid_start_time_text}}<br />
													{{/if}}
													{{if !empty($v['valid_end_time_text'])}}
														{{$v.valid_end_time_text}}
													{{/if}}
													{{if empty($v['valid_start_time_text']) and empty($v['valid_end_time_text'])}}
														<span class="cr-ccc">{{:lang('common_on_fill_in_the_text')}}</span>
													{{/if}}
												</dd>
												
												<dt>{{:lang('coupon_user_status_text')}}</dt>
												<dd>{{if empty($v['status_text'])}}<span class="cr-ddd">{{:lang('common_on_fill_in_the_text')}}</span>{{else /}}{{$v.status_text}}{{/if}}</dd>

												<dt>{{:lang('common_create_time_name')}}</dt>
												<dd>{{$v.add_time_text}}</dd>

												<dt>{{:lang('common_upd_time_name')}}</dt>
												<dd>{{$v.upd_time_text}}</dd>
											</dl>
										</div>
									</div>
								</div>
							</td>
							<td class="view-operation">
								{{if $v['status'] neq 1)}}
									<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:url('Admin/Coupon/Delete')}}" data-id="{{$v.id}}"> {{:lang('common_operation_delete')}}</button>
								{{/if}}
							</td>
						</tr>
					{{/foreach}}
				{{else /}}
					<tr><td colspan="20" class="table-no">{{:lang('common_not_data_tips')}}</td></tr>
				{{/if}}
			</tbody>
		</table>
		<!-- list end -->

		<!-- page start -->
		{{if !empty($list)}}
			{{$page_html}}
		{{/if}}
		<!-- page end -->
	</div>
</div>
<!-- right content end  -->
		
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->