<!-- 继承公共的 form -->
{{extend name="public/module/form" /}}

<!-- 表单顶部操作栏 -->
{{block name="form_operate_top"}}
    <a href="{{:MyUrl('admin/warehouse/saveinfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> 新增</a>
    <!-- 父级内容 -->
    {__block__}
{{/block}}

{{block name="form_extend"}}
    <div class="am-alert am-alert-warning" data-am-alert>
        <button type="button" class="am-close">&times;</button>
        <p>1. 权重（数值越大权重越高、扣除库存按照权重依次扣除）</p>
        <p>2. 删除（数据仅软删除、删除后仓库将不可用、仅数据库中保留数据）</p>
    </div>
{{/block}}