<ul class="am-nav am-nav-pills table-nav">
    {{if !empty($base_nav)}}
        {{foreach $base_nav as $v}}
            <li {{if $view_type eq $v['type']}}class="am-active"{{/if}}>
                <a href="{{:MyUrl('admin/appmini/index', ['nav_type'=>$nav_type, 'view_type'=>$v['type']])}}">{{$v.name}}</a>
            </li>
        {{/foreach}}
    {{/if}}
    {{if $is_system_show_base eq 1 and !empty($store_theme_url)}}
        <li class="am-fr">
            <a class="am-margin-left-sm" href="{{$store_theme_url}}" target="_blank">{{:MyLang('appmini.nav_store_theme_name')}} <i class="am-icon-external-link"></i></a>
        </li>
    {{/if}}
</ul>