<ul class="am-nav am-nav-pills table-nav second-nav">
	{{if !empty($nav_data) and is_array($nav_data)}}
    	{{foreach $nav_data as $v}}
            <li {{if $nav_type eq $v['type']}}class="am-active"{{/if}} data-type="{{$v.type}}">
                <a href="{{:MyUrl('admin/sms/index', ['type'=>$v['type']])}}">{{$v.name}}</a>
            </li>
        {{/foreach}}
    {{/if}}
</ul>

<div class="am-alert am-alert-warning am-radius am-margin-bottom-0" data-am-alert>
    <button type="button" class="am-close">&times;</button>
    <p class="am-text-xs">{{:MyLang('sms.top_tips')}} <a href="https://www.aliyun.com/product/sms?userCode=iub0dy6g" class="am-margin-left-sm" target="_blank">{{:MyLang('sms.top_to_aliyun_tips')}} <i class="am-icon-external-link"></i></a> </p>
</div>