<div class="am-operate-stretch-tips">
    <div class="title">
        <i class="iconfont icon-tips"></i>
        <strong title="{{:MyLang('operate_list_tips_msg')}}">{{:MyLang('operate_list_tips_button_text')}}</strong>
        <i class="iconfont icon-contract contract" title="{{:MyLang('operate_list_tips_retract_text')}}"></i> 
    </div>
    <p class="am-text-xs">{{:MyLang('sms.top_tips')}} <a href="https://www.aliyun.com/product/sms?userCode=iub0dy6g" class="am-margin-left-sm" target="_blank">{{:MyLang('sms.top_to_aliyun_tips')}} <i class="am-icon-external-link"></i></a> </p>
</div>