<include file="Public/Header" />

<!-- header top nav -->
<include file="Public/HeaderTopNav" />

<!-- search -->
<include file="Public/NavSearch" />

<!-- header nav -->
<include file="Public/HeaderNav" />

<!-- goods category -->
<include file="Public/GoodsCategory" />

<!-- content -->
<div class="am-container user-main">
  <!-- user menu start -->
  <include file="Public/UserMenu" />
  <!-- user menu end -->

  <!-- content start -->
  <div class="user-content">
    <div class="user-content-body">
        <form class="am-form form-validation" method="post" action="{{:U('Home/Order/Index')}}" request-type="form" novalidate="novalidate">
            <div class="thin">
                <div class="am-input-group am-input-group-sm am-fl so">
                    <input type="text" name="keywords" class="am-radius" placeholder="账单号或关键字" value="">
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default am-radius" type="submit" data-am-loading="{spinner:'circle-o-notch', loadingText:'搜索中...'}">搜索</button>
                    </span>
                </div>
                <label class="am-fl thin_sub">
                    更多筛选条件
                    <input type="checkbox" name="so_type" value="1" class="none am-field-valid" <if condition="isset($params['so_type'])">checked</if> />
                    <i class="am-icon-angle-up"></i>
                </label>
            </div>
            <table class="so-list <if condition="!isset($params['so_type'])">none</if>">
                <tbody><tr>
                    <td class="time">
                        <span>时间：</span>
                        <span class="am-form-group">
                            <input type="text" name="time_start" class="am-form-field am-input-sm am-radius Wdate" placeholder="起始时间" value="" data-validation-message="日期格式有误" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd'})"><i class="am-icon-calendar"></i>
                        </span>
                        <em class="text-grey">~</em>
                        <span class="am-form-group">
                            <input type="text" name="time_end" class="am-form-field am-input-sm am-radius Wdate" placeholder="结束时间" value="" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$" data-validation-message="日期格式有误" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd'})"><i class="am-icon-calendar"></i>
                        </span>
                    </td>
                    <td class="price">
                        <span>价格：</span>
                        <span class="am-form-group">
                            <input type="text" name="price_start" class="am-form-field am-input-sm am-radius" placeholder="最小价格" pattern="^([0-9]{1}\d{0,6})(\.\d{1,2})?$" data-validation-message="价格0~9之间的数字" value="">
                        </span>
                        <em class="text-grey">~</em>
                        <span class="am-form-group">
                            <input type="text" name="price_end" class="am-form-field am-input-sm am-radius" placeholder="最大价格" pattern="^([0-9]{1}\d{0,6})(\.\d{1,2})?$" data-validation-message="价格0~9之间的数字" value="">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>支付：</span>
                        <select name="pay_id" class="chosen-select">
                            <option value="0" selected="">支付方式...</option>
                            <option value="1">现金</option>
                            <option value="2">账户余额</option>
                            <option value="3">支付宝</option>
                            <option value="4">会员卡消费</option>
                            <option value="5">微信</option>
                        </select>
                    </td>
                    <td>
                        <span>付款：</span>
                        <select name="pay_state" class="chosen-select">
                            <option value="-1">付款状态...</option>
                            <option value="0">待支付</option>
                            <option value="1">已支付</option>
                            <option value="2">已退款</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>状态：</span>
                        <select name="state" class="chosen-select">
                            <option value="-1">账单状态...</option>
                            <option value="0">未完成</option>
                            <option value="1">已完成</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="am-btn am-btn-primary am-radius am-btn-xs btn-loading-example" data-am-loading="{spinner:'circle-o-notch', loadingText:'搜索中...'}">搜 索</button>
                        <a href="{{:U('Home/Order/Index')}}">
                            <button class="am-btn am-btn-warning am-radius am-btn-sm reset-submit">清除条件</button>
                        </a>
                    </td>
                </tr>
            </tbody></table>
        </form>
      

        <!-- 订单抬头 -->
        <div class="am-alert am-alert-secondary meila-radius">
            <table class="w100 content-title">
                <tbody><tr>
                    <th class="row-content">商品</th>
                    <th class="row-price am-hide-sm-only">单价</th>
                    <th class="row-number am-hide-sm-only">数量</th>
                    <th class="row-total-price">合计</th>
                    <th class="row-status am-hide-sm-only">状态</th>
                    <th class="row-operate">操作</th>
                </tr>
            </tbody></table>
        </div>

        <!-- 订单列表 -->
        <foreach name="data_list" item="order">
        <table class="data-list <if condition="$order['status'] eq 1">data-ongoing</if>">
            <tr class="content-hd">
                <td colspan="6">
                    title
                </td>
            </tr>
            
            <foreach name="order.items" key="keys" item="goods">
                <tr id="data-list-{{$goods.goods_id}}" data-id="{{$goods.goods_id}}" data-goods-id="{{$goods.goods_id}}">
                    <td class="base row-content">
                        <div class="goods-detail">
                            <a href="{{$goods.goods_url}}" target="_blank">
                                <img src="{{$goods.images}}">
                            </a>
                            <div class="goods-base">
                                <a href="{{$goods.goods_url}}" target="_blank" class="goods-title">{{$goods.title}}</a>
                                <notempty name="goods.attribute">
                                    <ul class="goods-attr">
                                        <foreach name="goods.attribute" item="attr">
                                            <li>{{$attr.attr_type_name}}：{{$attr.attr_name}}</li>
                                        </foreach>
                                    </ul>
                                </notempty>
                            </div>
                        </div>
                        <div class="wap-base am-show-sm-only">
                            <if condition="$goods['original_price'] gt 0">
                                <span class="original-price">￥{{$goods.original_price}}</span>
                            </if>
                            <strong class="line-price">￥{{$goods.price}}</strong>
                            <span class="wap-number">x{{$goods.buy_number}}</span>
                        </div>
                    </td>
                    <td class="row-price am-hide-sm-only">
                        <if condition="$goods['original_price'] gt 0">
                            <p class="original-price">￥{{$goods.original_price}}</p>
                        </if>
                        <p class="line-price">￥{{$goods.price}}</p>
                    </td>
                    <td class="row-number am-hide-sm-only">
                        x{{$goods.buy_number}}
                    </td>
                    <if condition="$keys eq 0">
                        <td class="row-total-price" rowspan="{{$order.items_count}}">
                            <strong class="total-price-content">￥{{$order.total_price}}</strong>
                        </td>
                        <td class="row-status am-hide-sm-only" rowspan="{{$order.items_count}}">
                            {{$order.status_name}}
                        </td>
                        <td class="row-operate" rowspan="{{$order.items_count}}">
                            <!-- 0待确认, 1已确认/待支付, 2已支付/待发货, 3已发货/待收货, 4已完成, 5已取消, 6已关闭 -->
                            <if condition="in_array($order['status'], [0,1])">
                                <button type="button" class="am-btn am-btn-danger am-btn-xs am-radius am-btn-block submit-cancel" data-url="{{:U('Home/Order/Cancel', ['id'=>$order['id']])}}">取消</button>
                            </if>
                            <if condition="in_array($order['status'], [1])">
                                <a href="{{:U('Home/Order/Pay', ['id'=>$order['id']])}}" class="am-btn am-btn-primary am-btn-xs am-radius am-btn-block submit-pay">支付</a>
                            </if>
                            <if condition="in_array($order['status'], [3])">
                                <button type="button" class="am-btn am-btn-secondary am-btn-xs am-radius am-btn-block submit-confirm" data-url="{{:U('Home/Order/Cancel', ['id'=>$order['id']])}}">收货</button>
                            </if>
                        </td>
                    </if>
                    <!-- <td class="total-price am-hide-sm-only">
                        <strong class="total-price-content">￥{{$goods.total_price}}</strong>
                    </td> -->
                </tr>
            </foreach>
                
        </table>
        </foreach>
        


        <!-- 分页 -->
        {{$page_html}}

    </div>
  </div>
  <!-- content end -->
</div>

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->