<div class="footer-filing-content theme-data-edit-event" data-module="site_filing">
    <p class="powered">
        {{:str_replace('version', APPLICATION_VERSION, $home_theme_footer_bottom_powered)}}
    </p>
    {{if !empty($site_filing_list) and is_array($site_filing_list)}}
        {{foreach $site_filing_list as $v}}
            {{if !empty($v['show_name'])}}
                <b>|</b>
                <p class="footer-icp">
                    <a {{if empty($v['url'])}}href="javascript:;"{{else /}}href="{{$v.url}}" target="_blank"{{/if}}>
                        {{if !empty($v['icon'])}}
                            <img src="{{$v.icon}}" alt="{{$v.show_name}}" />
                        {{/if}}
                        {{$v.show_name}}
                    </a>
                </p>
            {{/if}}
        {{/foreach}}
    {{/if}}
</div>