{{:ModuleInclude('public/header')}}

<!-- header nav start -->
{{if isset($is_header) and $is_header eq 1}}
    <!-- header top nav -->
    {{:ModuleInclude('public/header_top_nav')}}

    <!-- search -->
    {{:ModuleInclude('public/nav_search')}}

    <!-- header nav -->
    {{:ModuleInclude('public/header_nav')}}

    <!-- goods category -->
    {{:ModuleInclude('public/goods_category')}}
{{/if}}
<!-- header nav end -->

<!-- conntent start  -->
<div class="am-g">
    <div class="am-text-center am-margin-top-xl am-padding-xl">
        <p><i class="am-icon-info-circle am-icon-lg am-text-xl am-text-warning"></i></p>
        <p class="am-margin-top-xs am-text-sm">{{if isset($msg)}}{{$msg}}{{else /}}{{:MyLang('operate_fail')}}{{/if}}</p>
        <p class="am-margin-top-xl">
            <a href="{{if empty($url)}}javascript:history.go(-1){{else /}}{{$url}}{{/if}}" class="am-text-primary">{{:MyLang('back_prev_page_name')}}</a>
            <span class="am-margin-left-sm"><span class="wait-time">{{if empty($wait_time)}}5{{else /}}{{$wait_time}}{{/if}}</span>{{:MyLang('back_prev_time_auto_text')}}</span>
        </p>
    </div>
</div>
<!-- conntent end  -->

<!-- footer -->
{{:ModuleInclude('public/footer')}}
<script type="text/javascript">
    var interval = setInterval(function()
    {
        var time = parseInt($('.wait-time').text() || 5)-1;
        if(time <= 0)
        {
            clearInterval(interval);
            {{if empty($url)}}
                history.go(-1);
            {{else /}}
                window.location.href = '{{$url}}';
            {{/if}}
        } else {
            $('.wait-time').text(time);
        }
    }, 1000);
</script>