{{if MyC('home_main_logo_search_status', 1) eq 1}}
    <!-- 搜索框 start -->
    <div class="nav-search white am-hide-sm-only">
        <div class="am-container">
            <div class="logo-big theme-data-edit-event" data-module="site_base">
                <a href="{{$home_url}}">
                    <img src="{{$home_site_logo}}" alt="{{$home_site_name}}" />
                </a>
            </div>
            <!-- logo右侧 -->
            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
                <div class="plugins-tag">
                    <span>plugins_view_common_logo_right</span>
                </div>
            {{/if}}
            {{if !empty($plugins_view_common_logo_right_data) and is_array($plugins_view_common_logo_right_data)}}
                {{foreach $plugins_view_common_search_right_data as $hook}}
                    {{if is_string($hook) or is_int($hook)}}
                        {{$hook|raw}}
                    {{/if}}
                {{/foreach}}
            {{/if}}

            <div class="search-bar">
                <!-- 公共搜索框内左侧 -->
                {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
                    <div class="plugins-tag">
                        <span>plugins_view_common_search_inside_left</span>
                    </div>
                {{/if}}
                {{if !empty($plugins_view_common_search_inside_left_data) and is_array($plugins_view_common_search_inside_left_data)}}
                    {{foreach $plugins_view_common_search_inside_left_data as $hook}}
                        {{if is_string($hook) or is_int($hook)}}
                            {{$hook|raw}}
                        {{/if}}
                    {{/foreach}}
                {{/if}}

                <!-- 搜索框 -->
                <form action="{{:MyUrl('index/search/index')}}" method="POST">
                    <div class="search-group am-radius am-nbfc">
                        <input id="search-input" name="wd" type="text" placeholder="{{:MyLang('common.search_input_placeholder')}}" value="{{if !empty($params['wd'])}}{{$params.wd}}{{/if}}" autocomplete="off" />
                        <button type="submit" id="ai-topsearch" class="submit am-btn-primary">
                            <span>{{:MyLang('common.search_button_text')}}</span>
                        </button>
                    </div>
                    {{if !empty($home_search_keywords)}}
                        <ul class="search-hot-keywords">
                            {{foreach $home_search_keywords as $v}}
                                <li><a href="{{:MyUrl('index/search/index', ['wd'=>StrToAscii($v)])}}" target="_blank">{{$v}}</a></li>
                            {{/foreach}}
                        </ul>
                    {{/if}}
                </form>

                <!-- 公共搜索框内右侧 -->
                {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
                    <div class="plugins-tag">
                        <span>plugins_view_common_search_inside_right</span>
                    </div>
                {{/if}}
                {{if !empty($plugins_view_common_search_inside_right_data) and is_array($plugins_view_common_search_inside_right_data)}}
                    {{foreach $plugins_view_common_search_inside_right_data as $hook}}
                        {{if is_string($hook) or is_int($hook)}}
                            {{$hook|raw}}
                        {{/if}}
                    {{/foreach}}
                {{/if}}
            </div>

            <!-- 公共搜索框右侧 -->
            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
                <div class="plugins-tag">
                    <span>plugins_view_common_search_right</span>
                </div>
            {{/if}}
            {{if !empty($plugins_view_common_search_right_data) and is_array($plugins_view_common_search_right_data)}}
                {{foreach $plugins_view_common_search_right_data as $hook}}
                    {{if is_string($hook) or is_int($hook)}}
                        {{$hook|raw}}
                    {{/if}}
                {{/foreach}}
            {{/if}}
        </div>
    </div>
    <!-- 搜索框 end -->
{{/if}}