{{:ModuleInclude('public/header')}}

<!-- header nav start -->
{{if isset($is_header) and $is_header eq 1}}
    <!-- header top nav -->
    {{:ModuleInclude('public/header_top_nav')}}

    <!-- search -->
    {{:ModuleInclude('public/nav_search')}}

    <!-- header nav -->
    {{:ModuleInclude('public/header_nav')}}

    <!-- goods category -->
    {{:ModuleInclude('public/goods_category')}}
{{/if}}
<!-- header nav end -->

<!-- conntent start  -->
<div class="am-g tips-error">
    <div class="am-u-md-6 am-u-sm-centered am-text-center">
        <i class="am-icon-times-circle am-icon-lg"></i>
        <span class="msg">{{$msg}}</span>
        <div class="tips-nav">
            {{if !isset($is_to_home) or $is_to_home eq 1}}
                <a href="{{$home_url}}" class="am-btn am-btn-warning am-btn-xs am-radius">{{:MyLang('common.back_to_the_home_title')}}</a>
            {{/if}}
            {{if !empty($to_url) and !empty($to_title)}}
                <a href="{{$to_url}}" class="am-btn am-btn-primary am-btn-xs am-radius">{{$to_title}}</a>
            {{/if}}
        </div>
    </div>
</div>
<!-- conntent end  -->

<!-- footer  -->
{{:ModuleInclude('public/footer')}}