{{if !empty($home_seo_site_title)}}
    <div class="am-flex am-flex-items-center am-margin-bottom-main">
        {{if !empty($module_data['operate_url']) and !empty($module_data['operate_name'])}}
            <a href="{{$module_data['operate_url']}}" class="am-text-sm am-color-main">
                {{if !empty($module_data['operate_icon'])}}
                    <i class="iconfont {{$module_data['operate_icon']}}"></i>
                {{/if}}
                <span>{{$module_data['operate_name']}}</span>
            </a>
            <em class="form-nav-top-retreat-ds am-color-grey-light am-text-sm am-margin-horizontal">|</em>
        {{/if}}
        <h1 class="user-center-main-title am-text-sm">
            {{if empty($module_data['title'])}}
                {{if empty($user_center_main_title)}}
                    {{if stripos($home_seo_site_title, ' - ') heq false}}
                        {{$home_seo_site_title}}
                    {{else /}}
                        {{:explode(' - ', $home_seo_site_title)[0]}}
                    {{/if}}
                {{else /}}
                    {{$user_center_main_title}}
                {{/if}}
            {{else /}}
                {{$module_data.title}}
            {{/if}}
        </h1>
    </div>
{{/if}}