<include file="Public/Header" />

<!-- header top nav -->
<include file="Public/HeaderTopNav" />

<!-- search -->
<include file="Public/NavSearch" />

<!-- header nav -->
<include file="Public/HeaderNav" />

<!-- goods category -->
<include file="Public/GoodsCategory" />

<!-- content -->
<div class="am-container user-main">

    <!-- user menu start -->
    <include file="Public/UserMenu" />
    <!-- user menu end -->

    <!-- content start -->
    <div class="user-content">
        <div class="user-content-body">
			<legend>
				<span class="legend-title">{{:L('personal_save_nav_title_text')}}</span>
				<a href="{{:U('Home/Personal/SaveInfo')}}" class="am-fr"> {{:L('common_operation_edit')}}</a>
			</legend>
			<dl class="dl-content">
				<foreach name="personal_show_list" key="k" item="v">
					<if condition="isset($user[$k])">
						<dt>{{$v.name}}</dt>
						<dd>
							<if condition="empty($user[$k])">
								<span class="items-value-empty">{{:L('common_on_fill_in_the_text')}}</span>
							<elseif condition="$k eq 'avatar'" />
                                <img src="{{$user[$k]}}" width="50" height="50" />
                            <else />
								{{$user[$k]}}
							</if>
							<if condition="isset($v['tips'])">
								<span class="span-edit">{{$v.tips}}</span>
							</if>
						</dd>
					</if>
				</foreach>
			</dl>
		</div>
	</div>
  <!-- content end -->
</div>

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->