<include file="Public/Header" />

<!-- header top nav -->
<include file="Public/HeaderTopNav" />

<!-- search -->
<include file="Public/NavSearch" />

<!-- header nav -->
<include file="Public/HeaderNav" />

<!-- goods category -->
<include file="Public/GoodsCategory" />

<!-- content -->
<div class="am-container user-main">

  <!-- user menu start -->
  <include file="Public/UserMenu" />
  <!-- user menu end -->

  <!-- content start -->
  <div class="user-content">
    <div class="user-content-body">
			<!-- form start -->
			<form class="am-form form-validation view-save" action="{{:U('Home/Personal/Save')}}" method="POST" request-type="ajax-url" request-value="{{:U('Home/Personal/Index')}}">
				<legend>
					<span class="legend-title">{{:L('personal_save_nav_title_text')}}</span>
					<a href="{{:U('Home/Personal/Index')}}" class="am-fr am-icon-mail-reply"> {{:L('common_operation_back')}}</a>
				</legend>
				<div class="am-form-group">
					<label>{{:L('personal_nickname_text')}}</label>
					<input type="text" name="nickname" placeholder="{{:L('personal_nickname_text')}}" minlength="2" maxlength="16" data-validation-message="{{:L('personal_nickname_format')}}" class="am-radius" <present name="data"> value="{{$data.nickname}}"</present> required />
				</div>
				<include file="Lib/Gender" />
				<div class="am-form-group">
					<label>{{:L('personal_birthday_text')}}</label>
					<input type="text" name="birthday" class="am-form-field am-input-sm am-radius Wdate" placeholder="{{:L('personal_birthday_text')}}" data-validation-message="{{:L('personal_birthday_format')}}" <notempty name="data"> value="{{$data.birthday_text}}" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd'})"</notempty> autocomplete="off" required />
				</div>
				<div class="am-form-group">
					<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
				</div>
			</form>
			<!-- form end -->
		</div>
	</div>
  <!-- content end -->
</div>

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->