<div class="am-form-group am-form-group-refreshing">
    <label>背景色</label>
    <input type="hidden" name="style[key]_background_color" data-validation-message="请选择背景色" value="" [required] />
    <button type="button" class="am-btn am-btn-default am-btn-xs colorpicker-submit module-style-background-color[key] am-btn-block" data-position="fixed" data-input-tag="button.module-style-background-color[key]" data-color-tag="input[name='style[key]_background_color']" data-color-style="background-color">
        <img src="{{$attachment_host}}/static/common/images/colorpicker.png" />
    </button>
</div>