<div class="am-form-group am-form-group-refreshing">
    <label>[title]<span class="am-form-group-label-tips[tips-must]">[tips-msg]</span></label>
    <div class="am-input-group am-input-group-sm">
        <input type="text" placeholder="[placeholder]" name="content[key]" minlength="[minlength]" maxlength="[maxlength]" data-validation-message="[message]" value="[value]" class="am-form-field" [required] />
        <input type="hidden" name="style[key]_color" value="[color_value]" />
        <a href="javascript:;" class="am-input-group-label colorpicker-submit module-style-color[key]" data-position="fixed" data-input-tag=".module-style-color[key]" data-color-tag="input[name='style[key]_color']" data-color-style="background-color|border-color">
            <img src="{{$attachment_host}}/static/common/images/colorpicker.png" />
        </a>
    </div>
</div>