{{:ModuleInclude('public/header')}}

<!-- nav start -->
{{:ModuleInclude('public/nav')}}
<!-- nav end -->

<!-- header top nav -->
{{:ModuleInclude('public/header_top_nav')}}

<!-- search -->
{{:ModuleInclude('public/nav_search')}}

<!-- header nav -->
{{:ModuleInclude('public/header_nav')}}

<!-- goods category -->
{{:ModuleInclude('public/goods_category')}}

<!-- conntent start  -->
<div class="am-g am-container">
    <div class="am-radius qrcode-pay am-background-body am-margin-xl" data-ajax-url="{{$pay_data.check_url}}" data-order-no="{{$pay_data.order_no}}">
        <div class="name">{{$pay_data.name}}</div>
        <div class="view-qrcode-init" data-width="180" data-height="180" data-value="{{$pay_data.url}}"></div>
        <div class="msg am-margin-top-main">{{$pay_data.msg}}</div>
    </div>
</div>
<!-- conntent end  -->

{{:ModuleInclude('public/footer')}}