<div class="am-form-group am-form-group-refreshing">
    <label>行展示数量</label>
    <div class="am-input-group am-input-group-sm group-list-number-width">
        <input type="number" placeholder="小屏" name="view_list_number_sm" min="0" max="12" data-validation-message="小屏最大12" value="2" class="am-form-field" />
        <input type="number" placeholder="中屏" name="view_list_number_md" min="0" max="12" data-validation-message="中屏最大12" value="5" class="am-form-field" />
        <input type="number" placeholder="大屏" name="view_list_number_lg" min="0" max="12" data-validation-message="大屏最大12" value="5" class="am-form-field" />
        <span class="am-input-group-label">个</span>
    </div>
</div>