<div class="am-form-group am-form-group-refreshing">
    <label>边线大小<span class="am-form-group-label-tips">上 -> 右 -> 下 -> 左</span></label>
    <div class="am-input-group am-input-group-sm group-border-width group-border-radius-color">
        <input type="number" placeholder="上" name="style[key]_border_width_top" min="0" max="10" data-validation-message="边线上最大10" value="" class="am-form-field" />
        <input type="number" placeholder="右" name="style[key]_border_width_right" min="0" max="10" data-validation-message="边线右最大10" value="" class="am-form-field" />
        <input type="number" placeholder="下" name="style[key]_border_width_bottom" min="0" max="10" data-validation-message="边线下最大10" value="" class="am-form-field" />
        <input type="number" placeholder="左" name="style[key]_border_width_left" min="0" max="10" data-validation-message="边线左最大10" value="" class="am-form-field" />
        <span class="am-input-group-label">px</span>
    </div>
</div>