<div class="am-form-group am-form-group-refreshing">
    <label>{{:MyLang('layout.view_media_fixed_border_color_title')}}</label>
    <input type="hidden" name="style[key]_color" data-validation-message="{{:MyLang('layout.view_media_fixed_border_color_message')}}" value="" [required] />
    <button type="button" class="am-btn am-btn-default am-btn-xs colorpicker-submit module-style-color[key] am-btn-block am-radius" data-position="fixed" data-input-tag="button.module-style-color[key]" data-color-tag="input[name='style[key]_color']" data-color-style="background-color">
        <img src="{{$attachment_host}}/static/common/images/colorpicker.png" />
    </button>
</div>