<!-- 商品分类  -->
<div id="goods-category" class="am-container" data-controller-name="{{$controller_name}}">
    <div class="goods-category-s">
        <div class="goods-category-title">
            <span class="all-goods">全部分类</span>
        </div>
        <div class="category-content" <if condition="isset($controller_name) and $controller_name neq 'Index'">style="display:none;"</if>>
            <div class="category">
                <ul class="category-list" id="js_climit_li">
                    <if condition="!empty($goods_category_list)">
                        <foreach name="goods_category_list" item="v">
                            <li class="appliance js_toggle relative first">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name">
                                        <i><img src="{{$v.icon}}"></i>
                                        <a href="{{:U('Home/Search/Index', ['category_id'=>$v['id']])}}" class="ml-22" title="{{$v.name}}">{{$v.name}}</a>
                                    </h3>
                                    <em>&gt;</em>
                                </div>
                                <div class="menu-item menu-in top">
                                    <div class="area-in">
                                        <div class="area-bg">
                                            <div class="menu-srot">
                                                <div class="sort-side">
                                                    <if condition="!empty($v['items'])">
                                                        <foreach name="v.items" item="vs">
                                                            <dl class="dl-sort">
                                                                <dt>
                                                                    <a href="{{:U('Home/Search/Index', ['category_id'=>$vs['id']])}}" title="{{$vs.name}}">
                                                                        <span title="{{$vs.name}}">{{$vs.name}}</span>
                                                                    </a>
                                                                </dt>
                                                                <if condition="!empty($vs['items'])">
                                                                    <foreach name="vs.items" item="vss">
                                                                        <dd>
                                                                            <a href="{{:U('Home/Search/Index', ['category_id'=>$vss['id']])}}" title="{{$vss.name}}">
                                                                                <span>{{$vss.name}}</span>
                                                                            </a>
                                                                        </dd>
                                                                    </foreach>
                                                                </if>
                                                            </dl>
                                                        </foreach>
                                                    </if>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </li>
                        </foreach>
                    </if>
                </ul>
            </div>
        </div>
    </div>
</div>