<div class="shop-nav">
    <div class="am-container">
        <div class="nav-cont">
        	<ul>
                <li><a href="{{:__MY_URL__}}">{{:L('common_home_text')}}</a></li>
                <if condition="!empty($nav_header)">
                    <foreach name="nav_header" item="nav">
                        <li>
                            <a href="{{$nav.url}}" <if condition="$nav['is_new_window_open'] eq 1">target="_blank"</if>>{{$nav.name}}</a>
                        </li>
                    </foreach>
                </if>
        	</ul>
            <div class="nav-extra <if condition="empty($user)">login-event</if>">
                <a href="<if condition="empty($user)">javascript:;<else />{{:U('Home/User/Index')}}</if>">
                    <img src="<if condition="!empty($user['avatar'])">{{$user.avatar}}<else />__PUBLIC__/Home/{{$default_theme}}/Images/default-user-avatar.jpg</if>" class="nav-user" />
                	<!-- <i class="am-icon-user-secret am-icon-md nav-user"></i> --><b></b>
                    <span>我的商城</span>
                	<i class="am-icon-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>