<!-- 顶部导航条 start -->
<div class="header-top">
    <div class="am-container header">
        <ul class="message-l">
            <div class="topMessage">
                <div class="menu-hd">
                    <if condition="empty($user)">
                        <span>您好，欢迎来到 {{:MyC('home_site_name')}}</span>
                        <if condition="MyC('home_user_login_state') eq 1">
                            [<a href="{{:U('Home/User/LoginInfo')}}">登录</a>]
                        </if>
                        <if condition="in_array('sms', MyC('home_user_reg_state')) or in_array('email', MyC('home_user_reg_state'))">
                            [<a href="{{:U('Home/User/RegInfo')}}">注册</a>]
                        </if>
                    <else />
                        <span>您好 {{$user.user_name_view}}，欢迎来到 {{:MyC('home_site_name')}}</span>
                        [<a href="{{:U('Home/User/Logout')}}">退出</a>]
                    </if>
                </div>
            </div>
        </ul>
        <ul class="message-r">
            <div class="topMessage home">
                <div class="menu-hd"><a href="{{:__MY_URL__}}" target="_top" class="h">商城首页</a></div>
            </div>
            <div class="topMessage my-shangcheng">
                <div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
            </div>
            <div class="topMessage mini-cart">
                <div class="menu-hd"><a id="mc-menu-hd" href="{{:U('Home/Cart/Index')}}" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
            </div>
            <div class="topMessage favorite">
                <div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
        </ul>
    </div>
</div>
<!-- 顶部导航条 end -->