<!-- 搜索框 start -->
<div class="nav-search white">
    <div class="logo">
        <a href="{{:__MY_URL__}}">
            <img src="{{$image_host}}{{:MyC('home_site_logo_wap')}}" alt="{{:MyC('home_seo_site_title')}}" />
        </a>
    </div>
    <div class="logoBig">
        <a href="{{:__MY_URL__}}">
            <img src="{{$image_host}}{{:MyC('home_site_logo')}}" alt="{{:MyC('home_seo_site_title')}}" />
        </a>
    </div>

    <div class="search-bar pr">
        <form action="{{:U('Home/Search/Index')}}" method="POST">
            <input id="search-input" name="keywords" type="text" placeholder="{{:L('common_so_tips')}}" value="<if condition="!empty($params['keywords'])">{{$params.keywords}}</if>" autocomplete="off" />
            <input id="ai-topsearch" class="submit am-btn" placeholder="{{:L('common_so_tips')}}" index="1" type="submit" value="{{:L('common_so_text')}}" />
        </form>
    </div>
</div>
<!-- 搜索框 end -->