<div class="am-background-white am-padding">
    <div class="am-container hiprint-preview-container">
        <div class="am-text-right">
            <button type="button" class="am-btn am-btn-primary am-radius am-btn-xs hiprint-print-submit">
                <i class="iconfont icon-print"></i>
                <span>{{:MyLang('data_print.form_panel_direct_print')}}</span>
            </button>
            <button type="button" class="am-btn am-btn-primary-plain am-radius am-btn-xs am-margin-left-xs hiprint-export-pdf-submit">
                <i class="iconfont icon-pdf"></i>
                <span>{{:MyLang('data_print.form_panel_export_pdf')}}</span>
            </button>
        </div>
        <div class="preview-content"></div>
    </div>
</div>