@media only screen and (max-width: 641px) {
    .am-article {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media only screen and (min-width: 640px) {
    .am-article {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media only screen and (min-width: 1025px) {
    .am-article {
        padding-left: 0;
        padding-right: 0;
    }
}