.article-content img {
    max-width: 100%;
}
.article-header .am-article-divider {
    margin: 15px 0 20px 0;
}
.article-header .am-article-meta {
    margin-top: 5px;
}
.article-header .am-article-meta span:not(:first-child) {
    margin-left: 15px;
}
.article-nav-button {
    position: fixed;
    z-index: 10;
    bottom: 70px;
    right: 10px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.am-offcanvas-bar:after {
    background: transparent;
}
.article-sidebar ul li {
    margin-top: 0;
}
.article-sidebar ul li a {
    font-size: 12px;
    padding: 8px 10px;
}
.article-sidebar .am-panel,
.category-content-list li {
    border-color: #eee !important;
}
.article-sidebar .am-panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.category-list li a.am-active {
    background-color: #eee;
    color: #d2364c;
}
.category-content-list li:first-child {
    border-top: 0;
}
.last-next-data .text-tips {
    color: #999;
}
@media only screen and (min-width: 641px) {
    .article-sidebar .am-offcanvas {
        display: block;
        position: static;
        background: none;
    }
    .article-sidebar .am-offcanvas-bar {
        position: static;
        width: auto;
        background: none;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .article-sidebar ul li:not(:last-child) {
        border-bottom: 1px solid #f1f1f1;
    }
    .am-accordion-gapped {
        margin: 0 15px 0 0;
    }
    .article-sidebar {
        padding-left: 5px !important;
    }
}
@media only screen and (min-width: 1025px) {
    .article-sidebar {
        padding-left: 0 !important;
    }
}
@media only screen and (max-width: 640px) {
    .article-right {
        padding: 0 5px;
    }
    .article-sidebar .am-offcanvas-bar {
        background: #f9f9f9;
    }
    .article-sidebar ul li:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
    .am-accordion-gapped {
        margin: 0;
    }
    .last-next-data .am-fl,
    .last-next-data .am-fr {
        float: none !important;
    }
    .last-next-data .am-fr {
        margin-top: 10px;
    }
}
