/*页面*/
.buy-items h3{border-bottom: 2px solid #e3e3e3; margin-top:15px;}

/*地址管理*/
h3 { font-size: 14px;font-weight: 700;}
.address h3 { border-bottom:none;}
ul.address-list li{display:none;width:100%;padding:10px;position: relative;min-height:80px;}
.address-left{ width:calc(100% - 25px);float:left;position: relative;}
ul.address-list li .user-base {font-size: 14px; font-weight: 700; margin-bottom: 5px; }
.address-right{ float:right; margin-right:5px;padding-top:15px ;}   

/*地址操作-编辑删除*/
.address-operation-btn {display:none;font-size: 12px;color: #282828;text-align: right; padding-right:5px ;}
.address-operation-btn .cut { padding: 0 5px;color: #ccc; vertical-align: top; }
.address-default { display:block !important;}  

/* 物流/支付 */
.business-item ul li { border:1px solid transparent ;overflow: hidden; float: left; cursor: pointer; padding: 5px; border: 1px solid #e5e5e5; margin: 0 10px 10px 0; }
ul.logistics-list li.selected, ul.payment-list li.selected, .confirm-selected {border-color:#d2364c ;position:relative;box-shadow: 0px 0 0px 1px #d2364c;}
ul.logistics-list li.selected i.icon-active, ul.payment-list li.selected i.icon-active, .confirm-selected i.icon-active {
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    right: 0px;
    bottom: 0px;
    background: url(../images/sys-item-selected.gif) no-repeat right bottom;
}
.business-item ul { padding: 10px 3px 5px 5px;}
ul.logistics-list li img, ul.payment-list li img { width: 36px; height: 36px; vertical-align: middle; }

.business-item ul li, ul.address-list li {
  -webkit-transition: border-color .2s ease-in;
  -moz-transition: border-color .2s ease-in;
  -ms-transition: border-color .2s ease-in;
  -o-transition: border-color .2s ease-in;
  transition: border-color .2s ease-in;
}

/*运费、留言、扩展数据*/
.buy-message {padding:0px 5px}
.td.td-oplist .pay-logis,.td.td-bonus select{position:absolute;top:6px;right:0;}
.memo-input{width:calc(100% - 64px);border: 1px solid #ccc;padding: 5px;outline:none;border-radius: 2px;}

/*合计*/
.buy-point-discharge{font-size:14px ;font-weight: 700;padding:10px 5px;text-align: right;}
.pay-sum{color:#d2364c;margin-left:5px ;}
.box{float:left;width:70%;height:40px ;line-height:40px ;font-size: 14px;text-align: right;padding-right:10px ;}
.pay-address{display: none;}
.nav-buy .btn-go{float:left;width:30%;color:#fff ;background:#d2364c ;text-align: center;height:40px ;line-height:40px ;font-size: 14px; border: 0; }
.order-nav{position: fixed; left: 0; bottom: 0;width:100%; }
.nav-buy .btn-go:hover, .nav-buy .btn-go:focus { color: #fff !important; text-decoration: none; }

.link-list h3 { padding: 0 0 5px 5px; }
ul.address-list, .business-item ul { overflow: hidden; }
.nav-buy .btn-go.am-disabled { background-color: #efa4af; }

/* 扩展数据 */
.buy-extension-data { background: #ffffeb; border: 1px solid #ffe2cf; margin-top: 10px; padding: 5px 10px; margin: 10px 5px 0 5px; }
.buy-extension-data li { padding: 5px 0; }
.buy-extension-data li:not(:last-child) { border-bottom: 1px dashed #ffe2cf; }
.buy-extension-data .extension-items-name {  }
.buy-extension-data .extension-items-tips { color: #ff8f44; }

/**
 * 手机下选择地址
 */
.link-list .mobile-address { position: fixed; left: 0; bottom: 0; background-color: #fff; width: 100%; height: 100%; z-index: 1099; padding-top: 0 !important; margin-top: 0 !important; border-top: 0 !important; overflow-y: scroll; overflow-x: hidden; padding-bottom: 28px; }
.link-list .mobile-address .control { margin-bottom: 10px; }
.link-list .mobile-address .control h3 { background-color: #eee; padding: 5px; }
.link-list .mobile-address .control, .link-list .mobile-address ul.address-list li, .link-list .mobile-address ul.address-list li .address-operation-btn { display: block !important; }
.link-list .mobile-address .control .address-submit-save { position: fixed; left: 0; bottom: 0; width: 100%; z-index: 100; }
.link-list .mobile-address ul.address-list li { border-bottom: 1px solid #eee; padding-top: 5px; }
.link-list .mobile-address ul.address-list li .address-left { width: 100%; }
.link-list .mobile-address ul.address-list li .address-right { display: none; }

@media only screen and (min-width:640px) {
  /*地址操作*/
  .address { padding: 0 1px 0 5px; }
  .address .control { margin-bottom: 10px; }
  .address .control h3{ display: -webkit-inline-box; border: none;margin-top:20px; }
  .am-form-content {margin-left:75px;}   
  .am-form-label {width:60px;float: left;}
  .link-list{ margin:10px; }
  .link-list h3 {padding-bottom:5px;}

  /*业务*/
  .business-item ul li {width:calc(25% - 8px); }
  .business-item ul li:nth-child(4n) { margin-right: 0; }
  .business-item ul li:hover, ul.address-list li:hover { border:1px solid #d2364c; box-shadow: 0px 0 0px 1px #d2364c; }

   /*留言*/ 
  .buy-message{border:1px solid #eee; overflow: hidden;padding: 10px; margin: 0 5px;}
  .order-extra{border: none;float: left;width: 60%;}
  .memo-input{min-width:280px ;width:80%; }

  /*带个人信息的结算*/
  .box ,.nav-buy .btn-go{float:right;width:auto;height:auto;padding:10px 10px;}
  .pay-address{display:block;} 
  .box{font-size:12px;overflow: hidden;border: 2px solid #de9ba2;}

  .order-nav {clear: both;text-align: right;position: relative;margin-top: 10px;border: none;}
  .order-nav .address-confirm .box{position: relative;float: right;z-index: 100;padding-right:2%; padding-bottom:10px;border: 1px solid #f50;font-family: tahoma;display: inline-block;right: 0;background-color: #fff0e8;}
  .order-nav form.am-form { overflow: inherit;}

  .nav-buy .go-btn-wrap {width:100%;overflow: hidden;padding-top:10px;margin-bottom: 10px;}
  .nav-buy .btn-go {display: block;padding: 0 26px;height: 36px;font: 400 18px/36px arial;font-size: 18px;background-color: #d2364c;color: #fff;text-align: center;cursor: pointer;outline: 0; z-index:999;}
  .base-real-pay {line-height: 16px;margin: 0px 0px 10px;position: relative;}
  .base-real-pay .g_price span {font-size: 26px;}
  .price .nav-total-price {color: #d2364c;font: 700 26px tahoma;}
  .order-nav .buy-footer-address .buy-line-title {color: #404040;font-weight: 700;}
  .link-list{margin:0px auto;}
  /*地址管理*/
  .address ul{margin-top: 10px; padding: 1px;}
  ul.address-list li{display:block; width: calc(33% - 5px);height: 130px;float: left;margin:0 10px 10px 0 ;padding:10px;border: 1px solid #e5e5e5;}
  ul.address-list li.address-default{background-image: url(../images/address-peraddressbg.png);background-repeat: no-repeat; background-size: 100% 100%;border: 0;box-shadow: none;}
  ul.address-list li:nth-child(3n) { margin-right: 0; }
  .address-left{ width:100%;position: relative;}
  .th .td-inner{padding-left:0 ;}
      
  /*地址操作*/
  .address-operation-btn {display:block;position: absolute;bottom:25px ;right:10px ;}
  .address-right .am-icon-angle-right,
  .mobile-address-close-submit { display: none; }
}

@media only screen and (min-width:1025px) {
  .link-list{ margin:0; }
  ul.address-list li { width: calc(25% - 8px); }
  ul.address-list li:nth-child(4n) { margin-right: 0; }
  ul.address-list li:nth-child(3n) { margin-right: 10px; }
  .address { padding: 0; }

  .business-item ul li { width: calc(20% - 8px); }
  .business-item ul li:nth-child(5n) { margin-right: 0; }
  .business-item ul li:nth-child(4n) { margin-right: 10px; }
  .business-item ul { padding: 10px 1px 0 1px; }
  .link-list h3 { padding: 0 0 5px 0; }
  .buy-message { margin: 0; }
  .buy-point-discharge { padding: 10px 0px; }

  /*扩展数据*/
  .buy-extension-data { margin: 10px 0 0 0; }
}

@media only screen and (max-width:640px) {
  .cart-content table tr .base { width: 100%; }

  .address { margin-top: 10px; }
  .address, .buy-message { border-top: 1px solid #eee; }
  .address .control { display: none; }
  .address-default {background: url(../images/buy-peraddress.png) repeat-x; background-position: bottom; }
  ul.address-list li { padding: 5px; min-height: 60px; overflow: hidden; }
  ul.address-list .am-icon-angle-right { color: #888; }

  .business-item ul li { width: calc(50% - 6px); }
  .business-item ul li:nth-child(2n) { margin-right: 0; }
  .buy-message { padding-top: 10px; }
  .pay-confirm em { font-size: 12px; }
  .pay-confirm .nav-total-price { color: #d2364c; font-weight: 700; }
  .order-nav { background: #f5f5f5; z-index: 100; }
  .am-footer { padding-bottom: 40px; }
}


/**
 * 商品列表
 */
.goods-items table.am-table tr th { font-weight: 500; }
.goods-detail img { width: 80px; height: 80px; position: absolute; left: 0; top: 0; }
.goods-detail { position: relative; min-height: 80px; }
.goods-title { display: block; max-height: 36px; overflow: hidden; text-overflow: ellipsis; }
.goods-title:hover { text-decoration: underline; }
.goods-base { float: left; top: 0; margin-left: 85px; }
.goods-attr { margin-top: 5px;  }
.goods-attr li { color: #888; line-height: 16px; }
.original-price, .line-price { font-family: Verdana,Tahoma,arial; }
.original-price { color: #9c9c9c; text-decoration: line-through; }
.line-price { color: #3c3c3c; }
.line-price, strong.total-price-content, strong.total-price-content { font-weight: 700; font-family: Verdana,Tahoma,arial; }
strong.total-price-content { color: #d2364c; font-size: 16px; }
.am-table { margin-bottom: 10px; }
.am-table > tbody > tr > td { border-top: 1px solid #F5F5F5; }
.am-table > thead > tr > th { border-bottom: 1px solid #f7f7f7; }

@media only screen and (min-width:640px)  {
    .cart-content table tr .base { width: 40%; }
    .cart-content table tr .price { width: 20%; }
    .cart-content table tr .number { width: 20%; }
    .cart-content table tr .total-price { width: 20%; }
    .cart-content { margin-top: 20px; }
}


/**
 * 自提地址
 */
.extraction-address-item {
  box-shadow: none;
}
.extraction-address-item .first-icon {
  width: 13px;
}
.extraction-address-item .first-icon i {
  color: #666;
}
.extraction-address-item .address-detail {
  margin-top: 2px;
}
@media only screen and (min-width: 640px) {
  .extraction-address-container {
    padding: 0 5px;
  }
}
@media only screen and (min-width: 1025px) {
  .extraction-address-container {
    padding: 0;
  }
}
@media only screen and (max-width: 640px) {
  .extraction-default {
    background: url(../images/buy-peraddress.png) repeat-x;
    background-position: bottom;
    border: 0;
  }
  .extraction-default .am-panel-bd {
    padding: 20px 5px;
  }
  .extraction-default .am-panel-bd .address-right {
    padding-top: 5px;
  }
}
/**
 * 自提地址-弹层
 */
#extraction-address-popup .am-list {
  margin-top: 0;
}
#extraction-address-popup .am-list > li {
  padding: 10px 5px;
  border-color: #eee;
}
#extraction-address-popup .am-list > li:first-child {
  border-top: 0;
}
#extraction-address-popup .extraction-address-item button {
  position: absolute;
  top: 15px;
  right: 5px;
}
/**
 * 自提地址-弹层-查看地图
 */
.extraction-address-map-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1001;
  padding: 10%;
  width: 100%;
  height: 100%;
  display: none;
}
.extraction-address-map-container .map-title {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}
.extraction-address-map-container .map-inner {
  height: 43px;
  line-height: 43px;
  background: #fff;
  border-bottom: 1px solid #dedede;
}
.extraction-address-map-container .map-inner .am-close {
  margin: 9px 9px 0 0;
}
#map {
  width: 100%;
  height: calc(100% - 43px);
}

/**
 * 销售+自提导航
 */
@media only screen and (min-width: 640px) {
  .buy-header-nav {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media only screen and (min-width: 1025px) {
  .buy-header-nav {
    margin-left: 0;
    margin-right: 0;
  }
}