.category-list-container,
.model-one,
.category-list-container ul.category-nav li,
.category-list-container .category-content ul {
    overflow: hidden;
}
.category-list-container ul.category-nav,
.category-list-container .category-content {
    overflow-y: auto;
    overflow-x: hidden;
}
.category-list-container .category-content {
    width: calc(100% - 110px);
}
.category-list-container ul.category-nav {
    width: 100px;
    background: #f5f5f5;
}
.category-list-container ul.category-nav li {
    height: 45px;
    line-height: 45px;
    font-weight: 500;
    font-size: 14px;
    color: #888;
    border-left: 3px solid transparent;
    cursor: pointer;
}
.category-list-container ul.category-nav li.active {
    background: #fff;
    color: #d2364c;
    border-left: 3px solid #d2364c;
}
.category-list-container ul.category-nav li:not(:first-child) {
    border-top: 1px solid #e9e9e9;
}
.category-list-container .category-content .category-icon {
    max-width: 50px;
    max-height: 50px;
}
.category-list-container .category-content .category-item {
    border: 1px solid #eee;
}
.category-list-container .category-content .category-item:not(:last-child) {
    margin-bottom: 15px;
}
.category-list-container a:hover {
    text-decoration: none;
}
.category-list-container .category-content ul {
    border-top: 1px dotted #e5e5e5;
}
.category-list-container .category-content ul li {
    padding: 3px 10px;
    margin: 5px 0;
    border: 1px solid #fff;
}
.category-list-container .category-content ul li a {
    color: #787878;
    font-size: 12px;
}
.category-list-container .table-no {
    padding: 50px 0;
}
@media only screen and (min-width:640px) {
    .category-list-container {
        margin-top: 10px;
    }
    .category-list-container .category-content {
        padding-top: 0;
    }
    .category-list-container ul.category-nav,
    .category-list-container .category-content {
        height: 100vh;
    }
    .category-list-container ul.category-nav {
        margin-left: 5px;
    }
    .category-list-container .category-content {
        margin-right: 5px;
        width: calc(100% - 120px);
    }
    .model-one {
        margin-top: -5px;
    }
    .category-list-container .category-item:hover {
        border: 1px solid #ccc;
    }
    .category-list-container .category-content ul li:hover,
    .model-one li .item-content:hover {
        border: 1px solid #d3364c;
    }
    .category-list-container .category-content ul li:hover a {
        color: #333;
    }
}
@media only screen and (min-width:1025px) {
    .category-list-container ul.category-nav {
        margin-left: 0;
    }
    .category-list-container .category-content {
        margin-right: 0;
        width: calc(100% - 110px);
    }    
    .model-one {
        margin-left: -5px;
        width: calc(100% + 10px);
    }
}
@media only screen and (max-width:640px) {
    .am-footer { padding-bottom: 50px; }

    .category-list-container ul.category-nav,
    .category-list-container .category-content {
        height: calc(100vh - 138px);
    }

    .category-list-container .category-content .category-item {
        margin-right: 10px;
    }
}
.two-content ul {
    border-top: 0 !important;
}
.model-one .item-content {
    border: 1px solid #e0e0e0;
}
.model-one img {
    margin: 0 auto;
}