@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
a{text-decoration:none;cursor:pointer}
.clear{clear: both;}
/* input */
input{font-size:12px;font-size:100%;outline:none;line-height:normal;color:#444;}
.ipt{border:solid 1px #d2d2d2;border-left-color:#ccc;border-top-color:#ccc;border-radius:2px;box-shadow:inset 0 1px 0 #f8f8f8;background-color:#fff;padding:4px 6px;height:21px;line-height:21px;color:#555;width:180px;vertical-align:baseline;}
.ipt:focus{border-color:#95C8F1;box-shadow:0 0 4px #95C8F1;}
.buy-event,.item-props-can{cursor: pointer;}

.theme-popover-mask{z-index:1000;position:fixed;left:0;top:0;width:100%;height:100%;background:#333;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;display:none;}
.theme-popover{z-index:1001;position:fixed;bottom:0;left:0;width:100%;display:none;}
.theme-poptit{padding:12px;position:relative;overflow: hidden;background:#fff ;height:80px ;}
.theme-poptit .close{float:right;color:#999;padding:5px;margin:-2px -5px -5px;font:bold 14px/14px simsun;text-shadow:0 1px 0 #ddd}
.theme-poptit .close:hover{color:#444;}
.theme-popover .confirm { background-color: #d2364c; border-color: #d2364c; color: #fff !important; }

/* 轮播 */
.scoll { margin-bottom: 10px; position: relative; }

/*内容布局*/
.theme-popover .theme-poptit h3,.btn.close,i.buy-event, form.buy-form {display:none}
.theme-span{width:100%;background:transparent;height: 15px;}
.theme-popbod.dform{background:#fff;}
/*商品信息*/
.heme-signin{position:relative;}
.theme-signin-right {background:#fff;overflow: visible;}
.theme-signin-right .img-info{position: absolute;top:0;left:10px;background:#fff;border-radius:5px;border:1px solid #f5f5f5;}
.theme-signin-right .img-info img{margin:5px 5px ;width:80px;height:80px ;}
.theme-signin-right .text-info{position:absolute;left:110px;top:20px ;}
.text-info .price-now{display:block;font-size:16px ;color:#C40000;}
.stock-tips{ font-size:12px; }

/*可选规格*/
.iteminfo_parameter { margin-bottom: 10px; }
.theme-signin-left{padding-bottom:30px;max-height:250px ;overflow-y: scroll;background: #fff;}
.theme-options{display: block;overflow: hidden;padding-left: 10px;padding-right:10px; margin-bottom: 5px;}
.theme-signin-left .cart-title{font-size:14px ;font-weight: 600;}
.theme-signin-left .sku-line{float: left; margin:10px;margin-left:0;border-radius:3px ; background:#efefef ;padding:3px 8px; border: 1px solid #d5d5d5;}
.theme-signin-left .sku-line.selected{background:#d2364c;color: #fff; border: 1px solid #d2364c;}
.sku-line-images { padding:3px !important; }
.sku-line-images img { width: 30px; height: 30px; vertical-align: middle; }
.theme-signin .btn{width:100%;font-size: 16px;padding:5px ;}
.btn-op{position:fixed;left:0;bottom: 0;width:100%; z-index: 3;}
.iteminfo_parameter dt.buy-event {text-align: left;width:100% ;}

.theme-options dd{margin:10px 0px ;}
.introduce-main .am-sticky-placeholder { margin: 0px !important; }
.am-sticky-placeholder .am-nav-tabs > li span { color: #888; }
.am-sticky-placeholder .am-nav-tabs > li.am-active span { color: #333; }
.sku-not-active { border: 1px solid #f03726 !important; box-shadow: 0 0px 3px #ed7f76, 0 0 6px rgba(0, 0, 0, 0); }
.sku-items-disabled { color: #d2cfcf !important; background-color: #ffffff !important; border: 1px dashed #d5d5d5 !important; box-shadow: none !important; }
.sku-dont-choose { color: #b4b3b3 !important; background-color: #ffffff !important; border: 1px solid #ebeaea !important; box-shadow: none !important; }
.sku-dont-choose img { opacity: 0.5; }
.sku-items-disabled img{ opacity: 0.3; }

/* 购买导航 */
.buy-nav { position: fixed; bottom: 0px; right: 0px; z-index: 1000; width: 100%; background: #fff; }
.buy-nav-opt a { color: #666; }
.text-active { color: #cf2915 !important; }
.buy-nav-opt span { font-size: 12px; color: #555; }

/* 商品评论 */
.goods-comment .am-comment { margin-top: 15px; text-align: left; }
.goods-comment .am-comment-main { border: 1px solid #eee; }
.goods-comment .comment-spec { color: #B0B0B0; }
.comment-reply { border-top: 1px dashed #eee; margin-top: 10px; padding-top: 10px; }
.goods-comment .am-comment .am-comment-hd { background: #fbfbfb; }
.goods-comment .am-comment .am-comment-main:after { border-right-color: #fbfbfb; }
.goods-comment .comment-images, .goods-comment .comment-spec { margin-top: 5px; }
.goods-comment .comment-images img { width: 50px; height: 50px; border: 1px solid #eee; }
.goods-comment .comment-images li:not(:last-child) { margin-right: 5px; }
.comment-reply-title { color: #666; }
.comment-reply-desc { color: #905602; }

/* 评分 */
.score-container { border-color: #eee; padding: 15px 25px; border-style: none solid solid solid; border-width: 1px; }
.score-container .score { width: 80px; border-right: 1px solid #eee; padding-right: 25px; }
.score-container .score .name { color: #666; }
.score-container .score .value { color: #f03726; font-weight: 700; font-size: 32px; line-height: 32px; margin-top: 5px; }
.score-container .am-progress { width: calc(100% - 105px); margin-bottom: 0; margin-top: 18px; line-height: 2rem; text-align: center; }

/*详情*/
.detail-content img { max-width: 100%; }

@media only screen and (min-width:640px) {
    .theme-span{height:0px;background:#fff ;}
    .theme-popover{box-shadow:0 0 10px #666;position:fixed;top:20%;left:calc(50% - 250px);width:500px;bottom:auto;border:solid 6px #d3d3d3;border-radius:3px;}
    .theme-poptit{display: none;}

    /*商品规格*/
    .theme-signin-left{padding-top:10px ;float: left;max-height: none;overflow: visible;}
    .theme-options .cart-title{margin-top:5px ;}
    .theme-options ul{float: left;}

    .theme-signin-left .sku-line {background: none;border-radius:0 ;margin:5px;border:1px solid #d5d5d5 ;color:#333; background-color: #f5f5f5; }
    .theme-signin-left .sku-line.selected, .theme-signin-left .sku-line:hover  {background:none;color:#333;border: 1px solid #e23f36; box-shadow: 0px 0 0px 1px #e23f36; }

    /*选中样式*/
    .sku-line{position: relative;}
    .theme-options li a:hover{ border:2px solid #e4393c; padding:0 5px; text-decoration:none;}
    .theme-options li i{ position:absolute; width:10px; height:10px; font-size:0; line-height:0; right:0px; bottom:0px; background:url(../images/sys-item-selected.gif) no-repeat right bottom; z-index:99; display:none;}
    .theme-options li.selected a{ border:2px solid #e4393c; padding:0 5px;}
    .theme-options li.selected i{ display:block;} 

    /*商品信息*/
    .theme-signin-right{display: none;}
    .text-info .price-now{float: left;margin-right:10px ;}
    .text-info span.stock-tips {float:left;font-size: 12px;}

    /*操作*/
    .btn-op{overflow: hidden;padding:10px 30%; position: static;}
    .theme-signin .btn {width:auto; font-size:12px ;padding:5px 15px ;border-radius:0;}
    .btn.close {display:block;float: left;position: static;}
    i.buy-event{display: inline-block;}
    .btn.confirm { float: right; }
}

@media only screen and (min-width:1025px) {
    i.buy-event{display: none;}  
    .theme-signin-left{padding-top:15px ;float: left;max-width:none;padding-bottom:0px ;}
    .theme-signin-right{float: left;display:block;overflow: hidden;padding: 10px;}
    .theme-signin-right .img-info,.theme-signin-right .text-info{position: static;}
    .theme-signin-right .img-info img{width:120px;height:120px; }
}

dt + dd {
margin:0px 0px;padding:0px 0px;
}
.am-selected-text{font-size:14px ;}
ul,li,ol{ list-style:none;}
dl,dd{ margin:auto;}
img{ border:none;}
button {
    padding: 1px 6px;
}
li{ list-style:none;}

a img,:link img,:visited img { border: none; }
table { border-collapse: collapse; border-spacing: 0; font-size: 14px;}
:focus { outline: none; }
*{margin:0;padding:0;}

fieldset {padding:0px;padding-left:7px;padding-right:7px;padding-bottom:7px;}
fieldset legend{margin-left:15px;padding-left:3px;padding-right:3px;color:#333;}
.introduce-main .am-nav > li > a{padding:4px 0px;font-size: 12px;}
.introduce-main .am-nav-tabs > li > a { margin-right:0px;}
.introduce-main .am-nav-tabs > li {border-top: 2px solid #f5f5f5;}
.introduce-main .am-nav-tabs > li.am-active { border-bottom: 2px solid #F03726; }


/*导航*/
.introduce ul.am-tabs-nav.am-nav.am-nav-tabs {background: #F5F5F5;}
.introduce .am-nav-tabs, .introduce .am-tabs-bd{border-color:transparent ;}
.introduce .am-nav-tabs > li.am-active > a,
.introduce .am-nav-tabs > li.am-active > a:hover,
.introduce .am-nav-tabs > li.am-active > a:focus,
.introduce .am-nav-tabs > li > a:hover,
.introduce .am-nav-tabs > li > a:focus { color: #555555;background:none;border-color:transparent;cursor: default;}
.introduce .am-nav-tabs > li{border-bottom:2px solid  transparent;text-align: center;}
.introduce .am-nav-tabs > li.am-active {border-bottom:2px solid #d2364c;}
.introduce .am-tabs-nav li {height:36px;font-size:14px;line-height:36px ;}
.introduce .am-tabs-nav li a,
.introduce .am-tabs-nav li.am-active a,
.introduce .am-tabs-nav li{cursor: pointer;}
.introduce .am-nav-tabs > li span{font-size:14px;font-weight:500;}
.introduce .am-nav-tabs > li.am-active span{color: #E4393C;}


/*tab*/
.tab{ line-height:56px; font-size:12px;}
.tab a{ color:#07c;}
.tab a:hover{ color:#c00;}
.tab a.cur{ font-weight:bold;}

/*商品详细页*/
.simple-desc { color: #f00; }

/*价格*/
.tb-detail-price{text-align: left; position: relative;}
.tb-detail-price .price em {font-family: arial;}
.tb-detail-price .original-price-value {text-decoration:line-through; font-size:14px; }
.iteminfo_mktprice {padding-top: 10px;}
.iteminfo_mktprice em, .goods-price { color:#c00;}
.tb-detail-price dd {display: inline-block;}
.goods-favor-count { color: #999; }
.iteminfo_parameter a:hover{text-decoration: none;color:initial ;}
.tm-indcon .tm-label, .tb-detail-price dt, .specpara-title { white-space:nowrap; color:#666; font-weight: 400; }
.tb-detail-price{ background: #fcf1e3 url(../images/goods-meta-bg.png); background-size: cover; -moz-background-size: cover; background-repeat: no-repeat; height:auto;padding:10px; }
.tb-detail-price .items {display: block; margin: 5px 0;}
.tb-detail-price .items dt { float:left; text-align: left;}
.tb-detail-price .goods-price {font-size: 24px;font-weight: bold; line-height: 16px;}

/* 二维码 */
.goods-qrcode{position: absolute; bottom: 5px; right: 10px; cursor: pointer; color: #666; width: 150px; text-align: right;}
.goods-qrcode .qrcode-images{display: none; position: absolute; z-index: 2; top: 30px; right: 0;}
.goods-qrcode:hover .qrcode-images{display: block;}

/* 视频 */
.goods-video-submit-start,
.goods-video-submit-close,
.goods-video-container { position: absolute; }
.goods-video-submit-start,
.goods-video-submit-close { font-size: 60px; color: #999; cursor: pointer; }
.goods-video-submit-start:hover,
.goods-video-submit-close:hover { color: #666; }
.goods-video-submit-close { z-index: 4; width: 50px; height: 50px; line-height: 48px; text-align: center; padding: 0; border: 2px solid #999; border-radius: 1000px; }

/* 视频 放大镜 */
.box .goods-video-submit-start { left: 1px; bottom: 85px; z-index: 2; padding: 10px 10px 2px 10px; }
.box .goods-video-submit-close { top: 10px; right: 10px; }
.box .goods-video-container { line-height: 32px; font-size: 32px; color: #f00; background: #fff; text-align: center; width: 100%; height: 100%; top: 0; left: 0; z-index: 3; }

/* 视频 轮播下 */
.scoll .slider-content { overflow: hidden; position: relative; }
.scoll .goods-video-submit-start { left: 0; bottom: 0; z-index: 2; padding: 10px 10px 5px 10px; }
.scoll .goods-video-submit-close { right: 10px; }
.scoll .goods-video-container { line-height: 32px; font-size: 32px; color: #f00; background: #fff; text-align: center; width: 100%; height: 100%; top: 0; left: 0; z-index: 3; }

/*销量*/
.tm-ind-panel, .iteminfo_parameter { border-bottom: 1px solid #F5F5F5; }
.tm-ind-panel {padding: 10px 5px;position: relative;overflow: hidden;clear: both;display: flex;}    
.tm-ind-item {float: left;width: 33%;text-align: center;position: relative;left: -1px;border-left: 1px solid #E5DFDA;
flex: 1 1 0%;line-height: 16px;cursor: pointer;}   
.tm-ind-panel .tm-count {display: inline-block;line-height: 16px;height: 16px;color: #C40000;font-weight: 700;margin-left: 3px;}    

/*规格*/
.theme-signin .btn-op.act{display: none;}
.theme-signin .btn-op.act .btn{width:50%;float: left;}
.buy-event .cart-title{ width:100%;padding:5px;}
.buy-event .cart-title .am-icon-angle-right{float: right;}

/*数量*/
.iteminfo_parameter.munber,.iteminfo_parameter.freight{display:none ;}
.iteminfo_parameter.munber dd{margin-left:5px ;}
#min, #add{ width: 35px; height: 25px; outline:none; line-height: 23px; padding: 0; cursor: pointer; }
#text_box { width: 60px; height: 25px; text-align: center; font-size: 12px !important; }
.theme-popover .am-input-group { display: inline-flex; }


/*购物车*/
.tb-btn button, .buy-nav div.submit,.buy-nav .buy-nav-opt, .buy-nav .nav-icon { height: 35px; line-height: 35px; }
.tb-btn button {margin-right: 0px;float: left;overflow: hidden; position: relative;width:100%; background-color: #FFEDED; color:#d2364c;font-size: 14px;text-align: center;border: 0;}
.tb-btn-basket button {background-color:#d2364c;color: #FFF;}
.buy-nav .buy-nav-opt, .buy-nav div.submit { float:left; }
.buy-nav div.submit { width: 30%; }
@media only screen and (min-width:640px) {
    .buy-nav .buy-nav-opt { position: absolute; margin-left: 220px; display: block; }
    .buy-nav .buy-nav-opt .nav-icon-home { display: none; }
    .buy-nav .buy-nav-opt .nav-icon { cursor: pointer; }
    .buy-nav .buy-nav-opt .nav-icon:not(:last-child) { margin-right: 10px; }
    .buy-nav .buy-nav-opt { padding-top: 8px; }
}
@media only screen and (max-width:640px) {
    .buy-nav .nav-icon {display:inline-block;width: 50%;float: left; ;cursor: pointer; border-top: 1px solid #f5f5f5; border-left: 1px solid #f5f5f5; text-align: center; }
    header { display: none; }
}


/*介绍*/
.introduce{width:100%;margin: 0px auto;padding-bottom: 20px;}
.introduce-main{width:100%;background:#fff ;}
.introduce-main .am-tab-panel { padding: 0px; }


/*产品参数*/
ul.detail-attr{overflow: hidden;text-align: left;}
ul.detail-attr li {height: 26px;overflow: hidden;line-height: 26px;vertical-align: top;white-space: nowrap; text-overflow: ellipsis;color: #666;font-size:14px;}

/*推荐商品*/
.like{margin-top:25px;border-radius:4px;}
.like li{ float:left; padding:8px 10px 5px;font: 14px/1.5 tahoma,arial,"Hiragino Sans GB",宋体,sans-serif;}
.like li{ text-align:left; border-top: 1px solid #eee; } 
.like li .p-price strong {
    font-size: 14px; color: #E4393C;font-weight: 400;font-family: Verdana;}
.like li img{width:100%}

/*轮播*/
.clearfix-left{display:none; position: relative;}
.scoll img{width:100%; margin-left:0}

/* 文字提示 */
.goods-not-buy-tips { color: #FF5722; margin: 5px 0; font-size: 14px; }

/*左侧商品-看了又看*/
.browse { display: none; }

@media only screen and (min-width:640px) {
    /*导航固定*/
    ul.am-tabs-nav.am-nav.am-nav-tabs {margin-right:10px ;margin-left: 10px;width: auto;}
    .scoll{float: left;width: calc(45% - 10px);max-width:360px;padding-right:20px; }
    .scoll .slider-content { border: 1px solid #eee; }
    .clearfix-right{float:left;width:55%;min-height: 270px;}
    .iteminfo_parameter.freight{display: block;margin-top: 10px;margin-bottom:10px ;}
    .iteminfo_parameter.freight dt{margin-left:-70px ;float: left;margin-right:10px ;padding-top:5px ;padding-bottom:20px ;}
    .buy-nav{position: static; margin-top: 20px; overflow: hidden; }
    ul.am-avg-sm-4.am-tabs-nav.am-nav.am-nav-tabs {width: auto;}
    ul.detail-attr li {display: inline;float: left;width: 33.33%;}

    /*可选规格*/
    .buy-event .cart-title{border:none ;margin-left: -60px;position: relative;padding:10px 0px 5px 10px ;}
    .buy-event .cart-title .am-icon-angle-right {position: absolute;right: -50px;}
    .iteminfo_parameter { border-bottom: 0; }

    /*销量*/
    .tm-ind-panel {border-width:1px 0px;margin: -1px 0px 0px 0px;padding: 10px 0px;
    position: relative;overflow: hidden;clear: both;display: flex;}    
    .tm-ind-item {float: left;width: 33%;text-align: center;position: relative;left: -1px;border-left: 1px solid #E5DFDA;
    flex: 1 1 0%;line-height: 16px;cursor: pointer;}   
    .tm-ind-panel .tm-count {display: inline-block;line-height: 16px;height: 16px;color: #C40000;font-weight: 700;margin-left: 3px;}    

    /*基础*/
    .tb-detail-price .items dt { min-width: 65px; }
    .theme-signin-left{float:none;padding-bottom:0;margin:0 ;}
    .iteminfo_parameter {padding-left: 50px;}
    .tb-detail-hd,.tb-detail-price{text-align: left;}
    .tb-detail-hd h1 {font-size: 16px;}

    /*购物*/
    .tb-btn-buy{margin-right:10px;}
    .tb-btn button{width:98px ;border: 1px solid #d2364c;}
    .buy-nav div.submit{width: auto;}

    /*印象*/
    .p-bfc {padding: 0px ; }
    .rate {float: left;padding-top:20px ;display: block;margin-right: 30px;}
    .rate strong {font: 400 46px/30px arial;color: #e4393c;}

    /* 推荐商品 */
    .like li:not(:nth-of-type(3n)) { border-right: 1px solid #eee; }
    .like li:nth-child(1), .like li:nth-child(2), .like li:nth-child(3) { border-top: 0px; }

    /* 视频 */
    .scoll .goods-video-submit-close { top: 10px; }

    /* 基础主体 */
    .item-inform { margin-bottom: 10px; }
}

@media only screen and (min-width:1025px) {
    /*放大镜*/
    /* box */
    .box { position: relative; border: 1px solid #eee; }
    .tb-pic a { display:table-cell; text-align:center; vertical-align:middle; }
    .tb-pic a img {vertical-align:middle; }
    .tb-pic a {*display:block;*font-family:Arial;*line-height:1;}
    .tb-thumb { padding: 5px; overflow: hidden; background: #f9f9f9; }
    .tb-thumb li {background:none repeat scroll 0 0 transparent; float:left; margin:0 6px 0 0; overflow:hidden; padding:1px; }

    .tb-s310 a { *font-size:271px;}
    .tb-s40 a { *font-size:35px;}
    .tb-s40{ height:60px; width:60px; }
    .tb-booth { border-bottom:1px solid #f5f5f5; position:relative; z-index:1;overflow: hidden; height: 358px; }
    .tb-booth img { height: 100%; margin: 0 auto; display: block; }
    .tb-thumb .tb-selected { background:none repeat scroll 0 0 #C30008; height:62px;}
    .tb-thumb .tb-selected div { background-color:#FFFFFF; border:medium none; }
    .tb-thumb li div { border:1px solid #eee; overflow: hidden;}
    div.zoomDiv { z-index:999; position:absolute; top:0px; left:0px; width:400px; height:400px; background:#ffffff; border:1px solid #CCCCCC; display:none; text-align:center; overflow:hidden; }
    div.zoomDiv img { min-width: 1000px; display: block; }
    div.zoomMask { position:absolute; background:url(../images/goods-mask.png)repeat scroll 0 0 rgba(33, 150, 243, 0.3); cursor:move; z-index:1; }
            
    /*规格*/
    .theme-popover {display: block;position: static;border:none ;box-shadow: none;width: 100%;}
    .theme-poptit,.theme-signin-right,.iteminfo_parameter dt.buy-event,.btn-op{display: none;}

    .theme-options{overflow: visible;padding:0px 0px; margin-bottom: 5px;}
    .theme-options ul{overflow: hidden;float: none;}
    .theme-signin-left {max-width:100%;margin-bottom: 0;}
    .theme-signin-left .sku-line{cursor: pointer; }
    .theme-signin-left .cart-title{margin-left: -46px;font-size:12px ;font-weight: 100;color:#888 ;float: left;}
        
    .scoll{display: none;}
    .item-inform{max-width:1000px; background:#fff; margin-top: 20px; margin-bottom: 30px; }
    .clearfix-left{display:block;float: left;width:360px;}
    .clearfix-right{width:calc(100% - 370px);margin-left:10px;}
    .freight{width:400px;float: left;}
    .iteminfo_parameter.freight dt{padding-top:6px ;padding-bottom:0px ;}

    /*左侧商品-看了又看*/
    .introduce-main{width:80%;float:left;background:#fff ;}
    .browse{display:block; float:left;width:20% ;}
    .browse ul{border:1px solid #eee ;width: 90%;}
    .browse ul .mt{background-color: #f7f7f7; height: 35px;line-height: 35px;text-align: center;}
    .browse ul li {margin:0px 10px;padding:12px 0px;border-top: 1px dotted #DEDEDE;}
    .browse ul li.first {border-top:none;}
    .browse li img{width:100% ;}
    .browse li .p-price strong {color: #c00;font-weight: 600;}
    /*导航固定*/
    ul.am-tabs-nav.am-nav.am-nav-tabs {left:20% ;max-width:960px ;margin-right: 0px;margin-left: 0px;}
    .introduce-main .am-nav-tabs > li.am-active {border-bottom: none;}
    .introduce-main .am-nav-tabs > li.am-active {border-top: 2px solid #F03726;}

    /*评论*/
    .tb-r-filter-bar{border: 1px solid #F5F5F5;background-color: #FAFAFA;}
    .tb-r-filter-bar li {text-align:left;width:auto ;padding:0px 10px;}

    /* 推荐商品 */
    .like li:nth-of-type(4n) { border-right: 0px !important; }
    .like li:nth-of-type(3n) { border-right: 1px solid #eee; }
    .like li:nth-child(4) { border-top: 0px; }

    /*购物*/
    .tb-btn-buy{margin-left:50px;margin-right:20px;}
    .buy-nav .buy-nav-opt {margin-left: 283px;}
    .buy-nav .buy-nav-opt .nav-icon:not(:last-child) {margin-right: 15px;}
}

@media only screen and (min-width:1260px) {
    .item-inform ,.match,.introduce-main,.am-breadcrumb-slash{max-width: 1200px;}
    .clearfix-left { width: 400px; }
    .tb-booth { height: 398px; }
    /*放大镜*/
    .clearfix-right {width: calc(100% - 420px);margin-left:20px;}

    /* 视频 */
    .box .goods-video-submit-close { left: 340px; }

    /*导航固定*/
    ul.am-tabs-nav.am-nav.am-nav-tabs {left:auto;right:auto;width:960px ;}
}


/* 小于1025 */
@media only screen and (max-width:1025px) {
    ul.am-tabs-nav.am-nav.am-nav-tabs { width:100% !important; left: 0px !important; }
    .goods-detail { padding: 10px; }
}

/* 手机模式下 */
@media only screen and (max-width:640px) {
    .goods-detail { padding: 0px; }
    .detail-title, .detail-attr, .simple-desc { padding: 0px 5px; }
    .tb-detail-price { padding: 10px 5px; }
    .buy-nav .buy-nav-opt { width: 40%; }
    ul.tm-ind-panel li { border-left: 0px; }
    ul.tm-ind-panel li:first-child { text-align: left; }
    ul.tm-ind-panel li:last-child { text-align: right; }
    .tb-detail-price .items dt { margin-right: 10px; }
    .tb-detail-hd h1 { font-size: 14px; }

    /* 推荐商品 */
    .like li:not(:nth-of-type(2n)) { border-right: 1px solid #eee; }
    .like li:nth-child(1), .like li:nth-child(2) { border-top: 0px; }
    .goods-not-buy-tips { text-align: center; }
    .goods-favor-count { display: none; }

    /* 视频操作 */
    .scoll .goods-video-submit-close { bottom: 50px; }

    /* 商品评论 */
    .goods-comment .am-comment { margin-left: 5px; margin-right: 5px; }

    /* 商品评分 */
    .score-container { padding: 10px; border-style: none none solid none; }
    .score-container .score { padding-right: 10px; }
    .score-container .am-progress { width: calc(100% - 90px); }

    /* 底部 */
    .am-footer { padding-bottom: 35px; }
}


/* 展示模式 */
.exhibition-nav div.submit { width: 60%; }
@media only screen and (min-width:641px) {
    .exhibition-nav .buy-nav-opt { margin-left: 120px; }
}