@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
a{text-decoration:none;cursor:pointer}
.clear{clear: both;}
/* input */
input{font-size:1.2rem;font-size:100%;outline:none;line-height:normal;color:#444;}
.ipt{border:solid 0.1rem #d2d2d2;border-left-color:#ccc;border-top-color:#ccc;border-radius:0.2rem;box-shadow:inset 0 0.1rem 0 #f8f8f8;background-color:#fff;padding:0.4rem 0.6rem;height:2.1rem;line-height:2.1rem;color:#555;width:18rem;vertical-align:baseline;}
.ipt:focus{border-color:#95C8F1;box-shadow:0 0 0.4rem #95C8F1;}
.buy-event,.item-props-can{cursor: pointer;}

.theme-popover-mask{z-index:1000;position:fixed;left:0;top:0;width:100%;height:100%;background:#333;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;display:none;}
.theme-popover{z-index:1002;position:fixed;bottom:0;left:0;width:100%;display:none;}
.theme-poptit{padding:1.2rem;position:relative;overflow: hidden;background:#fff ;height:8rem ;}
.theme-poptit .close{float:right;color:#999;padding:0.5rem;margin:-0.2rem -0.5rem -0.5rem;font:bold 1.4rem/1.4rem simsun;text-shadow:0 0.1rem 0 #ddd}
.theme-poptit .close:hover{color:#444;}
.theme-popover .confirm { background-color: var(--color-main); border-color: var(--color-main); color: #fff !important; }

/* 轮播 */
.scoll { margin-bottom: 2rem; position: relative; }

/*内容布局*/
.clearfix-right dd { margin: 0; }
.theme-popover .theme-poptit h3,.btn.close,i.buy-event {display:none}
.theme-span{width:100%;background:transparent;height: 1.5rem;}

/*商品信息*/
.heme-signin{position:relative;}
.theme-signin-right {background:#fff;overflow: visible;}
.theme-signin-right .img-info{position: absolute;top:0;left:1rem;background:#fff;border-radius:0.5rem;border:0.1rem solid #f5f5f5;}
.theme-signin-right .img-info img{margin:0.5rem 0.5rem ;width:8rem;height:8rem ;}
.theme-signin-right .text-info{position:absolute;left:11rem;top:3rem ;}
.text-info .price-now{display:block;font-size:1.6rem ;color:var(--color-price);}
.stock-tips{ font-size:1.2rem; margin-left: 2.4rem;}

/*可选规格*/
.theme-signin-left{max-height:25rem ;overflow-y: scroll;background: #fff;}
.theme-options{display: block;overflow: hidden;padding-left: 1rem;padding-right:1rem; margin-bottom: 0.5rem;color: #666666;}
.theme-signin-left .sku-line{float: left; margin:1rem;margin-left:0;padding:0.2rem;border-radius: var(--border-radius); background:#FFFFFF ;border: 0.1rem solid #DCDCDC;}
.theme-signin-left .sku-line.selected{background:var(--color-main);color: #fff; border: 0.1rem solid var(--color-main);}
.sku-line-images img { width: 3rem; height: 3rem; vertical-align: middle;border-radius: 0.2rem; }
.sku-line span { padding: 0.3rem 1rem; display: inline-block; height: 30px; line-height: 22px; }
.theme-signin .btn{width:calc(100% - 2rem);font-size: 1.6rem;padding:0.5rem;margin: 0 1rem 1rem 1rem;}
.btn-op{position:fixed;left:0;bottom: 0;width:100%; z-index: 3;}
.buy-spec-info-container dt.buy-event {text-align: left;width:100% ;}

.theme-options dd{margin:1rem 0px 1rem 1rem;}
.introduce-main .am-sticky-placeholder { margin: 0px !important; }
.introduce-main ul.am-tabs-nav.am-nav.am-nav-tabs {
    background: #fefdfd;
    border: 0;
    width: 100%;
    border-radius: var(--border-radius);
    border: 0.1rem solid #EEEEEE;
    padding-right: 13rem;
}
.introduce-main .am-sticky-placeholder .am-nav-tabs > li span { color: #888; }
.introduce-main .am-sticky-placeholder .am-nav-tabs > li.am-active span { color: #333; }
.sku-not-active { border: 0.1rem solid var(--color-main) !important; box-shadow: 0 0px 0.3rem #ed7f76, 0 0 0.6rem rgba(0, 0, 0, 0); border-radius: var(--border-radius);}
.sku-items-disabled { color: #d2cfcf !important; background-color: #ffffff !important; border: 0.1rem dashed #d5d5d5 !important; box-shadow: none !important; }
.sku-dont-choose { color: #b4b3b3 !important; background-color: #ffffff !important; border: 0.1rem solid #ebeaea !important; box-shadow: none !important; }
.sku-dont-choose img { opacity: 0.5; }
.sku-items-disabled img{ opacity: 0.3; }

/* 购买导航 */
.buy-nav { position: fixed; bottom: 0px; right: 0px; z-index: 1001; width: 100%; background: #FFFFFF;}
.buy-nav-opt a { color: #666666; }
.text-active { color: var(--color-main) !important; }
.buy-nav-opt span { color: #666666; }

/*详情*/
.detail-content img { max-width: 100%; height: auto; }

/*商品规格*/
.theme-signin-left {
    max-height: none;
    overflow: visible;
}
.theme-signin-left .sku-line {
    margin: 0.5rem;
    border: 0.1rem solid #DCDCDC;
    color: #333333;
}
.theme-signin-left .sku-line.selected,
.theme-signin-left .sku-line:hover {
    background: none;
    color: #333;
    border: 0.1rem solid var(--color-main);
    box-shadow: 0px 0 0px 0.1rem var(--color-main);
}

.theme-signin-left .cart-title {
    display: inline-block;
    width: 5.6rem;
    height: 20px; /*高度需要添加，不然文字下面会多出一些空隙*/
}

.theme-signin-left .cart-title::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.theme-options ul {
    float: left;
    margin-left: 1rem;
}

/*选中样式*/
.sku-line {
    position: relative;
}
.theme-options li a:hover {
    border: 0.2rem solid var(--color-main);
    padding: 0 0.5rem;
    text-decoration: none;
}
.theme-options li i {
    position: absolute;
    font-size: 2.6rem;
    color: var(--color-main);
    right: -1.3rem;
    bottom: -1.5rem;
    z-index: 99;
    display: none;
}
.theme-options li.selected a {
    border: 0.2rem solid var(--color-main);
    padding: 0 0.5rem;
}
.theme-options li.selected i {
    display: block;
}

@media only screen and (min-width:641px) {
    .theme-span{height:0px;background:#FFFFFF ;}
    .theme-popover{box-shadow:0 0 1rem #666;position:fixed;top:20%;left:calc(50% - 25rem);width:50rem;bottom:auto;border:solid 0.6rem #d3d3d3;border-radius: var(--border-radius);}
    .theme-poptit{display: none;}

    /*商品信息*/
    .theme-signin-right{display: none;}
    .text-info .price-now{float: left;margin-right:1rem ;}
    .text-info span.stock-tips {float:left;font-size: 1.2rem;}

    /*操作*/
    .btn-op{overflow: hidden;padding:1rem 30%; position: static;}
    .theme-signin .btn {width:auto; font-size:1.2rem ;padding:0.6rem 1.2rem;}
    .btn.close {display:block;float: left;position: static;}
    i.buy-event{display: inline-block;}
    .btn.confirm { float: right; }
}

@media only screen and (min-width:1025px) {
    i.buy-event{display: none;}  
    .theme-signin-right{float: left;display:block;overflow: hidden;padding: 1rem;}
    .theme-signin-right .img-info,.theme-signin-right .text-info{position: static;}
    .theme-signin-right .img-info img{width:12rem;height:12rem; }
}

/**
 * 小导航基础容器
 */

/* 商品评论 */
.goods-comment .comment-spec { color: #B0B0B0; }
.comment-reply { border-top: 0.1rem dashed #CCCCCC; margin-top: 1rem; padding-top: 1rem; }
.goods-comment .comment-images, .goods-comment .comment-spec { margin-top: 0.5rem; }
.goods-comment .comment-images img { width: 5rem; height: 5rem; border: 0.1rem solid #CCCCCC; }
.goods-comment .comment-images li:not(:last-child) { margin-right: 0.5rem; }
.comment-reply-title { color: #666666; }
.comment-reply-desc { color: #905602; }

/* 评分 */
.score-container { 
    padding: 1.5rem 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
}
.score-container .score {
    width: 22.2rem;
    border-right: 0.1rem solid #EEEEEE;
    text-align: center;
}
.score-container .score .name { color: #999999; font-size: 1.2rem; margin-top: 1.5rem; }
.score-container .score .value { color: var(--color-main); font-size: 4rem; line-height: 4rem; }
.score-container .progress-content {
    width: calc(100% - 22.2rem);
    padding: 0 8rem;
}
.score-container .comment-btn {
    padding: 2.07rem 0 2.07rem 8rem;
    border-left: 0.1rem solid #EEEEEE;
}
.score-container .am-progress {
    margin-bottom: 0;
    line-height: 2rem;
    text-align: center;
    overflow: unset;
}
.score-container .am-progress .am-progress-bar:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.score-container .am-progress .am-progress-bar:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.score-container .am-progress .am-progress-bar{
    position: relative;
}
.score-container .am-progress .am-progress-bar span {
    position: relative;
    color: #333333;
    top: 4rem;
    display: inline-block;
}
.goods-comment-content .am-comment{
    padding-top: 2rem;
}
@media only screen and (max-width: 1024px) {
    .score-container .progress-content {
        padding: 0 3rem;
    }
}
@media only screen and (max-width: 640px) {
    .score-container .score {
        width: 12rem;
    }
    .score-container .progress-content {
        width: calc(100% - 12rem);
        padding: 0 1rem;
    }
}

/*商品详细页*/
.simple-desc { color: var(--color-red); }
.tb-detail-hd h1, .simple-desc { word-break: break-all; }
.simple-desc { margin-bottom: 1rem; }

/*价格*/
.tb-detail-price {
    text-align: left;
    position: relative;
}

.tb-detail-price .price em {
    font-family: arial;
}

.tb-detail-price .original-price-value {
    text-decoration: line-through;
    font-size: 1.8rem;
    color: #333333;
    font-weight: 400;
}

.iteminfo_mktprice {
    padding-top: 1rem;
}

.iteminfo_mktprice em,
.goods-price {
    color: var(--color-price);
}

.tb-detail-price dd {
    display: inline-block;
}

.buy-spec-info-container a:hover {
    text-decoration: none;
    color: initial;
}

.tm-indcon .tm-label,
.tb-detail-price dt,
.specpara-title {
    white-space: nowrap;
    color: #666666;
    font-weight: 400;
}

.tb-detail-price {
    height: auto;
}
.tb-detail-price .price-top-content { 
    /* background: #FDF2E9;  */
    background: #fcf1e3 url(../images/goods-meta-bg.png);
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem; 
    border-radius: var(--border-radius);
    position: relative;
}
.plugins-membershiplevelvip-goods-price-top dt {
    line-height: 2.8rem;
    color: #333333;
}

.tb-detail-price .items {display: block;}
.tb-detail-price .items.am-margin-bottom0 { margin-bottom: 0; }
.tb-detail-price .price-top-content .items:last-of-type { margin-bottom: 0; }
.tb-detail-price .items dt {
    float: left;
    white-space: unset;
    display: inline-block;
    min-width: 5.6rem;
    height: 20px;
}

.tb-detail-price .items dt::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.tb-detail-price .items dd {
    margin-left: 1.5rem;
    width: calc(100% - 8.5rem);
}
.tb-detail-price .goods-price {font-size: 2.4rem;font-weight: bold; line-height: 1.6rem;}

/* 二维码 */
.goods-qrcode {
    position: absolute;
    bottom: 0.5rem;
    right: 1.5rem;
    padding-right: 2rem;
}

.goods-qrcode::before {
    content: '';
    position: absolute;
    width: 0.1rem;
    height: 1.2rem;
    background-color: #999999;
    left: -1.5rem;
    top: 0.5rem;
}
.goods-qrcode i {
    font-size: 18px;
    position: absolute;
    top: -2px;
    right: -20px;
}

/* 视频 */
.goods-video-container,
.goods-video-submit-start,
.goods-video-submit-close { position: absolute; }
.goods-video-container { background: #000; text-align: center; width: 100%; height: 100%; top: 0; left: 0; z-index: 11; }
.goods-video-submit-start,
.goods-video-submit-close { width: 5rem; height: 5rem; line-height: 3.5rem; text-align: center; padding: 0; border-radius: 100rem; font-size: 6rem; color: #999; cursor: pointer; z-index: 12; }
.goods-video-submit-start:hover,
.goods-video-submit-close:hover { color: #666; }
.goods-video-submit-close { border: 0.2rem solid #999; top: 1rem; right: 1rem; }

/* 视频 放大镜 */
.box .goods-video-submit-start { left: 0.1rem; bottom: 10rem; padding: 1rem 1rem 0.2rem 1rem; }

/* 视频 轮播下 */
.scoll .slider-content { overflow: hidden; position: relative; }
.scoll .goods-video-submit-start { left: 0; bottom: 3rem; padding: 1rem 1rem 0.5rem 1rem; }

/*销量*/
.tm-ind-panel, .buy-spec-info-container, .parameters-base { border-bottom: 0.1rem solid #EEEEEE; }
.tm-ind-panel {padding: 1rem 0.5rem;position: relative;overflow: hidden;clear: both;display: flex;}    
.tm-ind-item {float: left;width: 33%;text-align: center;position: relative;left: -0.1rem;border-left: 0.1rem solid #E5DFDA;
flex: 1 1 0%;line-height: 1.6rem;cursor: pointer;}   
.tm-ind-panel .tm-count {display: inline-block;line-height: 1.6rem;height: 1.6rem;color: var(--color-main);font-weight: 700;margin-left: 0.3rem;}

/**
 * 商品基础参数
 */
.parameters-base { 
    color: #666666; 
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
}
.parameters-base li {
    padding: 0 2rem 0.5rem 0;
}

/*规格*/
.theme-signin .btn-op.act{display: none;}
.theme-signin .btn-op.act .btn{width:50%;float: left;}
.buy-event .cart-title .am-icon-angle-right{float: right;color: #999;}

/*数量*/
.buy-spec-info-container.munber,.buy-spec-info-container.freight{display:none ;}
.buy-spec-info-container.munber dd{margin-left:0.5rem ;}
#min, #add{ width: 3.5rem; height: 3rem; outline:none; line-height: 3rem; padding: 0; cursor: pointer;}
#text_box { width: 6rem; height: 3rem; text-align: center; font-size: 1.2rem !important; }
.theme-popover .am-input-group { display: inline-flex; }
@media only screen and (min-width: 641px) {
    .theme-popover .am-input-group { margin-left: 0.5rem; }
}


/*购物车*/
@media only screen and (max-width:640px) {
    header, .header-top { display: none; }
    .theme-signin-left { margin-bottom:4.8rem; }
    .parameters-base { padding-left: 0; }
    .buy-event .cart-title { padding: 0.5rem 0;}
}


/**
 * 购买导航按钮
 */
.buy-nav .buy-nav-opt,
.buy-nav .buy-submit-container {
    float: left;
}
.buy-nav .buy-nav-opt,
.buy-nav .buy-submit-container,
.buy-nav .buy-submit-container .am-btn,
.buy-nav .nav-icon,
.goods-not-buy-tips {
    height: 4.4rem;
    line-height: 4.4rem;
}
.buy-nav .buy-submit-container .am-btn {
    display: block;
    float: left;
    text-align: center;
    width: 12.6rem;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0;
}
.goods-not-buy-tips {
    color: var(--color-red);
    font-size: 1.4rem;
    text-align: center;
}
.googs-shop-collect {
    position: absolute;
    bottom: 10px;
    right: 2px;
    cursor: pointer;
    color: #666666;
}
@media only screen and (min-width:641px) {
    .buy-nav .buy-submit-container .am-btn:not(:last-child) {
        margin-right: 2rem;
    }
    .buy-nav .buy-nav-opt {
        position: absolute;
        margin-left: 31rem;
        display: block;
    }
    .buy-nav .buy-nav-opt .nav-icon-home {
        display: none;
    }
    .buy-nav .buy-nav-opt .nav-icon {
        display: none;
        cursor: pointer;
    }
    .buy-nav .buy-nav-opt .nav-icon:not(:last-child) {
        margin-right: 1rem;
    }
    .buy-nav .buy-nav-opt,
    .goods-not-buy-tips {
        padding-top: 0.8rem;
    }
    .buy-nav-opt-button-number-0,
    .buy-nav-opt-button-number-1 {
        margin-left: 13.5rem !important;
    }
    .goods-not-buy-tips {
        width: 8.5rem;
        text-align: left;
    }
}
@media only screen and (max-width:640px) {
    .buy-nav .buy-nav-opt,
    .buy-nav .buy-submit-container,
    .buy-nav .buy-submit-container .am-btn,
    .buy-nav .nav-icon,
    .goods-not-buy-tips {
        height: 5rem;
        line-height: 5rem;
    }
    .buy-submit-container {
        padding: 1rem;
        border-top: 0.1rem solid #f5f5f5;
    }
    .buy-nav .buy-submit-container .am-btn {
        height: 3rem;
        line-height: 3rem;
        font-size: 1.2rem;
        border-radius: 0;
    }
    .buy-nav .buy-submit-container .am-btn:first-child {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
    .buy-nav .buy-submit-container .am-btn:last-child {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
    .buy-nav .buy-submit-container,
    .goods-not-buy-tips {
        width: 52%;
    }
    .buy-nav .nav-icon {
        display:inline-block;
        width: 50%;
        float: left;
        cursor: pointer;
        text-align: center;
     }
     .buy-nav .nav-icon > i {
        font-size: 1.4rem;
     }
     .goods-not-buy-tips,
     .buy-nav .nav-icon {
        border-top: 0.1rem solid #f5f5f5;
        border-left: 0.1rem solid #f5f5f5;
        float: left;
     }
    .buy-submit-container-number-0 .am-btn,
    .buy-submit-container-number-1 .am-btn {
        width: 100% !important;
    }
    .buy-submit-container-number-2 .am-btn {
        width: 50% !important;
    }
    .buy-submit-container-number-3 .am-btn {
        width: 33.33% !important;
    }
    .buy-submit-container-number-4 .am-btn {
        width: 25% !important;
    }
    .buy-submit-container-number-5 .am-btn {
        width: 20% !important;
    }
    .buy-submit-container-number-6 .am-btn {
        width: 16.66% !important;
    }
    .buy-submit-container-number-7 .am-btn {
        width: 14.28% !important;
    }
    .buy-submit-container-number-8 .am-btn {
        width: 12.5% !important;
    }
    .buy-submit-container-number-9 .am-btn {
        width: 11.11% !important;
    }
    .buy-submit-container-number-10 .am-btn {
        width: 10% !important;
    }
    .buy-nav-opt-number-1 .nav-icon {
        width: 100% !important;
    }
    .buy-nav-opt-number-2 .nav-icon {
        width: 50% !important;
    }
    .buy-nav-opt-number-3 .nav-icon {
        width: 33.33% !important;
    }
    .buy-nav-opt-number-4 .nav-icon {
        width: 25% !important;
    }
    .buy-nav-opt-number-5 .nav-icon {
        width: 20% !important;
    }
    .buy-nav-opt-number-6 .nav-icon {
        width: 16.66% !important;
    }
}
@media only screen and (min-width: 1025px) {
    .buy-nav .buy-nav-opt {
        margin-left: 32rem;
    }
    .buy-nav .buy-nav-opt .nav-icon:not(:last-child) {
        margin-right: 1.5rem;
    }
}



/*介绍*/
.introduce {
    width:100%;
    padding: 2rem;
    background: #FFFFFF;
}
.introduce-main {
    width: 100%;
    background: #fff;
    position: relative;
}
.introduce-main .am-tab-panel {
    padding: 0px;
}
.introduce-main .am-comment-hd {
    background: transparent;
}
.introduce-main .am-comment-hd .am-comment-meta,
.introduce-main .am-comment-hd .am-comment-meta .am-comment-author{
    color: #666666;
}
.introduce-main .am-comment-main {
    border-radius: var(--border-radius);
}
.introduce-main .am-comment-main:after {
    border-right-color: #FFFFFF;
}
.introduce-main .am-tabs-bd{
    border: 0;
}
.introduce-main .am-tab-panel .parameters-detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 3rem 4rem;
}
.introduce-main .am-tab-panel .parameters-detail li {
    width: calc(50% - 1rem);
}
.introduce-main .am-tab-panel .parameters-detail li span{
    color: #666666;
}

.introduce-main .buy-submit-top {
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
}
.introduce-main .buy-submit-top > button {
    padding: 0.7rem;
    font-size: 1.4rem;
    margin: 0.6rem;
    border: 0;
}

/*推荐商品*/
.like{margin-top:2rem;border-radius:0.4rem;}
.like ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.like ul>li {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
}
@media only screen and (min-width: 641px) {
    .like ul>li {
        width: calc(33.33333333% - 1.5rem);
    }
    .introduce-main .am-tab-panel .parameters-detail li {
        width: calc(33.33333333% - 1rem);
    }
}
@media only screen and (min-width: 1025px) {
    .like ul>li {
        width: calc(25% - 1.5rem);
    }
}
/* .like-item ul li {
    width: calc(25%);
} */
.like li{ font: 1.4rem/1.5 tahoma,arial,"Hiragino Sans GB",宋体,sans-serif;}
.like li .p-price strong { font-size: 1.4rem; color: #E4393C;font-weight: 400;font-family: Verdana;}
.like li img{width:100%}
.like-item {
    border: 0.1rem solid #EEEEEE;
    border-radius: var(--border-radius);
    padding: 1rem 1.6rem;
}
.like-item .price {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.1rem;
}
.like-itemn-conten p{
    margin-top: 1rem;
}
.like-item a img {
    -webkit-transition: transform .3s ease-in;
    -moz-transition: transform .3s ease-in;
    -ms-transition: transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
}
.like-item a img:hover {
    transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
}

/*轮播*/
.clearfix-left{display:none; position: relative;}
.scoll img{width:100%; margin-left:0}

/*左侧商品-看了又看*/
.browse { display: none; }

/* 基础主体 */
.item-inform {
    background: #FFFFFF;
    padding: 2rem;
}

.buy-addr-info-container {
    text-align: left;
    white-space: nowrap;
    color: #666666;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}.addr-title {
    font-weight: 400;
    min-width: 5.5rem;
}
.addr-drop{
    margin-right: 1.5rem;
}
.addr-drop .am-dropdown-toggle {
    color: #666666;
}
.addr-drop .am-icon-caret-down {
    position: relative;
    left: 0.3rem;
}
.addr-drop .addr-content {
    width: 46.6rem;
}
.addr-drop-title {
    font-size: 1.2rem;
    color: #666666;
    display: flex;
    align-items: center;
}
.addr-drop-title i {
    font-size: 1.8rem;
    position: relative;
    top: -0.1rem;
}
.addr-drop-title p {
    margin-left: 0.6rem;
}
.addr-drop-title button {
    font-size: 1.6rem;
    color: #999999;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.addr-drop-title a {
    border: 0.1rem solid var(--color-main);
    border-radius: var(--border-radius);
    color: var(--color-main);
    line-height: 1.8rem;
    padding: 0 0.8rem;
    margin-left: 1rem;
}
.addr-list {
    width: 100%;
    border-radius: var(--border-radius);
    border: 0.1rem solid #CCCCCC;
    padding: 1.4rem 1.1rem;
}
.addr-list-title {
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.addr-name {
    display: inline-block;
}
.addr-phone {
    display: inline-block;
    margin-left: 1rem;
}
.addr-default {
    float: left;
    margin-right: 1rem;
    border: 0.1rem solid #666666;
    border-radius: var(--border-radius);
    color: #666666;
    line-height: 1.8rem;
    padding: 0 0.8rem;

}
.addr-list-addr{
    display: inline-block;
    margin-left: 1rem;
    white-space: break-spaces;
}
.addr-drop-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow-y: auto;
    max-height: 20rem;
}
.addr-drop-content.no-address-flex {
    justify-content: center;
    align-items: center;
}
.addr-drop-content.no-address-flex .table-no {
    padding: 0;
    min-height: 20rem;
    margin-top: 0rem;
}

@media only screen and (min-width:641px) {
    /*导航固定*/
    .scoll{float: left;width: calc(45% - 2rem);}
    .scoll .slider-content { border: 0.1rem solid #eee; }
    .clearfix-right{float:right;width:55%;min-height: 27rem;}
    .buy-spec-info-container.freight{display: block;margin-top: 1rem;margin-bottom:1rem ;}
    .buy-spec-info-container.freight dt{margin-left:-7rem ;float: left;margin-right:1rem ;padding-top:0.5rem ;padding-bottom:2rem ;}
    .buy-nav{position: static; margin-top: 3rem; overflow: hidden; padding-left: 1rem;}
    ul.am-avg-sm-4.am-tabs-nav.am-nav.am-nav-tabs {width: auto;}

    /*可选规格*/
    .buy-event .cart-title{border:none ;margin-left: -6rem;position: relative;padding:1rem 0px 1rem 2.3rem ;}
    .buy-event .cart-title .am-icon-angle-right {position: absolute;right: -0;}

    /*销量*/
    .tm-ind-panel {border-width:0.1rem 0px;margin: -0.1rem 0px 0px 0px;padding: 1rem 0px;
    position: relative;overflow: hidden;clear: both;display: flex;}
    .tm-ind-item {float: left;width: 33%;text-align: center;position: relative;left: -0.1rem;border-left: 0.1rem solid #E5DFDA; flex: 1 1 0%;line-height: 1.6rem;cursor: pointer;}   
    .tm-ind-panel .tm-count {display: inline-block;line-height: 1.6rem;height: 1.6rem;color: var(--color-main);font-weight: 700;margin-left: 0.3rem;}    

    /*基础*/
    .tb-detail-price .items dt { min-width: 5.6rem; }
    .buy-spec-info-container,.buy-spec-info-container {padding-left: 5.6rem;}
    .tb-detail-hd,.tb-detail-price{text-align: left;}
    .tb-detail-hd h1 {font-size: 1.8rem;}
    /*购物*/
    .tb-btn-buy{margin-right:1rem;}
    .tb-btn button{width:9.8rem ;border: 0.1rem solid #d2364c;}

    /*印象*/
    .p-bfc {padding: 0px ; }
    .rate {float: left;padding-top:2rem ;display: block;margin-right: 3rem;}
    .rate strong {font: 400 4.6rem/3rem arial;color: #e4393c;}

    /* 视频 */
    .scoll .goods-video-submit-close { top: 1rem; }
}

/**
 * 销量
 */
.sales-volume {
    position: absolute;
    text-align: right;
    cursor: pointer;
    bottom: 0.5rem;
    right: 12rem;
    color: #666666;
}
.sales-volume .tm-count {
    display: inline-block;
    margin-right: 0.5rem;
}

.browse .recommend-goods ul li .p-img img {
    border-radius: var(--border-radius);
    -webkit-transition: transform .3s ease-in;
    -moz-transition: transform .3s ease-in;
    -ms-transition: transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
}
.browse .recommend-goods ul li .p-img img:hover {
    transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
}
@media only screen and (min-width:1025px) {
    /*放大镜*/
    .box { position: relative; overflow: hidden;}
    .tb-booth { border: 0.1rem solid #EEEEEE;  position:relative; z-index:1;overflow: hidden; height: 35.8rem; display: flex;align-items: center; justify-content: center;}
    .tb-booth img { max-width: 100%;max-height: 100%; margin: 0 auto; display: block; }
    .tb-thumb { padding: 0.5rem; overflow: hidden; height: 7rem; -webkit-box-shadow: none;box-shadow: none;}
    .tb-thumb ul.am-slides li { padding:0.1rem; border: 0.1rem solid #EEEEEE; height:6rem; width:6rem !important;cursor: pointer; }
    .tb-thumb ul.am-slides li img {height: 5.6rem; width: 5.6rem !important;border-radius: var(--border-radius);}
    .tb-thumb ul.am-slides .tb-selected { border: 0.1rem solid var(--color-main);}
    div.zoomDiv { z-index:999; position:absolute; top:0px; left:0px; width:40rem; height:40rem; background:#fff; border:0.1rem solid #eee; display:none; text-align:center; overflow:hidden; border-radius: var(--border-radius); }
    div.zoomDiv img { min-width: 100rem; display: block; }
    div.zoomMask { position:absolute; background:url(../images/goods-mask.png)repeat scroll 0 0 rgba(33, 150, 243, 0.3); cursor:move; z-index:1; }
            
    /*规格*/
    .theme-popover {display: block;position: static;border:none ;box-shadow: none;width: 100%;}
    .theme-poptit,.theme-signin-right,.buy-spec-info-container dt.buy-event,.btn-op{display: none;}

    .theme-options{overflow: visible;padding:0px 0px; margin-bottom: 0.5rem;}
    .theme-options ul{overflow: hidden;float: none;}
    .theme-signin-left .sku-line{cursor: pointer; }
    .theme-signin-left .cart-title{margin-left: -4.6rem;float: left;}
        
    .scoll{display: none;}
    .clearfix-left{display:block;float: left;width:35rem;}
    .clearfix-right{width:calc(100% - 37rem);margin-left:1rem;}
    .buy-spec-info-container { border-bottom: 0; margin-top: 2rem;}

    /*左侧商品-看了又看*/
    .introduce-main{width:80%;float:left;background:#fff ;}
    .browse{display:block; float:left;width:20% ;}
    .browse .head-title{
        background-color: #fefdfd; 
        height: 5rem;
        line-height: 5rem;
        text-align: center;
        border-bottom: 0.1rem solid #EEEEEE;
    }
    .browse .head-title p {
        font-size: 1.4rem;
        color: #333333;
        font-weight: 500;
    }
    .browse .recommend-goods {border:0.1rem solid #EEEEEE ;width: calc(100% - 2.8rem);}
    .browse .recommend-goods ul li .p-price {
        margin-top: 1.6rem;
        text-align: center;
        font-size: 1.6rem;
    }
    .browse ul li {margin:0px 1rem;padding: 1rem 0px;border-top: 0.1rem solid #F5F5F5;}
    .browse ul li.first {border-top:none;}
    .browse li img{width:100% ;}
    .browse li .p-price strong {color: var(--color-main);font-weight: 600;}
    /*导航固定*/
    ul.am-tabs-nav.am-nav.am-nav-tabs {margin-right: 0px;margin-left: 0px;}

    /*评论*/
    .tb-r-filter-bar{border: 0.1rem solid #F5F5F5;background-color: #FAFAFA;}
    .tb-r-filter-bar li {text-align:left;width:auto ;padding:0px 1rem;}
}

@media only screen and (min-width:1260px) {
    .item-inform ,.match,.introduce-main,.am-breadcrumb-slash{max-width: 120rem;}
    .clearfix-left { width: 40rem; }
    .tb-booth { height: 39.8rem; }
    /*放大镜*/
    .clearfix-right {width: calc(100% - 42rem);margin-left:2rem;}

    /* 视频 */
    .box .goods-video-submit-close { left: 34rem; }
}
@media only screen and (min-width:1600px) {
    .item-inform ,.match,.introduce-main,.am-breadcrumb-slash{max-width: 150rem;}
}


/* 小于1025 */
@media only screen and (max-width:1025px) {
    .system-goods-detail {
        padding: 0 0.5rem 1rem 0.5rem;
    }
    .theme-popbod.dform{
        padding-top: 2rem;
    }
}

/* 手机模式下 */
@media only screen and (max-width:640px) {
    .system-goods-detail {
        padding: 0px;
    }
    .theme-popbod.dform{
        padding-top: 0;
    }
    .detail-title,
    .detail-attr,
    .simple-desc {
        padding: 0px 0.5rem;
    }
    .buy-nav .buy-nav-opt {
        width: 48%;
    }
    ul.tm-ind-panel li {
        border-left: 0px;
    }
    ul.tm-ind-panel li:first-child {
        text-align: left;
    }
    ul.tm-ind-panel li:last-child {
        text-align: right;
    }
    .tb-detail-hd h1 {
        font-size: 1.4rem;
    }
    .introduce-main .buy-submit-top ~ li a {
        padding-left: 0;
        padding-right: 0;
    }
    .item-inform {
        padding: 1.2rem;
    }

    /* 商品评分 */
    .score-container { padding: 1rem; border-style: none none solid none; }
    .score-container .score { padding-right: 1rem; }

    /* 底部 */
    .am-footer { padding-bottom: 4.5rem; }
    .buy-addr-info-container {
        padding: 0;
    }
    .addr-drop .addr-content {
        width: auto;
        min-width: 28rem !important;
    }
    .addr-list-title {
        flex-flow: row wrap;
    }
    .addr-list-addr {
        margin-left: 0;
        margin-top: 1rem;
    }

}

/**
 * 插件公共面板数据
 */
.goods-plugins-view-panel-container p:not(:last-child) {
    padding-bottom: 0.5rem
}
@media only screen and (min-width:641px) {
    .goods-plugins-view-panel-container {
        padding-left: 2rem;
    }
}

/**
 * 插件公共icon数据
 */
.goods-plugins-view-icon-container a {
    background: #fff;
    border: 0.1rem solid #3bb4f2;
    color: #3bb4f2;
}
.goods-plugins-view-icon-container a:not(:first-child) {
    margin-left: 0.2rem;
}







/**
 * 商品评论
 */
.no-data-comment {
    width: 15rem;
}
.no-data-tips {
    width: 25rem;
}
.tips-width {
    width: 36rem !important;
    padding-right: 11rem;
}

.table-no {
    min-height: 17.7rem;
}
@media only screen and (max-width:640px) {
    .goods-page-no-data img {
        width: 6rem;
    }
    .tips-width {
      width: 100% !important;
      padding: 0;   
    }
}