/**
 * 商品模块 - 公共
 */
.module-goods-container .base-nav {
    width: 100%;
    min-height: 3.4rem;
    overflow: hidden;
    position: relative;
}

.module-goods-container .base-nav .base-nav-title {
    font-size: 1.6rem;
    margin: 3rem 0px 2rem 0px;
    text-align: left;
    float: none;
    font-weight: 600;
}

.module-goods-container .base-nav .base-nav-keywords {
    display: none;
}

.module-goods-container .base-nav .base-nav-more {
    position: absolute;
    right: -0.5rem;
    top: 0.83rem;
    overflow: hidden;
}

.module-goods-container .base-nav .base-nav-more a i {
    margin-left: 0.5rem;
}

@media only screen and (min-width: 1025px) {
    .module-goods-container .base-nav {
        text-align: left;
        margin-top: 0.9rem;
    }

    .module-goods-container .base-nav .base-nav-title {
        float: left;
        border: none;
        margin-top: 0.8rem;
        font-size: 2rem;
        font-weight: 500;
    }

    .module-goods-container .base-nav .base-nav-desc {
        display: block;
        font-size: 1.4rem;
        color: #666666;
        float: left;
        margin-top: 1.2rem;
    }

    .module-goods-container .base-nav .base-nav-keywords {
        display: block;
        position: absolute;
        right: 5rem;
        overflow: hidden;
        height: 2rem;
        top: 0.7rem;
        text-align: right;
    }

    .module-goods-container .base-nav-keywords a {
        display: inline-block;
        vertical-align: middle;
        margin: 0px 0.5rem;
    }

    .module-goods-container .base-nav .base-nav-desc {
        margin-top: 1.6rem;
    }
}

@media only screen and (max-width: 1024px) {
    .module-goods-container .base-nav {
        text-align: center;
    }
}

@media only screen and (min-width: 641px) {
    .module-goods-container .base-nav .base-nav-title {
        border: none;
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 1.2rem 1rem 0.5rem 0;
    }

    .module-goods-container .base-nav .base-nav-desc {
        display: block;
        font-size: 1.4rem;
        color: #999999;
        line-height: 1.8rem;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 640px) {
    .module-goods-container .base-nav .base-nav-title {
        float: left;
        margin: 1rem 0 0 0;
    }

    .module-goods-container .base-nav .base-nav-desc {
        float: left;
        margin: 1.2rem 0 0 1rem;
        color: #666666;
    }
}

/**
 * 商品模块 - 九宫格
 */
.odule-goods-grid-base {
    margin-top: 0;
}

.module-goods-grid-base .item {
    margin: 0.6rem;
    overflow: hidden;
    position: relative;
    background: #FFFFFF;
}

.module-goods-grid-base .item .goods-info {
    padding: 1rem;
}

.module-goods-grid-base .item img {
    width: 100%;
}

.module-goods-grid-base .item .price {
    text-align: center;
    padding: 0;
}

.module-goods-grid-base .item .price strong {
    font-size: 1.8rem;
    font-weight: 500;
}

.module-goods-grid-base .item .price .original-price {
    padding-left: 0.8rem;
}

.module-goods-grid-base .item .price-content {
    padding: 1rem 1.4rem 0.5rem 1.4rem;
}
.module-goods-grid-base .item .item-bottom {
    min-height: 7.2rem;
}
.module-goods-grid-base .item .item-bottom .price-content {
    width: calc(100% - 7.2rem);
    padding: 0;
}
.module-goods-grid-base .item .item-bottom .am-btn {
    padding: 0.6rem 0.8rem;
}

@media only screen and (min-width: 1025px) {
    .module-goods-grid-base {
        width: calc(100% + 1.2rem);
        margin-left: -0.6rem;
    }
}

@media only screen and (max-width: 640px) {
    .module-goods-grid-base {
        margin-top: 0;
    }
}

/**
 * 商品模块 - 左图右文列表
 */
.odule-goods-list-base .item {
    margin: 0.6rem;
    overflow: hidden;
    position: relative;
    background: #FFFFFF;
}

.module-goods-list-base li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.6rem;
}

.module-goods-list-base .item {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    overflow: hidden;
}

.module-goods-list-base .item .goods-info {
    width: 14rem;
    height: 14rem;
    border-radius: var(--border-radius);
}

.module-goods-list-base .item .goods-info img {
    width: 100%;
}

.module-goods-list-base .item .item-content {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.module-goods-list-base .item .item-content .base-content {
    font-size: 1.4rem;
}

.module-goods-list-base .item .item-content .base-content .detail-content {
    color: #999999;
    margin-top: 1.2rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.8rem;
    height: 1.8rem;
    white-space: initial !important;
}

.module-goods-list-base .item .item-content .bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.module-goods-list-base .item .item-content .bottom-content .price-content {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    gap: 1.6rem;
}

.module-goods-list-base .item .item-content .bottom-content .price-content .price {
    font-size: 1.8rem;
}

.module-goods-list-base .item .item-content .bottom-content .goods-cart {
    position: relative;
    top: 0.3rem;
    font-size: 2.6rem;
}

@media only screen and (max-width: 1024px) {
    .module-goods-list-base .item .item-content .bottom-content .goods-cart {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 640px) {
    .module-goods-list-base {
        width: 100%;
        margin-left: 0;
    }

    .module-goods-list-base .item {
        padding: 0.6rem;
    }

    .module-goods-list-base .item .item-content {
        padding-left: 0.6rem;
    }

    .module-goods-list-base .item .item-content .bottom-content .price-content {
        flex-flow: column;
        gap: 0;
        min-width: 13rem;
        align-items: baseline;
    }

    .module-goods-list-base .item .item-content .bottom-content .price-content>span {
        padding-left: 0.4rem;
        position: relative;
        top: 0.2rem;
        font-size: 1.2rem;
    }

    .module-goods-list-base .item .item-content .bottom-content .price-content .price {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1025px) {
    .module-goods-list-base {
        width: calc(100% + 1.2rem);
        margin-left: -0.6rem;
    }
}
@media only screen and (min-width: 1600px) {
    .module-goods-list-base .item .goods-info {
        width: 16rem;
        height: 16rem;
    }
}

/**
 * 商品模块 - 滚动轮播整体样式
 */
.odule-goods-slider-base.am-slider-default {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.module-goods-slider-base .am-control-nav>li>a.am-active {
    background-color: var(--color-main);
}

.module-goods-slider-base .am-control-nav>li>a {
    width: 0.8rem;
    background: #EEEEEE;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.module-goods-slider-base ul .am-text-truncate {
    text-align: center;
}

.module-goods-slider-base ul .am-text-truncate strong,
.module-goods-slider-base ul .am-text-truncate strong span {
    font-size: 1.8rem;
}

.module-goods-slider-base ul .am-text-truncate span.am-text-truncate {
    margin-left: 0.8rem;
    color: #999999;
}

.module-goods-slider-base.am-slider-default .am-control-nav {
    display: none;
}

.module-goods-slider-base .am-viewport {
    border: 2rem solid #FFFFFF;
    border-radius: var(--border-radius);
}

.module-goods-slider-base ul.am-slides>li {
    box-shadow: none;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.module-goods-slider-base ul.am-slides>li:not(:first-of-type)::after {
    content: '';
    width: 0.1rem;
    height: 11.4rem;
    opacity: 1;
    border-right: 0.1rem solid #F5F5F5;
    position: absolute;
    left: -1.3rem;
    top: 7.3rem;
    border-radius: 1rem;
}

.module-goods-slider-base .am-slider-default {
    box-shadow: none;
    border-radius: var(--border-radius);
    margin: 0.6rem 0;
}

.module-goods-slider-base .am-slider-default .am-control-nav {
    bottom: 0.5rem;
}

/**
 * 商品模块 - 滚动轮播块样式
 */
.module-goods-slider-piece .am-slider {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.module-goods-slider-piece .am-viewport .am-slides>li {
    overflow: hidden;
    background-color: #FFFFFF;
}

.module-goods-slider-piece .am-viewport .am-slides>li p {
    text-align: center;
}

.module-goods-slider-piece .am-viewport .am-slides>li p a {
    text-align: left;
}

.module-goods-slider-piece li .goods-title {
    max-height: 4rem;
    overflow: hidden;
    margin: 1rem 1.2rem;
}

.module-goods-slider-piece .price strong {
    color: var(--color-price);
    font-weight: 500;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.module-goods-slider-piece .original-price {
    color: #999;
    text-decoration: line-through;
}

.module-goods-slider-piece .am-direction-nav a:before {
    font-size: 3.6rem !important;
    color: #e9e9e9;
}