/**
 * 订单列表
 */
/* 列表 */
table { width: 100%; }
table.data-list { margin-top: 10px; }
table.data-list-success, table.data-list-success td { border:1px solid #daf3ff; }
table.data-list { background:#FFF; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
table.data-list * { font-size:12px; }
table.data-list td { padding:10px; vertical-align: top; }
.content-title th, table.data-list tr td+td { text-align:center; }

.content img { width:80px; height:80px; }
.content p { margin:0px; }
.content a:hover { color:#F60; }
.row-content { min-width:102px; }
.content-checkbox-operate { padding:3px 5px; }
.submit-pay { margin-top: 5px; }
.wap-base, .base-operate { padding-top: 3px; }
.base-operate { margin-top: 3px; }
.content-hd td span { color: #666; }
@media only screen and (min-width: 641px) {
    .row-content { width:25%; }
    .row-price { width:15%; }
    .row-number { width:10%; }
    .row-goods-operate { width: 10%; }
    .row-total-price { width:20%; }
    .row-status { width:10%; }
    .row-operate { width:10%; }
}
@media only screen and (max-width: 641px) {
    table.data-list td { padding: 5px; }
    .row-content { width:40%; }
    .row-goods-operate { width: 20%; }
    .row-status { width:20%; }
    .row-operate { width:20%; }
}


/* 不在进行中 */
table.data-list { border: 1px solid #eee; }
table.data-list td.row-number, table.data-list td.row-total-price,  table.data-list td.row-status, table.data-list td.row-operate { border-right: 1px solid #eee; }
table.data-list td { border-bottom:1px solid #eee; }
table.data-list .content-hd td { background:#eee; border-bottom-color:#eee; }
table.data-list:hover { box-shadow:0 1px 1px #E4E4E4; background:#fbfbfb; }
table.data-list .base-operate { border-top: 1px dashed #eee; }


/* 进行中 */
table.data-ongoing { border: 1px solid #daf3ff; }
table.data-ongoing td.row-number, table.data-ongoing td.row-total-price, table.data-ongoing td.row-status, table.data-ongoing td.row-operate { border-right: 1px solid #daf3ff; }
table.data-ongoing td { border-bottom:1px solid #daf3ff; }
table.data-ongoing .content-hd td { background: #eaf8ff; border-bottom-color:#daf3ff; }
table.data-ongoing:hover { box-shadow:0 1px 1px #aed8ff; background:#f7fdff; }
table.data-ongoing .base-operate { border-top: 1px dashed #daf3ff; }


/**
 * 商品列表
 */
.goods-detail { position: relative; min-height: 80px; }
.goods-detail img { width: 80px; height: 80px; position: absolute; left: 0; top: 0; }
.goods-title { display: -webkit-box; max-height: 36px; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.goods-title:hover { text-decoration: underline; }
.goods-base { float: left; top: 0; margin-left: 85px; }
.goods-attr { margin-top: 5px;  }
.goods-attr li { color: #888; line-height: 16px; }
.original-price, .line-price, strong.total-price-content { font-family: Verdana,Tahoma,arial; }
.original-price { color: #9c9c9c; text-decoration: line-through; }
.line-price { color: #3c3c3c; }
.line-price, strong.total-price-content { font-weight: 700; }
strong.total-price-content { color: #d2364c; font-size: 14px; }
@media only screen and (max-width:640px) {
    .goods-detail { min-height: 40px; }
    .goods-detail .goods-images { display: none; }
    .goods-base { margin-left: 0px; }
    table.data-list td.row-status { border-left: 1px solid #eee; }
    table.data-ongoing td.row-status { border-left: 1px solid #fff1f5; }
}