/**
 * 商品列表
 */
.goods-detail img { width: 80px; height: 80px; position: absolute; border: 1px solid #eee; left: 0; top: 0; }
.goods-detail { position: relative; min-height: 80px; }
.goods-title { display: block; max-height: 36px; overflow: hidden; text-overflow: ellipsis; }
.goods-title:hover { text-decoration: underline; }
.goods-base {float: left; top: 0; margin-left: 85px; }
.goods-attr { margin-top: 5px;  }
.goods-attr li { color: #888; line-height: 16px; }
.original-price, .line-price { font-family: Verdana,Tahoma,arial; }
.original-price { color: #9c9c9c; text-decoration: line-through; }
.line-price { color: #3c3c3c; font-weight: 700; }
.am-table { margin-bottom: 10px; }
.am-table > tbody > tr > td { border-top: 1px solid #F5F5F5; }
.am-table > thead > tr > th { border-bottom: 1px solid #f7f7f7; }
@media only screen and (min-width:640px)  {
    .user-content-body table tr .row-base { width: 60%; }
    .user-content-body table tr .row-price { width: 40%; }
}  
@media only screen and (max-width:640px) {
    .user-content-body table tr .row-base { width: 60%; }
    .user-content-body table tr .row-price { width: 40%; }
}

/**
 * 列表
 */
.user-content-body .order-base-panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.user-content-body .order-base-panel .am-panel-bd {
    padding-top: 5px;
}
.user-content-body .order-base-panel .am-alert-secondary {
    margin-bottom: 0;
}

/**
 * 类型
 */
.user-content-body .aftersale-type .items-align {
    width: 49%;
    border: 1px solid #eee;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: border-color .2s ease-in;
    -moz-transition: border-color .2s ease-in;
    -ms-transition: border-color .2s ease-in;
    -o-transition: border-color .2s ease-in;
    transition: border-color .2s ease-in;
}
.user-content-body .aftersale-type .items-align.selected, .user-content-body .aftersale-type .items-align:hover {
    border: 1px solid #d2364c;
    box-shadow: 0px 0 0px 1px #d2364c;
}
.user-content-body .aftersale-type .items-middle {
    width: 100%;
    position: relative;
}
.user-content-body .aftersale-type .items-align .icon {
    height: 70px;
    line-height: 70px;
}
.user-content-body .aftersale-type .items-align .icon i {
    font-size: 38px;
    color: #d2354c;
}
.user-content-body .aftersale-type .items-align p {
    position: absolute;
    left: 50px;
}
.user-content-body .aftersale-type .items-align .name {
    font-size: 16px;
    font-weight: 500;
    top: 12px;
}
.user-content-body .aftersale-type .items-align .desc {
    color: #888;
    top: 37px;
}
@media only screen and (max-width:460px) {
    .user-content-body .aftersale-type .items-align .icon i {
        font-size: 30px;
    }
    .user-content-body .aftersale-type .items-align p {
        left: 38px;
    }
    .user-content-body .aftersale-type .items-align .name {
        top: 0px;
    }
    .user-content-body .aftersale-type .items-align .desc {
        top: 25px;
    }
}

/**
 * 步骤
 */
.aftersale-step {
    margin: 10px 0px;
    overflow: hidden;
    height: 29px;
}
.aftersale-step li {
    float: left;
    padding: 5px 0;
    position: relative;
    overflow: hidden;
    background: #e1e1e1;
}
.aftersale-step li .number {
    padding: 2px 6px;
    border-radius: 50px;
    font-weight: 700;
    background: #fff;
    color: #b4b4b4;
}
.aftersale-step li .text {
    color: #666;
    margin-left: 2px;
}
.aftersale-step li i.am-icon-angle-right {
    float: right;
    font-size: 66px;
    line-height: 0px;
    position: absolute;
    top: -21px;
    right: 0;
    color: #fff;
}
.aftersale-step li.selected {
    background: #4CAF50;
}
.aftersale-step li.selected .number {
    color: #4CAF50;
}
.aftersale-step li.selected .text {
    color: #fff;
}
.aftersale-step li.selected i.am-icon-caret-right {
    position: absolute;
    top: -29px;
    right: 5px;
    z-index: 1;
    font-size: 56px;
    color: #4CAF50;
}
.aftersale-step li.selected-end i.am-icon-angle-right {
    background: #e1e1e1;
}

.return-only-money-step li {
    width: 33.33%;
}
.return-money-goods-step li {
    width: 20%;
}


/**
 * 表单
 */
form.form-validation .number-container .am-input-group-label {
    cursor: pointer;
}

/**
 * 详情信息
 */
.user-content-body .detail .am-u-md-6 .am-panel {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.user-content-body .detail .am-u-md-6 .am-panel-bd {
    padding: 10px;
}
@media only screen and (min-width:641px) {
    .user-content-body .apply-container {
        padding-left: 0;
        padding-right: 10px;
    }
    .user-content-body .express-container, .user-content-body .voucher-container {
        padding-left: 10px;
        padding-right: 0;
    }
}
@media only screen and (max-width:641px) {
    .user-content-body .detail .am-u-md-6 {
        padding: 0;
    }
}