/**
 * 商品列表
 */
.order-goods .base { width: 50%; }
.goods-detail img { width: 80px; height: 80px; position: absolute; border: 1px solid #eee; }
.goods-detail { position: relative; min-height: 80px; }
.goods-title { display: block; max-height: 36px; overflow: hidden; text-overflow: ellipsis; }
.goods-title:hover { text-decoration: underline; }
.goods-base {float: left; top: 0; margin-left: 85px; }
.goods-attr { margin-top: 5px;  }
.goods-attr li { color: #888; line-height: 16px; }
.original-price, .line-price { font-family: Verdana,Tahoma,arial; }
.original-price { color: #9c9c9c; text-decoration: line-through; }
.line-price { color: #3c3c3c; }
.line-price, strong.total-price-content { font-weight: 700; }
strong.total-price-content { color: #d2364c; font-size: 16px; }
.am-table { margin-bottom: 10px; }
.am-table > tbody > tr > td { border-top: 1px solid #F5F5F5; }
.am-table > thead > tr > th { border-bottom: 1px solid #f7f7f7; }

@media only screen and (min-width:640px)  {
    .cart-content table tr .base { width: 40%; }
    .cart-content table tr .price { width: 20%; }
    .cart-content table tr .number { width: 20%; }
    .cart-content table tr .total-price { width: 20%; }
    .cart-content { margin-top: 20px; }
}  
@media only screen and (max-width:640px) {
    .goods-detail img { width: 60px; height: 60px; }
    .goods-base { margin-left: 65px; }
    .goods-detail { min-height: 60px; }
}

/**
 * 列表
 */
.user-content-body table.am-table .operations {
    width: 100px;
}

/**
 * 弹窗
 */
.user-content-body .aftersale-type {
    padding: 5px;
}
.user-content-body .aftersale-type .am-vertical-align {
    width: 49%;
    border: 1px solid #eee;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: border-color .2s ease-in;
    -moz-transition: border-color .2s ease-in;
    -ms-transition: border-color .2s ease-in;
    -o-transition: border-color .2s ease-in;
    transition: border-color .2s ease-in;
}
.user-content-body .aftersale-type .am-vertical-align.selected, .user-content-body .aftersale-type .am-vertical-align:hover {
    border: 1px solid #d2364c;
    box-shadow: 0px 0 0px 1px #d2364c;
}
.user-content-body .aftersale-type .am-vertical-align .icon {
    height: 75px;
    margin-right: 10px;
}
.user-content-body .aftersale-type .am-vertical-align .icon i {
    font-size: 46px;
    color: #d2354c;
}
.user-content-body .aftersale-type .am-vertical-align .name {
    font-size: 16px;
    font-weight: 500;
}
.user-content-body .aftersale-type .am-vertical-align .desc {
    color: #888;
    margin-top: 5px;
}

/**
 * 步骤
 */
.aftersale-step li {
    float: left;
}
.aftersale-step li .number {
    background: #fff;
    color: #ccc;
}
.aftersale-step li .text {
    color: #fff;
}