/**
 * 订单二维码支付页面
 */
.qrcode-pay {
    text-align: center;
    box-shadow: none;
}
.qrcode-pay .name {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 2rem 0 1rem 0;
}
.qrcode-pay .msg {
    color: #F44336;
}