/**
 * 订单二维码支付页面
 */
.qrcode-pay {
    text-align: center;
    box-shadow: none;
}
.qrcode-pay .name {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 10px 0;
}
.qrcode-pay .msg {
    color: #F44336;
}