ul, li, ol {list-style: none;}
dl,dt,dd{ margin:0px auto; padding:0px;}
[class*="am-u-"] {padding-left:0rem;padding-right:0rem;}
.am-thumbnails {margin-left: 0rem;margin-right: 0rem;}
.am-thumbnail {margin-bottom:0;}
.am-thumbnails > li {padding: 0 0rem 0.2rem .2rem;}
img{ max-width:100%;}
.price{color: #e4393c;font-weight: 600;}

.theme-popover {z-index: 1011;overflow:visible;background:#fff; width: 100%; }
.sort-nav a:hover, .sort-nav a:focus { color: #d2364c; }
.select .title-tips { font-size: 12px; color: #888; }
.select .title-tips strong { font-weight: 500; color: #fe90a0; }


/* select */
.sort-nav{padding:0px;font-size:12px}
.suggest{ display:none;}
.select li { margin: 5px 0px; }
.select dl{zoom:1;position:relative;line-height:24px; }
.select dl:after{content:" ";display:block;clear:both;height:0;overflow:hidden}
.select dt{width:80%;margin-left:10%;margin-bottom:5px;position:absolute;cursor: pointer;height:24px;line-height:24px;}
.select dd{float:left;display:inline;margin:0 0 5px 5px;}
.select a{display:inline-block;white-space:nowrap;height:24px; line-height:24px;padding:0 10px;text-decoration:none;color:#000;border-radius:2px;}
.select a:hover{color:#d2364c;}
.select .selected a{color:#d2364c; border:1px solid #d2364c;}
ul.pagination{display:none;}
/*搜索显示*/
.select-result{display: none;}
li.select-result dl{padding: 25px 0 5px 0px;} 
li.select-result dt {left:-26px; top:0;font-weight:bold;width:50px;}

.select-no{color:#999}
.select .select-result a{padding-right:20px;background: url("../images/close.png") right 9px no-repeat}
.select .select-result a:hover{background-position:right -15px}
.screening-remove-submit{display:none;line-height:21px;margin-top:4px;width:35px;float:right;color:#F00;cursor:pointer;}


/*排序*/
.sort-nav { width:100%; background: #fff; overflow: hidden; height: 30px; }    
.sort-nav li{ float:left;width:33.33%;height:30px; line-height:30px; text-align:center; padding:0px 0px;cursor: pointer;}
.sort-nav li a{font-size:14px; text-decoration: none;}
.sort-nav li.first {color: #F03726;}

      
/*筛选条件*/
.select-list{ float:left;display:inline; left:0;width:33.33%; height:30px;}

.select-list dl dt{left:0px; cursor:pointer; text-align: center;}
{display:none ;float:left; top:20px; padding-top:5px; z-index:10; left:0px; width:300%;position:absolute;}
.select-list .dd-conent{display:none ;z-index:10; left:0; width:100%;position:fixed; background:#fff;max-height: 50%; padding-bottom: 10px; }
.select-list .dd-conent dd{width:33.33% ;text-align: center;margin-left: 0px;height:25px ;}
dl#select2 .dd-conent{ left:-100%; right:-100%;}
dl#select3 .dd-conent{ left:-200%; right:0px;}
       
.search-content .am-badge{font-size:12px ;padding:0px 0px;background-color: #999999;color: #ffffff;}
.theme-popover-mask{z-index:1001;width: 100%;height: auto;position:fixed ;background:#000 ;top:0;opacity: 0.6;bottom: 0;}
 
/*搜索结果*/
.i-pic.limit {margin:5px;border: 1px #e8e8e8 solid;overflow: hidden;position: relative;cursor: pointer;}
.number.fl{position: absolute;bottom:5px;right:5px ;}
.price.fl{padding: 5px;}
/*分页*/  
.am-pagination li{ float:none;}

.search-side{display: none;}
.limit p.title,.i-pic.check p.title{padding:0px 5px;margin:5px 0px;overflow:hidden;height:18px;line-height:18px ;}
.search-pages-submit { margin: 10px 0; }


@media only screen and (min-width: 640px) {
    /* select */
    .theme-popover { padding: 0 5px; }
    .select-list .dd-conent dd{width:auto;text-align: center;margin-left:5px;}

    .select li.select-result{display: none;}
    .suggest,ul.pagination{ display:block;}
    .select,.sort-nav{padding:10px 10px 5px 10px;border: 1px solid #eee;margin-top:5px;background: #fff;}

    .select-list{width:100%;padding:0px 0px;}
    .select li{list-style:none;padding:0px 0px 0px 100px;border-top:#eee 1px dashed;float: none;display: block;height: auto;}

    .select-result dl dt{width:100px;}
    .screening-remove-submit{width:80px;float:right;margin-right:20px;}
    .search-content .am-badge{font-size:14px ;padding:0px 0px;background: none; }


    /*排序*/
    .sort-nav{padding:0px 0px;margin:10px 5px; font-size: 12px;width:auto;overflow: hidden;}
    .sort-nav li{ display:inline; padding:0px 20px;width:auto;border-right:1px solid #eee;}
    .sort-nav li.active{background: #F5F5F5;}
    .sort-nav li.active a { color: #d2364c;}
    .select-list .dd-conent { padding-top: 10px; }


    /*筛选条件*/
    .select-list,.select-list dl{width:100%;}
    .select dl dt{left:-100px;top:10px;}
    .select dt{width:100px;margin-left:0;text-align:center;color:#666 !important;height:24px;line-height:24px;}
    .select-list .dd-conent{ display:inline-block;float:left;background: none;width:100%;position: static;}
    dl#select2 .dd-conent,dl#select3 .dd-conent{ left:0; right:0;}

    /*搜索结果*/
    li.select-result dl {padding: 10px 0px 0px 0px;}
    .scoll{ margin-top:70px;}
    .am-slider-default .am-direction-nav a {z-index:0;}
    span.am-icon-th-list{color:orangered;margin-right:1px ;}


    /*改写的布局*/   
    .flood li{width:33.3%;float: left; text-align: center;}
    .smallnav img{max-width:60px;}
    .smallnav{ font-size:14px;}


    /*文字布局*/
    .limit p.title,.i-pic.check p.title{padding:0px 10px;overflow:hidden;height:36px;line-height:18px ;}
    .price.fl{font-size:16px ;}
}

@media only screen and (min-width:1025px) {
    .search{margin: 0px 40px 0px 0px;padding-top:10px ;} 
    .nav.white{padding-left:0px}
    .theme-popover { padding: 0px; margin-top: 10px; }
    .sort-nav { margin: 10px 0; }
    .data-list { width: calc(100% + 10px); margin-left: -5px; }

    /*选中效果*/
    .search-list ul li:hover .i-pic.limit,.search-side li:hover .i-pic.check{box-shadow:0px 12px 12px -10px rgba(0,0,0,.4); border: 1px solid #d2364c; }
}

@media only screen and (max-width: 640px) {
    .theme-popover { padding: 0; }
    .data-list li:nth-child(2n) .i-pic.limit { margin-right: 0px; }
    .data-list li:nth-child(2n+1) .i-pic.limit { margin-left: 0px; }
    .screening-remove-submit { margin-top: -28px; }
    .select .title-tips { padding: 5px 5px 0 5px; }
    .sort-nav li { border-bottom: 1px solid #eee; }
    .select-list .dd-conent { overflow-y: scroll;overflow-x: hidden; }
}

.not-tips { color: #666; font-size: 12px; text-align: center; display: block; }
