/**
 * 地址管理
 */
ul.address-list li .user-base {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.address-operation-btn .cut {
    padding: 0 0.5rem;
    color: #ccc;
}
@media only screen and (min-width: 641px) {
    ul.address-list {
        overflow: hidden;
        margin-top: 1rem;
    }

    ul.address-list li {
        display: block;
        width: calc(50% - 0.5rem);
        height: 15rem;
        float: left;
        margin: 0 1rem 1rem 0;
        padding: 2rem;
        position: relative;
        border: 0.1rem solid #eee;
        border-radius: var(--border-radius)
    }

    .address-operation-btn {
        position: absolute;
        bottom: 0.5rem;
        right: 2.5rem;
        color: #282828;
        text-align: right;
    }

    ul.address-list li:nth-child(2n) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1025px) {
    ul.address-list li {
        width: calc(33.33% - 0.7rem);
    }
    
    ul.address-list li:nth-child(2n) {
        margin-right: 1rem;
    }
    ul.address-list li:nth-child(3n) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 640px) {
    .control .address-submit-save {
        position: fixed;
        left: 1rem;
        bottom: 1rem;
        width: calc(100% - 2rem);
        z-index: 2;
    }
    .am-footer {
        padding-bottom: 3rem;
    }

    ul.address-list li {
        margin: 1rem 0;
        padding: 2rem 1rem;
        position: relative;
    }
    ul.address-list li:not(:last-child) {
        border-top: 0.1rem solid #eee;
    }
    .address-detail .phone {
        float: right;
    }
    .address-operation-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #282828;
        text-align: right;
    }
    .address-operation-btn a {
        text-decoration: none;
    }
}
ul.address-list li.address-default {
    background-image: url(../images/address-peraddressbg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 0.1rem solid transparent;
}


/**
 * 地址添加/编辑
 */
.my-content {
    padding: 1.5rem 1rem;
}
.user-address-idcard-images ul li {
    margin: 0;
}
@media only screen and (min-width: 641px) {
    .user-address-idcard-images ul li,
    .user-address-idcard-images .plug-file-upload-submit {
        width: 20rem;
    }
    .user-address-idcard-images ul li {
        height: 13.2rem;
    }
}
@media only screen and (max-width: 640px) {
    .user-address-idcard-images ul li,
    .user-address-idcard-images .plug-file-upload-submit {
        width: 12.8rem;
    }
    .user-address-idcard-images ul li {
        height: 8.5rem;
    }
}