/**
 * 公共
 */
.my-content {
    background-color: #FAFAFA;
}
@media only screen and (min-width:641px) {
    .my-content {
        padding: 30px 0 50px 0;
    }
    .my-content .container-left {
        padding-left: 5px;
    }
    .my-content .container-left img {
        max-width: calc(100% - 1.5rem);
        max-height: 100%;
    }
    .my-content .container-right {
        padding-right: 5px;
    }
    .user-forgetpwd-container .container-left, .user-login-container .container-left {
        min-height: 295px;
        max-height: 375px;
    }
}
@media only screen and (min-width:1025px) {
    .my-content .container-left {
        padding-left: 0;
    }
    .my-content .container-right {
        padding-right: 0;
    }
}
@media only screen and (max-width:641px) {
    .my-content {
        padding: 20px 0 30px 0;
    }
}

/**
 * 表单
 */
.user-form-container, .register-container .register-content {
    background: rgba(0,0,0,0.15);
    padding: 10px;
    margin-top: 20px;
}
.my-content form.am-form {
    background: #fff;
    overflow: hidden;
    padding-top: 10px;
}
.my-content form.am-form .am-form-group {
    padding: 5px 10px !important;
}


/**
 * 注册
 */
.user-register-container {
    background-color: #FAFAFA;
    width: 100%;
    overflow: hidden;
}
.register-container .am-tabs {
    margin: 0;
}
.register-container .am-tabs .am-tabs-bd, .register-container .register-content .register-close {
    background: #fff;
}
.register-container .register-content .register-close {
    color: #666;
}
.register-container .am-tabs-d2 .am-tabs-nav a {
    text-decoration: none;
}
.register-container .am-tabs-d2 .am-tabs-nav > .am-active a {
    color: #d2364c;
}
.register-container .am-tabs-d2 .am-tabs-nav > .am-active {
    border-bottom: 2px solid #d2364c;
}
.register-container .am-tabs-d2 .am-tabs-nav > .am-active:after {
    border-bottom-color: #d2364c;
}
.register-container .am-tabs-d2 .am-tabs-bd {
    z-index: 0;
}

/**
 * 表单验证码
 */
.my-content form.am-form .form-verify {
    padding: 0;
}
.my-content form.am-form .form-verify a.form-verify-tips {
    font-size: 12px;
    text-decoration: none;
    line-height: 28px;
    color: #FFF;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#7F000000', endColorstr='#7F000000');
    background: rgba(0,0,0,0.5);
    text-align: center;
    display: none;
    width: 102px;
    height: 28px;
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;
}
@media only screen and (min-width:641px) {
    .my-content form.am-form .form-verify:hover a.form-verify-tips {
        display: block;
    }
}

/**
 * 注册协议
 */
.register-container .agreement {
    margin: 10px 0;
}
.register-container .agreement label {
    display: initial;
}
.register-container .agreement a {
    color: #d2364c;
}


/**
 * 弹窗图片验证码
 */
.my-content .verify-submit-win{ margin-top: 20px; display: block; }
.my-content .reg-switch-tips { font-weight: 100; font-size: 12px; color: #f87689; margin-left: 20px; }
.my-content #verify-win .am-modal-bd { margin-top: 10px; }
.my-content #verify-win .am-modal-bd .base { overflow: hidden; }
.my-content #verify-win .am-modal-bd .base .verify-tips { font-size: 12px; }
.my-content #verify-img { vertical-align: middle; border: 1px solid #ccc; }


/**
 * 弹层登录
 */
.login-modal-container {
    padding: 0;
}
.login-modal-container-top {
    margin: 10px 0;
}