.page {
    padding-bottom: 120rpx;
}

/**
 * 地址
 */
.address {
    padding: 10rpx;
}
.address-base, .address-detail {
    padding: 10rpx 35rpx 10rpx 10rpx;
}
.address-detail .icon {
    width: 30rpx;
    height: 35rpx !important;
}
.address-detail .text {
    width: calc(100% - 40rpx);
}
.address-divider {
    height: 4px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAAECAYAAADWIIyPAAAAkklEQVR42mP4jwR+7tr1/4OzM1Xwt46O/6SA3Yd//HeLeU0V3DXjE0H7GGCMvw8f/v/o5UUVT39KTPz/78cPoj398Omf/75Jb6ji6ZSyd/9//PxHnMdBjvyUlEQVT4MC7++DB0R7GuTIlPJ3VPE0KPAePvlDlL1gj3/r6qJaEv+5YwdJSbxn5meqJfGdh74TbS8A1dn662xhNdIAAAAASUVORK5CYII=");
    background-repeat-y: no-repeat;
}
.address-detail .text, .goods-title {
    line-height: 36rpx;
}
.no-address {
    height: 85rpx;
    line-height: 85rpx;
}
.address-alias {
  border: 1px solid #d2364c;
  color: #d2364c;
  padding: 2rpx 10rpx;
  border-radius: 6rpx;
  margin-right: 10rpx;
}

/**
 * 商品
 */
.goods-group-list .goods-item:not(:last-child) {
    border-bottom: 1px dashed #efefef;
}
.goods-group-list {
    padding: 0 10rpx 10rpx 10rpx;
}
.goods-group-hd {
  padding: 20rpx 0;
}
.goods-group-icon {
  width: 30rpx;
  height: 30rpx;
}
.goods-group-title {
  font-weight: bold;
  vertical-align: middle;
}
.goods-group-alias {
  border: 1px solid #3bb4f2;
  color: #3bb4f2;
  padding: 2rpx 10rpx;
  border-radius: 6rpx;
  margin-left: 10rpx;
}
.goods-group-footer .original-price {
  margin-right: 10rpx;
}
.goods-group-map-submit {
  font-size: 24rpx;
  padding: 5rpx 20rpx;
  background: #f0f0f0;
  border-radius: 6rpx;
}
.goods-title, .goods-spec {
  margin-bottom: 5rpx;
}
.goods-item {
  padding: 10rpx 0;
}
.goods-image {
    width: 160rpx;
    height: 160rpx;
    margin-right: 20rpx;
}
.goods-price {
    position: relative;
}
.buy-number {
    position: absolute;
    right: 0;
    bottom: 0;
}
.goods-base {
  min-height: 160rpx;
  margin-left: 180rpx;
}

/**
 * 导航
 */
.buy-nav {
    position: fixed;
    left: 0;
    bottom: 0;
}
.buy-nav, .nav-base, .nav-submit button {
    height: 100rpx;
}
.nav-base, .nav-submit button {
    line-height: 100rpx;
}
.nav-base {
    width: calc(60% - 20rpx);
    padding: 0 10rpx;
}
.nav-submit {
    width: 40%;
}
.nav-submit button {
    border-radius: 0;
}

/**
 * 支付方式
 */
.payment-list .item {
  width: 50%;
}
.payment-list .item-content {
  margin: 20rpx;
  padding: 20rpx 10rpx;
}
.payment-list .item-content image {
  width: 50rpx;
  height: 50rpx !important;
  vertical-align: middle;
  margin-right: 10rpx;
}
.payment-list .selected {
  border: 1px solid #d2364c;
  color: #d2364c;
}

/**
 * 扩展数据
 */
.extension-list {
  background-color: #ffffeb;
  border: 1px solid #ffe2cf;
}
.extension-list .item {
  padding: 20rpx 10rpx;
}
.extension-list .item:not(:last-child) {
  border-bottom: 1px dashed #ffe2cf;
}
.extension-list .item .text-tips {
  color: #ff8f44;
}

/**
 * 留言
 */
.content-textarea-container {
  padding: 5rpx;
}
.content-textarea-container textarea,
.content-textarea-container view {
  padding: 5rpx 15rpx;
  height: 170rpx;
}

/**
 * 销售+自提 模式选择
 */
.buy-header-nav {
  background: #e9e9e9;
}
.buy-header-nav .item {
  padding: 25rpx 0;
  width: 50%;
}

/*
 * 插件样式区域
 */
/*
 * 优惠劵
 */
.plugins-coupon {
  padding: 25rpx 40rpx 25rpx 10rpx;
}
.plugins-coupon-popup {
  padding-top: 20rpx;
}
.plugins-coupon-popup .close {
  margin-right: 20rpx;
}
.coupon-container {
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 50rpx;
}
.coupon-container .item,
.coupon-container .v-right,
.coupon-container .v-right .circle {
  height: 230rpx;
}
.coupon-container .not-use-tips {
  color: #f7b240;
  font-size: 32rpx;
}

/*
 * 积分
 */
.plugins-points-buy-container {
  padding: 20rpx;
}
.plugins-points-buy-container .select .icon {
  width: 45rpx;
  height: 45rpx !important;
  vertical-align: middle;
}
.plugins-points-buy-container .select .sales-price {
  margin-left: 30rpx;
  font-size: 28rpx;
  font-weight: 400;
}
.plugins-points-buy-container .desc {
  color: #F37B1D;
}