{{:ModuleInclude('public/header')}}

<!-- header top nav -->
{{:ModuleInclude('public/header_top_nav')}}

<!-- header simple nav -->
{{:ModuleInclude('public/header_nav_simple', [
    'search' => '1',
])}}

<!-- content -->
<div class="am-container user-main">
	<!-- user menu start -->
	{{:ModuleInclude('public/user_menu')}}
	<!-- user menu end -->

	<!-- content start -->
	<div class="user-content">
		<div class="user-content-body">
            <!-- user center title -->
            {{:ModuleInclude('public/user_center_main_title', [
                'operate_url'   => MyUrl('index/safety/index'),
                'operate_name'  => MyLang('retreat_title'),
                'operate_icon'  => 'icon-back'
            ])}}
			<!-- form start -->
			<form class="am-form form-validation" action="{{:MyUrl('index/safety/loginpwdupdate')}}" method="POST" request-type="ajax-url" request-value="{{:MyUrl('index/safety/index')}}">
				<div class="am-form-group">
					<label>{{:MyLang('common_service.safety.form_item_current_password')}}</label>
					<input type="password" name="my_pwd" placeholder="{{:MyLang('common_service.safety.form_item_current_password_message')}}" pattern="{{:MyConst('common_regex_pwd')}}" data-validation-message="{{:MyLang('common_service.safety.form_item_current_password_message')}}" class="am-radius" autocomplete="off" required />
				</div>
				<div class="am-form-group">
					<label>{{:MyLang('common_service.safety.form_item_new_password')}}</label>
					<input type="password" name="new_pwd" placeholder="{{:MyLang('common_service.safety.form_item_new_password_message')}}" pattern="{{:MyConst('common_regex_pwd')}}" data-validation-message="{{:MyLang('common_service.safety.form_item_new_password_message')}}" class="am-radius" id="new-loginpwd" autocomplete="off" required />
				</div>
				<div class="am-form-group">
					<label>{{:MyLang('common_service.safety.form_item_confirm_password')}}</label>
					<input type="password" name="confirm_new_pwd" placeholder="{{:MyLang('common_service.safety.form_item_confirm_password_message')}}" pattern="{{:MyConst('common_regex_pwd')}}" data-validation-message="{{:MyLang('common_service.safety.form_item_confirm_password_message')}}" class="am-radius" data-equal-to="#new-loginpwd" autocomplete="off" required />
				</div>
				<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm" data-am-loading="{loadingText:'{{:MyLang('processing_tips')}}'}">{{:MyLang('save_title')}}</button>
			</form>
			<!-- form end -->
		</div>
	</div>
	<!-- content end -->
</div>

<!-- footer start -->
{{:ModuleInclude('public/footer')}}