{{:ModuleInclude('public/header')}}

<!-- header top nav -->
{{:ModuleInclude('public/header_top_nav')}}

<!-- header simple nav -->
{{:ModuleInclude('public/header_nav_simple', [
    'search' => '1',
])}}

<!-- content -->
<div class="am-container user-main">
    <!-- user menu start -->
	{{:ModuleInclude('public/user_menu')}}
	<!-- user menu end -->

	<!-- content start -->
	<div class="user-content">
		<div class="user-content-body">
            <!-- user center title -->
            {{:ModuleInclude('public/user_center_main_title', [
                'operate_url'   => MyUrl('index/safety/index'),
                'operate_name'  => MyLang('retreat_title'),
                'operate_icon'  => 'icon-back'
            ])}}
			<!-- form start -->
			<form class="am-form form-validation" action="{{:MyUrl('index/safety/accountsupdate')}}" method="POST" request-type="ajax-url" request-value="{{:MyUrl('index/safety/index')}}">
				<div class="am-form-group">
					<label>{{:MyLang('common_service.safety.form_item_email')}}</label>
					<input type="email" name="accounts" class="am-radius" id="accounts" placeholder="{{:MyLang('common_service.safety.form_item_email')}}" data-validation-message="{{:MyLang('common_service.safety.form_item_email_message')}}" required />
				</div>
				<div class="am-form-group">
					<label>{{:MyLang('form_verify_title')}}</label>
					<div class="am-input-group am-input-group-sm">
						<input type="number" name="verify" class="-am-form-field am-radius" placeholder="{{:MyLang('form_verify_placeholder')}}" minlength="4" maxlength="4" data-validation-message="{{:MyLang('form_verify_message')}}" required />
						<span class="am-input-group-btn">
							<button class="am-btn am-btn-default am-radius btn-loading-example verify-submit-new" type="button" data-am-loading="{spinner:'circle-o-notch', loadingText:'{{:MyLang('send_tips')}}'}" data-url="{{:MyUrl('index/safety/verifysend')}}" data-verify="{{:MyC('common_img_verify_state')}}" data-text="{{:MyLang('form_verify_button_text')}}" data-send-text="{{:MyLang('form_verify_send_text')}}" data-time="{{:MyC('common_verify_interval_time', 30, true)}}">{{:MyLang('form_verify_button_text')}}</button>
						</span>
					</div>
				</div>
				<div>
					<input type="hidden" name="type" value="email" />
					<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm" data-am-loading="{loadingText:'{{:MyLang('processing_tips')}}'}">{{:MyLang('confirm_title')}}</button>
				</div>
			</form>
			<!-- form end -->

			<!-- verify win start -->
			<div class="am-modal am-modal-no-btn" tabindex="-1" id="verify-win">
				<div class="am-modal-dialog am-radius">
					<div class="am-modal-hd">
						<a href="javascript:;" class="am-close am-close-spin" data-am-modal-close>&times;</a>
					</div>
					<div class="am-modal-bd">
						<div class="base">
							<input type="text" placeholder="{{:MyLang('form_images_verify_title')}}" maxlength="4" id="verify-img-value" data-validation-message="{{:MyLang('form_images_verify_message')}}" class="am-form-field am-radius" autocomplete="off" data-is-clearout="0" />
							<div class="am-fl">
								<img src="{{:MyUrl('index/safety/verifyentry')}}" class="am-radius am-cursor-pointer" id="verify-img" onClick="this.src=this.src+(({{$url_model}} == 0) ? '&' : '?')+Math.random();" />
								<a href="javascript:;" class="verify-tips" onClick="document.getElementById('verify-img').src='{{:MyUrl('index/safety/verifyentry')}}{{if $url_model eq 0}}&{{else /}}?{{/if}}'+Math.random();">{{:MyLang('form_images_verify_button_text')}}</a>
							</div>
						</div>
						<button type="button" class="am-btn am-btn-secondary am-radius am-btn-sm block btn-loading-example verify-submit-win-new" data-am-loading="{spinner:'circle-o-notch', loadingText:'{{:MyLang('confirm_title')}}'}" data-win="1">
							<i class="am-icon-check"></i>
                            <span>{{:MyLang('confirm_title')}}</span>
						</button>
					</div>
				</div>
			</div>
			<!-- verify win end -->
		</div>
	</div>
	<!-- content end -->
</div>

<!-- footer start -->
{{:ModuleInclude('public/footer')}}