{{include file="public/header" /}}

<!-- header top nav -->
{{include file="public/header_top_nav" /}}

<!-- search -->
{{include file="public/nav_search" /}}

<!-- header nav -->
{{include file="public/header_nav" /}}

<!-- goods category -->
{{include file="public/goods_category" /}}
<!-- conntent start  -->
<div class="am-g my-content" {{if !empty($user_forgetpwd_left_data['bg_color'])}}style="background-color:{{$user_forgetpwd_left_data.bg_color}};"{{/if}}>
	<div class="am-container user-forgetpwd-container">
		<div class="am-hide-sm-only am-u-md-6 am-u-lg-8 am-vertical-align am-text-center container-left">
			{{if !empty($user_forgetpwd_left_data['images'])}}
                <a href="{{if empty($user_forgetpwd_left_data['url'])}}javascript:;{{else /}}{{$user_forgetpwd_left_data.url}}{{/if}}" target="_blank">
                    <img src="{{$user_forgetpwd_left_data.images}}" class="am-vertical-align-middle" alt="密码找回" />
                </a>
            {{/if}}
		</div>
		<div class="am-u-sm-12 am-u-md-6 am-u-lg-4 container-right">
			<div class="forgetpwd-top">
				{{if MyC('home_user_login_state') eq 1}}
					<span>已有帐号？</span>
					<a href="{{:MyUrl('index/user/logininfo')}}" class="am-btn am-btn-secondary am-btn-xs am-radius">立即登录</a>
				{{/if}}
			</div>
			<div class="user-form-container">
				<!-- form start -->
				<form class="am-form form-validation" method="post" action="{{:MyUrl('index/user/forgetpwd')}}" request-type="ajax-url" request-value="{{:MyUrl('index/user/logininfo')}}">
					<div class="am-form-group am-form-group-refreshing business-form-block">
						<label>手机/邮箱</label>
						<input type="text" name="accounts" class="am-radius" id="accounts" minlength="1" placeholder="手机/邮箱" data-validation-message="手机/邮箱格式有误" required />
					</div>

					<div class="am-form-group am-form-group-refreshing business-form-block">
						<label>验证码</label>
						<div class="am-input-group am-input-group-sm">
			                <input type="number" name="verify" class="am-radius" placeholder="验证码" minlength="4" maxlength="4" data-validation-message="验证码格式 4 位数字" required />
			                <span class="am-input-group-btn">
			                    <button class="am-btn am-btn-default am-radius btn-loading-example verify-submit" type="button" data-am-loading="{spinner:'circle-o-notch', loadingText:'发送中...'}" data-url="{{:MyUrl('index/user/forgetpwdverifysend')}}" data-verify="{{:MyC('home_img_verify_state')}}" data-text="获取验证码" data-send-text="还有 {time} 秒" data-time="{{:MyC('common_verify_time_interval', 30, true)}}" data-form-tag="form.form-validation">获取验证码</button>
			                </span>
			            </div>
		            </div>
		            
		            <div class="am-form-group am-form-group-refreshing business-form-block">
						<label>设置登录密码</label>
						<div class="am-input-group am-input-group-sm">
							<input type="password" name="pwd" class="am-radius" placeholder="设置登录密码" pattern="{{:lang('common_regex_pwd')}}" data-validation-message="密码格式 6~18 个字符之间" required />
							<span class="am-input-group-btn">
								<button class="am-btn am-btn-default am-radius am-icon-eye eye-submit" type="button"></button>
							</span>
						</div>
					</div>
					
					<div class="am-form-group am-form-group-refreshing business-form-block">
						<button type="submit" class="am-btn am-btn-primary am-radius am-btn-block am-btn-sm btn-loading-example" data-am-loading="{loadingText: '处理中...'}">确认</button>
					</div>
				</form>
				<!-- form end -->
			</div>

			<!-- verify win start -->
			<div class="am-modal am-modal-no-btn" tabindex="-1" id="verify-win">
				<div class="am-modal-dialog am-radius">
					<div class="am-modal-hd">
						<a href="javascript:;" class="am-close am-close-spin" data-am-modal-close>&times;</a>
					</div>
					<div class="am-modal-bd">
						<div class="base">
							<input type="text" placeholder="图形验证码" minlength="4" maxlength="4" id="verify-img-value" data-validation-message="请输入有效的图形验证码" class="am-form-field am-radius" />
							<div class="am-fl">
								<img src="{{:MyUrl('index/user/userverifyentry', ['type'=>'forget'])}}" class="am-radius c-p" id="verify-img" onClick="this.src=this.src+'#'+Math.random();" />
								<a href="javascript:;" class="verify-tips" onClick="document.getElementById('verify-img').src='{{:MyUrl('index/user/userverifyentry', ['type'=>'forget'])}}#'+Math.random();">看不清换一张</a>
							</div>
						</div>
						<button type="button" class="am-btn am-btn-secondary am-radius am-btn-sm block m-t-20 btn-loading-example verify-submit-win" data-am-loading="{spinner:'circle-o-notch', loadingText:'发送中...'}" data-win="1">确认</button>
					</div>
				</div>
			</div>
			<!-- verify win end -->
		</div>
	</div>
</div>
<!-- conntent end  -->

{{include file="public/footer" /}}