{{include file="public/header" /}}

<!-- conntent start  -->
<div class="am-g my-content">
    <div class="am-u-md-6 am-u-sm-centered">
        <!-- form start -->
        <form class="am-form form-validation" method="post" action="{{:MyUrl('index/user/login')}}" request-type="ajax-fun" request-value="ViewModalBack">
            <fieldset>
                {{if in_array('sms', MyC('home_user_reg_state')) or in_array('email', MyC('home_user_reg_state'))}}
                    <span class="">还没有帐号？</span>
                    <a href="{{:MyUrl('index/user/reginfo')}}" target="_blank" class="am-btn am-btn-secondary am-btn-xs am-radius">立即注册</a>
                {{/if}}

                <!-- 用户登录页面顶部钩子 -->
                {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
                    <div class="plugins-tag">
                        <span>plugins_view_user_login_info_top</span>
                    </div>
                {{/if}}
                {{if !empty($plugins_view_user_login_info_top_data) and is_array($plugins_view_user_login_info_top_data)}}
                    {{foreach $plugins_view_user_login_info_top_data as $hook}}
                        {{if is_string($hook) or is_int($hook)}}
                            {{$hook|raw}}
                        {{/if}}
                    {{/foreach}}
                {{/if}}
                <hr />

                <div class="am-form-group am-form-group-refreshing">
                    <label>登录账号</label>
                    <input type="text" name="accounts" class="am-radius" minlength="1" placeholder="用户名/手机/邮箱" data-validation-message="请填写登录账号" required />
                </div>

                <div class="am-form-group am-form-group-refreshing">
                    <label>登录密码</label>
                    <input type="password" name="pwd" class="am-radius" placeholder="登录密码" pattern="{{:lang('common_regex_pwd')}}" data-validation-message="密码格式 6~18 个字符之间" required />
                </div>
                
                <div class="am-form-group am-form-group-refreshing">
                    <button type="submit" class="am-btn am-btn-primary am-radius am-btn-sm btn-loading-example" data-am-loading="{loadingText: '登录中...'}">登录</button>
                    <a href="{{:MyUrl('index/user/forgetpwdinfo')}}" target="_blank" class="am-fr">忘记密码？</a>
                </div>
            </fieldset>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- conntent end  -->

{{include file="public/footer" /}}

<script type="text/javascript">
    // 返回处理
    function ViewModalBack(e)
    {
        if(e.code == 0)
        {
            $.AMUI.progress.done();
            Prompt(e.msg, 'success');

            // 登录返回html处理
            if((e.data.body_html || null) != null)
            {
                $('body').append(e.data.body_html);
            }

            setTimeout(function()
            {
                window.parent.location.reload();
            }, 1500);
        } else {
            $('form.form-validation').find('button[type="submit"]').button('reset');
            $.AMUI.progress.done();
            Prompt(e.msg);
        }
    }
</script>

