{{:ModuleInclude('public/header')}}

<!-- header nav start -->
{{if isset($is_header) and $is_header eq 1}}
    <!-- header top nav -->
    {{:ModuleInclude('public/header_top_nav')}}

    <!-- search -->
    {{:ModuleInclude('public/nav_search')}}

    <!-- header nav -->
    {{:ModuleInclude('public/header_nav')}}

    <!-- goods category -->
    {{:ModuleInclude('public/goods_category')}}
{{/if}}
<!-- header nav end -->

<!-- content -->
<div class="am-container">
    {{if !empty($data)}}
        <article class="am-article am-background-white am-radius am-padding-lg am-margin-top">
            <div class="am-article-hd am-text-center">
                <h1 class="am-article-title">{{$data.name}}</h1>
                <p class="am-article-meta am-margin-top-sm">{{$data.upd_time_time}}</p>
            </div>
            <hr data-am-widget="divider" class="am-divider am-divider-default" />
            <div class="am-article-bd am-margin-top-lg am-scrollable-horizontal">
                {{$data.value|raw}}
            </div>
        </article>
    {{else /}}
        {{:ModuleInclude('public/not_data')}}
    {{/if}}
</div>

<!-- footer start -->
{{:ModuleInclude('public/footer')}}