{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation am-form-popup-fixed" action="{{:MyUrl('admin/pluginsadmin/upload')}}" method="POST" request-type="ajax-reload" request-value="parent" enctype="multipart/form-data">
            <div class="am-form-group am-form-group-refreshing">
                <div class="am-form-file">
                    <button type="button" class="am-btn am-btn-default am-btn-sm am-radius"><i class="iconfont icon-upload-file"></i></button>
                    <input type="file" name="file" class="file-event" data-tips-tag="#form-file-tips" data-validation-message="{{:MyLang('form_upload_file_message')}}" accept=".zip" required />
                    <div id="form-file-tips" class="am-margin-top"></div>
                    <div class="tips am-text-xs cr-ccc am-margin-top-sm">{{:MyLang('common_service.pluginsadmin.form_item_upload_tips')}}</div>
                </div>
            </div>
            <div class="am-form-popup-submit">
                <button type="button" class="am-btn am-btn-warning am-btn-xs am-radius" data-am-modal-close>
                    <i class="am-icon-paint-brush"></i>
                    <span>{{:MyLang('cancel_title')}}</span>
                </button>
                <button type="submit" class="am-btn am-btn-primary am-btn-xs am-radius btn-loading-example am-margin-left" data-am-loading="{loadingText:'{{:MyLang('processing_tips')}}'}">
                    <i class="am-icon-check"></i>
                    <span>{{:MyLang('confirm_title')}}</span>
                </button> 
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{include file="public/footer" /}}