<ul class="am-nav am-nav-pills table-nav">
    {{if !empty($base_nav)}}
        {{foreach $base_nav as $v}}
            <li {{if $view_type eq $v['view_type']}}class="am-active"{{/if}}>
                <a href="{{:MyUrl('admin/appmini/index', ['nav_type'=>$nav_type, 'view_type'=>$v['view_type']])}}">{{$v.name}}</a>
            </li>
        {{/foreach}}
    {{/if}}
    <li class="fr">
        <a class="am-margin-left-sm" href="{{$store_theme_url}}" target="_blank">更多主题下载 <i class="am-icon-external-link"></i></a>
    </li>
</ul>