<script type="text/javascript">
// layout 表单 sync/ajax-fun 回调（须挂 window，供 request-value 与 IsExitsFunction 解析）
window.FormBackLayoutConfig = function (e)
{
    FormBackLayoutConfigHandle(e);
};

window.FormBackModuleConfigImages = function (e)
{
    FormBackModuleConfigImagesHandle(e);
};

window.FormBackModuleConfigManyImages = function (e)
{
    FormBackModuleConfigManyImagesHandle(e);
};

window.FormBackModuleConfigImagesText = function (e)
{
    FormBackModuleConfigImagesTextHandle(e);
};

window.FormBackModuleConfigImagesMagicCube = function (e)
{
    FormBackModuleConfigImagesMagicCubeHandle(e);
};

window.FormBackModuleConfigVideo = function (e)
{
    FormBackModuleConfigVideoHandle(e);
};

window.FormBackModuleConfigGoods = function (e)
{
    FormBackModuleConfigGoodsHandle(e);
};

window.FormBackModuleConfigTitle = function (e)
{
    FormBackModuleConfigTitleHandle(e);
};

window.FormBackModuleConfigCustom = function (e)
{
    FormBackModuleConfigCustomHandle(e);
};

window.FormBackModuleConfigBorder = function (e)
{
    FormBackModuleConfigBorderHandle(e);
};

window.FormBackModuleConfigHeight = function (e)
{
    FormBackModuleConfigHeightHandle(e);
};

window.FormBackModuleModalRollingConfig = function (e)
{
    FormBackModuleModalRollingConfigHandle(e);
};

window.FormBackModuleModalListConfig = function (e)
{
    FormBackModuleModalListConfigHandle(e);
};

window.FormBackModuleModalTitleKeywords = function (e)
{
    FormBackModuleModalTitleKeywordsHandle(e);
};

window.FormBackModulePopupGoodsSearch = function (e)
{
    FormBackModulePopupGoodsSearchHandle(e);
};
</script>
