{{include file="public/header" /}}

<!-- header nav start -->
{{if isset($is_header) and $is_header eq 1}}
    <!-- header top nav -->
    {{include file="public/header_top_nav" /}}

    <!-- search -->
    {{include file="public/nav_search" /}}

    <!-- header nav -->
    {{include file="public/header_nav" /}}

    <!-- goods category -->
    {{include file="public/goods_category" /}}
{{/if}}
<!-- header nav end -->

<!-- content start -->
<div class="am-g my-content">
	<div class="am-u-md-6 am-u-sm-centered">
        <div class="am-panel am-panel-danger am-radius tips-error">
            <div class="am-panel-bd">{{$msg}}</div>
        </div>
    </div>
</div>
<!-- content end -->

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->