<!-- 友情链接 -->
{{if !empty($link_list)}}
	<div class="friendship-list">
		<div class="am-container">
			<h2>友情链接</h2>
			<ul>
				{{foreach $link_list as $v}}
					<li>
						<a href="{{$v.url}}" {{if $v['is_new_window_open'] eq 1}} target="_blank"{{/if}} title="{{$v.describe}}">{{$v.name}}</a>
					</li>
				{{/foreach}}
			</ul>
		</div>
	</div>
{{/if}}

<!-- 底部导航 -->
<footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{}">
	<div class="footer-nav-list">
		{{foreach $nav_footer as $k=>$v}}
			<a href="{{$v.url}}" {{if $v['is_new_window_open'] eq 1}}target="_blank"{{/if}}>{{$v.name}}</a>
			{{if $k lt count($nav_footer)-1}}
				<span class="am-footer-divider">| </span>
			{{/if}}
		{{/foreach}}
	</div>
	<div class="am-footer-miscs">
		<p>
			<script>
				<!--
				document.write(unescape("Powered%20by%20%3Ca%20href%3D%22http%3A//shopxo.net/%22%20title%3D%22ShopXO%u7535%u5546%u7CFB%u7EDF%22%20target%3D%22_blank%22%3EShopXO%3C/a%3E%20"));
				//-->
			</script> {{$Think.APPLICATION_VERSION}}
			</p>
		<p>
			<a href="http://www.miitbeian.gov.cn/" target="_blank">{{:MyC('home_site_icp')}}</a>
		</p>
	</div>
</footer>