<!-- 底部导航上面钩子 -->
{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
    <div class="plugins-tag">
        <span>plugins_view_common_footer_top</span>
    </div>
{{/if}}
{{if !empty($plugins_view_common_footer_top_data) and is_array($plugins_view_common_footer_top_data)}}
    {{foreach $plugins_view_common_footer_top_data as $hook}}
        {{if is_string($hook) or is_int($hook)}}
            {{$hook|raw}}
        {{/if}}
    {{/foreach}}
{{/if}}

{{if !IsMobile() or (IsMobile() and MyC('common_is_mobile_concise_model') neq 1)}}
	<!-- 底部导航 -->
	<footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{}">
		<div class="am-container">
			<!-- 底部导航 -->
			{{if !empty($nav_footer)}}
				<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay am-no-layout am-u-md-8 footer-nav-list" data-am-gallery="{}">
					{{foreach $nav_footer as $k=>$v}}
						{{if $k lt 4}}
							<li>
								<div class="am-gallery-item">
									<p class="footer-nav-title am-text-truncate">{{$v.name}}</p>
									{{if !empty($v['items'])}}
										{{foreach $v.items as $vs}}
											<p class="am-text-truncate">
												<a href="{{$vs.url}}" {{if $vs['is_new_window_open'] eq 1}}target="_blank"{{/if}}>{{$vs.name}}</a>
											</p>
										{{/foreach}}
									{{/if}}
								</div>
							</li>
						{{/if}}
					{{/foreach}}
				</ul>
			{{/if}}

			<!-- 商店信息 -->
			<ul class="footer-about am-u-md-4">
				{{if !empty($common_customer_store_tel)}}
					<li class="tel">
						<i class="am-icon-volume-control-phone"></i>
						<a href="tel:{{$common_customer_store_tel}}">{{$common_customer_store_tel}}</a>
					</li>
				{{/if}}
				{{if !empty($common_customer_store_address)}}
					<li class="address">
						<i class="am-icon-map-marker"></i>
						<span>{{$common_customer_store_address}}</span>
					</li>
				{{/if}}
				{{if !empty($common_customer_store_email)}}
					<li class="email">
						<i class="am-icon-envelope"></i>
						<span>{{$common_customer_store_email}}</span>
					</li>
				{{/if}}
				{{if !empty($common_customer_store_qrcode)}}
					<li class="qrcode">
						<img src="{{$common_customer_store_qrcode}}" alt="{{:MyC('home_seo_site_title')}}" />
					</li>
				{{/if}}
			</ul>
		</div>

		<!-- 页脚信息 -->
		<div class="am-footer-miscs">
			<div class="am-container">
				<!-- 友情链接 -->
				{{if !empty($link_list) and $module_name.$controller_name.$action_name eq 'indexindexindex'}}
					<div class="friendship-list am-hide-sm-only">
						<ul class="am-cf am-margin-bottom-sm">
							<li class="am-fl am-text-center title">友情链接</li>
							{{foreach $link_list as $v}}
								<li class="am-fl am-text-center">
									<a href="{{$v.url}}" {{if $v['is_new_window_open'] eq 1}} target="_blank"{{/if}} title="{{$v.describe}}">{{$v.name}}</a>
								</li>
							{{/foreach}}
						</ul>
					</div>
				{{/if}}

				<p class="powered">
					Powered by <a href="http://shopxo.net/" title="ShopXO电商系统" target="_blank">
						<span class="b">Shop</span><span class="o">XO</span>
					</a> {{$Think.APPLICATION_VERSION}}
				</p>
				{{if !empty($home_site_icp)}}
					<p>
						<a href="http://www.beian.miit.gov.cn/" target="_blank">
							<img src="{{$attachment_host}}/static/common/images/beian-icp-icon.png" width="20" height="20" alt="ICP备案" />
							{{$home_site_icp}}
						</a>
					</p>
				{{/if}}
				{{if !empty($home_site_security_record_name)}}
					<p>
						<a {{if empty($home_site_security_record_url)}}href="javascript:;"{{else /}}href="{{$home_site_security_record_url}}" target="_blank"{{/if}}>
							<img src="{{$attachment_host}}/static/common/images/beian-gongan-icon.png" width="20" height="20" alt="公安备案" />
							{{$home_site_security_record_name}}
						</a>
					</p>
				{{/if}}
			</div>
		</div>
	</footer>
{{else /}}
	<footer class="am-footer am-footer am-footer-default mobile-concise-model">
		<!-- 页脚信息 -->
		<div class="am-footer-miscs">
			<p class="powered">
				Powered by <a href="http://shopxo.net/" title="ShopXO电商系统" target="_blank">
					<span class="b">Shop</span><span class="o">XO</span>
				</a> {{$Think.APPLICATION_VERSION}}
			</p>
		</div>
	</footer>
{{/if}}