<!-- 商品分类  -->
<div id="goods-category" class="am-container am-hide-sm-only am-hide-md-only" data-controller-name="{{$controller_name}}">
    <div class="goods-category-s">
        <a href="{{:MyUrl('index/category/index')}}">
            <div class="goods-category-title">
                <span class="all-goods">全部分类</span>
            </div>
        </a>
        <div class="category-content" {{if isset($controller_name) and $controller_name neq 'index'}}style="display:none;"{{/if}}>
            <div class="category">
                <ul class="category-list">
                    {{if !empty($goods_category_list) and is_array($goods_category_list)}}
                        {{foreach $goods_category_list as $v}}
                            <li class="appliance js_toggle relative first">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name">
                                        {{if !empty($v['icon'])}}
                                            <img src="{{$v.icon}}" />
                                        {{/if}}
                                        <a href="{{:MyUrl('index/search/index', ['category_id'=>$v['id']])}}" class="ml-22" title="{{$v.name}}">{{$v.name}}</a>
                                    </h3>
                                    <em>&gt;</em>
                                </div>
                                <div class="menu-item menu-in top">
                                    {{if !empty($v['items'])}}
                                        <div class="area-in">
                                            <div class="area-bg">
                                                <div class="menu-srot">
                                                    <div class="sort-side">
                                                        {{foreach $v.items as $vs}}
                                                            <dl class="dl-sort">
                                                                <dt>
                                                                    <a href="{{:MyUrl('index/search/index', ['category_id'=>$vs['id']])}}" title="{{$vs.name}}">
                                                                        <span title="{{$vs.name}}">{{$vs.name}}</span>
                                                                    </a>
                                                                </dt>
                                                                {{if !empty($vs['items'])}}
                                                                    {{foreach $vs.items as $vss}}
                                                                        <dd>
                                                                            <a href="{{:MyUrl('index/search/index', ['category_id'=>$vss['id']])}}" title="{{$vss.name}}">
                                                                                <span>{{$vss.name}}</span>
                                                                            </a>
                                                                        </dd>
                                                                    {{/foreach}}
                                                                {{/if}}
                                                            </dl>
                                                        {{/foreach}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{else /}}
                                        <div class="table-no"><i class="am-icon-warning"></i> 没有相关数据</div>
                                    {{/if}}
                                </div>
                            </li>
                        {{/foreach}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</div>