<!-- 首页轮播 start -->
<div class="banner">
    <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
        <ul class="am-slides">
            {{if !empty($banner_list)}}
                {{foreach $banner_list as $banner}}
                    {{if !empty($banner['images_url'])}}
                        <li {{if !empty($banner['bg_color'])}}style="background: {{$banner.bg_color}};"{{/if}} title="{{$banner.name}}">
                            <a href="{{if isset($banner['event_type']) and $banner['event_type'] eq 0}}{{$banner.event_value}}{{else /}}javascript:;{{/if}}" target="_blank"><img src="{{$banner.images_url}}" /></a>
                        </li>
                    {{/if}}
                {{/foreach}}
            {{/if}}
        </ul>
    </div>
</div>
<!-- 首页轮播 end -->