<!-- 搜索框 start -->
<div class="nav-search white">
    <div class="logo">
        <a href="{{$Think.__MY_URL__}}">
            <img src="{{$image_host}}{{:MyC('home_site_logo_wap')}}" alt="{{:MyC('home_seo_site_title')}}" />
        </a>
    </div>
    <div class="logo-big">
        <a href="{{$Think.__MY_URL__}}">
            <img src="{{$image_host}}{{:MyC('home_site_logo')}}" alt="{{:MyC('home_seo_site_title')}}" />
        </a>
    </div>

    <div class="search-bar">
        <form action="{{:url('index/search/index')}}" method="POST">
            <input id="search-input" name="keywords" type="text" placeholder="{{:lang('common_so_tips')}}" value="{{if !empty($params['keywords'])}}{{$params.keywords}}{{/if}}" autocomplete="off" />
            <input id="ai-topsearch" class="submit am-btn" placeholder="{{:lang('common_so_tips')}}" index="1" type="submit" value="{{:lang('common_so_text')}}" />
            <notempty name="home_search_keywords">
                <ul class="search-hot-keywords">
                    {{foreach $home_search_keywords as $v}}
                        <li><a href="{{:url('index/search/index', ['keywords'=>$v])}}" target="_blank">{{$v}}</a></li>
                    {{/foreach}}
                </ul>
            </notempty>
        </form>
    </div>
</div>
<!-- 搜索框 end -->