<!-- 搜索框 start -->
<div class="nav-search white am-hide-sm-only">
    <div class="am-container">
        <div class="logo am-show-sm-only">
            <a href="{{$Think.__MY_URL__}}">
                <img src="{{:AttachmentPathViewHandle(MyC('home_site_logo_wap'))}}" alt="{{:MyC('home_seo_site_title')}}" />
            </a>
        </div>
        <div class="logo-big am-hide-sm-only">
            <a href="{{$Think.__MY_URL__}}">
                <img src="{{:AttachmentPathViewHandle(MyC('home_site_logo'))}}" alt="{{:MyC('home_seo_site_title')}}" />
            </a>
        </div>

        <div class="search-bar">
            <form action="{{:MyUrl('index/search/index')}}" method="POST">
                <div class="search-group">
                    <input id="search-input" name="wd" type="text" placeholder="其实搜索很简单^_^ !" value="{{if !empty($params['wd'])}}{{$params.wd}}{{/if}}" autocomplete="off" />
                    <input id="ai-topsearch" class="submit am-btn" index="1" type="submit" value="搜索" />
                </div>
                {{if !empty($home_search_keywords)}}
                    <ul class="search-hot-keywords">
                        {{foreach $home_search_keywords as $v}}
                            <li><a href="{{:MyUrl('index/search/index', ['wd'=>StrToAscii($v)])}}" target="_blank">{{$v}}</a></li>
                        {{/foreach}}
                    </ul>
                {{/if}}
            </form>
        </div>
    </div>
</div>
<!-- 搜索框 end -->