<!-- 搜索框 start -->
<div class="nav-search white">
    <div class="logo">
        <a href="{{$Think.__MY_URL__}}">
            <img src="{{$attachment_host}}{{:MyC('home_site_logo_wap')}}" alt="{{:MyC('home_seo_site_title')}}" />
        </a>
    </div>
    <div class="logo-big">
        <a href="{{$Think.__MY_URL__}}">
            <img src="{{$attachment_host}}{{:MyC('home_site_logo')}}" alt="{{:MyC('home_seo_site_title')}}" />
        </a>
    </div>

    <div class="search-bar">
        <form action="{{:MyUrl('index/search/index')}}" method="POST">
            <input id="search-input" name="keywords" type="text" placeholder="其实搜索很简单^_^ !" value="{{if !empty($params['keywords'])}}{{$params.keywords}}{{/if}}" autocomplete="off" />
            <input id="ai-topsearch" class="submit am-btn" placeholder="其实搜索很简单^_^ !" index="1" type="submit" value="搜索" />
            {{if !empty($home_search_keywords)}}
                <ul class="search-hot-keywords">
                    {{foreach $home_search_keywords as $v}}
                        <li><a href="{{:MyUrl('index/search/index', ['keywords'=>$v])}}" target="_blank">{{$v}}</a></li>
                    {{/foreach}}
                </ul>
            {{/if}}
        </form>
    </div>
</div>
<!-- 搜索框 end -->