<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form form-validation view-save" action="{{:U('Admin/AlipayLifeStatus/Save')}}" method="POST" request-type="ajax-url" request-value="{{:U('Admin/AlipayLifeStatus/Index')}}" enctype="multipart/form-data">
			<input type="hidden" name="max_file_size" value="{{:MyC('home_max_limit_image', 2048000)}}" />
			<legend>
				<span class="fs-16">{{:L('alipay_life_status_add_name')}}</span>
				<a href="{{:U('Admin/AlipayLifeStatus/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> {{:L('common_operation_back')}}</a>
			</legend>

			<div class="am-form-group">
                <label>{{:L('alipay_life_status_name_text')}}</label>
                <input type="text" name="name" placeholder="{{:L('alipay_life_status_name_text')}}" data-validation-message="{{:L('alipay_life_status_name_format')}}" class="am-radius" maxlength="30" value="<notempty name="data.name">{{$data.name}}</notempty>" required />
            </div>

            <div class="am-form-group">
				<label class="block">{{:L('alipay_life_status_is_shelves_text')}}</label>
				<select name="is_shelves" class="am-radius c-p chosen-select" data-placeholder="{{:L('common_select_can_choose')}}" data-validation-message="{{:L('alipay_life_status_is_shelves_format')}}" <if condition="isset($data['status']) and $data['status'] neq 0">disabled</if> required>
                    <option value="">{{:L('common_select_can_choose')}}</option>
                    <foreach name="common_shelves_select_list" item="v">
                        <option value="{{$v.value}}" <if condition="isset($data['is_shelves']) and $v['value'] eq $data['is_shelves']">selected</if>>{{$v.name}}</option>
                    </foreach>
                </select>
			</div>

			<!-- 生活号容器 -->
			<div class="life-container">
				<label class="block">{{:L('alipay_life_status_life_text')}}</label>
				<div class="life-form" data-search-url="{{:U('Admin/AlipayLifeStatus/Search')}}">
				    <select class="am-radius c-p chosen-select life-form-category" data-placeholder="{{:L('common_select_can_choose')}}" data-validation-message="{{:L('alipay_life_status_category_format')}}">
				    	<option value="">{{:L('common_select_can_choose')}}</option>
						<foreach name="alipay_life_category" item="v">
							<option value="{{$v.id}}">{{$v.name}}</option>
						</foreach>
					</select>
					<input type="text" placeholder="{{:L('alipay_life_status_name_text')}}" class="am-radius life-form-keywords" />
					<button type="button" class="am-btn am-btn-secondary am-radius am-btn-sm search-submit">{{:L('common_so_text')}}</button>
				</div>
				<div class="am-form-group life-list">
					<input type="text" name="alipay_life_ids" value="<notempty name="data.alipay_life_ids">{{:implode(',', json_decode($data['alipay_life_ids'], true))}}</notempty>" data-validation-message="{{:L('alipay_life_status_life_format')}}" required />
					<div class="life-items am-fl">
						<div class="title">{{:L('alipay_life_status_optional_text')}}</div>
						<ul class="life-content am-list ul-left">
							<div class="table-no">{{:L('common_not_data_tips')}}</div>
						</ul>
					</div>
					<button type="button" class="am-btn am-btn-default am-btn-xs selected-all">{{:L('alipay_life_status_selected_all_text')}} <i class="am-icon-angle-double-right"></i></button>
					<div class="life-items am-fr">
						<div class="title">{{:L('alipay_life_status_selected_text')}}</div>
						<ul class="life-content am-list ul-right">
							<div class="table-no <notempty name="data">none</notempty>">{{:L('common_not_data_tips')}}</div>
							<foreach name="alipay_life_list" item="v">
								<li class="am-animation-slide-bottom items-li-{{$v.id}}">
									<span class="name" data-value="{{$v.id}}">{{$v.name}}</span>
									<i class="am-icon-trash-o am-fr"></i>
								</li>
							</foreach>
						</ul>
					</div>
				</div>
			</div>

			<div class="am-form-group">
				<input type="hidden" name="id" value="<notempty name="params.id">{{$params.id}}</notempty>" />
				<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
			</div>
		</form>
        <!-- form end -->
	</div>
</div>
<!-- right content end  -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->