<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- operation start -->
        <div class="am-g">
            <button class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus submit-ajax" data-url="{{:U('Admin/AppMiniAlipayList/Created')}}" data-view="reload" data-msg="{{:L('appmini_alipaylist_created_msg')}}"> {{:L('common_operation_created')}}</button>
        </div>
        <!-- operation end -->

		<!-- list start -->
		<notempty name="data">
			<table class="am-table am-table-striped am-table-hover am-text-middle m-t-10 m-l-5">
				<thead>
					<tr>
						<th>包名</th>
						<th>生成时间</th>
						<th>{{:L('common_operation_name')}}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="data" item="v">
						<tr>
							<td>{{$v.name}}</td>
							<td>{{$v.time}}</td>
							<td class="view-operation">
								<a href="{{$v.url)}}">
									<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-download"> {{:L('common_operation_download')}}</button>
								</a>
								<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:U('Admin/AppMiniAlipayList/Delete')}}" data-id="{{$v.name}}" data-view="reload"> {{:L('common_operation_delete')}}</button>
							</td>
						</tr>
					</foreach>
				</tbody>
			</table>
		<else />
			<div class="table-no">{{:L('common_not_data_tips')}}</div>
		</notempty>
		<!-- lis end -->
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->