/* 填写信息 */
.person-box{
    padding: 20rpx 0;
}
.person-box  input{
    height: 100rpx;
    line-height: 100rpx;
    font-size: 28rpx;
    padding: 0 10rpx;
    border-radius:0;
}
.addressee .addressee-name{
    width: 250rpx;
    box-sizing: border-box;
}
.addressee .addressee-phone{
    box-sizing: border-box;
    width: calc(100% - 250rpx);
}
.submit-bottom {
    border-radius: 0 !important;
}
/* 三级联动 */
.select-address{
    box-sizing: border-box;
    height: 100rpx;
    line-height: 100rpx;
    padding: 0 10rpx;
}
.select-address .section {
    width: 33%;
    box-sizing: border-box;
}
.select-address .section:not(:first-child) {
    padding: 0 5rpx;
}
/* end 三级联动 */
.addressee-address{
    box-sizing: border-box;
    width: 100%;
}