<include file="Public/Header" />

<!-- header nav start -->
<include file="Public/HeaderNav" />
<!-- header nav end -->

<div class="am-cf user-main" <if condition="!empty($max_width_style)">style="{{$max_width_style}}"</if>>
	<!-- user menu start -->
	<include file="Public/UserMenu" />
	<!-- user menu end -->

	<!-- content start -->
	<div class="user-content">
		<div class="user-content-body p-10">
			<foreach name="safety_panel_list" item="v">
				<section class="am-panel am-panel-default am-radius am-panel-<if condition="empty($data[$v['type']]) and empty($v['msg'])">danger<else />default</if>">
					<header class="am-panel-hd">
						<h3 class="am-panel-title">{{$v.title}}</h3>
					</header>
					<div class="am-panel-bd o-h">
						<div class="am-fl panel-left">
							<span>{{$v.msg}}</span>
							<if condition="empty($data[$v['type']]) and !empty($v['tips'])">
								{{$v.no_msg}}
							<else />
								{{:str_replace('#accounts#', $data[$v['type']], $v['ok_msg'])}}
							</if>
							<if condition="!empty($v['tips'])">
								<p class="fs-12 m-b-5 cr-999">{{$v.tips}}</p>
							</if>
						</div>
						<if condition="empty($data[$v['type']]) and empty($v['msg'])">
							<a href="{{$v.url}}" class="am-btn am-btn-danger am-radius am-btn-xs am-fr">{{:L('common_operation_binding')}}</a>
						<else />
							<a href="{{$v.url}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-fr">{{:L('common_operation_modify')}}</a>
						</if>
					</div>
				</section>
			</foreach>
		</div>
	</div>
	<!-- content end -->
</div>

<!-- layuot common module start -->
<include file="Public/CommonModule" />
<!-- layuot common module end -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->