{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right" data-url="{{:MyUrl('admin/index/stats')}}">
	<div class="content">
		<!-- 顶部钩子 -->
		{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
		    <div class="plugins-tag">
		        <span>plugins_admin_view_index_init_top</span>
		    </div>
		{{/if}}
		{{if !empty($plugins_admin_view_index_init_top_data) and is_array($plugins_admin_view_index_init_top_data)}}
		    {{foreach $plugins_admin_view_index_init_top_data as $hook}}
		        {{if is_string($hook) or is_int($hook)}}
		            {{$hook|raw}}
		        {{/if}}
		    {{/foreach}}
		{{/if}}

		{{if $is_system_show_base eq 1}}
			<!-- 顶部提示信息 -->
			{{if !empty($site_store_info) and !empty($site_store_info['base']) and !empty($site_store_info['base']['site_top_notice'])}}
				<div class="am-alert am-alert-danger am-radius" data-am-alert>
					<button type="button" class="am-close">&times;</button>
					<p>{{$site_store_info.base.site_top_notice|raw}}</p>
				</div>
			{{/if}}

			<!-- 顶部基础信息 -->
			<div class="block-container base-content-top am-nbfc">
				<div class="am-fl am-nbfc left-content">
					<!-- 帐号信息 -->
					{{if !empty($site_store_info) and !empty($site_store_info['user'])}}
						<i class="am-icon-user"></i>
						<span>{{$site_store_info.user.user_name_view}}</span>
						<a href="javascript:;" class="am-margin-left-xs store-accounts-event">{{:MyLang('modify_title')}}</a>
					{{else /}}
						<a href="javascript:;" class="am-margin-left-xs store-accounts-event">{{:MyLang('store_bind_accounts_name')}}</a>
						<!-- 连接商店错误信息 -->
						{{if !empty($site_store_error)}}
							<a href="javascript:;" class="am-icon-question-circle am-text-warning am-margin-left-sm" data-am-popover="{content: '{{$site_store_error}}', trigger: 'hover focus', theme: 'sm'}"></a>
						{{/if}}
					{{/if}}

					<!-- 广告 -->
					{{if !empty($site_store_info) and !empty($site_store_info['adverts']) and !empty($site_store_info['adverts']['name'])}}
						<a class="am-margin-left-sm am-text-danger ad-content {{if !empty($site_store_info['adverts']['icon'])}}{{$site_store_info.adverts.icon}}{{/if}}" {{if empty($site_store_info['adverts']['url'])}}href="javascript:;"{{else /}}href="{{$site_store_info.adverts.url}}" target="_blank"{{/if}}> {{$site_store_info.adverts.name}}</a>
					{{/if}}
				</div>
				<div class="am-fr am-nbfc right-content">
					<!-- VIP授权信息 -->
					{{if !empty($site_store_info) and !empty($site_store_info['vip']) and !empty($site_store_info['vip']['auth_view'])}}
						<a class="am-icon-diamond vip {{if isset($site_store_info['vip']['status']) and $site_store_info['vip']['status'] eq 1}}vip-active{{/if}}" {{if empty($site_store_info['vip']['go_url'])}}href="javascript:;"{{else /}}href="{{$site_store_info.vip.go_url}}" target="_blank"{{/if}} {{if !empty($site_store_info['vip']['auth_person'])}}data-am-popover="{content: '{{:MyLang('store_bind_authorized_subject_name')}}：{{$site_store_info.vip.auth_person}}', trigger: 'hover focus', theme: 'sm'}"{{/if}}> {{$site_store_info.vip.auth_view}}</a>
					{{/if}}

					<!-- 右侧版本信息及更新检查 -->
					<span class="right-base">
						<a {{if !empty($site_store_links) and !empty($site_store_links['system_update_log'])}}href="{{$site_store_links.system_update_log}}" target="_blank"{{else /}}href="javascript:;"{{/if}} class="am-margin-left-xs">{{$Think.APPLICATION_VERSION}}</a>
						<a href="javascript:;" class="am-margin-left-sm inspect-upgrade-submit" data-url="{{:MyUrl('admin/index/inspectupgrade')}}">{{:MyLang('store_check_update_name')}}{{if !empty($site_store_info) and !empty($site_store_info['upgrade']) and !empty($site_store_info['upgrade']['version_old']) and $site_store_info['upgrade']['version_old'] eq $Think.APPLICATION_VERSION}}<i></i>{{/if}}</a>
					</span>
				</div>
			</div>
		{{/if}}

		<!-- 公告顶部钩子 -->
		{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
		    <div class="plugins-tag">
		        <span>plugins_admin_view_index_init_notice_top</span>
		    </div>
		{{/if}}
		{{if !empty($plugins_admin_view_index_init_notice_top_data) and is_array($plugins_admin_view_index_init_notice_top_data)}}
		    {{foreach $plugins_admin_view_index_init_notice_top_data as $hook}}
		        {{if is_string($hook) or is_int($hook)}}
		            {{$hook|raw}}
		        {{/if}}
		    {{/foreach}}
		{{/if}}

		<!-- 后台公告 -->
		{{if !empty($admin_notice)}}
			<div class="am-alert am-alert-danger" data-am-alert>
				<button type="button" class="am-close">&times;</button>
				<p>{{$admin_notice|raw}}</p>
			</div>
		{{/if}}

		<!-- 基础统计基础顶部钩子 -->
		{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
		    <div class="plugins-tag">
		        <span>plugins_admin_view_index_init_stats_base_top</span>
		    </div>
		{{/if}}
		{{if !empty($plugins_admin_view_index_init_stats_base_top_data) and is_array($plugins_admin_view_index_init_stats_base_top_data)}}
		    {{foreach $plugins_admin_view_index_init_stats_base_top_data as $hook}}
		        {{if is_string($hook) or is_int($hook)}}
		            {{$hook|raw}}
		        {{/if}}
		    {{/foreach}}
		{{/if}}

		<!-- 是否展示统计数据 -->
		{{if isset($is_stats) and $is_stats eq 1}}
			<!-- 基础统计内部顶部钩子 -->
			{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
			    <div class="plugins-tag">
			        <span>plugins_admin_view_index_init_stats_inside_base_top</span>
			    </div>
			{{/if}}
			{{if !empty($plugins_admin_view_index_init_stats_inside_base_top_data) and is_array($plugins_admin_view_index_init_stats_inside_base_top_data)}}
			    {{foreach $plugins_admin_view_index_init_stats_inside_base_top_data as $hook}}
			        {{if is_string($hook) or is_int($hook)}}
			            {{$hook|raw}}
			        {{/if}}
			    {{/foreach}}
			{{/if}}

			<!-- 基础统计 -->
			<div class="block-container shopxo-base">
				<div class="block-title echarts-title">
					<span class="icon"></span>
					<span class="title">{{:MyLang('index.base_item_base_stats_title')}}</span>
					<a href="javascript:;" class="am-icon-question-circle am-text-warning" data-am-popover="{content: '{{:MyLang('index.base_item_base_stats_tips')}}', trigger: 'hover focus', theme: 'sm'}"></a>
					<div class="am-fr right-operate" data-type="base-count" data-empty-time="1">
					    {{if !empty($time_data)}}
					        <span class="quick-time">
					            {{foreach $time_data as $k=>$v}}
					            	{{if !in_array($k, ['this-month', 'last-month'])}}
					                	<a href="javascript:;" data-start="{{$v.start}}" data-end="{{$v.end}}">{{$v.name}}</a>
					            	{{/if}}
					            {{/foreach}}
					            <a href="javascript:;" data-start="" data-end="">{{:MyLang('all_title')}}</a>
					        </span>
					    {{/if}}
					    {{include file="/index/stats_where" /}}
					</div>
				</div>
				<ul class="{{if isset($is_income) and $is_income eq true}}am-avg-sm-2 am-avg-lg-4{{else /}}am-avg-sm-1 am-avg-lg-3{{/if}}">
					<li>
						<div class="li-content">
							<p class="name">{{:MyLang('index.base_item_user_title')}}</p>
							<p class="total animation-count-to base-user-count" data-to="{{$base_count.user_count}}" data-speed="1500">0</p>
							<div class="item am-margin-bottom-xs">
								<span>{{:MyLang('index.base_item_last_month_title')}}</span>
								<span class="animation-count-to" data-to="{{$user.last_month_count}}" data-speed="1500">0</span>
							</div>
							<div class="item am-margin-bottom-xs">
								<span>{{:MyLang('index.base_item_same_month_title')}}</span>
								<span class="animation-count-to" data-to="{{$user.same_month_count}}" data-speed="1500">0</span>
							</div>
							<div class="item am-margin-bottom-xs">
								<span>{{:MyLang('index.base_item_yesterday_title')}}</span>
								<span class="animation-count-to" data-to="{{$user.yesterday_count}}" data-speed="1500">0</span>
							</div>
							<div class="item">
								<span>{{:MyLang('index.base_item_today_title')}}</span>
								<span class="animation-count-to" data-to="{{$user.today_count}}" data-speed="1500">0</span>
							</div>
							<i class="am-icon-user am-icon-lg bg-icon"></i>
						</div>
					</li>
					<li>
						<div class="li-content">
							<p class="name">{{:MyLang('index.base_item_order_number_title')}}</p>
							<p class="total animation-count-to base-order-count" data-to="{{$base_count.order_count}}" data-speed="1500">0</p>
							<div class="item am-margin-bottom-xs">
								<span>{{:MyLang('index.base_item_last_month_title')}}</span>
								<span class="animation-count-to" data-to="{{$order_number.last_month_count}}" data-speed="1500">0</span>
							</div>
							<div class="item am-margin-bottom-xs">
								<span>{{:MyLang('index.base_item_same_month_title')}}</span>
								<span class="animation-count-to" data-to="{{$order_number.same_month_count}}" data-speed="1500">0</span>
							</div>
							<div class="item am-margin-bottom-xs">
								<span>{{:MyLang('index.base_item_yesterday_title')}}</span>
								<span class="animation-count-to" data-to="{{$order_number.yesterday_count}}" data-speed="1500">0</span>
							</div>
							<div class="item">
								<span>{{:MyLang('index.base_item_today_title')}}</span>
								<span class="animation-count-to" data-to="{{$order_number.today_count}}" data-speed="1500">0</span>
							</div>
							<i class="am-icon-pie-chart am-icon-lg bg-icon"></i>
						</div>
					</li>
					<li>
						<div class="li-content">
							<p class="name">{{:MyLang('index.base_item_order_complete_number_title')}}</p>
							<p class="total animation-count-to base-order-sale-count" data-to="{{$base_count.order_sale_count}}" data-speed="1500">0</p>
							<div class="item am-margin-bottom-xs">
								<span>{{:MyLang('index.base_item_last_month_title')}}</span>
								<span class="animation-count-to" data-to="{{$order_complete_number.last_month_count}}" data-speed="1500">0</span>
							</div>
							<div class="item am-margin-bottom-xs">
								<span>{{:MyLang('index.base_item_same_month_title')}}</span>
								<span class="animation-count-to" data-to="{{$order_complete_number.same_month_count}}" data-speed="1500">0</span>
							</div>
							<div class="item am-margin-bottom-xs">
								<span>{{:MyLang('index.base_item_yesterday_title')}}</span>
								<span class="animation-count-to" data-to="{{$order_complete_number.yesterday_count}}" data-speed="1500">0</span>
							</div>
							<div class="item">
								<span>{{:MyLang('index.base_item_today_title')}}</span>
								<span class="animation-count-to" data-to="{{$order_complete_number.today_count}}" data-speed="1500">0</span>
							</div>
							<i class="am-icon-gg am-icon-lg bg-icon"></i>
						</div>
					</li>
					<!-- 收入统计权限判断 -->
					{{if isset($is_income) and $is_income eq true}}
						<li>
							<div class="li-content">
								<p class="name">{{:MyLang('index.base_item_order_complete_title')}}</p>
								<p class="total animation-count-to base-order-complete-total" data-to="{{$base_count.order_complete_total}}" data-speed="1500" data-decimals="2">0.00</p>
								<div class="item am-margin-bottom-xs">
									<span>{{:MyLang('index.base_item_last_month_title')}}</span>
									<span class="animation-count-to" data-to="{{$order_complete_money.last_month_count}}" data-speed="1500">0</span>
								</div>
								<div class="item am-margin-bottom-xs">
									<span>{{:MyLang('index.base_item_same_month_title')}}</span>
									<span class="animation-count-to" data-to="{{$order_complete_money.same_month_count}}" data-speed="1500">0</span>
								</div>
								<div class="item am-margin-bottom-xs">
									<span>{{:MyLang('index.base_item_yesterday_title')}}</span>
									<span class="animation-count-to" data-to="{{$order_complete_money.yesterday_count}}" data-speed="1500" data-decimals="2">0.00</span>
								</div>
								<div class="item">
									<span>{{:MyLang('index.base_item_today_title')}}</span>
									<span class="animation-count-to" data-to="{{$order_complete_money.today_count}}" data-speed="1500" data-decimals="2">0.00</span>
								</div>
								<i class="am-icon-line-chart am-icon-lg bg-icon"></i>
							</div>
						</li>
					{{/if}}
				</ul>
			</div>

			<!-- 订单金额走势统计内部顶部钩子 -->
			{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
			    <div class="plugins-tag">
			        <span>plugins_admin_view_index_init_stats_inside_amount_trend_top</span>
			    </div>
			{{/if}}
			{{if !empty($plugins_admin_view_index_init_stats_inside_amount_trend_top_data) and is_array($plugins_admin_view_index_init_stats_inside_amount_trend_top_data)}}
			    {{foreach $plugins_admin_view_index_init_stats_inside_amount_trend_top_data as $hook}}
			        {{if is_string($hook) or is_int($hook)}}
			            {{$hook|raw}}
			        {{/if}}
			    {{/foreach}}
			{{/if}}

			<!-- 订单成交金额走势，收入统计权限判断-->
			{{if isset($is_income) and $is_income eq true}}
				<div class="block-container">
					<div class="block-title echarts-title">
						<span class="icon"></span>
						<span class="title">{{:MyLang('index.base_item_order_profit_title')}}</span>
						<a href="javascript:;" class="am-icon-question-circle am-text-warning" data-am-popover="{content: '{{:MyLang('index.base_item_order_tips')}}', trigger: 'hover focus', theme: 'sm'}"></a>
						<div class="am-fr right-operate" data-type="order-profit" data-init="1">
						    {{if !empty($time_data)}}
						        <span class="quick-time">
						            {{foreach $time_data as $k=>$v}}
						                <a href="javascript:;" data-start="{{$v.start}}" data-end="{{$v.end}}">{{$v.name}}</a>
						            {{/foreach}}
						        </span>
						    {{/if}}
						    {{include file="/index/stats_where" /}}
						</div>
					</div>
					<div id="echarts-order-profit"></div>
				</div>
			{{/if}}

			<!-- 订单交易走势统计内部顶部钩子 -->
			{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
			    <div class="plugins-tag">
			        <span>plugins_admin_view_index_init_stats_inside_order_trading_top</span>
			    </div>
			{{/if}}
			{{if !empty($plugins_admin_view_index_init_stats_inside_order_trading_top_data) and is_array($plugins_admin_view_index_init_stats_inside_order_trading_top_data)}}
			    {{foreach $plugins_admin_view_index_init_stats_inside_order_trading_top_data as $hook}}
			        {{if is_string($hook) or is_int($hook)}}
			            {{$hook|raw}}
			        {{/if}}
			    {{/foreach}}
			{{/if}}

			<!-- 订单交易走势 -->
			<div class="block-container">
				<div class="block-title echarts-title">
					<span class="icon"></span>
					<span class="title">{{:MyLang('index.base_item_order_trading_title')}}</span>
					<a href="javascript:;" class="am-icon-question-circle am-text-warning" data-am-popover="{content: '{{:MyLang('index.base_item_order_tips')}}', trigger: 'hover focus', theme: 'sm'}"></a>
					<div class="am-fr right-operate" data-type="order-trading" data-init="1">
					    {{if !empty($time_data)}}
					        <span class="quick-time">
					            {{foreach $time_data as $k=>$v}}
					                <a href="javascript:;" data-start="{{$v.start}}" data-end="{{$v.end}}">{{$v.name}}</a>
					            {{/foreach}}
					        </span>
					    {{/if}}
					    {{include file="/index/stats_where" /}}
					</div>
				</div>
				<div id="echarts-order-trading"></div>
			</div>

			<!-- 组合商品和支付统计内部顶部钩子 -->
			{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
			    <div class="plugins-tag">
			        <span>plugins_admin_view_index_init_stats_inside_compose_top</span>
			    </div>
			{{/if}}
			{{if !empty($plugins_admin_view_index_init_stats_inside_compose_top_data) and is_array($plugins_admin_view_index_init_stats_inside_compose_top_data)}}
			    {{foreach $plugins_admin_view_index_init_stats_inside_compose_top_data as $hook}}
			        {{if is_string($hook) or is_int($hook)}}
			            {{$hook|raw}}
			        {{/if}}
			    {{/foreach}}
			{{/if}}

			<!-- 组合 -->
			<ul class="am-avg-sm-1 am-avg-sm-2 am-avg-lg-2 block-combination-container-2">
				<li>
					<!-- 热销商品 -->
					<div class="block-title echarts-title">
						<span class="icon"></span>
						<span class="title">{{:MyLang('index.base_item_hot_sales_goods_title')}}</span>
						<a href="javascript:;" class="am-icon-question-circle am-text-warning" data-am-popover="{content: '{{:MyLang('index.base_item_hot_sales_goods_tips')}}', trigger: 'hover focus', theme: 'sm'}"></a>
						<div class="am-fr right-operate" data-type="goods-hot" data-init="1" data-empty-time="1">
						    {{if !empty($time_data)}}
						        <span class="quick-time">
						            {{foreach $time_data as $k=>$v}}
						                <a href="javascript:;" data-start="{{$v.start}}" data-end="{{$v.end}}">{{$v.name}}</a>
						            {{/foreach}}
						            <a href="javascript:;" data-start="" data-end="">{{:MyLang('all_title')}}</a>
						        </span>
						    {{/if}}
						    {{include file="/index/stats_where" /}}
						</div>
					</div>
					<div id="echarts-goods-hot"></div>
				</li>

				<li>
					<!-- 支付方式 -->
					<div class="block-title echarts-title">
						<span class="icon"></span>
						<span class="title">{{:MyLang('index.base_item_payment_type_title')}}</span>
						<a href="javascript:;" class="am-icon-question-circle am-text-warning" data-am-popover="{content: '{{:MyLang('index.base_item_order_tips')}}', trigger: 'hover focus', theme: 'sm'}"></a>
						<div class="am-fr right-operate" data-type="pay-type" data-init="1">
						    {{if !empty($time_data)}}
						        <span class="quick-time">
						            {{foreach $time_data as $k=>$v}}
						                <a href="javascript:;" data-start="{{$v.start}}" data-end="{{$v.end}}">{{$v.name}}</a>
						            {{/foreach}}
						        </span>
						    {{/if}}
						    {{include file="/index/stats_where" /}}
						</div>
					</div>
					<div id="echarts-pay-type"></div>
				</li>
			</ul>

			<!-- 地域分布统计内部顶部钩子 -->
			{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
			    <div class="plugins-tag">
			        <span>plugins_admin_view_index_init_stats_inside_region_top</span>
			    </div>
			{{/if}}
			{{if !empty($plugins_admin_view_index_init_stats_inside_region_top_data) and is_array($plugins_admin_view_index_init_stats_inside_region_top_data)}}
			    {{foreach $plugins_admin_view_index_init_stats_inside_region_top_data as $hook}}
			        {{if is_string($hook) or is_int($hook)}}
			            {{$hook|raw}}
			        {{/if}}
			    {{/foreach}}
			{{/if}}

			<!-- 订单地域分布 -->
			<div class="am-nbfc {{if $is_system_show_base eq 0}}am-padding-bottom-sm{{/if}}">
				<div class="block-container {{if $is_system_show_base eq 0}}am-margin-bottom-0{{/if}}">
					<div class="block-title echarts-title">
						<span class="icon"></span>
						<span class="title">{{:MyLang('index.base_item_map_whole_country_title')}}</span>
						<a href="javascript:;" class="am-icon-question-circle am-text-warning" data-am-popover="{content: '{{:MyLang('index.base_item_map_whole_country_tips')}}', trigger: 'hover focus', theme: 'sm'}"></a>
						<select name="value" data-am-selected="{btnWidth: '50px', btnSize: 'xs'}">
							<option value="0" selected>{{:MyLang('index.base_item_map_whole_country_province')}}</option>
							<option value="1">{{:MyLang('index.base_item_map_whole_country_city')}}</option>
							<option value="2">{{:MyLang('index.base_item_map_whole_country_county')}}</option>
						</select>
						<div class="am-fr right-operate" data-type="order-whole-country" data-init="1" data-empty-time="1">
						    {{if !empty($time_data)}}
						        <span class="quick-time">
						            {{foreach $time_data as $k=>$v}}
						                <a href="javascript:;" data-start="{{$v.start}}" data-end="{{$v.end}}">{{$v.name}}</a>
						            {{/foreach}}
						            <a href="javascript:;" data-start="" data-end="">{{:MyLang('all_title')}}</a>
						        </span>
						    {{/if}}
						    {{include file="/index/stats_where" /}}
						</div>
					</div>
					<div id="echarts-map-whole-country"></div>
				</div>
			</div>
		{{/if}}

		<!-- 系统信息顶部钩子 -->
		{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
		    <div class="plugins-tag">
		        <span>plugins_admin_view_index_init_system_info_top</span>
		    </div>
		{{/if}}
		{{if !empty($plugins_admin_view_index_init_system_info_top_data) and is_array($plugins_admin_view_index_init_system_info_top_data)}}
		    {{foreach $plugins_admin_view_index_init_system_info_top_data as $hook}}
		        {{if is_string($hook) or is_int($hook)}}
		            {{$hook|raw}}
		        {{/if}}
		    {{/foreach}}
		{{/if}}

		<!-- 系统信息 -->
		{{if $is_system_show_base eq 1}}
			<ul class="am-avg-sm-1 am-avg-sm-2 am-avg-lg-2 block-combination-container-2 am-padding-bottom-sm">
				<li>
					<div class="block-title">
						<span class="icon"></span>
						<span class="title">{{:MyLang('index.system_info_title')}}</span>
					</div>
					<dl class="dl-content">
						<dt class="am-text-truncate">{{:MyLang('index.system_ver_title')}}</dt>
						<dd>{{$data.ver}}</dd>

						<dt class="am-text-truncate">{{:MyLang('index.system_os_ver_title')}}</dt>
						<dd>{{$data.os_ver}}</dd>

						<dt class="am-text-truncate">{{:MyLang('index.system_php_ver_title')}}</dt>
						<dd>{{$data.php_ver}}</dd>

						<dt class="am-text-truncate">{{:MyLang('index.system_mysql_ver_title')}}</dt>
						<dd>{{$data.mysql_ver}}</dd>

						<dt class="am-text-truncate">{{:MyLang('index.system_server_ver_title')}}</dt>
						<dd>{{$data.server_ver}}</dd>

						<dt class="am-text-truncate">{{:MyLang('index.system_host_title')}}</dt>
						<dd>{{$data.host}}</dd>
					</dl>
				</li>

				<li>
					<div class="block-title">
						<span class="icon"></span>
						<span class="title">{{:MyLang('index.development_team_title')}}</span>
					</div>
					<dl class="dl-content">
						<dt class="am-text-truncate">{{:MyLang('index.development_team_website_title')}}</dt>
						<dd>
							<a href="http://zongzhige.com/" target="_blank">{{:MyLang('index.development_team_website_value')}}</a>
						</dd>

						<dt class="am-text-truncate">{{:MyLang('index.development_team_support_title')}}</dt>
						<dd>
							<a href="http://shopxo.net/" target="_blank">{{:MyLang('index.development_team_support_value')}}</a>
						</dd>

						{{if !empty($site_store_links) and !empty($site_store_links['community_website'])}}
							<dt class="am-text-truncate">{{:MyLang('index.development_team_ask_title')}}</dt>
							<dd>
								<a href="{{$site_store_links.community_website}}" target="_blank">{{:MyLang('index.development_team_ask_value')}}</a>
							</dd>
						{{/if}}

						<dt class="am-text-truncate">{{:MyLang('index.development_team_agreement_title')}}</dt>
						<dd>
							<a href="{{if !empty($site_store_links) and !empty($site_store_links['source_license'])}}{{$site_store_links.source_license}}{{else /}}https://opensource.org/licenses/mit-license.php{{/if}}" target="_blank">{{:MyLang('index.development_team_agreement_value')}}</a>
						</dd>

						{{if !empty($site_store_links) and !empty($site_store_links['system_update_log'])}}
							<dt class="am-text-truncate">{{:MyLang('index.development_team_update_log_title')}}</dt>
							<dd>
								<a href="{{$site_store_links.system_update_log}}" target="_blank">{{:MyLang('index.development_team_update_log_value')}}</a>
							</dd>
						{{/if}}

						{{if is_array(MyLang('index.development_team_members_value'))}}
							<dt class="am-text-truncate">{{:MyLang('index.development_team_members_title')}}</dt>
							<dd>
								{{foreach :MyLang('index.development_team_members_value') as $v}}
									<a href="{{$v.url}}" target="_blank" class="am-margin-right-sm">{{$v.name}}</a>
								{{/foreach}}
							</dd>
						{{/if}}
					</dl>
				</li>
			</ul>
		{{/if}}

		<!-- 底部钩子 -->
		{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true}}
		    <div class="plugins-tag">
		        <span>plugins_admin_view_index_init_bottom</span>
		    </div>
		{{/if}}
		{{if !empty($plugins_admin_view_index_init_bottom_data) and is_array($plugins_admin_view_index_init_bottom_data)}}
		    {{foreach $plugins_admin_view_index_init_bottom_data as $hook}}
		        {{if is_string($hook) or is_int($hook)}}
		            {{$hook|raw}}
		        {{/if}}
		    {{/foreach}}
		{{/if}}
	</div>
</div>
<!-- right content end  -->

<!-- 检查更新显示信息 -->
<div class="am-popup popup-not-title" id="inspect-upgrade-popup">
    <div class="am-popup-inner">
        <span data-am-modal-close class="am-close am-close-alt">&times;</span>
        <div class="am-popup-bd">
        	<div class="upgrade-content"></div>
			<div class="upgrade-bottom am-text-right">
				<div class="upgrade-bottom-content">
					<button type="button" class="am-btn am-btn-default am-radius am-btn-xs" data-am-modal-close>{{:MyLang('cancel_title')}}</button>
					<button type="button" class="am-btn am-btn-success am-radius am-btn-xs am-margin-left-sm am-hide inspect-upgrade-confirm" data-url="{{:MyUrl('admin/index/inspectupgradeconfirm')}}">{{:MyLang('index.base_update_button_title')}}</button>
				</div>
			</div>
        </div>
    </div>
</div>

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->