<!-- 继承公共的 form -->
{{extend name="../../../module/view/form_table/form" /}}

<!-- 扩展 -->
{{block name="form_extend"}}
    <!-- 审核弹窗 -->
    <div class="am-popup am-radius" id="order-audit-popup">
        <div class="am-popup-inner">
            <div class="am-popup-hd">
                <h4 class="am-popup-title">{{:MyLang('orderaftersale.form_audit_title')}}</h4>
                <span data-am-modal-close class="am-close">&times;</span>
            </div>
            <div class="am-popup-bd">
                <dl class="dl-content">
                    <dt>{{:MyLang('orderaftersale.form_user_info_title')}}</dt>
                    <dd class="user-info">
                       <img src="{{:UserDefaultAvatar('sm')}}" class="am-img-thumbnail am-radius am-align-left am-margin-right-xs am-margin-bottom-0 am-fl" width="35" height="35" />
                        <div class="user-base">
                            <p class="username">{{:MyLang('user_username_title')}}：<span>...</span></p>
                            <p class="nickname">{{:MyLang('user_nickname_title')}}：<span>...</span></p>
                            <p class="mobile">{{:MyLang('user_mobile_title')}}：<span>...</span></p>
                            <p class="email">{{:MyLang('user_email_title')}}：<span>...</span></p>
                        </div>
                    </dd>
                    <dt>{{:MyLang('orderaftersale.form_apply_info_title')}}</dt>
                    <dd class="apply-info">
                        <div>
                            <p class="type">{{:MyLang('orderaftersale.forn_apply_info_type')}}：<span>...</span></p>
                            <p class="reason">{{:MyLang('orderaftersale.forn_apply_info_reason')}}：<span>...</span></p>
                            <p class="number">{{:MyLang('orderaftersale.forn_apply_info_number')}}：<span>...</span></p>
                            <p class="price">{{:MyLang('orderaftersale.forn_apply_info_price')}}：<span class="am-text-warning">...</span></p>
                            <p class="msg">{{:MyLang('orderaftersale.forn_apply_info_msg')}}：<span>...</span></p>
                        </div>
                    </dd>
                </dl>

                <form class="am-form form-validation-audit am-form-popup-fixed" action="{{:MyUrl('admin/orderaftersale/audit')}}" method="POST" request-type="ajax-reload">
                    <div class="am-form-group reply-submit am-form-group-refreshing">
                        <label class="am-block">{{:MyLang('common_service.orderaftersale.form_item_refundment')}}</label>
                        <div class="am-radio-group">
                            {{if !empty($common_order_aftersale_refundment_list)}}
                                {{foreach $common_order_aftersale_refundment_list as $v}}
                                    <label class="am-radio-inline">
                                        <input type="radio" name="refundment" value="{{$v.value}}" data-am-ucheck data-validation-message="{{:MyLang('common_service.orderaftersale.form_item_refundment_message')}}" required /> {{$v.name}}
                                    </label>
                                {{/foreach}}
                            {{/if}}
                        </div>
                    </div>

                    <div class="am-form-popup-submit">
                        <input type="hidden" name="id" value="" />
                        <button type="button" class="am-btn am-btn-warning am-radius am-btn-xs am-margin-right-lg" data-am-modal-close>
                            <i class="am-icon-paint-brush"></i>
                            <span>{{:MyLang('cancel_title')}}</span>
                        </button>
                        <button type="submit" class="am-btn am-btn-primary am-radius am-btn-xs btn-loading-example" data-am-loading="{spinner: 'circle-o-notch', loadingText:'{{:MyLang('confirm_title')}}'}">
                            <i class="am-icon-check"></i>
                            <span>{{:MyLang('confirm_title')}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 拒绝弹窗 -->
    <div class="am-popup am-radius" id="order-refuse-popup">
        <div class="am-popup-inner">
            <div class="am-popup-hd">
                <h4 class="am-popup-title">{{:MyLang('orderaftersale.form_refuse_title')}}</h4>
                <span data-am-modal-close class="am-close">&times;</span>
            </div>
            <div class="am-popup-bd">
                <dl class="dl-content">
                    <dt>{{:MyLang('orderaftersale.form_user_info_title')}}</dt>
                    <dd class="user-info">
                        <img src="{{:UserDefaultAvatar('sm')}}" class="am-img-thumbnail am-radius am-align-left am-margin-right-xs am-margin-bottom-0 am-fl" width="35" height="35" />
                        <div class="user-base">
                            <p class="username">{{:MyLang('user_username_title')}}：<span>...</span></p>
                            <p class="nickname">{{:MyLang('user_nickname_title')}}：<span>...</span></p>
                            <p class="mobile">{{:MyLang('user_mobile_title')}}：<span>...</span></p>
                            <p class="email">{{:MyLang('user_email_title')}}：<span>...</span></p>
                        </div>
                    </dd>
                    <dt>{{:MyLang('orderaftersale.form_apply_info_title')}}</dt>
                    <dd class="apply-info">
                        <div>
                            <p class="type">{{:MyLang('orderaftersale.forn_apply_info_type')}}：<span>...</span></p>
                            <p class="reason">{{:MyLang('orderaftersale.forn_apply_info_reason')}}：<span>...</span></p>
                            <p class="number">{{:MyLang('orderaftersale.forn_apply_info_number')}}：<span>...</span></p>
                            <p class="price">{{:MyLang('orderaftersale.forn_apply_info_price')}}：<span class="am-text-warning">...</span></p>
                            <p class="msg">{{:MyLang('orderaftersale.forn_apply_info_msg')}}：<span>...</span></p>
                        </div>
                    </dd>
                </dl>

                <form class="am-form form-validation-refuse am-form-popup-fixed" action="{{:MyUrl('admin/orderaftersale/refuse')}}" method="POST" request-type="ajax-reload">
                    <div class="am-form-group reply-submit am-form-group-refreshing">
                        <label>{{:MyLang('form_refuse_reason')}}</label>
                        <textarea name="refuse_reason" rows="5" class="am-radius" placeholder="{{:MyLang('form_refuse_reason_message')}}" data-validation-message="{{:MyLang('form_refuse_reason_message')}}" minlength="1" maxlength="230" required></textarea>
                    </div>

                    <div class="am-form-popup-submit">
                        <input type="hidden" name="id" value="" />
                        <button type="button" class="am-btn am-btn-warning am-radius am-btn-xs am-margin-right-lg" data-am-modal-close>
                            <i class="am-icon-paint-brush"></i>
                            <span>{{:MyLang('cancel_title')}}</span>
                        </button>
                        <button type="submit" class="am-btn am-btn-primary am-radius am-btn-xs btn-loading-example" data-am-loading="{spinner: 'circle-o-notch', loadingText:'{{:MyLang('confirm_title')}}'}">
                            <i class="am-icon-check"></i>
                            <span>{{:MyLang('confirm_title')}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/block}}