<!-- 继承公共的 form -->
{{extend name="public/module/form" /}}

<!-- 扩展 -->
{{block name="form_extend"}}
    <!-- 审核弹窗 -->
    <div class="am-popup am-radius" id="order-audit-popup">
        <div class="am-popup-inner">
            <div class="am-popup-hd">
                <h4 class="am-popup-title">{{:MyLang('orderaftersale.form_audit_title')}}</h4>
                <span data-am-modal-close class="am-close">&times;</span>
            </div>
            <div class="am-popup-bd">
                <dl class="dl-content">
                    <dt>{{:MyLang('orderaftersale.form_user_info_title')}}</dt>
                    <dd class="user-info">
                       <img src="{{$attachment_host}}/static/common/images/user-img-sm.gif" class="am-img-thumbnail am-radius am-align-left am-margin-right-xs am-margin-bottom-0 am-fl" width="35" height="35" />
                        <ul class="user-base">
                            <li class="username">{{:MyLang('user_username_title')}}：<span>...</span></li>
                            <li class="nickname">{{:MyLang('user_nickname_title')}}：<span>...</span></li>
                            <li class="mobile">{{:MyLang('user_mobile_title')}}：<span>...</span></li>
                            <li class="email">{{:MyLang('user_email_title')}}：<span>...</span></li>
                        </ul>
                    </dd>
                    <dt>{{:MyLang('orderaftersale.form_apply_info_title')}}</dt>
                    <dd class="apply-info">
                        <ul>
                            <li class="type">{{:MyLang('orderaftersale.forn_apply_info_type')}}：<span>...</span></li>
                            <li class="reason">{{:MyLang('orderaftersale.forn_apply_info_reason')}}：<span>...</span></li>
                            <li class="number">{{:MyLang('orderaftersale.forn_apply_info_number')}}：<span>...</span></li>
                            <li class="price">{{:MyLang('orderaftersale.forn_apply_info_price')}}：<span class="am-text-warning">...</span></li>
                            <li class="msg">{{:MyLang('orderaftersale.forn_apply_info_msg')}}：<span>...</span></li>
                        </ul>
                    </dd>
                </dl>

                <form class="am-form form-validation-audit am-form-popup-fixed" action="{{:MyUrl('admin/orderaftersale/audit')}}" method="POST" request-type="ajax-reload">
                    <div class="am-form-group reply-submit am-form-group-refreshing">
                        <label class="am-block">{{:MyLang('common_service.orderaftersale.form_item_refundment')}}</label>
                        {{if !empty($common_order_aftersale_refundment_list)}}
                            {{foreach $common_order_aftersale_refundment_list as $v}}
                                <label class="am-radio-inline am-success">
                                    <input type="radio" name="refundment" value="{{$v.value}}" data-am-ucheck data-validation-message="{{:MyLang('common_service.orderaftersale.form_item_refundment_message')}}" required /> {{$v.name}}
                                </label>
                            {{/foreach}}
                        {{/if}}
                    </div>

                    <div class="am-form-popup-submit">
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="am-btn am-btn-primary am-radius am-btn-sm am-btn-block" data-am-loading="{loadingText:'{{:MyLang('processing_tips')}}'}">{{:MyLang('confirm_title')}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 拒绝弹窗 -->
    <div class="am-popup am-radius" id="order-refuse-popup">
        <div class="am-popup-inner">
            <div class="am-popup-hd">
                <h4 class="am-popup-title">{{:MyLang('orderaftersale.form_refuse_title')}}</h4>
                <span data-am-modal-close class="am-close">&times;</span>
            </div>
            <div class="am-popup-bd">
                <dl class="dl-content">
                    <dt>{{:MyLang('orderaftersale.form_user_info_title')}}</dt>
                    <dd class="user-info">
                        <img src="{{$attachment_host}}/static/common/images/user-img-sm.gif" class="am-img-thumbnail am-radius am-align-left am-margin-right-xs am-margin-bottom-0 am-fl" width="35" height="35" />
                        <ul class="user-base">
                            <li class="username">{{:MyLang('user_username_title')}}：<span>...</span></li>
                            <li class="nickname">{{:MyLang('user_nickname_title')}}：<span>...</span></li>
                            <li class="mobile">{{:MyLang('user_mobile_title')}}：<span>...</span></li>
                            <li class="email">{{:MyLang('user_email_title')}}：<span>...</span></li>
                        </ul>
                    </dd>
                    <dt>{{:MyLang('orderaftersale.form_apply_info_title')}}</dt>
                    <dd class="apply-info">
                        <ul>
                            <li class="type">{{:MyLang('orderaftersale.forn_apply_info_type')}}：<span>...</span></li>
                            <li class="reason">{{:MyLang('orderaftersale.forn_apply_info_reason')}}：<span>...</span></li>
                            <li class="number">{{:MyLang('orderaftersale.forn_apply_info_number')}}：<span>...</span></li>
                            <li class="price">{{:MyLang('orderaftersale.forn_apply_info_price')}}：<span class="am-text-warning">...</span></li>
                            <li class="msg">{{:MyLang('orderaftersale.forn_apply_info_msg')}}：<span>...</span></li>
                        </ul>
                    </dd>
                </dl>

                <form class="am-form form-validation-refuse am-form-popup-fixed" action="{{:MyUrl('admin/orderaftersale/refuse')}}" method="POST" request-type="ajax-reload">
                    <div class="am-form-group reply-submit am-form-group-refreshing">
                        <label>{{:MyLang('common_service.orderaftersale.form_item_refuse_reason')}}</label>
                        <textarea name="refuse_reason" rows="5" class="am-radius" placeholder="{{:MyLang('common_service.orderaftersale.form_item_refuse_reason_message')}}" data-validation-message="{{:MyLang('common_service.orderaftersale.form_item_refuse_reason_message')}}" minlength="2" maxlength="230" required></textarea>
                    </div>

                    <div class="am-form-popup-submit">
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="am-btn am-btn-danger am-radius am-btn-sm am-btn-block" data-am-loading="{loadingText:'{{:MyLang('processing_tips')}}'}">{{:MyLang('confirm_title')}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/block}}