{{:ModuleInclude('public/header')}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- nav start -->
        {{:ModuleInclude('public/nav_switch_tabs', [
            'nav_data'  => $nav_data,
            'nav_type'  => $type,
            'url'       => 'admin/agreement/index'
        ])}}
        <!-- form start -->
        <form class="am-form form-validation am-form-full-screen am-form-popup-sticky" action="{{:MyUrl('admin/agreement/save')}}" method="POST" data-i18n-table="config" request-type="ajax-view" request-value="{{:MyUrl('admin/agreement/index', ['type'=>$type])}}">
            <div class="nav-content">
                <!-- table tips start -->
                {{:ModuleInclude('agreement/tips')}}
                <!-- table tips end -->
                <div class="am-form-group">
                    <label><span class="am-form-group-label-tips am-margin-left-0">{{$data.common_agreement_userprivacy.describe}}</span></label>
                    <textarea class="am-radius am-validate" name="{{$data.common_agreement_userprivacy.only_tag}}" data-i18n="1" data-i18n-type="editor" data-i18n-label="{{$nav_name}}" id="editor-tag" data-validation-message="{{$data.common_agreement_userprivacy.error_tips}}">{{if !empty($data)}}{{$data.common_agreement_userprivacy.value|raw}}{{/if}}</textarea>
                </div>
            </div>

            <div class="am-form-popup-submit">
                <button type="submit" class="am-btn am-btn-primary am-radius am-btn-xs btn-loading-example" data-am-loading="{spinner: 'circle-o-notch', loadingText:'{{:MyLang('save_title')}}'}">
                    <i class="am-icon-save"></i>
                    <span>{{:MyLang('save_title')}}</span>
                </button>
                <a href="{{:MyUrl('index/agreement/index', ['document'=>'userprivacy'])}}" class="am-btn am-btn-warning am-radius am-btn-xs am-margin-left-sm" target="_blank" rel="noopener noreferrer">
                    <i class="am-icon-eye"></i>
                    <span>{{:MyLang('agreement.view_detail_name')}}</span>
                </a>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{:ModuleInclude('public/footer')}}