{{include file="public/header" /}}

<!-- header top nav -->
{{include file="public/header_top_nav" /}}

<!-- search -->
{{include file="public/nav_search" /}}

<!-- header nav -->
{{include file="public/header_nav" /}}

<!-- goods category -->
{{include file="public/goods_category" /}}

<div class="goods-detail" data-id="{{$goods.id}}" data-spec-detail-ajax-url="{{:MyUrl('index/goods/specdetail')}}" data-spec-type-ajax-url="{{:MyUrl('index/goods/spectype')}}">
    <!-- 轮播 -->
    <div class="scoll">
        <div class="slider-content">
            <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}' >
                <ul class="am-slides">
                    {{if !empty($goods.photo)}}
                        {{foreach $goods.photo as $photo}}
                            <li>
                                <img src="{{$photo.images}}" title="{{$goods.title}}" />
                            </li>
                        {{/foreach}}
                    {{/if}}
                </ul>
            </div>

            <!-- 视频 -->
            {{if !empty($goods.video)}}
                <i class="am-icon-play-circle-o goods-video-submit-start"></i>
                <i class="goods-video-submit-close none">&times;</i>
                <video class="goods-video-container none" src="{{$goods.video}}" controls="controls" preload="auto">
                    your browser does not support the video tag
                </video>
            {{/if}}

            <!-- 商品页面相册内部钩子 -->
            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                <div class="plugins-tag">
                    <span>plugins_view_goods_detail_photo_within</span>
                </div>
            {{/if}}
            {{if !empty($plugins_view_goods_detail_photo_within_data) and is_array($plugins_view_goods_detail_photo_within_data)}}
                {{foreach $plugins_view_goods_detail_photo_within_data as $hook}}
                    {{if is_string($hook) or is_int($hook)}}
                        {{$hook|raw}}
                    {{/if}}
                {{/foreach}}
            {{/if}}
        </div>

        <!-- 商品页面相册底部钩子 -->
        {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
            <div class="plugins-tag">
                <span>plugins_view_goods_detail_photo_bottom</span>
            </div>
        {{/if}}
        {{if !empty($plugins_view_goods_detail_photo_bottom_data) and is_array($plugins_view_goods_detail_photo_bottom_data)}}
            {{foreach $plugins_view_goods_detail_photo_bottom_data as $hook}}
                {{if is_string($hook) or is_int($hook)}}
                    {{$hook|raw}}
                {{/if}}
            {{/foreach}}
        {{/if}}
    </div>

    <!-- 基础信息 -->
    <div class="item-inform am-container">
        <!-- pc放大镜 / 左侧 -->
        <div class="clearfix-left" id="clearcontent">
            <div class="box">
                <div class="tb-booth tb-pic tb-s310">
                    {{if !empty($goods['photo'][0])}}
                        <img src="{{$goods['photo'][0]['images']}}" alt="{{$goods.title}}" rel="{{$goods['photo'][0]['images']}}" class="jqzoom" />
                    {{/if}}
                </div>
                <ul class="tb-thumb" id="thumblist">
                    {{if !empty($goods.photo)}}
                        {{foreach $goods.photo as $photo_key=>$photo}}
                            <li class="{{if $photo_key eq 0}}tb-selected{{else /}} tb-pic{{/if}}">
                                <div class="tb-pic tb-s40">
                                    <a href="javascript:;">
                                        <img src="{{$photo.images}}" mid="{{$photo.images}}" big="{{$photo.images}}" class="tb-s40" />
                                    </a>
                                </div>
                            </li>
                        {{/foreach}}
                    {{/if}}
                </ul>

                <!-- 视频 -->
                {{if !empty($goods.video)}}
                    <i class="am-icon-play-circle-o goods-video-submit-start"></i>
                    <i class="goods-video-submit-close none">&times;</i>
                    <video class="goods-video-container none" src="{{$goods.video}}" controls="controls" preload="auto">
                        your browser does not support the video tag
                    </video>
                {{/if}}

                <!-- 商品页面相册内部钩子 -->
                {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                    <div class="plugins-tag">
                        <span>plugins_view_goods_detail_photo_within</span>
                    </div>
                {{/if}}
                {{if !empty($plugins_view_goods_detail_photo_within_data) and is_array($plugins_view_goods_detail_photo_within_data)}}
                    {{foreach $plugins_view_goods_detail_photo_within_data as $hook}}
                        {{if is_string($hook) or is_int($hook)}}
                            {{$hook|raw}}
                        {{/if}}
                    {{/foreach}}
                {{/if}}
            </div>

            <!-- 商品页面相册底部钩子 -->
            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                <div class="plugins-tag">
                    <span>plugins_view_goods_detail_photo_bottom</span>
                </div>
            {{/if}}
            {{if !empty($plugins_view_goods_detail_photo_bottom_data) and is_array($plugins_view_goods_detail_photo_bottom_data)}}
                {{foreach $plugins_view_goods_detail_photo_bottom_data as $hook}}
                    {{if is_string($hook) or is_int($hook)}}
                        {{$hook|raw}}
                    {{/if}}
                {{/foreach}}
            {{/if}}
        </div>

        <!-- 右侧 -->
        <div class="clearfix-right">
            <!--规格-->
            <!--名称-->
            <div class="tb-detail-hd">
                <h1 class="detail-title am-margin-bottom-xs" {{if !empty($goods.title_color)}}style="color:{{$goods.title_color}};"{{/if}}>
                    {{$goods.title}}
                    <!-- 商品页面基础信息标题里面钩子 -->
                    {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                        <div class="plugins-tag">
                            <span>plugins_view_goods_detail_title</span>
                        </div>
                    {{/if}}
                    {{if !empty($plugins_view_goods_detail_title_data) and is_array($plugins_view_goods_detail_title_data)}}
                        {{foreach $plugins_view_goods_detail_title_data as $hook}}
                            {{if is_string($hook) or is_int($hook)}}
                                {{$hook|raw}}
                            {{/if}}
                        {{/foreach}}
                    {{/if}}
                </h1>
                {{if !empty($goods['simple_desc'])}}
                    <p class="simple-desc am-margin-bottom-xs">{{$goods.simple_desc}}</p>
                {{/if}}
            </div>
            <div class="tb-detail-list">
                <!-- 商品页面基础信息顶部钩子 -->
                {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                    <div class="plugins-tag">
                        <span>plugins_view_goods_detail_base_top</span>
                    </div>
                {{/if}}
                {{if !empty($plugins_view_goods_detail_base_top_data) and is_array($plugins_view_goods_detail_base_top_data)}}
                    {{foreach $plugins_view_goods_detail_base_top_data as $hook}}
                        {{if is_string($hook) or is_int($hook)}}
                            {{$hook|raw}}
                        {{/if}}
                    {{/foreach}}
                {{/if}}

                <!-- 基础面板 -->
                <div class="tb-detail-price">
                    {{if isset($goods['original_price']) and $goods['original_price'] gt 0 and !empty($goods['show_field_original_price_text'])}}
                        <!-- 原价 -->
                        <div class="items price">
                            <dt>{{$goods.show_field_original_price_text|raw}}</dt>
                            <dd>
                                <b class="goods-original-price original-price-value" data-original-price="{{$goods.original_price}}">{{$price_symbol}}{{$goods.original_price}}</b>
                            </dd>
                        </div>
                    {{/if}}

                    <!-- 商品页面基础信息面板售价顶部钩子 -->
                    {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                        <div class="plugins-tag">
                            <span>plugins_view_goods_detail_panel_price_top</span>
                        </div>
                    {{/if}}
                    {{if !empty($plugins_view_goods_detail_panel_price_top_data) and is_array($plugins_view_goods_detail_panel_price_top_data)}}
                        {{foreach $plugins_view_goods_detail_panel_price_top_data as $hook}}
                            {{if is_string($hook) or is_int($hook)}}
                                {{$hook|raw}}
                            {{/if}}
                        {{/foreach}}
                    {{/if}}

                    <!-- 售价 -->
                    <div class="items price iteminfo_mktprice">
                        <dt>{{if empty($goods['show_field_price_text'])}}销售价{{else /}}{{$goods.show_field_price_text|raw}}{{/if}}</dt>
                        <dd>
                            <em>{{$price_symbol}}</em>
                            <b class="goods-price" data-original-price="{{$goods.price}}">{{$goods.price}}</b>
                        </dd>                                 
                    </div>

                    <!-- 二维码 -->
                    <div class="goods-qrcode am-hide-sm-only">
                        <i class="am-icon-qrcode am-icon-sm"></i>
                        <img class="qrcode-images am-img-thumbnail" src="{{$qrcode_url}}" />
                    </div>

                    <!-- 商品页面基础信息面板底部钩子 -->
                    {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                        <div class="plugins-tag">
                            <span>plugins_view_goods_detail_panel_bottom</span>
                        </div>
                    {{/if}}
                    {{if !empty($plugins_view_goods_detail_panel_bottom_data) and is_array($plugins_view_goods_detail_panel_bottom_data)}}
                        {{foreach $plugins_view_goods_detail_panel_bottom_data as $hook}}
                            {{if is_string($hook) or is_int($hook)}}
                                {{$hook|raw}}
                            {{/if}}
                        {{/foreach}}
                    {{/if}}
                </div>

                <!--销量-->
                <ul class="tm-ind-panel">
                    <li class="tm-ind-item">
                        <div class="tm-indcon"><span class="tm-label">累计销量</span><span class="tm-count">{{$goods.sales_count}}</span></div>
                    </li>
                    <li class="tm-ind-item">
                        <div class="tm-indcon"><span class="tm-label">浏览次数</span><span class="tm-count">{{$goods.access_count}}</span></div>
                    </li>
                    <li class="tm-ind-item ind-panel-comment">
                        <div class="tm-indcon"><span class="tm-label">累计评论</span><span class="tm-count">{{$goods.comments_count}}</span></div>
                    </li>
                </ul>

                <!--各种规格-->
                {{if $goods['is_shelves'] == 1 and $goods['inventory'] gt 0}}
                    <dl class="iteminfo_parameter sys_item_specpara">
                        <dt class="buy-event login-event" data-type="buy">
                            <div class="cart-title">
                                <span class="specpara-title">可选规格</span>
                                <span class="am-icon-angle-right"></span>
                            </div>
                        </dt>
                        <dd>
                            <!--操作页面-->
                            <div class="theme-popover-mask"></div>
                            <div class="theme-popover">
                                <div class="theme-span"></div>
                                <div class="theme-poptit">
                                    <a href="javascript:;" title="关闭" class="close am-icon-close am-icon-sm"></a>
                                </div>
                                <div class="theme-popbod dform">
                                    <form class="theme-signin" name="loginform" action="javascript:;">
                                        <div class="theme-signin-left">
                                            {{if !empty($goods['specifications']['choose'])}}
                                                {{foreach $goods.specifications.choose as $key=>$spec}}
                                                    {{if !empty($spec['value'])}}
                                                        <div class="theme-options sku-items">
                                                            <div class="cart-title">{{$spec.name}}</div>
                                                            <ul>
                                                                {{foreach $spec.value as $keys=>$specs}}
                                                                    <li class="sku-line {{if !empty($specs['images'])}} sku-line-images{{/if}} {{if $key gt 0}} sku-dont-choose{{/if}} {{if isset($specs['is_only_level_one']) and isset($specs['inventory']) and $specs['inventory'] elt 0}} sku-items-disabled{{/if}}" data-type-value="{{$spec.name}}" data-value="{{$specs.name}}" {{if !empty($specs['images'])}} data-type-images="{{$specs.images}}"{{/if}}>
                                                                        {{if !empty($specs['images'])}}
                                                                            <img src="{{$specs.images}}" />
                                                                        {{/if}}
                                                                        {{$specs.name}}<i></i>
                                                                    </li>
                                                                {{/foreach}}
                                                            </ul>
                                                        </div>
                                                    {{/if}}
                                                {{/foreach}}
                                            {{/if}}
                                            <div class="theme-options">
                                                <div class="cart-title number">数量</div>
                                                <dd>
                                                    <div class="am-input-group am-input-group-sm number-tag">
                                                        <button class="am-input-group-label" id="min" type="button">-</button>
                                                        <input type="number" class="am-form-field" value="{{$goods.buy_min_number}}" id="text_box" min="{{$goods.buy_min_number}}" max="{{if empty($goods['buy_max_number'])}}{{$goods.inventory}}{{else /}}{{$goods.buy_max_number}}{{/if}}" data-original-max="{{$goods.inventory}}" />
                                                        <button class="am-input-group-label" id="add" type="button">+</button>
                                                    </div>
                                                    <span class="tb-hidden stock-tips">库存<span class="stock" data-original-stock="{{$goods.inventory}}" data-min-limit="{{$goods.buy_min_number}}" data-max-limit="{{$goods.buy_max_number}}" data-unit="{{$goods.inventory_unit}}">{{$goods.inventory}}</span>{{$goods.inventory_unit}}</span>
                                                </dd>
                                            </div>

                                            <div class="btn-op">
                                                <span class="btn am-btn am-btn-default confirm login-event" data-type="cart" data-ajax-url="{{:MyUrl('index/Cart/Save')}}">确认</span>
                                                <span class="btn close am-btn am-btn-danger cancel">取消</span>
                                            </div>
                                        </div>
                                        <div class="theme-signin-right">
                                            <div class="img-info">
                                                <img src="{{$goods.images}}" />
                                            </div>
                                            <div class="text-info">
                                                <span class="price-now" data-original-price="{{$goods.price}}">{{$price_symbol}}{{$goods.price}}</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </dd>
                    </dl>
                {{/if}}
            </div>

            <!-- 购买导航 -->
            <div class="buy-nav {{if $common_site_type eq 1}}exhibition-nav{{/if}}">
                {{if !empty($goods.is_shelves)}}
                    {{if $goods['inventory'] gt 0}}
                        <div class="buy-nav-opt">
                            <a href="{{$Think.__MY_URL__}}">
                                <span class="nav-icon nav-icon-home">
                                    <i class="am-icon-home am-icon-fw"></i>
                                    <em>首页</em>
                                </span>
                            </a>

                            {{if isset($goods['is_favor']) and $goods['is_favor'] eq 1}}
                                <span class="nav-icon login-event favor-submit text-active" data-ajax-url="{{:MyUrl('index/goods/favor')}}">
                                    <i class="am-icon-heart am-icon-fw"></i>
                                    <em class="goods-favor-text">已收藏</em>
                                    <em class="goods-favor-count">({{$goods.favor_count}})</em>
                                </span>
                            {{else /}}
                                <span class="nav-icon favor-submit login-event" data-ajax-url="{{:MyUrl('index/goods/favor')}}">
                                    <i class="am-icon-heart am-icon-fw"></i>
                                    <em class="goods-favor-text">收藏</em>
                                    <em class="goods-favor-count">({{$goods.favor_count}})</em>
                                </span>
                            {{/if}}

                            <!-- 商品页面基础信息购买小导航里面钩子 -->
                            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                                <div class="plugins-tag">
                                    <span>plugins_view_goods_detail_base_buy_nav_min_inside</span>
                                </div>
                            {{/if}}
                            {{if !empty($plugins_view_goods_detail_base_buy_nav_min_inside_data) and is_array($plugins_view_goods_detail_base_buy_nav_min_inside_data)}}
                                {{foreach $plugins_view_goods_detail_base_buy_nav_min_inside_data as $hook}}
                                    {{if is_string($hook) or is_int($hook)}}
                                        {{$hook|raw}}
                                    {{/if}}
                                {{/foreach}}
                            {{/if}}
                        </div>

                        <!-- 站点模式 1 展示型 -->
                        {{if $common_site_type eq 1}}
                            <div class="submit">
                                <div class="clearfix tb-btn tb-btn-basket" data-type="cart"  data-ajax-url="{{:MyUrl('index/Cart/Save')}}">
                                    <a href="{{if empty($common_customer_store_tel)}}javascript:;{{else /}}tel:{{$common_customer_store_tel}}{{/if}}">
                                        <button title="{{$common_is_exhibition_mode_btn_text}}" href="javascript:;" type="button"><i class="am-icon-phone"></i> {{$common_is_exhibition_mode_btn_text}}</button>
                                    </a>
                                </div>
                            </div>

                        <!-- 销售型,自提点,虚拟销售 -->
                        {{else /}}
                            <div class="submit">
                                <div class="clearfix tb-btn tb-btn-buy buy-event login-event buy-submit" data-type="buy">
                                    <button title="点此按钮到下一步确认购买信息" href="javascript:;" type="button">{{if $common_order_is_booking eq 1}}立即预约{{else /}}立即购买{{/if}}</button>
                                </div>
                            </div>
                            <div class="submit">
                                <div class="clearfix tb-btn tb-btn-basket buy-event login-event cart-submit" data-type="cart"  data-ajax-url="{{:MyUrl('index/Cart/Save')}}">
                                    <button title="加入购物车" href="javascript:;" type="button"><i></i>加入购物车</button>
                                </div>
                            </div>

                            <!-- 购买表单 -->
                            <form action="{{:MyUrl('index/buy/index')}}" method="post" class="buy-form">
                                <input type="hidden" name="goods_id" value="{{$goods.id}}" />
                                <input type="hidden" name="buy_type" value="goods" />
                                <input type="hidden" name="stock" value="1" />
                                <input type="hidden" name="spec" value="" />
                                <button type="submit"></button>
                            </form>
                        {{/if}}
                    {{else /}}
                        <p class="goods-not-buy-tips">商品卖光了</p>
                    {{/if}}
                {{/if}}
                {{if $goods.is_shelves neq 1}}
                    <p class="goods-not-buy-tips">商品已下架</p>
                {{/if}}
            </div>

            <!-- 商品页面基础信息底部钩子 -->
            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                <div class="plugins-tag">
                    <span>plugins_view_goods_detail_base_bottom</span>
                </div>
            {{/if}}
            {{if !empty($plugins_view_goods_detail_base_bottom_data) and is_array($plugins_view_goods_detail_base_bottom_data)}}
                {{foreach $plugins_view_goods_detail_base_bottom_data as $hook}}
                    {{if is_string($hook) or is_int($hook)}}
                        {{$hook|raw}}
                    {{/if}}
                {{/foreach}}
            {{/if}}
        </div>
    </div>

    <!-- 左侧-->
    <div class="introduce am-container">
        <div class="browse">
            <!-- 商品页面左侧顶部钩子 -->
            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                <div class="plugins-tag">
                    <span>plugins_view_goods_detail_left_top</span>
                </div>
            {{/if}}
            {{if !empty($plugins_view_goods_detail_left_top_data) and is_array($plugins_view_goods_detail_left_top_data)}}
                {{foreach $plugins_view_goods_detail_left_top_data as $hook}}
                    {{if is_string($hook) or is_int($hook)}}
                        {{$hook|raw}}
                    {{/if}}
                {{/foreach}}
            {{/if}}

            <!-- 详情/推荐商品-->
            <div class="mc"> 
                 <ul>                       
                    <div class="mt">            
                        <h2>看了又看</h2>        
                    </div>
                    {{if !empty($left_goods)}}
                        {{foreach $left_goods as $key=>$v}}
                            <li {{if $key eq 0}}class="first"{{/if}}>
                                <div class="p-img">                    
                                    <a href="{{:$v['goods_url']}}">
                                        <img alt="{{$v.title}}" src="{{$v.images}}">
                                    </a>               
                                </div>
                                <div class="p-name am-text-truncate-2 am-margin-vertical-xs ">
                                    <a href="{{:$v['goods_url']}}" {{if !empty($v.title_color)}}style="color:{{$v.title_color}};"{{/if}}>{{$v.title}}</a>
                                </div>
                                <div class="p-price"><strong>{{$price_symbol}}{{$v.price}}</strong></div>
                            </li>
                          {{/foreach}}
                      {{/if}}
                 </ul>
            </div>
        </div>

        <!-- 右侧内容 -->
        <div class="introduce-main">
            <!-- 商品页面tabs顶部钩子 -->
            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                <div class="plugins-tag">
                    <span>plugins_view_goods_detail_tabs_top</span>
                </div>
            {{/if}}
            {{if !empty($plugins_view_goods_detail_tabs_top_data) and is_array($plugins_view_goods_detail_tabs_top_data)}}
                {{foreach $plugins_view_goods_detail_tabs_top_data as $hook}}
                    {{if is_string($hook) or is_int($hook)}}
                        {{$hook|raw}}
                    {{/if}}
                {{/foreach}}
            {{/if}}

            <!-- tab -->
            <div class="am-tabs" data-am-tabs="{noSwipe: 1}">
                <ul class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs" data-am-sticky="{animation: 'slide-top'}">
                    <li class="am-active">
                        <a href="javascript:;">
                            <span class="index-needs-dt-txt">详情</span>
                        </a>
                    </li>
                    <li class="tabs-comment">
                        <a href="javascript:;">
                            <span class="index-needs-dt-txt">评论({{$goods.comments_count}})</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="index-needs-dt-txt">猜你喜欢</span>
                        </a>
                    </li>
                </ul>

                <!-- 详情 -->
                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-fade am-in am-active">
                        {{if !empty($goods['attribute'])}}
                            <div class="specifications">
                                <div class="spacing-nav-title">
                                    <span class="line"></span>
                                    <span class="text-wrapper">产品参数</span>
                                </div>
                                <ul class="detail-attr">
                                    {{if !empty($goods['attribute'])}}
                                        {{foreach $goods.attribute as $key=>$attribute}}
                                            <li>{{$attribute.name}}:&nbsp;{{:implode(',', array_column($attribute['find'], 'name'))}}</li>
                                        {{/foreach}}
                                    {{/if}}
                                </ul>
                            </div>
                        {{/if}}

                        <!-- 详情内容 -->
                        <div class="details">
                            <div class="spacing-nav-title">
                                <span class="line"></span>
                                <span class="text-wrapper">商品细节</span>
                            </div>
                            <div class="detail-content">
                                {{if isset($common_is_goods_detail_show_photo) and $common_is_goods_detail_show_photo eq 1 and !empty($goods.photo)}}
                                    <div class="content-photo">
                                        {{foreach $goods.photo as $photo}}
                                            <li>
                                                <img src="{{$photo.images}}" title="{{$goods.title}}" />
                                            </li>
                                        {{/foreach}}
                                    </div>
                                {{/if}}
                                <div class="content-web am-scrollable-horizontal">{{$goods.content_web|raw}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- 评论 -->
                    <div class="am-tab-panel am-fade goods-comment" data-goods-id="{{$goods.id}}" data-url="{{:MyUrl('index/goods/comments')}}">
                        <div class="am-cf score-container">
                            <div class="score am-fl">
                                <p class="name">动态评分</p>
                                <p class="value">{{$goods_score.avg}}</p>
                            </div>
                            <div class="am-progress am-fr">
                                {{if isset($goods_score['avg']) and $goods_score['avg'] gt 0 and !empty($goods_score['rating'])}}
                                    {{foreach $goods_score.rating as $score}}
                                        {{if $score.portion gt 0}}
                                            <div class="am-progress-bar 
                                                {{switch score.rating}}
                                                    {{case 1}}
                                                        am-progress-bar-danger
                                                    {{/case}}
                                                    {{case 2}}
                                                        am-progress-bar-warning
                                                    {{/case}}
                                                    {{case 3}}
                                                        am-progress-bar-secondary
                                                    {{/case}}
                                                    {{case 5}}
                                                        am-progress-bar-success
                                                    {{/case}}
                                                {{/switch}}"
                                                style="width: {{$score.portion}}%">{{$score.name}}({{$score.portion}}%)</div>
                                            {{/if}}
                                    {{/foreach}}
                                {{else /}}
                                    没有评分数据
                                {{/if}}
                            </div>
                        </div>
                        <div class="goods-comment-content"></div>
                        <div class="goods-page-container"></div>
                        <div class="table-no goods-page-no-data none">
                            <i class="am-icon-warning"></i>
                            <span>没有评论数据</span>
                        </div>
                    </div>

                    <!-- 猜你喜欢 -->
                    <div class="am-tab-panel am-fade">
                        <div class="like">
                            <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
                                {{if !empty($detail_like_goods)}}
                                    {{foreach $detail_like_goods as $key=>$v}}
                                        <li>
                                            <div class="i-pic limit">
                                                <a href="{{:$v['goods_url']}}">
                                                    <img alt="{{$v.title}}" src="{{$v.home_recommended_images}}" />
                                                </a>
                                                <a href="{{:$v['goods_url']}}">
                                                    <p class="am-text-truncate-2 am-margin-bottom-xs" {{if !empty($v.title_color)}}style="color:{{$v.title_color}};"{{/if}}>{{$v.title}}</p>
                                                </a>
                                                <p class="price fl">
                                                    <strong>{{$price_symbol}}{{$v.price}}</strong>
                                                </p>
                                            </div>
                                        </li>
                                    {{/foreach}}
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 商品页面tabs底部钩子 -->
            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                <div class="plugins-tag">
                    <span>plugins_view_goods_detail_tabs_bottom</span>
                </div>
            {{/if}}
            {{if !empty($plugins_view_goods_detail_tabs_bottom_data) and is_array($plugins_view_goods_detail_tabs_bottom_data)}}
                {{foreach $plugins_view_goods_detail_tabs_bottom_data as $hook}}
                    {{if is_string($hook) or is_int($hook)}}
                        {{$hook|raw}}
                    {{/if}}
                {{/foreach}}
            {{/if}}
        </div>
    </div>
</div>

{{include file="public/footer" /}}