<include file="Public/Header" />

<!-- header nav start -->
<include file="Public/HeaderNav" />
<!-- header nav end -->

<div class="am-cf user-main" <if condition="!empty($max_width_style)">style="{{$max_width_style}}"</if>>
  <!-- user menu start -->
  <include file="Public/UserMenu" />
  <!-- user menu end -->

  <!-- content start -->
  <div class="user-content">
    <div class="user-content-body p-10">
      <!-- operation start -->
      <div class="am-g ">
          <a href="{{:U('Home/Student/PolyInfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> {{:L('student_operation_binding_text')}}</a>
      </div>
      <!-- operation end -->

      <if condition="!empty($list)">
        <section data-am-widget="accordion" class="am-accordion am-accordion-default student-accordion" data-am-accordion='{ "multiple": true }'>
          <foreach name="list" item="v">
            <dl class="am-accordion-item am-active">
              <dt class="am-accordion-title">{{$v.name}}</dt>
              <dd class="am-accordion-bd am-collapse am-in">
                <!-- list start -->
                <table class="am-table am-table-striped am-table-hover am-text-middle m-b-0">
                  <thead>
                    <tr>
                      <th>{{:L('student_username_name')}}</th>
                      <th class="am-hide-sm-only">{{:L('common_view_student_number_text')}}</th>
                      <th>{{:L('common_view_gender_name')}}</th>
                      <th class="am-hide-sm-only">{{:L('student_class_text')}}</th>
                      <th class="am-hide-sm-only">{{:L('common_view_student_state_name')}}</th>
                      <th>{{:L('common_more_name')}}</th>
                      <th>{{:L('common_operation_name')}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <if condition="!empty($v.item)">
                      <foreach name="v.item" item="vs">
                        <tr id="data-list-{{$vs.user_student_id}}">
                          <td>{{$vs.username}}</td>
                          <td class="am-hide-sm-only">{{$vs.number}}</td>
                          <td>{{$vs.gender}}</td>
                          <td class="am-hide-sm-only">{{$vs.class_name}}</td>
                          <td class="am-hide-sm-only">{{$vs.state}}</td>
                          <td>
                            <span class="am-icon-caret-down c-p" data-am-modal="{target: '#my-popup{{$vs.user_student_id}}'}"> {{:L('common_see_more_name')}}</span>
                            <div class="am-popup am-radius" id="my-popup{{$vs.user_student_id}}">
                              <div class="am-popup-inner">
                                <div class="am-popup-hd">
                                  <h4 class="am-popup-title">{{:L('common_detail_content')}}</h4>
                                  <span data-am-modal-close class="am-close">&times;</span>
                                </div>
                                <div class="am-popup-bd">
                                  <dl class="dl-content">
                                    <dt>{{:L('student_username_name')}}</dt>
                                    <dd>{{$vs.username}}</dd>

                                    <dt>{{:L('common_view_student_number_text')}}</dt>
                                    <dd>{{$vs.number}}</dd>

                                    <dt>{{:L('common_view_id_card_text')}}</dt>
                                    <dd>{{$vs.id_card}}</dd>

                                    <dt>{{:L('common_address_text')}}</dt>
                                    <dd>{{$vs.region_name}} {{$vs.address}}</dd>

                                    <dt>{{:L('common_view_gender_name')}}</dt>
                                    <dd>{{$vs.gender}}</dd>

                                    <dt>{{:L('student_birthday_text')}}</dt>
                                    <dd>{{$vs.birthday}}</dd>

                                    <dt>{{:L('common_view_tel_name')}}</dt>
                                    <dd>{{$vs.tel}}</dd>

                                    <dt>{{:L('student_my_mobile_name')}}</dt>
                                    <dd>{{$vs.my_mobile}}</dd>

                                    <dt>{{:L('common_view_parent_mobile_name')}}</dt>
                                    <dd>{{$vs.parent_mobile}}</dd>

                                    <dt>{{:L('common_email_name')}}</dt>
                                    <dd>{{$vs.email}}</dd>

                                    <dt>{{:L('student_class_text')}}</dt>
                                    <dd>{{$vs.class_name}}</dd>

                                    <dt>{{:L('student_semester_text')}}</dt>
                                    <dd>{{$vs.semester_text}}</dd>

                                    <dt>{{:L('student_tuition_state_text')}}</dt>
                                    <dd>{{$vs.tuition_state_text}}</dd>

                                    <dt>{{:L('common_view_student_state_name')}}</dt>
                                    <dd>{{$vs.state}}</dd>

                                    <dt>{{:L('student_sign_up_name')}}</dt>
                                    <dd>{{$vs.add_time}}</dd>

                                    <dt>{{:L('common_upd_time_name')}}</dt>
                                    <dd>{{$vs.upd_time}}</dd>

                                    <dt>{{:L('common_bundled_time_name')}}</dt>
                                    <dd>{{$vs.bundled_time}}</dd>
                                  </dl>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="view-operation">
                            <a href="{{:U('Home/Student/ScoreInfo', array('id'=>$vs['user_student_id']))}}">
                              <button class="am-btn am-btn-default am-btn-xs am-radius am-icon-mortar-board" data-am-popover="{content: '{{:L('student_score_text')}}', trigger: 'hover focus'}"></button>
                            </a>
                            <button class="am-btn am-btn-default am-btn-xs am-radius am-icon-cut submit-delete" data-url="{{:U('Home/Student/Delete')}}" data-am-popover="{content: '{{:L('common_operation_cut')}}', trigger: 'hover focus'}" data-id="{{$vs.user_student_id}}"></button>
                          </td>
                        </tr>
                      </foreach>
                    <else />
                      <tr><td colspan="10" class="table-no">{{:L('common_not_data_tips')}}</td></tr>
                    </if>
                  </tbody>
                </table>
                <!-- list end -->
              </dd>
            </dl>
          </foreach>
        </section>
      <else />
        <include file="Public/NoData" />
      </if>
      <!-- page start -->
      <if condition="!empty($list)">
        {{$page_html}}
      </if>
      <!-- page end -->
    </div>
  </div>
  <!-- content end -->
</div>

<!-- layuot common module start -->
<include file="Public/CommonModule" />
<!-- layuot common module end -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->