<include file="Public/Header" />

<!-- header nav start -->
<include file="Public/HeaderNav" />
<!-- header nav end -->

<div class="am-cf user-main" <if condition="!empty($max_width_style)">style="{{$max_width_style}}"</if>>
  <!-- user menu start -->
  <include file="Public/UserMenu" />
  <!-- user menu end -->

  <!-- content start -->
  <div class="user-content">
    <div class="user-content-body p-10">
		<legend>
			<span class="fs-16">{{:L('student_operation_score')}}</span>
			<a href="{{:U('Home/Student/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> {{:L('common_operation_back')}}</a>
		</legend>

    <!-- table start -->
    <if condition="!empty($data)">
      <table class="am-table am-table-bordered am-table-centered am-radius score-table">
        <tr>
          <th>{{$data.username}}</th>
          <foreach name="student_score_title_list" item="title">
            <th rowspan="2" class="am-text-middle">{{$title}}</th>
          </foreach>
        </tr>
        <tr>
        <th class="class-name">{{$data.class_name}}</th>
        </tr>
        <foreach name="data.item" item="v">
          <foreach name="v.item" key="k" item="vs">
            <tr>
              <if condition="$k eq 0">
                <td rowspan="{{:count($v['item'])}}" class="am-text-middle">{{$v.name}}</td>
              </if>
              <td>{{$vs.subject_name}}</td>
              <td>{{$vs.score}}</td>
              <td>{{$vs.score_level}}</td>
              <td>{{$vs.add_time}}</td>
              <td>{{$vs.comment}}</td>
            </tr>
          </foreach>
        </foreach>
      </table>
    <else />
      <include file="Public/NoData" />
    </if>
    <!-- table end -->
    </div>
  </div>
  <!-- content end -->
</div>

<!-- layuot common module start -->
<include file="Public/CommonModule" />
<!-- layuot common module end -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->